[2019-06-03 05:58] ghost commented on #385
@alimuzzaman
thank you, it's solved.
by the way, shouldn't it be mentioned?

[2019-06-03 05:58] #385 closed, assigned to nobody

[2019-06-05 07:11] ijakparov opened #388 "Big data upload"
I have over 500k images and their size over 300gb, how can I upload them fast through wp-stateless?

[2019-06-09 02:40] skillmatic-co commented on #385
I can't get the settings page to display at all under Media, am I missing something?

[2019-06-16 08:21] Gameolus commented on #381
Hello I haven't heard back via email?

[2019-06-25 01:57] andrewmclagan opened #389 "Why not sync the entire `wp-content/uploads`"
Why not sync the entire `wp-content/uploads`  - directory as other cloud storage plugins do?

https://github.com/humanmade/S3-Uploads

[2019-06-25 19:32] skillmatic-co opened #390 "Settings Page Missing?"
I'm working on a client's site that uses this plugin and trying to debug an issue. Is there any reason why I wouldn't be able to see the WP Stateless settings? There is nothing in the dropdown under Media or on the Settings > Media page.

[2019-06-25 20:09] alimuzzaman commented on #390
@skillmatic-co
It could be hidden by this constant https://github.com/wpCloud/wp-stateless/wiki/Constants#wp_stateless_media_hide_settings_panel

[2019-06-26 04:16] skillmatic-co commented on #390
There is no WP Stateless constant defined in my clients wp-config.php file.

[2019-06-27 16:35] skillmatic-co commented on #390
Found it, they had it hidden via another plugin called Adminimize.

[2019-06-27 16:35] #390 closed, assigned to nobody

[2019-07-08 01:41] DeysonOrtiz opened #391 "Replace media."
Hello, I need to replace a few media files that need to be optimized further. Could I use a plugin like this to replace media files with this plugin?

https://wordpress.org/plugins/enable-media-replace/

Thank you.  :)

[2019-07-09 20:42] dchenk opened #392 "Incompatibilities with PHP 7.2"
If you run a PHP version compatibility analysis tool such as [PHPCompatibility](https://github.com/PHPCompatibility/PHPCompatibility) on this plugin, you'll see that there are a few dependencies that are outdated and are no longer compatible with PHP 7.2 or 7.3. For example, here is the output you get:
[code]

[2019-07-15 10:10] antonkorotkov commented on #364
Ok, so [pull request](https://github.com/short-pixel-optimizer/shortpixel-image-optimiser/pull/9) has been merged and released in 4.14.0:

![image](https://user-images.githubusercontent.com/2276882/61208055-36562f80-a6ff-11e9-8fba-cd554d8bf41f.png)

I've updated Shorpixel plugin to the latest version and used [shortpixel](https://github.com/wpCloud/wp-stateless/tree/shortpixel) branch of WP-Statel

[2019-07-15 14:13] alimuzzaman commented on #364
@antonkorotkov
Sorry I had some local changes forgot to pushed.

Please check in Stateless mode.

In Stateless mode:
The main purpose is when Shortpixel optimize image, we don't have to download the image to server. Now with `shortpixel_image_urls` filter we can make sure Shortpixel will use image directly from GCS.

We are converting GCS urls using `shortpixel_image_urls()` function from https://

[2019-07-15 14:59] antonkorotkov commented on #364
Ok, I'll do one more test.

[2019-07-15 15:09] antonkorotkov commented on #364
@alimuzzaman I need you to check this Missing Dependency

![image](https://user-images.githubusercontent.com/2276882/61226724-9f539c80-a72b-11e9-8404-d28d0c9a2c49.png)

Looks like a bug in Shortpixel compatibility to me.

[2019-07-15 15:20] antonkorotkov commented on #364
@alimuzzaman optimization works in Stateless mode with your latest changes as well. I think we are good to make a release if this after you fix the asset warning above.

[2019-07-16 13:43] alimuzzaman commented on #364
@antonkorotkov Fixed.
Please check.

[2019-07-18 13:25] antonkorotkov commented on #364
It is ok now. I think it is ready to be released.

[2019-07-18 13:35] alimuzzaman commented on #364
@antonkorotkov Lets fix `shortpixel_image_exists` first.

[2019-08-06 21:13] jasperkooij opened #393 "Cache busting not working with uppercase extension name"
Hello,

The cache-busting option is not working for me where images are uploaded with upper case extension name.

I'm using the CDN option as I have had a heap of trouble with the stateless setting overwriting existing files.

With the CDN option enabled and the cache busting set in wp-config:

define('WP_STATELESS_MEDIA_CACHE_BUSTING', true );

I can upload a file "placeimg_640_480_nature.jpg" an

[2019-08-17 22:15] shubhra14 opened #394 "SSL certificate problem: unable to get local issuer certificate"
Hi, I'm getting the following error after using the wizard. It's a dev site on localhost.

How do I make this work on localhost. Currently it's not getting connected to GCS

[2019-08-25 22:49] dukuo commented on #181
@alimuzzaman Sorry to revive an old issue, but is there any support for [WebP Express](https://wordpress.org/plugins/webp-express/) ?

[2019-08-27 10:00] antonkorotkov commented on #364
Well, ShortPixel compatibility is not ready. `Restore From Backup` function does not work. Problem is that ShortPixel plugin developers did not add a `shortpixel_image_exists` filter to the specific place to handle backups. I think I'll need to create a new Pull Request to their plugin.

[2019-08-27 10:07] antonkorotkov commented on #364
@alimuzzaman I see some changes to the SHortPixel plugin that were not pushed for the approval? I see there something related to backups. Can you explain what is that and if that is something that we need?

[2019-08-27 11:24] antonkorotkov commented on #364
I'm talking about these changes https://github.com/short-pixel-optimizer/shortpixel-image-optimiser/compare/master...wp-stateless:wp-stateless

[2019-08-29 15:12] alimuzzaman commented on #364
@antonkorotkov

no, it's not something we need.
It's just further improvement so that we don't make any unnecessary upload/download on GCS.

### We may create new issue and add it to the next milestone for this.

[2019-09-04 07:15] MB-Jan opened #395 "WP Stateless Elementor - CSS files wrong MIME type"
Hey there,

We are using WP Stateless (2.2.7) with Elementor (2.6.8). CSS files generated by Elementor are correctly being transferred to Google Cloud. Unfortunately, the MIME type is incorrect. It is currently saved with the MIME type
`Content-Type: application/octet-stream`
which I think needs to be corrected. It appears that browsers are unable to use CSS files with this MIME type properly.
How

[2019-09-09 14:06] arianitu opened #396 "Is this project maintained?"
Looking at the issues, none seem to get a response. Is this project maintained?

Also, why do you have to enable compatibility for a bunch of plugins, I don't think https://github.com/humanmade/S3-Uploads requires that?

[2019-09-16 09:54] Hooace commented on #378
Any news about this?

[2019-09-16 10:36] Hooace opened #397 "Pdf files not deleted"
When you delete PDF file from media galley, it is not deleted from the bucket. JPG and other files are deleted from the bucket successfully so there is something special about PDF handling.

[2019-09-17 18:58] arpanjot opened #398 "Compatibility issue with shortpixel"
We're using wp stateless along with shortpixel on our website. When both the plugins are enabled, it causes significant impact on the load times. To dig deeper, we tried analysing this by query monitor and it seems there is an issue with wp stateless plugin and shortpixel(when both of them are enabled together). As per the query monitor, one of the dependency short-pixel.min.js seems missing from

[2019-09-18 12:02] You-Honey commented on #397
I've uploaded the fix for this. It's pending review at the moment.

[2019-09-19 20:25] aquaextensions opened #400 "10x10 Thumbnails Are Generated and Replacing Full Size Images (+403 Errors)"
On my site, there are no image sizes set to 10x10. Using the wp-stateless plugin on my Bitnami installation, images are being replaced by 10x10 versions (which do not exist within the bucket) and then creating multiple 403 errors. See below:

`<img width="10" height="10" src="https://storage.googleapis.com/stateless-bitnami-xicfntdnlw/2016/09/Clip-In-Hair-Extensions-10x10.jpg" class="vc_single_ima

[2019-09-24 05:50] rakeshprabhuvj opened #401 "Media not Synced to Google Cloud Storage"
Thanks for this wonderful plugin. Your plugin should make things much easier for people who want to integrate CDN.

I’m on WordPress 4.9.6 and installed and configured WP-Stateless plugin in CDN Mode.

As my website has been existing for quite some time, I synced my existing media to Google Cloud Storage via WP-Stateless -> Sync

Unfortunately, media I upload is not auto-synced to Google Cloud Sto

[2019-09-27 21:24] jasperkooij opened #402 "How do I remove wp-stateless and restore image urls?"
How do I remove Wp-stateless and restore the local image URLs?

I was working in stateless mode but I kept running issues and so I want to remove wp-stateless.

I’ve turned on “BackupUpload media files to Google Storage and serve local file urls.”

then I resynced all the files.

then I turned on “DisabledDisable Stateless Media.”

But my image url’s are still pointing to Google Cloud Storage.

[2019-10-07 15:18] alimuzzaman commented on #398
Thanks, @arpanjot for reporting the problem.
The problem has been fixed and will be included in the next release.

[2019-10-07 15:25] alimuzzaman commented on #364
@antonkorotkov
`Restore From Backup` is working now.
You can test it with `develop-alim` branch.

As for `shortpixel_image_exists` function:
I have spent some time to find a better solution but wasn't able to find any. Just wrapped the function with short(10 minutes) transient cache.

[2019-10-07 19:19] alimuzzaman commented on #377
Removed the conflicting code and made changes so that fix for issue #302 (woocommerce product export) works.

[2019-10-07 20:49] alimuzzaman commented on #371
@plenge @antonkorotkov @ewsopp
EWWW  added support for WP Stateless. Now it also works on `Stateless` mode.

We will need support from EWWW team to support this feature.
- [x] WebP support
- [ ] Converted Files (Ex. jpg to png)

[2019-10-08 21:05] ewsopp commented on #365
@alimuzzaman please proceed with this. Let's support them!

[2019-10-19 18:03] molnarm commented on #394
I ended up here because I had the same issue after updating something in my WAMP server. It took me ages to find the real problem so I'll add the solution here.

Normally, the changes described [here](https://stackoverflow.com/questions/28858351/php-ssl-certificate-error-unable-to-get-local-issuer-certificate) should work.

However, WP-Stateless [caches the result of connection attempts for 4 hour

[2019-10-20 17:28] farcaller opened #403 "webp support for imagify"
Following in line with #181, #357, is it possible to add webp support for the imagify plugin? It seems to follow the same naming scheme of adding `.webp` to the file name.

[2019-10-21 17:23] alimuzzaman commented on #380
### It is only compatible with **WP Retina 2x Pro** plugin.

 **Over HTTP Check(Pro)** Must be enabled to make it work.

![image](https://user-images.githubusercontent.com/6744156/67227689-8a3c8700-f459-11e9-9f6e-bd8539869e26.png)

[2019-10-21 17:31] alimuzzaman commented on #380
@ewsopp is this warning good or should we add WP notice if the setting is disabled?

![image](https://user-images.githubusercontent.com/6744156/67228270-bad0f080-f45a-11e9-9113-bef0b9195910.png)

[2019-10-21 17:32] ewsopp commented on #380
Let's do both. A notice _AND_ mention it in the description. I don't think we need the orange color in the description.

[2019-10-21 18:06] alimuzzaman commented on #380
@ewsopp
![image](https://user-images.githubusercontent.com/6744156/67230758-b6f39d00-f45f-11e9-940b-0888ba14438b.png)
![image](https://user-images.githubusercontent.com/6744156/67230779-c4a92280-f45f-11e9-840e-5f4706e6b56f.png)

[2019-10-25 12:18] ironland commented on #378
Can you look into this @alimuzzaman @antonkorotkov ? This is potentially a big issue for everyone using polylang and wp-stateless together.

[2019-11-07 11:40] kentprimrose commented on #386
Upvote: I have the same issue.

[2019-11-07 18:12] alimuzzaman opened #405 "Cache-Busting feature"
`Cache-Busting` feature works even if the `Mode` is `disabled`.

[2019-11-07 18:33] alimuzzaman opened #406 "Compatibility issue with WordPress 5.3"
The stateless mode has a problem with the new WordPress v 5.3.

The full-size image gets uploaded to GCS before generating the thumbnails.
So thumbnails don't get generated on Stateless mode.

[2019-11-07 19:17] alimuzzaman commented on #406
`wp_update_attachment_metadata` is called here in `wp_create_image_subsizes`
[wp-admin/includes/image.php#L324](https://github.com/WordPress/WordPress/blob/5.3-branch/wp-admin/includes/image.php#L324)

Before generating thumbnails in `_wp_make_subsizes` [wp-admin/includes/image.php#L341](https://github.com/WordPress/WordPress/blob/5.3-branch/wp-admin/includes/image.php#L341)

In stateless mode, th

[2019-11-08 08:24] antonkorotkov commented on #406
@alimuzzaman Does it look possible to change the logic for the WordPress starting 5.3 and up? The only thing that comes on mind right now is to remove the original image later so that `_wp_make_subsizes` can get it.

I see that `_wp_make_subsizes` runs `wp_update_attachment_metadata` as well https://github.com/WordPress/WordPress/blob/5.3-branch/wp-admin/includes/image.php#L430 Maybe we can use th

[2019-11-08 10:39] alimuzzaman commented on #406
### Possible way to handle:

1. On the first call from `wp_create_image_subsizes`  `$metadata[ 'sizes' ]` array is empty.
What if we don't full size image if sizes array is empty!

2. We can use "[intermediate_image_sizes_advanced](https://github.com/WordPress/WordPress/blob/5.3-branch/wp-admin/includes/image.php#L339)" filter to indicate that we can now delete image. We will only delete image fro

[2019-11-08 11:04] antonkorotkov commented on #406
Yeah, I meant something like this.

[2019-11-08 16:21] alimuzzaman opened #407 "Multisite wrong GCS path"
Can you make sure this works on multisite?
that folder structure on there is like /wp-content/blogs.dir/<blog_id>/files/gravity_forms

[2019-11-08 20:51] alimuzzaman commented on #406
@antonkorotkov Code review, please.
https://github.com/wpCloud/wp-stateless/compare/2ed064c38c4cbe5a6b67bf2afd92260866a828d7...develop-alim?expand=1

[2019-11-09 18:41] alimuzzaman commented on #380
@antonkorotkov I am not sure how to verify if it's working or not.

There are some **@2x.jpg** in `srcset` of the image.

Here is img element generated:
`<img src="https://storage.googleapis.com/udx-ci-develop-alim/rabbit.ci/2019/11/b6dd0d95-alim.jpg" alt="" class="wp-image-604" srcset="https://storage.googleapis.com/udx-ci-develop-alim/rabbit.ci/2019/11/b6dd0d95-alim.jpg 1000w, https://storage.go

[2019-11-09 18:56] alimuzzaman commented on #406
### We have performance issue because of:

`wp_update_attachment_metadata` is called multiple times (once for each image size) in wp-admin/includes/image.php#L421

[code]

[2019-11-11 16:06] alimuzzaman opened #408 "gravity forms export is empty"
1. visit https://freakydeakytexas.com/wp-admin/admin.php?page=gf_export
2. select the `contact` form.
3. select all fields.
4. click Download Export File.
5. CSV will download, but it is completely empty.

Gravity Forms compatibility is enabled with WP-Stateless. Not sure if that is related to not.

![image](https://user-images.githubusercontent.com/5578537/68258075-7ec59000-0003-11ea-8289-a139b01

[2019-11-11 16:21] alimuzzaman commented on #406
WP Stateless is now compatible with WordPress 5.3.

[2019-11-11 16:22] alimuzzaman commented on #408
The issue has been fixed.
Export now works fine.

[2019-11-11 16:24] alimuzzaman commented on #365
WP Stateless is now compatible with **LiteSpeed Cache**.

[2019-11-11 16:45] #398 closed, assigned to alimuzzaman

[2019-11-11 16:46] #377 closed, assigned to alimuzzaman

[2019-11-11 16:47] #364 closed, assigned to alimuzzaman

[2019-11-11 16:47] #382 closed, assigned to alimuzzaman

[2019-11-11 16:48] #365 closed, assigned to alimuzzaman

[2019-11-11 16:48] #406 closed, assigned to alimuzzaman

[2019-11-11 16:49] #408 closed, assigned to alimuzzaman

[2019-11-11 16:50] ewsopp commented on #380
I'm going to close out this issue. If it need further improvement, we can create a new issue.

[2019-11-11 16:50] #380 closed, assigned to alimuzzaman

[2019-11-11 19:15] alimuzzaman commented on #397
Pull request has been merged in the 2.3.0 release.

[2019-11-11 19:15] #397 closed, assigned to nobody

[2019-11-12 15:02] oalexdoda opened #412 "Is there a way to exclude certain image sizes from being stored in GC?"
While in Stateless mode, there are image sizes that are not needed, and all they do is just clutter the site & bucket.

Is there any filter we can use to make those image sizes not be uploaded to Google Cloud, and also have them not be in the uploads folder either?

Thanks!

[2019-11-12 16:34] oalexdoda opened #413 "File size doesn't show under attachment details using Stateless mode."
![image](https://user-images.githubusercontent.com/8274669/68690653-0b7bcb00-057b-11ea-8730-d72bb4dd1591.png)

[2019-11-19 17:38] alimuzzaman opened #414 "Call to undefined function is_wp_version_compatible()"
https://wordpress.org/support/topic/wp-stateless-v2-3-released/#post-12149522

[2019-11-20 14:04] 3dwesupport opened #417 "Theme page breaking after updating from 2.2.7 to any newer version"
I have buddyboss theme and platform installed on my wordpress website, after updating from 2.2.7 to a newer version some parts of my webpages are not coming up and no error is coming in the console. just the content of the page is empty.
![image](https://user-images.githubusercontent.com/57365244/69245248-80c74b80-0bcc-11ea-9a00-91df78fe1562.png)

[2019-11-23 16:43] hirenshah commented on #389
Anyone going to actually reply to these issues?

[2019-11-24 11:26] andrewmclagan commented on #389
I think this is a dead repo...

[2019-11-24 11:26] andrewmclagan commented on #389
Would you consider transferring them?

[2019-11-24 11:35] hirenshah commented on #389
Last update was 5 days ago, so looks pretty active to me 🙂

[2019-11-25 14:28] #414 closed, assigned to alimuzzaman

[2019-11-26 08:46] alimuzzaman opened #418 "Video file does not get deleted from server in stateless mode"
https://wordpress.org/support/topic/media-not-synced-to-google-cloud-storage/#post-12172313

[2019-11-27 09:50] vrobert78 opened #419 "Plugin not working with Bucket_policy_only"
Hello,

We have tested your plugin with a bucket in Bucket_policy_only mode.
The upload failed silently. The media stayed on the disk instead of going in the bucket.

Switch the Bucket_policy_only to false solved the problem.

Your competitor, WP Media Cloud, support this option.

Regards,

[2019-12-02 11:28] alimuzzaman commented on #402
Hi @jasperkooij,

If you select the  Disable mode, image URLs should be pointing to your server.

Are you talking about URLs in page/posts?
Image URLs in page/post won't be changed if you disable WP Stateless.

You have to change them manually or use some tools to do it.

[2019-12-02 11:33] alimuzzaman commented on #412
Hello @Abruptive,

This question isn't related to WP Stateless but WordPress in general.

This article might help you.
https://wpbeaches.com/remove-unused-image-media-sizes-wordpress-theme/

Or do a Google search.

[2019-12-02 11:33] #412 closed, assigned to nobody

[2019-12-02 11:40] alimuzzaman commented on #396
Hi @arianitu,

Yes, this project is maintained.
The last update was 2 weeks ago.

[2019-12-02 11:41] #396 closed, assigned to nobody

[2019-12-02 11:45] alimuzzaman commented on #401
Hello @rakeshprabhuvj,

Sorry for the late replay.

Please check the Stateless Settings page if there is an error message.
Also, verify if you configured it correctly.

[2019-12-02 11:49] alimuzzaman commented on #395
Hello @MB-Jan,

Sorry for the late replay.

This issue has been solved. Please update to the latest version of WP-Stateless and check again.

Thanks for your awesome detailed issue.

[2019-12-02 11:57] alimuzzaman commented on #389
Hi @andrewmclagan,

Sorry for the late replay.

It is possible for us to Sync the entire `wp-content/uploads` but because every plugin/theme handles there file different way, we can't write a single logic that will ensure uses of GCS URL.

That's why we handle files of each plugin separately. Check **Stateless Settings** >> **Compatibility** tabs for supported plugins.

Hoping that answer your que

[2019-12-02 11:58] #389 closed, assigned to nobody

[2019-12-02 12:05] alimuzzaman commented on #386
Hi @mlmunited @kentprimrose

In case automatic setup fails please use the [Manual Setup process](https://github.com/wpCloud/wp-stateless/wiki/Manual-Setup).

Thanks

[2019-12-02 12:05] #386 closed, assigned to nobody

[2019-12-02 12:09] villesiltala commented on #378
I'm having the same issue. Any updates on this?

[2019-12-02 12:24] alimuzzaman opened #420 "Divi Builder Export compatibility don't work"
https://wordpress.org/support/topic/divi-builder-export-compatibility-dont-work/

[2019-12-02 17:58] alimuzzaman commented on #417
Hello @3dwesupport

Can you please provide step by step instructions on how we can replicate the issue?

[2019-12-02 19:33] #293 closed, assigned to nobody

[2019-12-02 20:14] alimuzzaman commented on #418
The required WordPress version has been increased to **4.7.0** from **4.0**.

![image](https://user-images.githubusercontent.com/6744156/69991652-49648180-1572-11ea-9bb7-625e2a7dbf84.png)

[2019-12-02 21:10] alimuzzaman commented on #413
@Abruptive Problem has been fixed.

Please test and let us know.
You can get the fixed version from here https://github.com/wpCloud/wp-stateless/tree/c91778ff5a42e081bf0f4f614531e11c6fd154fa

The fix will be included in the next release.

[2019-12-02 22:33] alimuzzaman commented on #407
### It does not only affect Gravity forms but Multisite in general.

`http://multisite.local/site-2/wp-content/uploads/sites/2/gravity_forms/1-f6e9d16c113ac67c274e72c71efe6776/2019/12/9TzAWl3v_400x4001.jpg`

In GCS `https://storage.googleapis.com/udx-ci-develop-alim/multisite/gravity_forms/1-f6e9d16c113ac67c274e72c71efe6776/2019/12/9TzAWl3v_400x4001.jpg`.

@antonkorotkov any thought!

[2019-12-02 22:36] alimuzzaman opened #421 "Gravity Form post_image issue with Bucket Folder."
If the **Bucket Folder** is set then GCS URL for post image is wrong in GF.

[2019-12-02 22:57] alimuzzaman commented on #407
If we fix the issue, how we will handle existing media?

If the user regenerates existing media then the image will be copied to new location. And there will be duplicates.

[2019-12-03 14:09] matthewlenz opened #422 "Downgrade from Stateless Mode to Backup/CDN Modes"
A Sync option to downgrade from Stateless mode to Backup/CDN modes would be very useful.

[2019-12-03 15:40] antonkorotkov commented on #407
Sorry, I did not understand why it will be copied to a new location. Can you inspect the flow in detail for me?

[2019-12-07 17:58] alimuzzaman commented on #407
@antonkorotkov

Server URL: http://localhost/multisite/test1/wp-content/uploads/sites/2/2019/12/xyz.jpg

Old URL: https://storage.googleapis.com/udx-ci-develop-alim/multisite/2019/12/xyz.jpg

New URL: https://storage.googleapis.com/udx-ci-develop-alim/multisite/sites/2/2019/12/xyz.jpg

Here

- `multisite` is **Bucket Folder**.
- `localhost/multisite` is a WordPress installation.

Prior to now, we

[2019-12-08 18:27] alimuzzaman commented on #417
`Cache-Busting`  feature was causing the problem.

@3dwesupport I am assuming you were using `BuddyBoss Platform`.

[2019-12-09 10:29] 3dwesupport commented on #417
@alimuzzaman Yes, We're using Buddyboss paltform. Have you found any solution for it?

[2019-12-09 17:40] alimuzzaman commented on #417
@3dwesupport
Yes, we have a solution. You can download the fix from here
https://github.com/wpCloud/wp-stateless/releases/tag/2.3.2.RC1

Please let us know if this fixes your problem.

Thanks

[2019-12-12 06:24] 3dwesupport commented on #417
Using this plugin does not resolve the problem totally, now some errors are coming in the console and the images of users are coming as invalid.
![image](https://user-images.githubusercontent.com/57365244/70687780-1c347380-1cd6-11ea-8360-096f5502ecd7.png)

Thanks

[2019-12-12 14:48] alimuzzaman commented on #417
@3dwesupport Sorry for the trouble.
Can you please test again with the new fix?
https://github.com/wpCloud/wp-stateless/releases/tag/2.3.2-RC.2

[2019-12-12 15:19] alimuzzaman commented on #275
Some new idea https://github.com/wpCloud/wp-stateless/commit/20d07d06e479e477d773933b7327d2a5f75f8d7b

[2019-12-13 10:33] 3dwesupport commented on #417
@alimuzzaman  Still there is an error after installing the above plugin.
![image](https://user-images.githubusercontent.com/57365244/70793775-19af4800-1dc2-11ea-8c2d-a1c12ece2a6b.png)

[2019-12-14 10:27] zchk0 opened #425 "Disable MIME type for upload Google Cloud"
How to disable some MIME type for upload to Google Cloud?

[2019-12-16 20:01] alimuzzaman commented on #425
Hello @alsoull

You can try this filter.

Thanks

[code]

[lib/classes/class-utility.php#L207](https://github.com/wpCloud/wp-stateless/blob/v2.3/lib/classes/class-utility.php#L207)

[2019-12-17 11:07] zchk0 commented on #425
It's cool! Thanks Md. Alimuzzaman Alim!

[2019-12-18 14:44] stonebriarcommunitychurch commented on #425
Can you please provide an example of how to exclude .png, .jpg, and .gif files? Ultimately, I want to be able to use the plugin to only sync .mp3 and .mp4 files.

[2019-12-18 16:03] zchk0 commented on #425
Hi @stonebriarcommunitychurch
Write me in Telegram [t.me/alsoull](https://t.me/alsoull )
I can help you

[2019-12-21 00:50] dewlonse commented on #418
hi alimuzzaman, on the issue of the "video not being deleted from the server on stateless mode" when will the update be released that has this issue solved ?

[2019-12-21 07:34] alimuzzaman commented on #418
Hi @dewlonse,
The update will be released soon.

For the time being, you can use https://github.com/wpCloud/wp-stateless/releases/tag/2.3.2-RC.2

[2019-12-22 18:36] alimuzzaman commented on #417
@3dwesupport
I wasn't able to fully replicate your issue.

Can you please try this and let us know?
https://github.com/wpCloud/wp-stateless/releases/tag/2.3.2-RC.3

[2019-12-24 09:04] 3dwesupport commented on #417
@alimuzzaman
i tried again. Now all the images from stateless are not coming and there is this error coming in console for every image:

avatars189abf4a0-5dd10f46b531c-bpthumb.png:1 GET https://storage.googleapis.com/stateless-dev-itinker/avatars189abf4a0-5dd10f46b531c-bpthumb.png 403
Image (async)
(anonymous) @ jquery.js?ver=1.12.4-wp:3
X @ jquery.js?ver=1.12.4-wp:3
html @ jquery.js?ver=1.12.4-wp

[2019-12-24 18:15] alimuzzaman commented on #417
@3dwesupport
Sorry for the inconvenient.

Can you try this update?
https://github.com/wpCloud/wp-stateless/archive/develop-alim.zip

If this doesn't work then I have to take look into your site.

[2019-12-25 08:03] 3dwesupport commented on #417
@alimuzzaman this version seems working fine with the platform as i don't see any errors and missing images. still if you want  to test it yourself i can give you access to the platform (do drop us your email id).
Do this version of the plugin will receive the timely updates?

[2019-12-26 05:02] alimuzzaman commented on #417
Yes

No

The new update will be released soon on WordPress.org.

[2019-12-26 05:43] #417 closed, assigned to alimuzzaman

[2019-12-26 05:48] 3dwesupport commented on #417
@alimuzzaman Thanks for your help and Support. Happy Holidays

[2019-12-26 20:40] dewlonse commented on #418
thks for the update. But there is still an issue.  the issue of the "video not being deleted from the server on stateless mode" was solved but only when you upload a video from the backend admin "media Library" that the video gets deleted from the server. When you upload a video through the frontend using "contact form 7", the video does not delete from the server. But  if you upload image file th

[2019-12-26 21:41] dewlonse commented on #418
find the attached pictures, of the issue when you upload video file from the frontend, the video does not get deleted from the server while in stateless mode. When you synchronize the video the error goes away and the video file is deleted from the server. The issue is that video files uploaded from the frontend does not automatically  synchronize that is why I get the error .
![error uploading vi

[2019-12-26 21:50] dewlonse commented on #418
if i remove the plugin and upload the video file from the frontend, it goes to the server and shows no errors.

[2019-12-28 04:43] dewlonse commented on #418
1. is there is code snippet that can synchronize video files on the fly , that is video files are automatically synchronized when they are uploaded.
2. I see that for  "Stateless mode"  setting the "Synchronize non-images files between Google Storage and local server" when you run the process, files that are already deleted from the server still undergo the synchronization process. is possible to

[2019-12-28 07:22] #413 closed, assigned to alimuzzaman

[2019-12-28 07:22] #405 closed, assigned to ewsopp, alimuzzaman

[2019-12-28 07:22] #421 closed, assigned to alimuzzaman

[2019-12-28 07:23] #420 closed, assigned to alimuzzaman

[2019-12-28 07:46] alimuzzaman commented on #183
Closing the issue as this is out of the scope of our plugin.

[2019-12-28 07:46] #183 closed, assigned to nobody

[2019-12-30 16:21] alimuzzaman commented on #418
Hi @dewlonse

Yes, we have a hook for it.
[code]

Sorry, it is by design.

Please create a issue. We will look into it.

[2019-12-30 16:43] alimuzzaman commented on #418
Hi @dewlonse,
I wasn't able to replicate your issue.
Is there any addon you are using for CF7?

[2019-12-30 16:54] alimuzzaman commented on #393
HI @jasperkooij,

This issue is no longer exists in our latest version of the plugin.

It was fixed with issue #377.

[2019-12-30 16:54] #393 closed, assigned to alimuzzaman

[2019-12-30 17:01] dewlonse commented on #418
Please send me the code snippet that will synchronize video files on the fly , so that video files are automatically synchronized when they are uploaded

Sent from Yahoo Mail on Android

  On Mon, 30 Dec 2019 at 5:21 pm, Md. Alimuzzaman Alim<notifications@github.com> wrote:
Hi @dewlonse

is there is code snippet that can synchronize video files on the fly , that is video files are automatically sy

[2019-12-30 17:13] alimuzzaman commented on #418
@dewlonse
How do you upload videos from the frontend?

[2019-12-30 17:30] alimuzzaman commented on #418
@dewlonse

We have to identify what is creating the problem first. Then we can create a solution.

Here is the code you can use to sync a single file:
[code]

[2019-12-30 17:33] dewlonse commented on #418
I use the vidorev theme it has a frontend upload form. https://themeforest.net/item/vidorev-video-wordpress-theme/21798615

[2019-12-30 17:38] dewlonse commented on #418
This is the upload form, http://demo.beeteam368.com/vidorev/submit-your-video-2/

[2019-12-30 17:43] dewlonse commented on #418
Download it here, https://www.downloadfreethemes.co/vidorev-v2-6-8-responsive-video-wordpress-theme/

[2019-12-30 17:50] alimuzzaman commented on #418
Can you help us to replicate the issue on our server?

Please send me an mail at alim@udx.io, I will send you details.

[2019-12-30 20:08] dewlonse commented on #418
the code snippet did not solve the issue. I used the code snippet plugin to paste the code.

[2019-12-31 05:22] dewlonse commented on #418
This is may have to with mime. Wp-stateless does allow mp4 upload from frontend.

[2019-12-31 15:04] ewsopp commented on #361
If they choose `Stateless` for the *Mode* setting, we still enforce CACHE BUSTING with a notice.

[2019-12-31 15:07] ewsopp commented on #407
@antonkorotkov please provide some insight here. We need to get this right.

[2019-12-31 16:33] jjtroberts opened #428 "wpbakery compatibility does not account for bucket_folder name"
When adding an image to a gallery using wpbakery page builder, I receive the following error:
![wpstateless_wpbakery_compatibility_error_absolutepath](https://user-images.githubusercontent.com/18486187/71627490-56e44a00-2bb8-11ea-84d3-65f5b30c82d0.png)

In our GCS buckets, and in the wp-stateless settings, our bucket folder (root_dir) is set to "uploads" which is not accounted for in the str_repla

[2019-12-31 16:49] jjtroberts commented on #428
In my GCS bucket, any file uploaded through wpbakery was saved in "sm_root_dir/uploads", which for us results in "gs://bucket-name/uploads/uploads". That "uploads/uploads" filepath does not exist on the local filesystem.

[2020-01-01 14:51] jasperkooij commented on #393
Great, thanks for the update

[2020-01-01 18:17] alimuzzaman commented on #418
The problem is that **VidoRev Extensions** don't generate attachment metadata for a video as it does for an image attachment.

WP Stateless works on `wp_update_attachment_metadata` filter wich is not fired for video files.

In `vidorev_cf7_save_posted_data` and `vidorev_front_end_edit_post_data` function adding the following code
[code]

after `$attach_id = wp_insert_attachment( $attachment, $move

[2020-01-01 18:31] dewlonse commented on #418
How can I add it as a code snippet so that I can just add it in the code snippets plugin 

Sent from Yahoo Mail on Android

  On Wed, 1 Jan 2020 at 7:17 pm, Md. Alimuzzaman Alim<notifications@github.com> wrote:
The problem is that VidoRev Extensions don't generate attachment metadata for a video as it does for an image attachment.

WP Stateless works on wp_update_attachment_metadata filter wich is

[2020-01-01 18:33] alimuzzaman commented on #418
It can't be added as a code snippet. You can directly edit their plugin though.

I will add a patch to our plugin for the time being.

[2020-01-01 18:42] dewlonse commented on #418
Show me the file in the vidorev plugin where to edit and add the code. 
Also the  patch you want to add to your pluginWill you add it now and send it or it will be in the next update 
Sent from Yahoo Mail on Android

  On Wed, 1 Jan 2020 at 7:33 pm, Md. Alimuzzaman Alim<notifications@github.com> wrote:
It can't be added as a code snippet. You can directly edit their plugin though.

I will add a pa

[2020-01-01 18:54] alimuzzaman commented on #418
If you want to directly edit the plugin file. Though I will recommend the patch.
`wp-content\plugins\vidorev-extensions\inc\cf7-addons.php`

![image](https://user-images.githubusercontent.com/6744156/71644856-71720c80-2cf9-11ea-959e-254d9573d9b7.png)

`wp-content\plugins\vidorev-extensions\inc\front-end-edit-post.php`

![image](https://user-images.githubusercontent.com/6744156/71644875-a1211480-2c

[2020-01-01 18:54] alimuzzaman commented on #418
@dewlonse You can get the patch from here
https://github.com/wpCloud/wp-stateless/releases/tag/2.3.3-RC.1

[2020-01-02 08:27] dewlonse commented on #418
1.there is some issues with wp-stateless when synchronizing non-media library files. Files that are not media library files both video and image files, do not get deleted from the local server in stateless mode even when the url is changed to google cloud storage url, this cause file. error
2. is there a code snipet that can prevent  auto synchronizing of non-media files (video and image) and also

[2020-01-02 13:36] dewlonse commented on #418
hi, I added the code to the vidorev extensions as suggested but it did not solve the issue. It is the wp-stateless patch that solve the issue because you made it compatible with the vidorev extension plugin. therefore my theme author does not need to add the codes as you suggested.

[2020-01-02 13:39] dewlonse commented on #418
thank you for solving this issue.

[2020-01-02 17:45] #418 closed, assigned to alimuzzaman

[2020-01-02 20:54] dewlonse commented on #418
1.there is some issues with wp-stateless when synchronizing non-media library files. Files that are not media library files both video and image files, do not get deleted from the local server in stateless mode even when the url is changed to google cloud storage url, this cause file. error
2. is there a code snipet that can prevent auto synchronizing of non-media files (video and image) and also

[2020-01-03 02:51] dchenk opened #430 "Huge incompatibility with Divi"
This plugin's 'sanitize_file_name' filter totally screws up the file-based caching that Divi and the plugins Bloom and Monarch do. When the Divi theme, for example, serializes the minified CSS for a page or for the site's global styling, or when it serializes the content of a page into a binary ".data" file for caching, it constructs a potential file name for this content using a particular struct

[2020-01-03 08:40] antonkorotkov commented on #407
@alimuzzaman I don't think we have many options here.

We can:

1. Leave copies as is and add some notice that we changed the way multisites are handled, so copies could be safely removed from the bucket manually if they don't need them.
2. If possible, we could track what files were regenerated to the new location and delete old ones later, but I think this is pretty hard to implement (I don't kn

[2020-01-03 13:11] mjezegou opened #431 "font and Cors"
I would like to upload a font to google storage. It works well with wp-statless and custom fonts.

The font file is blocked by the Cors policy in the page header (@ font-face {font-family: XXX; src: url (xxx) ...).

I then modified the configuration of my bucket => https://cloud.google.com/storage/docs/configuring-cors.

with "origin": ["*"] but is it possible to set the current domain because my

[2020-01-03 15:48] alimuzzaman commented on #418
@dewlonse Please create a new issue if you have further questions.

[2020-01-03 16:35] alimuzzaman opened #433 "ShortPixel fatal error"
![image](https://user-images.githubusercontent.com/6744156/71735698-4ca4a300-2e79-11ea-83e6-2fedea58862b.png)

[2020-01-06 16:15] ewsopp commented on #407
I think we start using the proper/updated path for new uploads and maintain existing paths for previously uploaded media (regeneration). Is that easy enough?

[2020-01-09 21:18] hubertnguyen commented on #402
jasperkooij , try to clear all caches, or are the URLs hard-coded in the post?

alimuzzaman, what do you mean by "You have to change them manually or use some tools to do it."?

[2020-01-13 14:19] antonkorotkov commented on #407
@alimuzzaman what do you think about this? I'm not sure if that is something we can do.

[2020-01-13 14:52] #433 closed, assigned to alimuzzaman

[2020-01-14 08:47] alimuzzaman opened #436 "Update broke organization"
https://wordpress.org/support/topic/update-broke-organization/

[2020-01-14 18:38] harrystymiest commented on #430
I'm having this issue as well and it happens even with Divi's Static CSS turned off

[2020-01-21 12:42] 3dwesupport opened #437 "Profile Images are not syncing on buddyboss platform using WP-Stateless"
When i am uploading new profile image for a user, it is not syncing.
There is no error on the console.
And sometimes there is different profile image on different locations

[2020-01-23 17:10] RhysLees opened #438 "Export page function is exporting empty page"
When using the export/import function on a divi page, it exports an empty json file.

[2020-01-24 01:38] swillfed opened #439 "max_upload_size error sync with gcs"
I cannot sync files larger than 128MB with gcs. keep getting error '. Check your server configuration.'

server max_upload_size and max_post_size is 512MB and nginx configured as well. uploading and media sync via SFTP is working. Just can't sync the files to gcs.

Is there any limit on file size with wp-stateless?

[2020-01-26 13:17] brenovieira commented on #181
I'm trying to achieve the same goal.. That would be super useful..
As I'm a developer, if anyone can give me some direction, I'd try to make this work :)

[2020-01-27 17:14] alimuzzaman commented on #439
@swillfed
Can you please share a screenshot of the error?

Is this the error you are getting?

![image](https://user-images.githubusercontent.com/6744156/73196872-99b72480-415a-11ea-8e71-c01ccbb350de.png)

[2020-01-28 23:35] swillfed commented on #439
That's the error but I don't get a 413 for files larger than 200MB. Anywhere between 128 and 200 gives 413.

<img width="1123" alt="Console-Image" src="https://user-images.githubusercontent.com/44353512/73314630-6ff91d00-4282-11ea-9538-ac62e8464ee7.PNG">

<img width="1126" alt="Console-Image-413" src="https://user-images.githubusercontent.com/44353512/73314919-cc5c3c80-4282-11ea-8f3a-6afea7d0b7eb.

[2020-01-31 20:31] hubertnguyen commented on #223
You could also do the rewrite dynamically as many CDN plugins do.

[2020-01-31 20:34] hubertnguyen commented on #211
@alimuzzaman, the code to update the DB is already in there, so why not add a checkbox that assumes that the file already exists in cloud storage at the proper location? The DB can then be updated extremely quickly. We have much better ways of uploading existing libraries than going through WP code.

[2020-02-03 09:39] alimuzzaman commented on #439
@swillfed
There is nothing wrong on our side. We ware able to upload a 256mb file to GCS.
I think there is a problem with your server configuration.

[2020-02-03 19:41] alimuzzaman commented on #371
WebP sync is working properly.
Not sure how jpg to png (or vice versa) work. I wasn't able to make it work.

[2020-02-03 20:41] alimuzzaman commented on #407
@ewsopp Yes, that's easy enough.

With the current code in Multisite branch:
When users regenerate old media image will be copied to a new location. And the previous image will be still available.

@antonkorotkov
But if the user has a large amount of media then there will be lots of disk image uses.

Maybe removing them can be optional, via sync tab.

[2020-02-03 20:47] alimuzzaman commented on #407
@ewsopp @antonkorotkov
Do we need this if we solve issue #149 (wildcards for bucket folder settings)?

This solution could break things without users realizing it.

[2020-02-03 21:04] alimuzzaman commented on #149
@ewsopp @andypotanin @Feleys @deivamagalhaes

What wildcard can we add?

`(year)/(month)` will be added by WordPress if enabled in settings. Not sure if we need those as a wildcard.

[2020-02-03 21:27] alimuzzaman commented on #149
@ewsopp How you would like the syntax of the wildcard?

1. (.......)
2. {.......}
3. [.......]
4. ((.......))
5. {{.......}}
6. [[.......]]

[2020-02-03 22:59] ewsopp commented on #149
What about this format?

- `%%date_year%%`
- `%%date_month%%`
- `%%site_id%%`
- `%%site_url%%`

What if the site url has a slash in it? For example: `mywebsite.com/wordpress`

[2020-02-04 15:20] ewsopp commented on #407
I think so, but I'll come back with some additional notes.

[2020-02-04 15:43] alimuzzaman commented on #149
@ewsopp

That can be sub folder.
Or we can use the site slug instead. Ex. `wordpress`.

[2020-02-06 15:17] alimuzzaman commented on #149
Here are the things I have added.

`%%date_year%%`: Year in four-digit.
`%%date_month%%`: Month in two-digit.
`%%site_id%%`: Site id.
`%%site_url%%`: Site URL. Includes directory if installed in a directory.
`%%site_url_host%%`: Only the host part of the site URL.
`%%site_url_path%%`: Directory part of the site URL if any.

[2020-02-06 17:23] ewsopp commented on #149
I believe I have thought of a solution that would satisfy this new feature requirement, problems with shared bucket multisites, and additional options for expert users wanting more control over file organization.

Please read over everything carefully and share your thoughts in the comments. Thank you

# Bucket Folder Recipes

- Single Site
  - `/%date_year%/%date_month%/`
- Multisite
  - `/sites/

[2020-02-06 21:42] alimuzzaman commented on #378
@Hooace @ironland @villesiltala can you please test with [this version](https://github.com/wpCloud/wp-stateless/archive/5a2de99c223c0a786ab8c9a7ee3aea7d157a20d6.zip) of the WP-Stateless?
https://github.com/wpCloud/wp-stateless/tree/5a2de99c223c0a786ab8c9a7ee3aea7d157a20d6

I have tested with Polilang Pro 2.6.

[2020-02-06 22:58] alimuzzaman opened #440 "Hide Regenerate and Sync with GCS when mode is Disabled."
![image](https://user-images.githubusercontent.com/6744156/73985644-efaf7780-4965-11ea-9b8e-4dcd541c7f1e.png)

[2020-02-06 23:11] alimuzzaman commented on #384
@ewsopp It seems more like suggestion than a recommendation.

`www.googleapis.com` doesn't seems to be deprecated, but they are using the new rootUrl in there library and documentation.

We just have to change the value to one variable.

[2020-02-07 02:15] ewsopp commented on #275
@alimuzzaman what's the status here?

[2020-02-07 15:57] ewsopp commented on #149
I've ran the above concept by several people and everyone seems to agree with it. Let's proceed. @alimuzzaman

[2020-02-12 15:47] Redjo commented on #190
@ewsopp @alimuzzaman Hi guys,

After some googling I saw you ran into the same issue as me, just right now.
"Callers must accept Terms of Service" when it is their first GCP project.

Did you guys found any solution to this issue?
Like allowing us to accept the TOS on behalf of the user or anything?

It would be AWESOME!

[2020-02-13 00:24] donbowman commented on #430
are there any workaround for this?

[2020-02-13 00:28] harrystymiest commented on #430
Until they get it going I would write a cron like this
rm -rf public_html/wp-content/et-cache and run it every 10 min

[2020-02-13 00:55] donbowman commented on #430
its not sufficient.
it has a second side affect, some assets/css don't load properly.
so the site doesn't render after Divi 4.0.8 reliably.

[2020-02-14 15:46] alimuzzaman commented on #190
No.

[2020-02-15 17:42] JoakuGit opened #441 "Incompatibility with Divi from version 2.3.x"
The plugin caused me problems in 3 different places with Divi from its version in 2.3.x which I had to go back to 2.2.0 (which works without problems)

The problems they cause are;
* Does not work on site builder (no load)
* The site's CSS is disarmed and so on.

[2020-02-16 06:00] ckeeney opened #442 "Don't check for Google Cloud Storage connectivity in stateless mode unless uploading"
I use `wp-stateless` in `stateless` mode.  Occasionally, the photo sources on my site are all pointing at my own domain name instead of GCS for about a minute or two.  I'm not sure what causes this temporary failure, but I noticed this check for GCS connectivity in the plugin initialization.

In stateless mode, I don't think I care about any GCS connectivity except when uploading media from the wp

[2020-02-18 08:58] villesiltala commented on #378
@alimuzzaman I can still reproduce this issue with Polylang Pro 2.6.7 and Stateless  2.3.3. Here is an example of metadata created after uploading an image in the default language with the automatic duplication setting enabled:

**sm_cloud**
[code]

**_wp_attachment_metadata**
[code]

[2020-02-18 10:32] villesiltala commented on #378
@alimuzzaman I'm unable to install that version since the required packages are not available via composer. I tried to manually add the repository from https://repository.usabilitydynamics.com and still no luck.

Could you provide a zipped version of that plugin version or a functioning composer installation guide?

[2020-02-19 14:28] antonkorotkov commented on #378
Hey @villesiltala @Hooace

you should not actually try installing it using Composer. Anyways, try this zip https://github.com/wpCloud/wp-stateless/archive/5a2de99c223c0a786ab8c9a7ee3aea7d157a20d6.zip

[2020-02-20 09:35] antonkorotkov commented on #275
@alimuzzaman can you explain in detail what happens here? I see this commit https://github.com/wpCloud/wp-stateless/commit/20d07d06e479e477d773933b7327d2a5f75f8d7b was reverted later. What 'some new idea' you mean?

And what exactly I should test/review?

[2020-02-20 10:09] antonkorotkov commented on #430
Hello everyone. The issue has been reviewed and confirmed. We are working on it. Thanks for your patience.

[2020-02-20 12:59] alimuzzaman commented on #275
@antonkorotkov seems like I have applied that commit later. It was a way to sync the Banner image.

Please test if the avatar/banner image syncing working. Or is there anything more that can be done.

I don't think there is anything left to do than testing.

[2020-02-20 13:49] antonkorotkov commented on #430
@dchenk @harrystymiest @donbowman can you guys help me testing it? Here is the zip of the fixed version https://github.com/wpCloud/wp-stateless/archive/develop-anton.zip
Please let me know if it works correctly (do not forget to enable the Divi support in settings) and we will include the fix into the nearest release.

Thanks.

[2020-02-20 13:53] antonkorotkov commented on #275
Ok, will try to setup BuddyPress and test.

[2020-02-20 14:45] antonkorotkov commented on #275
Looks like the current state of BuddyPress Compatibility breaks avatars, even not BP avatars.

![image](https://user-images.githubusercontent.com/2276882/74945370-47d38880-5400-11ea-8565-1b2a090b4e5a.png)

Going to investigate that.

[2020-02-20 15:32] donbowman commented on #430
will do

[2020-02-20 15:34] harrystymiest commented on #441
I had no issues with images not loading on sitebuilder in 2.3.x

[2020-02-20 15:35] harrystymiest commented on #430
I installed on my Goddaughter's model portfolio site (Not a "client" site, Have a backup) ill monitor the size over the next 24H or so

[2020-02-20 15:37] antonkorotkov commented on #441
@jackmoonishere hey.

Do you have any specific steps to reproduce these issues? It will help us address them faster.

Thanks.

[2020-02-20 15:45] antonkorotkov commented on #275
All avatars work now. Custom user avatars also work and load from GCS.

![image](https://user-images.githubusercontent.com/2276882/74952022-c03e4780-5408-11ea-8b97-b824e2938566.png)

[2020-02-20 15:50] donbowman commented on #430
[code]

[2020-02-20 15:53] harrystymiest commented on #430
No issues for me so far
• I installed the Dev Plugin
• I removed my cron Work around
• Reenabled static CSS generation

[2020-02-20 15:54] antonkorotkov commented on #430
Sorry, it does not look like WP-Stateless errors. Can you try maybe re-installing the Divi?

[2020-02-20 16:23] donbowman commented on #430
this was after the re-isntall of divi, let me try again.

i had 4.0.8 (which is last version that my site would render w/ w/ wp-stateless).
i added the dev build of wp-stateless. observed site still rendered.
i then clicked update divi
the site stopped rendering, and this error occurred.

let me try again

[2020-02-20 16:27] donbowman commented on #430
ok the issue was the divi security patcher which was the workaround for a security flaw on 4.0.8.
remove that, update to 4.3.2, now it seems to render and not give the errors.
and the cache dir is not growing as fast.

[2020-02-21 14:29] antonkorotkov commented on #438
Hey @NanoCellWebDesign

Can you please share some information about what export/import you mean? We have already fixed some in 2.3.2 version.

If you are using not the latest plugin version, please upgrade and try again.

[2020-02-21 14:46] antonkorotkov commented on #437
I think it was fixed in this issue in terms of BuddyPress compatibility https://github.com/wpCloud/wp-stateless/issues/275

It will be rolled out in the next release.

[2020-02-21 16:27] antonkorotkov commented on #428
Hey @jjtroberts

I was trying to reproduce your issue but I could not.

Can you provide some details about how we can replicate it?
Maybe some specific steps or configuration.

I was trying to upload images from inside the Image Gallery component and it all works with custom Bucket Folder setting.

My version of WPBakery is 5.3 and WP is latest.

[2020-02-21 18:02] alimuzzaman commented on #149
@ewsopp

What will happen when Organization is enabled AND _ Bucket Folder_ is **Not** empty?
I think we should use custom with Year/Month.

[2020-02-21 18:40] alimuzzaman commented on #149
In some cases, the location of the file will be changed in the server or GCS.

We may introduce a new sync method in the Sync tab, to move the file to appropriate locations.
Normal regeneration will duplicate files in GCS or server.

[2020-02-21 22:47] harrystymiest commented on #430
I'm ready to say this is resolved

[2020-02-23 09:48] renduples opened #444 "File Upload Error: Passing glue string after array is deprecated."
We are getting the following errors during file upload:
Deprecated: implode(): Passing glue string after array is deprecated. Swap the parameters in /var/www/html/wp-content/plugins/wp-stateless/lib/Google/src/Google/Service/Resource.php on line 298
Wordpress 5.3.2
PHP 7.4.2
Stateless Mode

[2020-02-24 08:45] antonkorotkov commented on #430
Closing the issue. Fix will be added to the next release. Thanks.

[2020-02-24 08:45] #430 closed, assigned to antonkorotkov

[2020-02-24 09:17] antonkorotkov commented on #442
@ckeeney this connection check here is for informational purposes only. It does not switch modes or whatsoever, but only displays a warning message in admin area. So, despite there is no connection, the images should be loading from GCS. I think your issue was caused by something else.

[2020-02-24 09:52] #295 closed, assigned to nobody

[2020-02-24 09:55] #275 closed, assigned to antonkorotkov

[2020-02-24 10:22] #363 closed, assigned to nobody

[2020-02-24 10:24] antonkorotkov commented on #363
Closing due to inactivity. Feel free to open a new issue if still have questions.

[2020-02-24 10:27] #372 closed, assigned to nobody

[2020-02-24 10:29] antonkorotkov commented on #374
Not something we will be able to do in the nearest future. Closing for now.

[2020-02-24 10:29] #374 closed, assigned to nobody

[2020-02-24 10:51] antonkorotkov commented on #375
Closing due to inactivity. Feel free to open a new issue if still have questions.

[2020-02-24 10:51] #375 closed, assigned to nobody

[2020-02-24 10:55] antonkorotkov commented on #376
WP-Stateless does not use `SECURE_AUTH_COOKIE` variable. Check other plugins.

[2020-02-24 10:55] #376 closed, assigned to nobody

[2020-02-24 11:51] alimuzzaman commented on #149
@ewsopp how this looks?
![image](https://user-images.githubusercontent.com/6744156/75150287-4078eb80-572e-11ea-95eb-73a3717281db.png)

[2020-02-24 12:58] antonkorotkov commented on #442
@ckeeney disregard my last message that you maybe noticed. You are right, there may be some unnecessary connection checks. We will investigate what we can do there.

[2020-02-24 13:17] antonkorotkov commented on #444
@renduples thanks you for pointing. We will try to address this as soon as possible.

[2020-02-24 14:43] jjtroberts commented on #428
I don't recall which site this error took place on. I'll close this issue and if it recurs I'll create a new issue.

[2020-02-24 14:43] #428 closed, assigned to antonkorotkov

[2020-02-24 15:24] alimuzzaman opened #446 "Update Client library for Google APIs"
- [x] Update the Client library for Google APIs to the latest version.

- [x] Apply `wpCloud\StatelessMedia\Google_Client` namespace.

[2020-02-24 15:40] antonkorotkov commented on #444
The fix will be included in the next release. Thanks.

[2020-02-24 15:40] #444 closed, assigned to antonkorotkov

[2020-02-24 15:53] antonkorotkov commented on #442
The fix will be included in the next release. Thanks.

[2020-02-24 15:53] #442 closed, assigned to antonkorotkov

[2020-02-24 15:54] antonkorotkov commented on #401
Closing due to inactivity. Feel free to open a new issue if still relevant.

[2020-02-24 15:54] #401 closed, assigned to nobody

[2020-02-24 16:02] antonkorotkov commented on #387
Theoretically, if settings are the same on both sites then media should work on them in the exact same manner. But you always can do a re-sync if you feel that something is missing.

Thanks for the question. Open a new issue if you still have questions.

[2020-02-24 16:02] #387 closed, assigned to nobody

[2020-02-24 16:03] antonkorotkov commented on #388
Unfortunately, there is no way to do this quickly for now.

[2020-02-24 16:04] #388 closed, assigned to nobody

[2020-02-24 16:09] antonkorotkov commented on #391
Theoretically, it should work out of the box it worth just trying.
If not then it may mean we will have to think about adding such compatibility.

Closing for now. Feel free to open a new issue if still have questions.

[2020-02-24 16:09] #391 closed, assigned to nobody

[2020-02-24 16:11] antonkorotkov commented on #394
Closing due to inactivity. Feel free to open a new issue if you still have questions.

[2020-02-24 16:11] #394 closed, assigned to nobody

[2020-02-24 16:14] antonkorotkov commented on #400
@aquaextensions hey

sorry for the late response.

Do you still have this issue?

[2020-02-24 16:15] antonkorotkov commented on #402
@jasperkooij were you able to solve your problem?

[2020-02-24 16:31] blendjasper commented on #402
@antonkorotkov I turned off wp-stateless and then did a search a replace in the database. Then I removed the plugin.

[2020-02-24 16:38] #402 closed, assigned to nobody

[2020-02-24 17:33] aquaextensions commented on #400
@antonkorotkov, thank you for your response. At the moment, we're not using GCP to host our website. The free credit ran out, but we're planning a move soon. If the issue occurs again, I'll reach out to you. For now, you can close this ticket. Quick question, is WordPress Stateless Media still the best option to offload images if our eCommerce site is image-intensive? Some of our products have ove

[2020-02-25 08:44] antonkorotkov commented on #400
We do everything to make it the best option. In regards to the third-party services configuration - it is all individually, I just don't know what could be best for your project right now. Please, open a new issue when you have some specific questions. Thanks.

[2020-02-25 08:44] #400 closed, assigned to nobody

[2020-02-25 09:03] antonkorotkov commented on #187
Hey @DESIGNMENOW

Sorry for the late response.

I'm going to investigate your issue. Do you still have problems with it? I know it must be late but maybe you have something to add. Thanks.

[2020-02-25 10:26] antonkorotkov commented on #187
@DESIGNMENOW I just tested both plugins in terms of compatibility and I was able to crop the image using Crop-Thumbnails plugin.

In the `CDN` mode, the cropped images have been resized and saved both on the local server and GCS. The only thing I noticed is that images on GCS are cached in correspondence to the Cache-Control setting, that you can adjust on the WP-Settings page. So, this could be t

[2020-02-25 10:26] #187 closed, assigned to antonkorotkov

[2020-02-25 10:34] antonkorotkov commented on #297
Hey @renduples

Sorry for the late response.

Do you still experience this issue? I'm going to investigate it now but maybe you have something to add. Thanks.

[2020-02-25 11:08] antonkorotkov commented on #297
I was able to replicate the issue. Investigating a way to fix.

[2020-02-25 11:10] renduples commented on #297
Awesome thanks

[2020-02-25 11:17] renduples opened #447 "CLI for manual Sync"
I have noticed in the code - https://github.com/wpCloud/wp-stateless/tree/v2.3/lib/cli  There are a few CLI commands like upgrade. Are there any plans to expand the CLI? For example to resync a single/range/or all objects in the library. As currently possible from the Admin Panel.

[2020-02-25 12:54] antonkorotkov commented on #297
Ok, so the issue is that the Simple Local Avatars plugin generates custom image sizes that are not really registered. They are not being synced because the plugin uses a direct image editor which wp-stateless cannot know about.

The only image size that is being synced with GCS is `full`.

So the only way to fix it for now if to add the following to your theme's `functions.php` or `mu-plugin`:

[c

[2020-02-25 13:21] antonkorotkov commented on #297
Ok, I just noticed that all required avatars sizes (26, 64, 96) are being synced if `Dynamic Image Support` is enabled. The main issue now if that incorrect URL is being used.

[2020-02-25 17:10] antonkorotkov commented on #447
@renduples yes, you are right - there are some efforts done in the CLI direction but the current implementation is outdated and was not supported for a while.

We will try to review if it is something we can spend time on. Thank you for your interest.

[2020-02-25 18:33] ewsopp commented on #149
I covered this situation:
- If they have a value in Bucket Folder: Custom, and keep that setting.

I don't think we should change anything that will affect how it is working right now. Do you disagree?

[2020-02-25 19:23] alimuzzaman opened #449 "Sync media according to new Bucket Folder settings"
This new sync method will allow the user to move files after change the Bucket Folder value.

- [ ] ~~We won't do regeneration to increase performance.~~

- [x] Add sync link in the Media library.

- [x] We will copy the files to the new location on GCS.

- [x] Also copy the file to the new location in the server if available.

[2020-02-25 19:25] alimuzzaman commented on #149
As @ewsopp explained we will keep the existing attachment to its original location after regeneration.

And add a new sync method to regenerate/move the image to the new location in issue #449

[2020-02-26 09:26] antonkorotkov opened #450 "Review and clean up the current CLI implementation"
The current CLI implementation is outdated and it is possible that it may just not work.
Need to review it and test/fix/cleanup or remove and start from scratch if needed.

[2020-02-26 09:38] antonkorotkov commented on #450
I think the new command (`wp sm`) should be renamed to something else less generic because `sm` could interfere with another third-party command. How about `wp stateless` at least?

[2020-02-26 09:46] antonkorotkov opened #451 "WP CLI command for background synchronization"
Since we are going to clean up the current implementation if CLI #450, it may be a good point to start adding new features to it #447.

![image](https://user-images.githubusercontent.com/2276882/75332664-6ff23a00-588d-11ea-9f74-d16d6f2b716b.png)

- [x] The new command (`sync`) should basically do the same as Sync processes do on the Settings -> Sync tab.
- [x] It should support the `mode` argument

[2020-02-26 12:08] antonkorotkov commented on #439
Closing for now. Feel free to reopen if it is still relevant.

[2020-02-26 12:08] #439 closed, assigned to nobody

[2020-02-26 12:09] #437 closed, assigned to nobody

[2020-02-26 12:15] antonkorotkov commented on #431
@mjezegou plugin does not allow managing CORS configuration remotely, for now. You need to set CORS manually as described in docs you sent https://cloud.google.com/storage/docs/configuring-cors

[2020-02-26 12:15] #431 closed, assigned to antonkorotkov

[2020-02-26 12:50] antonkorotkov commented on #297
The new compatibility option will be added with the next release to support Simple Local Avatars.

![image](https://user-images.githubusercontent.com/2276882/75346421-5827af80-58a7-11ea-88c1-d6ed79733912.png)

[2020-02-26 12:50] #297 closed, assigned to antonkorotkov

[2020-02-26 14:07] #263 closed, assigned to nobody

[2020-02-26 14:26] alimuzzaman opened #452 "Show image information about image thumbnail and other sizes"
Show information about image sizes on the edit media page.

[2020-02-26 19:36] renduples commented on #297
Brilliant - thank you

[2020-02-27 09:37] antonkorotkov commented on #446
#392 is related.

[2020-02-28 09:04] planv commented on #450
The current CLI implementation is working.
Command `upgrade` uses for update postmeta from old structure to new.

Renamed command `sm` to `stateless`.

[2020-02-28 09:20] antonkorotkov commented on #450
Ok, let it exist then.

[2020-02-28 11:48] cturnbull opened #453 "Multisite compatible?"
Hello,

How does WP Stateless compatibility for multisite work?

Can, for example, the media library on one site be synchronised with GCS if another site has uploaded some media? Can both sites share the same attachment?

[2020-03-04 15:16] ewsopp commented on #447
spawned issues at https://github.com/wpCloud/wp-stateless/issues/451 and https://github.com/wpCloud/wp-stateless/issues/450

[2020-03-04 15:16] #447 closed, assigned to nobody

[2020-03-05 09:54] alimuzzaman commented on #149
- [x] Functionality is done for new attachments.

- [x] And add a new sync option in the Sync tab to move attachments to the new location.

- [x] Now we have to make sure that existing attachment doesn't change their location when we use existing sync methods. ("Regenerate and Sync with GCS" or Sync tab)

https://github.com/wpCloud/wp-stateless/blob/35a0bdf22ef2bf0cef1dc59843c803f2e57fe912/lib/cla

[2020-03-06 17:43] alimuzzaman commented on #149
@ewsopp in multisite the Mapping will apply to all sites?

[2020-03-06 18:15] ewsopp commented on #149
Great question. Any reason why we wouldn't provide a multisite option to force/override a setting upon all sites?

[2020-03-06 19:37] alimuzzaman commented on #149
@planv need to `update_site_option` and `update_option` for all site in the network.

https://github.com/wpCloud/wp-stateless/blob/2eb30e86121185ed6c09b8bd2586ea819d14c307/lib/classes/class-upgrader.php#L148

[2020-03-09 13:45] alimuzzaman commented on #371
There is nothing more to do.

[2020-03-09 13:50] #371 closed, assigned to alimuzzaman

[2020-03-09 15:52] alimuzzaman commented on #149
@ewsopp

Will this be ok?

With single-site `/%date_year%/%date_month%/`.

://storage.googleapis.com/udx-ci-develop-alim/**_2020/03_**/gravity_forms/1-3be54e6f7692b73c8bf3a64f7b5c27d2/**_2020/03_**/a2d40088-annotation.png

When it's synced via Sync tab the sync process downloads it to

wp-content/uploads/**_2020/03_**/gravity_forms/1-3be54e6f7692b73c8bf3a64f7b5c27d2/**_2020/03_**/a2d40088-annotati

[2020-03-09 16:32] alimuzzaman commented on #449
@ewsopp @planv
This might cause a problem with hardcoded URLs in pages/posts.
Maybe we should add a warning.

[2020-03-09 20:54] ewsopp commented on #449
Do we delete files when doing a sync?

[2020-03-10 11:40] alimuzzaman commented on #449
@antonkorotkov will it be viable to replace old URLs with the new URL in post content/meta for all attachments?

For example if a site have lots of posts.

[2020-03-11 12:24] villesiltala commented on #378
Hi @antonkorotkov! I tested the zipped version with WP 5.2.5 and Polylang Pro 2.6.10. The mode is set to `stateless` and duplicating media to all languages is enabled in Polylang. I get the following XHR error, when uploading an image on the `wp-admin/upload.php` page.

[code]

[2020-03-11 13:51] alimuzzaman commented on #378
Please try this version and let us know.
https://github.com/wpCloud/wp-stateless/archive/develop-alim.zip

[2020-03-11 13:56] villesiltala commented on #378
@alimuzzaman tried that one and I got another error. We use [whoops](https://github.com/filp/whoops) and develop with strict error and warning handling, thus these type of errors stop the execution and throw an error.

[code]

[2020-03-11 14:49] alimuzzaman commented on #378
@villesiltala I have updated the code. Please try again.
https://github.com/wpCloud/wp-stateless/archive/develop-alim.zip

Please feel free to send pull request. Use the **develop-alim** branch.

[2020-03-12 10:32] harshmanvar opened #456 "Could not connect to Google Storage bucket. Could not resolve host: http://www.googleapis.com"
My site is using the wp-stateless plugin. It was working well but suddenly started giving error like

WP-Stateless is not active due to following errors:
Could not connect to Google Storage bucket. Could not resolve host: http://www.googleapis.com

however i have not updated anything. it was working well.

[2020-03-13 19:21] alimuzzaman opened #457 "Test gravity form compatibility"
https://wordpress.org/support/topic/gravity-forms-uploads-not-working/
https://wordpress.org/support/topic/wp-stateless-not-being-used-for-file-uploads/

https://wordpress.org/support/topic/gravtiy-forms-export-doesnt-work/

[2020-03-16 19:10] alimuzzaman commented on #149
@planv

- [x] we forgot to set a default value for `Bucket Folder`.
- [x] Also need to disable `Available tags` if it's overridden by the network.

[2020-03-16 19:17] alimuzzaman commented on #457
@ewsopp
With the development version, the Gravity Form is working fine.

Currently, the GF structure their directory regardless of the WP Organize Media option.
So year month is included twice in the URL.

//storage.googleapis.com/stateless-udx-io/sites/2/**2020/03**/gravity_forms/6546....../**2020/03**/15813978-bingimageoftheday.jpg

[2020-03-16 20:22] alimuzzaman opened #459 "Allow sites to override network settings via constant"
Currently, if an option is set by network setting users can't change them for a specific site.

Now they have to have the same option for all sites or set options in each site separately.

1. We can allow site-specific constant.
Or
2. We can change `Don't override` to checkbox instead of an option. UI can get messy if we add as a checkbox.

![image](https://user-images.githubusercontent.com/674415

[2020-03-17 16:09] priyomukul opened #460 "Access Control - Issue"
If I use Uniform Access Control ( which is Bucket Level Access Control ), stateless does not work at all.

[2020-03-17 22:18] alimuzzaman opened #461 "Filtering upload_dir"
## Single site:
`/%date_year%/%date_month%/`
Empty Bucket Folder.
Organize Media enabled.
### Original/Stateless disabled:
[code]
### After Filter:
[code]

## Multisite:
`/sites/%site_id%/%date_year%/%date_month%/`
Organize Media enabled.
### Original/Stateless disabled:
[code]
### After Filter:
[code]

[2020-03-17 22:33] alimuzzaman commented on #461
@antonkorotkov
How should we handle `subdir `and `basedir`/`baseurl`?

For the single site, we can match the original data.

But in multisite, `/sites/2/` was included in `basedir `instead of `subdir`. But we can't divide like that because we use one field (Bucket Folder).

What do you think if we append `subdir` to `basedir` and make `subdir` empty?

[2020-03-17 22:40] alimuzzaman commented on #449
@ewsopp

No. But this can be a problem for site with lots of media.

[2020-03-18 02:10] ewsopp commented on #457
Did you test the "Multiple Files" option on the _File Upload_ field?

![image](https://user-images.githubusercontent.com/5578537/76918099-dfab8180-689b-11ea-8639-51efcf58db30.png)

Did you test multiple _File Upload_ fields on a single form?

![image](https://user-images.githubusercontent.com/5578537/76918188-12ee1080-689c-11ea-94bc-6e4a6bd40d4e.png)

[2020-03-18 09:03] alimuzzaman commented on #457
@ewsopp yes I have tested that.

[2020-03-19 15:26] alimuzzaman commented on #461
This only concerns multisite.
With the current implementation, the gravity form creates its directory in uploads dir instead of the specific `sites` dir.

1. We can move `Bucket Folder` into `basedir` from `subdir`. Not sure how plugins will react with dynamic `basedir` that can changes over time.
2. We can take two inputs in `Bucket Folder` one for `basedir` where wildcard evaluates to static val

[2020-03-19 15:29] #457 closed, assigned to alimuzzaman

[2020-03-20 03:22] MB-Jan commented on #345
Is there any update on this?

[2020-03-20 10:56] #384 closed, assigned to alimuzzaman

[2020-03-20 10:58] alimuzzaman commented on #384
The new endpoint is now set to `storage.googleapis.com`.

[2020-03-20 11:04] alimuzzaman commented on #378
HI @villesiltala,
Were you able to test successfully?
What was the result?

[2020-03-20 11:26] #440 closed, assigned to alimuzzaman

[2020-03-20 11:34] alimuzzaman commented on #407
Closing this since it is being handled at issue #149 and #284.

[2020-03-20 11:34] #407 closed, assigned to antonkorotkov, alimuzzaman

[2020-03-20 13:24] andypotanin commented on #461
@alimuzzaman I've been assigned to this, I assume that means we should have a meeting? FYI @ewsopp

[2020-03-20 13:29] ewsopp commented on #461
Good question. Let me digest it and see if we need you.

[2020-03-20 13:36] ewsopp commented on #450
@alimuzzaman can you test this please?

[2020-03-20 13:37] ewsopp commented on #451
@alimuzzaman can you test this please?

[2020-03-20 13:38] ewsopp commented on #378
@planv can you test this please?

[2020-03-20 13:38] ewsopp commented on #361
@planv can you test this please?

[2020-03-20 13:50] alimuzzaman commented on #451
OK, testing.

[2020-03-20 13:51] alimuzzaman commented on #450
OK, testing.

[2020-03-20 15:48] alimuzzaman commented on #461
@ewsopp I want to split `Bucket Folder` into two fields.
Because in multisite with our current implementation base_dir is root upload dir, instead of separate dir (sites/2) for each site.

This create problem with other plugins, ex. GF. GF creates its dir in root upload dir instead of site-specific dir(sites/2).

[2020-03-20 18:58] alimuzzaman commented on #461
This also break non synced media after migration/fresh install if the `basedir` doesn't match.

- [x] We may use `wp_get_attachment_metadata` filter to prepend `sites/{id}` to the `file` meta for non-synced media.

[2020-03-20 19:52] alimuzzaman commented on #451
I ran this command `wp stateless sync files --force --url=https://test2.stateless.ci/ --b`

@planv why did it ran ten batches for only 4 attachment?
The sync has been done at the last batch.
Is this expected?

[code]

[2020-03-20 19:55] alimuzzaman commented on #451
@ewsopp everything else is ok.

[2020-03-20 20:01] alimuzzaman opened #462 "Review migration"
- [x] Review fresh install with existing non synced media.

- [x] Review upgrade

[2020-03-20 20:03] alimuzzaman commented on #462
# Mapping for Existing Users

This should account for all current configurations. Are we missing anything?

- [x] If _Organization_ is enabled **AND** _ Bucket Folder_ is empty: Single Site
- [x] If _Organization_ is enabled **AND** _ Bucket Folder_ is not empty: Previous bucket folder + Single Site
- [x] If _Organization_ is disabled: Custom
- [x] If they have a value in _Bucket Folder_: Custom,

[2020-03-20 20:11] alimuzzaman commented on #149
Created separated issues to review.

- [x] Filtering upload_dir #461
- [x] Review migration #462

[2020-03-20 20:16] alimuzzaman commented on #449
@planv is this option was added to CLI?

[2020-03-23 09:02] planv commented on #449
@alimuzzaman Not yet.

- [x] Add new sync option to CLI

I will add it after we finish new sync method on admin panel.

[2020-03-23 09:14] alimuzzaman commented on #461
@planv do you have any idea?

[2020-03-23 12:53] planv commented on #361
@ewsopp checked, it works for me.

[2020-03-23 13:08] ewsopp commented on #461
Why can't this be supported via our compatibility feature?

[2020-03-23 13:41] alimuzzaman commented on #461
@ewsopp

I am not sure that would be possible to do for most of the plugin.

But this also create a problem for non-synced media.
https://github.com/wpCloud/wp-stateless/issues/461#issuecomment-601862587

[2020-03-23 22:25] planv commented on #461
https://github.com/wpCloud/wp-stateless/issues/461#issuecomment-600332315

@alimuzzaman Maybe we could add this to `function _wp_upload_dir` ?

<img width="791" alt="изображение" src="https://user-images.githubusercontent.com/5268508/77368689-73ca8c80-6d65-11ea-96e1-518c585051f5.png">

And do not add `sites/$site_id/` in `function root_dir_wildcards`

[2020-03-24 10:05] alimuzzaman commented on #461
Yes we can do that. It will be safe but wildcard functionality will be reduced.

@ewsopp what do you think?

[2020-03-24 14:12] planv commented on #451
@alimuzzaman

Ten batches - it is count batches by default.
<img width="1037" alt="изображение" src="https://user-images.githubusercontent.com/5268508/77434879-322ff500-6dea-11ea-92e1-9520a8130e64.png">

Is this expected?

Yes, because we use argument `batch` for calculating `LIMIT` on SQL query.

[2020-03-24 14:47] planv commented on #378
Fixed, tested with Polilang Pro 2.6 for 3 selected languages.
For each language was added all image sizes data to `_wp_attachment_metadata`

[2020-03-25 03:00] ewsopp commented on #378
@planv are we good to close here? or is additional development and testing needed?

[2020-03-25 03:01] ewsopp commented on #361
@planv good to close here then?

[2020-03-25 03:06] ewsopp commented on #461
WP-Stateless Core is responsible for objects that are registered in the Media Library. If a plugin doesn't follow this method of storing uploads, then we create a compatibility for it.

We've already created a compatibility for Gravity Forms. Why can't we extend this existing compatibility to keep the files stored however Gravity Forms prefers it (in its own upload directory)?

[2020-03-25 04:14] alimuzzaman commented on #361
@ewsopp we have to update the wiki.

We should keep this open till release.

[2020-03-25 04:33] ewsopp opened #463 "rename and relocate bucket folder setting"
This setting also affects how files are stored locally for _CDN_ and _Backup_ modes. It's not solely tied to the Google Cloud Storage.

As such, I think a couple minor changes are needed...

- [x] rename setting label from _Bucket Folder_ to _Folder_

![image](https://user-images.githubusercontent.com/5578537/77501937-cff9e300-6e2f-11ea-9e34-55291564df13.png)

- [x] move the _Folder_ setting withi

[2020-03-25 08:59] planv commented on #378
@ewsopp

Yes, task is completed

[2020-03-25 11:02] planv commented on #463
Done

<img width="1022" alt="изображение" src="https://user-images.githubusercontent.com/5268508/77529720-d53f4800-6e98-11ea-9a19-a0a9721f115f.png">

[2020-03-25 13:47] #378 closed, assigned to planv

[2020-03-25 15:01] alimuzzaman opened #464 "Compatibility default value multisite"
- [x] Set default value from `Disabled` to `Don't override`.

[2020-03-25 15:33] alimuzzaman commented on #461
- [x] We will use `wp_get_attachment_metadata` to fix link for non-synced media.

[2020-03-25 20:12] planv commented on #462
@alimuzzaman

it will be `Custom`, no?

<img width="776" alt="изображение" src="https://user-images.githubusercontent.com/5268508/77580898-6d631e80-6ee5-11ea-9cdc-39395fc73c09.png">

[2020-03-25 23:58] alimuzzaman commented on #462
Custom folder should have been at the beginning.

[2020-03-25 23:59] alimuzzaman commented on #462
Yes it will be custom.

[2020-03-26 13:19] alimuzzaman opened #465 "Initialize settings object in bootstrap construct"

[2020-03-26 13:35] planv commented on #464
Tested, works for me.

[2020-03-26 15:18] alimuzzaman commented on #461
@planv made new changes here.
https://github.com/wpCloud/wp-stateless/commit/1aea477ab78794cfbe2137575fccbd4f9c205577

[2020-03-26 16:09] planv commented on #465
@alimuzzaman
I can't save option `Don't override` for `Folder` on settings for multisite.

<img width="746" alt="изображение" src="https://user-images.githubusercontent.com/5268508/77668908-b5894c00-6f8c-11ea-8dcb-cf4b9e4e768f.png">

[2020-03-26 16:54] planv commented on #465
Each time when I reload page I see this error
<img width="912" alt="изображение" src="https://user-images.githubusercontent.com/5268508/77673597-0b60f280-6f93-11ea-9fc0-f151c6b30c2d.png">

In 1-2 sec it hides

[2020-03-26 17:02] alimuzzaman commented on #465
This is expected. We are using JS to hide it.
So if there is any JS error, it will be displayed.

[2020-03-26 17:06] alimuzzaman opened #466 "Accessing setup wizard when the Service Account JSON is present"
Currently, there is no instruction on how a user can access the setup wizard after they had set the **Service Account JSON**.

We need to inform the user that the setup wizard will appear if they remove the **Service Account JSON**.

[2020-03-26 18:00] planv commented on #449
@alimuzzaman  I added new option `use_wildcards` or CLI sync command.

[2020-03-26 20:08] planv commented on #465
Checked, works for me. Thanks

[2020-03-26 20:52] planv commented on #463
@alimuzzaman Check it please

[2020-03-26 23:07] planv commented on #450
@alimuzzaman Is it ok for you or you have any suggestions?

[2020-03-27 09:38] alimuzzaman commented on #463
Looks fine.

[2020-03-27 09:38] #463 closed, assigned to alimuzzaman

[2020-03-27 09:39] alimuzzaman commented on #449
@planv how do I use `use_wildcards`?

[2020-03-27 09:44] planv commented on #449
@alimuzzaman Please use this command
`wp stateless sync images --force --use_wildcards`

[2020-03-27 09:47] #464 closed, assigned to planv

[2020-03-27 09:49] alimuzzaman commented on #449
It's working.

[2020-03-27 09:49] #449 closed, assigned to planv, ewsopp, alimuzzaman

[2020-03-27 09:50] planv commented on #451
Added new sync option `use_wildcards`
https://github.com/wpCloud/wp-stateless/issues/449#issuecomment-604585505

[2020-03-27 09:51] alimuzzaman commented on #450
Command sm renamed to stateless.

`wp stateless sync images`

[2020-03-27 09:51] #450 closed, assigned to alimuzzaman

[2020-03-27 09:51] #465 closed, assigned to planv

[2020-03-27 09:57] alimuzzaman commented on #451
`use_wildcards` is working fine.

[2020-03-27 09:57] #451 closed, assigned to alimuzzaman

[2020-03-27 12:35] jimyaghi opened #467 "Seeing notice for deprecation of argument order"
I'm seeing this notice in PHP:

[27-Mar-2020 12:33:57 UTC] PHP Deprecated:  implode(): Passing glue string after array is deprecated. Swap the parameters in Google/src/Google/Service/Resource.php on line 298

https://github.com/wpCloud/wp-stateless/blob/a93638abe0d2ae5013e0c7f6f7155e8e101c0c33/lib/Google/src/Google/Service/Resource.php#L298

Is there any reason to keep this argument order?

[2020-03-27 13:03] planv commented on #467
Hello @jimyaghi.

It was fixed with issue #444 . The fix will be included in the next release.

Thanks.

[2020-03-27 13:03] #467 closed, assigned to nobody

[2020-03-27 13:20] alimuzzaman opened #468 "Issue with network override of Cache-Busting"
Cache-Busting wasn't being overridden by the network settings.

[2020-03-27 13:46] planv commented on #468
Cache-Busting override works.

[2020-03-27 13:46] #468 closed, assigned to planv

[2020-03-28 12:00] jimyaghi commented on #395
i dont see that this issue is at all resolved. The problem is in class-sync-non-media.php line 83 $file_type = wp_check_filetype($absolutePath);

The default behaviour of WP is that this function will get a list of allowed upload types and then run through them to find if our file matches one of them. However, the default wordpress has css file uploads disabled and this does not change with elemen

[2020-03-29 05:35] MB-Jan commented on #395
@alimuzzaman: I can confirm what @jimyaghi wrote. Can you please fix the issue.

[2020-03-29 06:45] jimyaghi commented on #395
@alimuzzaman thank you for being so quick to take care of it. I would really appreciate however if we don't add more libraries unnecessarily to solve the issue. Please see:

https://github.com/wpCloud/wp-stateless/blob/a93638abe0d2ae5013e0c7f6f7155e8e101c0c33/lib/Google/vendor/guzzlehttp/psr7/src/functions.php#L620

This is already included in your plugin, why not use it? It works off the official

[2020-03-30 11:19] alimuzzaman commented on #395
@jimyaghi I have copied the function to our class, as the Google library isn't autoloaded (only loaded when syncing media).

Thanks

[2020-03-30 13:03] #395 closed, assigned to alimuzzaman

[2020-03-30 13:53] alimuzzaman commented on #149
# Review compatibility

- [x] Advanced Custom Fields Image Crop Addon
- [x] BuddyBoss
- [x] BuddyPress
- [x] Divi
- [x] Dynamic Image Support
- [x] Easy Digital Downloads
- [x] Elementor Page Builder
- [x] EWWW Image Optimizer
- [x] Gravity Forms
- [x] Imagify Image Optimizer
- [x] LearnDash LMS
- [x] LiteSpeed Cache
- [x] Polylang Pro
- [x] ShortPixel Image Optimizer
- [x] Simple Local Avatars
-

[2020-04-01 10:15] planv commented on #149
FYI: `ShortPixel Image Optimizer` has original (WP-Stateless disabled) folder's structure for backups

<img width="464" alt="изображение" src="https://user-images.githubusercontent.com/5268508/78125549-dc76d080-7419-11ea-9bc9-20dc8547cb4c.png">

[2020-04-01 10:18] planv commented on #461
## Single site:
`/%date_year%/%date_month%/`
Empty Bucket Folder.
Organize Media enabled.
### Original/Stateless disabled:
[code]
### After Filter:
[code]

## Multisite:
`/sites/%site_id%/%date_year%/%date_month%/` or `/sites/%site_id%/`
Organize Media enabled.
### Original/Stateless disabled:
[code]
### After Filter:
[code]

[2020-04-01 16:37] diogoterremoto commented on #345
It appears that this plugin is still not compatible with WPML. This is really unfortunate, as this plugin is very cool.

[2020-04-03 11:04] planv commented on #149
Compatibility for ` LiteSpeed Cache` tested on single site. It is ok for images.
On multisite this plugin not working correctly.

Plugin ` WooCommerce Extra Product Options` not working for me, and I don't see any information and updates on their site - `https://themecomplete.com/`

[2020-04-03 13:23] #461 closed, assigned to planv, ewsopp, alimuzzaman

[2020-04-03 15:27] alimuzzaman commented on #149
@ewsopp can we close this?

[2020-04-03 21:12] alimuzzaman commented on #462
@ewsopp **Organization** is enabled AND **Bucket Folder** is not empty:

Single site: `/bucket_folder/%date_year%/%date_month%/`.
Multisite:  `/sites/%site_id%/multisite/%date_year%/%date_month%/`.

[2020-04-04 07:03] planv commented on #462
Are we using `multisite` on path?

So we add current value `Bucket Folder` to path.

[2020-04-04 15:36] alimuzzaman commented on #262
The current implement only supports the full-size image.

`https://example.com/image-1024x542.png`
Maybe remove `-\d+x\d+` from the end of the URL then do the query.
https://github.com/wpCloud/wp-stateless/blob/e372ed2962d3512836410009494b7f07d59eee65/lib/classes/class-bootstrap.php#L1230-L1241

[2020-04-06 09:47] planv commented on #262
WordPress core function works on the same way.

<img width="979" alt="изображение" src="https://user-images.githubusercontent.com/5268508/78544108-520be380-7802-11ea-841a-550d1ccff23f.png">

You can see more information about it - `https://core.trac.wordpress.org/ticket/42437`, also  other implementation for this hook - `https://gist.github.com/pbiron/d72a5d3b63e7077df767735464b2769c` .

[2020-04-06 13:44] alimuzzaman commented on #462
It's just a bucket folder value I used, nothing to do with multisite.

Yes

[2020-04-06 18:24] ewsopp commented on #462
Why is `/multisite/` included in the path here?

Also - if **Organization** is enabled AND **Bucket Folder** is not empty: then shouldn't we set it as custom for both single site and multisite?

Custom: `/bucket_folder/%date_year%/%date_month%/`

[2020-04-07 10:47] planv commented on #211
I think we have to optimize `sm_cloud meta` (#383) before.

[2020-04-07 12:21] ewsopp opened #469 "recreate settings panel using metabox.io"
Rather than maintaining our own settings panel and metabox components, we can simplify things by utilizing metabox.io. This will also give us some flexibility with all the field types, options, and extensions that metabox.io has built over the years.

![screenshot-1](https://user-images.githubusercontent.com/5578537/78671221-ff3b3600-78ac-11ea-9892-a9084ce7f5fa.png)

[2020-04-07 12:55] ewsopp opened #470 "recreate attachment metabox panel using metabox.io"
Recreate the metabox on the attachment detail page using metabox.io

Name the metabox "Stateless" and using the tabs extension to group settings.

![IMG_20200407_083229](https://user-images.githubusercontent.com/5578537/78671554-72dd4300-78ad-11ea-908b-6fddd0ea67c5.jpg)

![screenshot-7](https://user-images.githubusercontent.com/5578537/78671499-5f31dc80-78ad-11ea-886e-9ae1e2c4f7fd.png)

[2020-04-07 12:59] ewsopp commented on #452
![IMG_20200407_083229](https://user-images.githubusercontent.com/5578537/78672066-20e8ed00-78ae-11ea-876a-d43ee0aa93be.jpg)

[2020-04-07 13:17] ewsopp opened #471 "add metabox into attachment details modal"
At some point, WordPress Core added this new view for attachment objects. We should ensure our stateless metabox is added into this view as well.

![image](https://user-images.githubusercontent.com/5578537/78673692-7faf6600-78b0-11ea-9526-64be49c8b808.png)

[2020-04-07 13:43] alimuzzaman opened #472 "LiteSpeed Cache issue in multi-site"
Activating LiteSpeed Cache results in a fatal error. WordPress gets unusable.

[2020-04-07 13:58] alimuzzaman opened #473 "Metabox isn't showing"
Metabox isn't showing properly when stateless is disabled or image isn't synced.

![image](https://user-images.githubusercontent.com/6744156/78677543-af3e8c80-7909-11ea-8e4e-16973cd08698.png)

[2020-04-07 17:03] alimuzzaman opened #474 "Set Access-Control-Allow-Origin on GCS"
We have to set `Access-Control-Allow-Origin` on GCS.

When a media is requested via JavaScript the browser blocks the request. Because GCS doesn't return  `Access-Control-Allow-Origin` header.

Not sure where we can put this functionality.

1. Maybe in Setup Wizard.
2. Or if we have a help tab like WP-Property.

More details:
https://cloud.google.com/storage/docs/configuring-cors#configure-cors-bu

[2020-04-07 19:59] alimuzzaman opened #475 "Move sm_cloud meta data to it's own table"
sm_cloud meta has lots of data. And for media-heavy sites, it can be a problem.

Sometimes we only need a single field but we are pulling all the data.

If we make custom table we would be able to do a custom query on `sm_cloud`.

For more info and possible columns for table see #383.

[2020-04-07 21:19] planv commented on #472
Fixed. LiteSpeed Cache activated on multisite. Ckecked compatibility with WP-Stateless version 2.4 - it is ok.

<img width="664" alt="изображение" src="https://user-images.githubusercontent.com/5268508/78720424-5d5c2d80-792e-11ea-96c0-c8c1af573f3c.png">

<img width="1385" alt="изображение" src="https://user-images.githubusercontent.com/5268508/78720404-53d2c580-792e-11ea-98a3-247abc84a238.png">

[2020-04-07 22:05] planv commented on #462
It is typo. Should be `bucket_folder` instead `multisite`.

Yes, it is `Custom`, but we will also have `/sites/%site_id%/` for multisite.

Single site: `/bucket_folder/%date_year%/%date_month%/`
Multisite: `/sites/%site_id%/bucket_folder/%date_year%/%date_month%/`

[2020-04-08 17:11] ewsopp commented on #190
I believe this issue has self resolved.

I did some testing on Wednesday, March 25, 2020 with WP-Stateless v2.3.2 and I was not able to replicate. During my testing with a Google account not previously used on GCP, the setup assistant sent me to Google Cloud directly to create my billing account. Google Cloud forced me to accept the GCP TOS and thus resolved the problem described here.

I'm closin

[2020-04-08 17:11] #190 closed, assigned to nobody

[2020-04-08 18:27] alimuzzaman commented on #266
# How to test
## Add file upload meta:
![image](https://user-images.githubusercontent.com/6744156/78819686-6c0f1700-79f8-11ea-81b3-e203d35aae4d.png)

## Upload file when adding to cart:
![image](https://user-images.githubusercontent.com/6744156/78819762-8cd76c80-79f8-11ea-99fe-bcc28c6c0f1a.png)

## Go to view cart:
![image](https://user-images.githubusercontent.com/6744156/78819916-d031db00-79f8-1

[2020-04-08 19:58] alimuzzaman commented on #462
@ewsopp

As it will not affect existing media, I think including `sites/%site_id%` makes more sense to me.

Where `/bucket_folder/%date_year%/%date_month%/`  keep URL structure on GCS same.

[2020-04-08 20:04] #472 closed, assigned to alimuzzaman

[2020-04-08 20:06] ewsopp commented on #462
If that is the case, why would it not follow the following CUSTOM setting...

`/bucket_folder/%date_year%/%date_month%/`

If we did not support `/sites/%site_id%/` before, why would we add it in now? You will effectively change the setting they had.

During this upgrade, we don't want to change anyone's setting. They should upgrade gracefully without affecting their custom settings. Right?

[2020-04-08 20:08] alimuzzaman commented on #462
OK

[2020-04-08 20:10] ewsopp commented on #462
@planv @alimuzzaman do you both agree?

The real question is this: Do we update their settings to reflect the proper multisite organization or do we keep their settings as-is?

My feeling is that we leave it as-is. Otherwise we are effectively changing their settings without them knowing. Thoughts?

[2020-04-08 20:30] alimuzzaman commented on #462
~~Yes, we should keep the setting as is.~~

[2020-04-08 21:17] planv commented on #462
WordPress uses this structure `\sites\$site_id\` by default for multisite since version 3.5 (December 11, 2012)
https://wordpress.org/support/article/multisite-network-administration/#uploaded-file-path

So I think that we should keep `\sites\$site_id\` for multisite.

@alimuzzaman We also could add new condition for Multisite on our wildcards functionality. What do you think?
<img width="942" alt

[2020-04-08 21:31] alimuzzaman commented on #462
@planv

if you are talking about `Bootstrap::_wp_upload_dir` function, the whole point of that function is to get the root upload dir without sites/id postfix.

@ewsopp
We have to keep in mind that to keep the GCS URL same we are removing `sites/id` from the server.
Previously the server had `sites/id` dir but GCS didn't have it.

Because we were removing `wp_upload_dir()['basedir']` from the file

[2020-04-14 08:32] planv commented on #149
## Local server path

We won't do any changes on local server folder structure. Value from field `Folder` will be applied only for GCS.

- [x] Revert changes for WordPress setting `Organize my uploads into month- and year-based folders`
- [x] Revert changes for local folder structure (hook `upload_dir`)
- [x] Remove copying media on local server in sync process

## Mapping field `Folder` for Exist

[2020-04-14 15:31] alimuzzaman opened #476 "Wp-Stateless H5p plugin support"
Is it possible to sync H5p content with google cloud?
H5p interactive content is stored in wp-content/uploads/h5p/content and need a lot of Mb.
In school closure days it will be great.
Thanks.
The page I need help with: https://wordpress.org/support/plugin/h5p/

https://wordpress.org/support/topic/wp-stateless-h5p-plugin-support/

[2020-04-16 09:13] planv commented on #149
Using tag like `%blog_id%` break media.
We should allow using only letters and numbers (if it is not an our available tag), or do `urlencode` for media URL.

![image](https://user-images.githubusercontent.com/5268508/79437064-59897480-7fda-11ea-852b-b003e5eb43ed.png)

[2020-04-16 17:44] alimuzzaman commented on #149
@planv I think we should do `urlencode` in `wp_stateless_handle_root_dir` filter.
And warn user using js that they shouldn't use special char in `Bucket Folder`.

[2020-04-16 21:12] planv commented on #149
@alimuzzaman Do you propose use urlencoded value for folders name on GCS?
If we add `%blog_id%` on  field `Folder` - it will be applied as `%25blog_id%25` on GCS.
I'm not sure that is good idea.

[2020-04-17 16:30] ewsopp opened #477 "setup assistant refactor, design refresh, bucket region control, compatibility check"
New brand and fresh design.

Only functionality change is that we will now allow the user to select the bucket region, all else it pretty much the same.

![image](https://user-images.githubusercontent.com/5578537/79591838-13e6ad80-80a7-11ea-8b3d-ab145270a73a.png)

[2020-04-17 16:47] alimuzzaman commented on #262
@planv I think then we can close this?

[2020-04-17 16:49] planv commented on #262
Yes, closed

[2020-04-17 16:49] #262 closed, assigned to nobody

[2020-04-17 17:35] alimuzzaman opened #478 "base64_encode memory limit"
https://wordpress.org/support/topic/stateless-max-size-upload/

stateless max size upload

[2020-04-22 08:49] antonkorotkov commented on #475
I think we can skip this for now for 3.0.0

[2020-04-22 12:22] planv commented on #268
Added current information to `postmeta` table.
After optimization and minimization data (issue #383 ) it is ok, discussed it with @antonkorotkov .

[2020-04-23 20:01] planv commented on #452
@ewsopp
I added information about sizes to metabox on media edit page.
But for now we haven't functionality for synchronize separated size.

![image](https://user-images.githubusercontent.com/5268508/80143700-e2457900-85b5-11ea-8a0c-6606df2642f7.png)

[2020-04-23 20:12] planv commented on #470
@ewsopp
Metabox was recreated using metabox.io.
Added 2 tabs - `Thumbnails` and `Meta`.
Also I replaced metabox from left side to center. Below `Description`. It make sense?

![image](https://user-images.githubusercontent.com/5268508/80143728-ee313b00-85b5-11ea-9c38-f21874856ee2.png)

![image](https://user-images.githubusercontent.com/5268508/80144118-9941f480-85b6-11ea-9e91-c20fcb76f87f.png)

![i

[2020-04-23 20:43] planv commented on #473
@ewsopp
Which data we should show on metabox when image isn't synced yet?
Link `Regenerate and Sync with GCS`  only?

[2020-04-23 22:04] ewsopp commented on #470
Looking great so far.

# Updates

![image](https://user-images.githubusercontent.com/5578537/80153430-7c43fc00-858b-11ea-8660-be0d73380d1a.png)

1 - remove colons in the labels.
2 - replace the open link icon with https://developer.wordpress.org/resource/dashicons/#external
3 - increase spacing between the field and icons a bit.

![image](https://user-images.githubusercontent.com/5578537/80153847-

[2020-04-23 22:10] ewsopp commented on #473
Lets get further along with https://github.com/wpCloud/wp-stateless/issues/470 and then handle this.

[2020-04-24 10:37] planv commented on #470
Done.

![image](https://user-images.githubusercontent.com/5268508/80201793-52431600-862d-11ea-9866-24735a89298f.png)

![image](https://user-images.githubusercontent.com/5268508/80201828-6555e600-862d-11ea-8625-6cf737c5d9e4.png)

I added information about sizes to `sm_cloud` meta. Related issue #268.

I can select all sizes which registered on WP. It is standard sizes: `thumbnail`, `medium`, `mediu

[2020-04-24 10:45] planv commented on #452
Related issue #470 , all information there.
I think we can close this issue.

[2020-04-24 12:23] #452 closed, assigned to alimuzzaman

[2020-04-24 20:35] planv commented on #471
@ewsopp
I added new metabox.
But on modal view we can't use tabs structure, metabox.io tabs does not support it. Should I add fields from tab `Meta` to this metabox too?

![image](https://user-images.githubusercontent.com/5268508/80254288-95c86f00-8683-11ea-9880-a25adf5ec449.png)

[2020-04-26 20:51] dvhirst opened #479 "Google Suites for NonProfits/Google Drive"
Hello, this plugin is set to work with Google Cloud Storage -- does it also work with Google Suites / Drive?  This is another form of cloud storage from Google, and it would be very helpful if I could use Google Drive cloud storage as the offload point for my WordPress media library.  Thanks for your response.

[2020-04-26 21:47] alimuzzaman commented on #479
Sorry, it's not possible.

[2020-04-26 21:59] dvhirst commented on #479
Not possible, or just not set to work that way now?

[2020-04-26 22:01] alimuzzaman commented on #479
not set to work that way now.

[2020-04-26 22:01] dvhirst commented on #479
What would it take to make the necessary changes to support GSuites/Drive?  Seriously, I'd like to know what it would take to make this happen.  Thanks.

[2020-04-27 22:22] ewsopp commented on #471
Are we able to add a button here that links to the Stateless metabox on the attachment detail page?

[2020-04-28 10:17] harshmanvar opened #480 "No File URL Replacement even from plugin enable"
``
![Selection_043](https://user-images.githubusercontent.com/50694399/80475987-622d6380-8967-11ea-912d-556a0655f658.png)

I have configured plugin in wordpress with CDN and tried File URL Replacement enable but it's still not replacing URL however older url still loading from `/wp-contet`  locally.

[2020-04-28 18:42] planv commented on #471
Sure. It can be button or link.

![image](https://user-images.githubusercontent.com/5268508/80524833-f06e0d80-8998-11ea-988f-d15cf68e20bd.png)

![image](https://user-images.githubusercontent.com/5268508/80524611-8fded080-8998-11ea-94bd-67dbb321bf71.png)

[2020-04-28 18:43] ewsopp commented on #471
Lets just go with the text link. Looks nice and fits the style of WordPress core.

Good work.

[2020-04-28 19:42] planv commented on #471
Done.

[2020-04-28 22:32] alimuzzaman commented on #479
@dvhirst it will require a lot of work. Though we use a separate adapter to upload to GCS (Google Cloud Storage), some codes are still here and there.

We don't have any plans to do it now. Currently, we are working on making the current GCS experience better.

If you are a developer you can send us a pull request.

[2020-04-28 22:46] dvhirst commented on #479
OK, thanks for letting me know.  I am not a developer, more a system admin, not eager to take on additional resources/storage from Google when the organization already has plenty available.  If the situation changes, I'm eager to hear it.

[2020-04-28 23:28] alimuzzaman commented on #446
Everything looks fine.

[2020-04-28 23:28] #446 closed, assigned to alimuzzaman

[2020-04-29 10:18] #383 closed, assigned to alimuzzaman

[2020-04-29 10:19] alimuzzaman commented on #470
@planv We will need a sync all button like before.

[2020-04-29 14:57] ewsopp commented on #470
Good catch Alim!

Lets try this...

![image](https://user-images.githubusercontent.com/5578537/80610935-f6e79e00-8a07-11ea-9ecd-301e46f2b1ac.png)

1. [Button Group](https://docs.metabox.io/fields/button-group/) with `Regenerate` setting label and `Regenerate & Sync` button label.
2. Use a [Heading](https://docs.metabox.io/fields/heading/) above the thumbnails with the title `Files`.

[2020-04-29 20:40] planv commented on #470
Done.
I added simple button instead Button Group.

![image](https://user-images.githubusercontent.com/5268508/80641855-2cbf6d80-8a6e-11ea-8bab-76d9f7b6d821.png)

Also I added sync for selected size.

[2020-04-29 22:16] ewsopp commented on #470
This looks great.

[2020-04-30 13:38] planv commented on #473
@ewsopp Seems we are finished with #470.

I added button `Regenerate and Sync with GCS` to metabox if image is not synced yet.

![image](https://user-images.githubusercontent.com/5268508/80687914-b190a280-8ad3-11ea-829b-293a3aad5651.png)

[2020-04-30 13:58] planv commented on #392
I updated related libraries to new versions, and checked compatibility with PHP since 7.0. They still use deprecated functions.
Sorry, but it does not depend on us.

[2020-04-30 19:16] ewsopp commented on #469
backlogging for now.

[2020-04-30 19:18] ewsopp commented on #392
Backlogging for now.

[2020-04-30 19:25] ewsopp commented on #473
Looks good.

[2020-04-30 19:25] #473 closed, assigned to planv

[2020-04-30 19:53] ewsopp commented on #164
It seems like the crux of this issue is...

@planv can you investigate this please? Relevant constant here is [WP_STATELESS_MEDIA_CUSTOM_DOMAIN](https://github.com/wpCloud/wp-stateless/wiki/Constants#wp_stateless_media_custom_domain)

[2020-04-30 21:43] alimuzzaman commented on #436
Wasn't able to replicate.

[2020-04-30 21:43] alimuzzaman commented on #462
Migration working as expected.

[2020-04-30 21:43] #462 closed, assigned to alimuzzaman

[2020-04-30 21:44] alimuzzaman commented on #149
Working as expected.

[2020-04-30 21:44] #149 closed, assigned to planv, ewsopp

[2020-04-30 23:33] ewsopp opened #481 "rename current "Stateless" mode to "Ephemeral""
We are adding a new "Stateless" mode that will not use local storage at all, even temporarily as the current stateless mode does. I want to use the "Stateless" name for that new mode.

This newly named "Ephemeral" mode should remain the default mode set by the Stateless Setup Assistant (current functionality).

- [x] rename `Stateless` mode to `Ephemeral`.
- [x] update this mode's description from

[2020-05-01 04:08] alimuzzaman commented on #478
We will now upload files to GCS in chunks.

Previously to upload a media memory requirement was double the file size.
Chunk size will be determined based on free memory available.

@antonkorotkov @planv  should there be a max chunk size limit?

Added new constant: `WP_STATELESS_MEDIA_UPLOAD_CHUNK_SIZE`

[2020-05-01 05:42] antonkorotkov commented on #478
I think it should be up to the user as they decided to set this up.

[2020-05-01 06:14] alimuzzaman commented on #478
@antonkorotkov here is how I am calculating the chunk size now. Is it ok?
https://github.com/wpCloud/wp-stateless/blob/18dd668184dd48e09c371831a3fa99f698f3f293/lib/classes/class-gs-client.php#L267-L282

[2020-05-01 06:54] antonkorotkov commented on #478
I don't know, needs to be tested in different conditions. But makes sense.

[2020-05-01 09:34] planv commented on #164
@ewsopp You are right.

Constant `WP_STATELESS_MEDIA_CUSTOM_DOMAIN` is designed for this.

Also we have field `Domain` on UI

![image](https://user-images.githubusercontent.com/5268508/80796404-bf175c80-8ba7-11ea-87ab-1b46919ad18f.png)

[2020-05-01 12:11] planv commented on #481
Done.
Also changed all related usage `stateless` mode in code, so in the future we won't have misunderstanding with mode `stateless` and `ephemeral`.

![image](https://user-images.githubusercontent.com/5268508/80804624-62736c00-8bbe-11ea-85de-6050a384827f.png)

[2020-05-01 13:08] ewsopp commented on #164
@planv can you test to ensure these fields are working as expected? It looks like this reported case was from a multisite install, so be sure to test that scenario as well.

[2020-05-01 13:39] planv commented on #164
@ewsopp Tested on multisite too. Works fine.

![image](https://user-images.githubusercontent.com/5268508/80809232-ebdc6b80-8bc9-11ea-8de1-d40671773c83.png)

One urgent moment - value of constant and bucket name must match exactly.

I updated Wiki, added `Be advised that the bucket name and domain name must match exactly, and HTTPS is not supported with a custom domain out of the box. `

[2020-05-01 14:08] ewsopp opened #482 "add new stateless mode and test compatibilites"
- [x] Add the new "Stateless" mode that does not use local storage at all.
- [x] Determine which compatibilities work and which compatibilities do NOT work with this new mode.

[2020-05-01 22:48] execash opened #483 "PHP Deprecated: implode(): Passing glue string after array is deprecated. Swap the parameters in /lib/Google/src/Google/Service/Resource.php on line 298"
Hi
Im getting this error while i import with wp all import. Whenever i upload images, import speed is so slow then i logged it and found this.

PHP Deprecated:  implode(): Passing glue string after array is deprecated. Swap the parameters in /var/www/html/wp-content/plugins/wp-stateless/lib/Google/src/Google/Service/Resource.php on line 298

Whenever i dont upload images while importing, import sp

[2020-05-01 22:49] execash commented on #483
I use Php 7.4.4 on openlitespeed web server on gcp.

[2020-05-02 01:24] #164 closed, assigned to ewsopp

[2020-05-02 07:55] YannickMol opened #484 "Image files are not deleted from server in Stateless mode"
Hi Team,

I have been using your plugin in Stateless mode. When uploading an image, Wordpress scales the image and generates all image sizes correctly. These are all correctly uploaded to Google Cloud.
However, the full size images remain on my server, how can this be fixed?

Regards,
Yannick

[2020-05-02 17:48] koganas commented on #436
Hi, this issue is happening in a multisite installation that i am working on.

I have 2 sites with the same settings. One in English, the other one in portuguese.
The english site is working fine. But in the portuguese version this problem started since the beginning of this month (may 2020).

All images uploaded are returning with a broken path as described:
`/5/2020/0latam-investimentos.jpg`
`/5

[2020-05-04 09:29] planv commented on #483
Hello execash

It was fixed with issue #444 . The fix will be included in the next release.

Thanks.

[2020-05-04 23:44] execash commented on #395
I assume that im dealing with the same issue. Whenever I installed wp-stateless first time, before activating & saving the setting of the stateless mode, i just ignored css js mimetypes. However i cant reach them at server and cloud storage. They dont exist.

[2020-05-05 00:04] #483 closed, assigned to nobody

[2020-05-05 01:36] execash opened #485 "elementor compatibility"
Hi guys

Whenever I installed wp-stateless first time, before activating & saving the setting of the stateless mode, i just ignored css mimetype. However i cant reach them at server or cloud storage. They dont exist. And now im unable to edit pages. However if i upload the css files manually over ftp, it gets deleted by plugin. Even with the manual upload, im not able to use edit function of eleme

[2020-05-06 20:38] ewsopp opened #486 "compatibility for Google App Engine"
With the recent changes to the _Stateless_ mode (https://github.com/wpCloud/wp-stateless/issues/482), we can now add proper support for Google App Engine.

- [x] develop the logic required for WP-Stateless and WordPress to work correctly on Google App Engine.
- [x] add control to Compatibility tab to enable this logic.
  - title: `Google App Engine`
  - description: `Ensures compatibility between

[2020-05-08 06:05] execash opened #487 "litespeed cache php fatal error"
[08-May-2020 05:59:34 UTC] PHP Fatal error:  Uncaught Error: Class 'LiteSpeed_Cache' not found in /var/www/html/wp-content/plugins/wp-stateless/lib/classes/compatibility/lite-speed-cache.php:84
Stack trace:
#0 /var/www/html/wp-includes/class-wp-hook.php(287): wpCloud\StatelessMedia\LSCacheWP->sync_image()
#1 /var/www/html/wp-includes/class-wp-hook.php(311): WP_Hook->apply_filters()
#2 /var/www/htm

[2020-05-08 23:44] koganas commented on #436
I've tested changing the bucket folder to a random name and the folder organization works fine. This might be a conflict when the bucket folder has the same number as the month.

[2020-05-10 14:34] joeyorlando commented on #486
Props to this. Your plugin is way more robust/feature-rich compared to the Google plugin.

Any estimated date of release for v3? Eagerly awaiting :)

[2020-05-11 17:39] ewsopp commented on #486
We don't have an estimate at this time.

We're looking for those interested in helping us with testing release candidates. If you're interested, please shoot me an email and I'll reach out when we're ready to test this feature. My email is `eric@udx.io`

[2020-05-12 11:13] planv commented on #482
@ewsopp With new "Stateless" mode I can't add files to `Bucket` root. It needs to have folder in `Bucket`.

So new field `Folder` shouldn't be empty for "Stateless" mode
![image](https://user-images.githubusercontent.com/5268508/81679011-9ec68800-945a-11ea-89ef-8aa5fb354bbc.png)

[2020-05-12 11:42] alimuzzaman commented on #481
@planv did you wrote a migration script for the renaming of the mode?

[2020-05-12 11:48] alimuzzaman commented on #482
![image](https://user-images.githubusercontent.com/6744156/81684059-751c5980-9478-11ea-9e7d-0ae453aa1476.png)

[2020-05-12 11:54] planv commented on #482
Yes, compatibility with Imagify not working on `Stateless` mode.
Imagify add mediafiles to local server

[2020-05-12 11:56] planv commented on #481
@alimuzzaman Yes

[2020-05-12 12:07] planv commented on #482
# Review compatibility with "Stateless" mode

- [x] Advanced Custom Fields Image Crop Addon   - not working
- [x] BuddyBoss   - not working
- [x] BuddyPress   - not working
- [x] Divi   - working, compatibility only for filename and cache busting
- [x] Dynamic Image Support   - working
- [x] Easy Digital Downloads   - not working
- [x] Elementor Page Builder   - working
- [x] EWWW Image Optimizer

[2020-05-12 19:24] Nks opened #488 "Unable to use wp cli media regenerate in stateless mode"
If we will try to run command with [wp cli](https://wp-cli.org/) `wp media regenerate --skip-delete --yes` to sync missing media to the server (instead of using sync option provided by plugin) it will cause the fatal error.

[code]

As wp-cli is a part of the wordpress I think it should works without fatal error.

Here the part from Media_Command.php (row 828):

[code]

[2020-05-12 22:38] ewsopp commented on #482
Should we just default to the standard Wordpress organization scheme?

[2020-05-13 09:44] planv commented on #482
Yes, we can use our predefined values for Single site and for Multisite by default.

[2020-05-14 09:17] crying2812 opened #489 "Error when uploading large file using media_handle_upload()"
Hi guys
My website has different layout to upload their file, and i'm using media_handle_upload() to handle that. The large file upload via media page is still good. I dont know what happend, can someone help me solve this. Here is my code to handle the uploaded file.

[code]

[2020-05-15 11:32] zoar22 opened #490 "Photo Gallery Plugin Compatibility"
It would be great if you could create 3rd party compatibility with the Photo Gallery Plugin. https://wordpress.org/plugins/photo-gallery/
Our galleries were placed in a custom folder (and named subfolders for each gallery) to keep them separate and better organized from the standard Wordpress images.  Problem is that we cannot offload the 1500+ galleries and over 25GBs of data using Stateless. Thi

[2020-05-15 12:03] planv commented on #482
@ewsopp I added predefined value for field `Folder` on `Stateless mode`.
Also I added notice, maybe need to change text on it?
<img width="1499" alt="изображение" src="https://user-images.githubusercontent.com/5268508/82048267-0b40c180-96bd-11ea-83f7-e37d5febdfc1.png">

[2020-05-15 13:42] planv commented on #482
@ewsopp

I have checked compatibilities with new mode. Most of them are working.
List of compatibilities with comments - https://github.com/wpCloud/wp-stateless/issues/482#issuecomment-627301779

[2020-05-15 18:07] razantes555 opened #491 "incompatibility with Litespeed ( again )"
I just spoke with Litespeed support and they helped me allot to figure out many things. It's seems wp-stateless have some issues with last version of the litespeed cache.
``( ! ) Fatal error: Uncaught Error: Class 'LiteSpeed_Cache' not found in /var/www/html/wp-content/plugins/wp-stateless/lib/classes/compatibility/lite-speed-cache.php on line 84
( ! ) Error: Class 'LiteSpeed_Cache' not found in /

[2020-05-17 21:51] JuanxCursed commented on #181
+1 I'm trying the same thing.
Since the file is served (or even converted) to WebP, the plugin should upload the webp file on storage as well

[2020-05-18 13:00] alimuzzaman commented on #481
@ewsopp can we add `Previously known as Stateless` or something similar in front of **ephemeral**?

Users may get confused.

[2020-05-18 13:23] #403 closed, assigned to alimuzzaman

[2020-05-19 12:19] planv commented on #482
@ewsopp

Should we disable and hide from list compatibilities which not working on `Stateless` mode?

[2020-05-19 13:48] ewsopp commented on #482
I don't think we should hide it. Lets disable it, similar to how we treat compatibilities that are disabled when the related plugin is not active.

![image](https://user-images.githubusercontent.com/5578537/82334112-86ec8800-99b5-11ea-973e-992cf763a4ec.png)

We probably should also add the following message:

# Mockup

![image](https://user-images.githubusercontent.com/5578537/82334319-cd41e700-99

[2020-05-19 21:56] planv commented on #482
Done.

![image](https://user-images.githubusercontent.com/5268508/82382429-96f77c80-9a34-11ea-8e1e-2dc1af3cb6e4.png)

[2020-05-20 14:16] planv commented on #478
Checked, works fine

[2020-05-20 14:16] #478 closed, assigned to planv

[2020-05-20 15:09] dodiiriyanto opened #492 "File URL Replacement does not worked"
Hi,

I've updated WP-Stateless 2.3.2 in WP 5.4.1. But for some reason File URL Replacement seems no longer worked. I have excluded PDF as supported file types, but the GCS still to add generated number before file name.

I have even disabled File URL Replacement, but generated code still appear before file name.

Could you please advice?

Thanks,
Dd

[2020-05-21 08:04] planv commented on #487
Related issue #491

[2020-05-21 08:41] alimuzzaman opened #493 "wp_stateless_file_name filter"
The `wp_stateless_file_name`  filter has been changed by changes made for  #149.

Previously it was used to:

1. Get gs name from the local file path (relative or absolute).
2. Get a local file path (relative to upload dir) from the GCS URL.

Now due to changes made by #149:

1. We can get a gs name from the local file path (relative or absolute).

But we can't convert a GCS URL to local file path

[2020-05-21 09:03] planv commented on #487
Fixed on issue #491

[2020-05-21 09:03] #487 closed, assigned to nobody

[2020-05-21 09:03] planv commented on #491
Fixed

[2020-05-21 13:22] planv commented on #493
Also, in this case we will return to using WP core setting `Organize my uploads into month- and year-based folders` on GCS path.

[2020-05-22 09:27] razantes555 commented on #491
I don't know if worked before ... but somehow seems imagify & shortpixels also ain't working & playing nicely with wp-stateless plugin, in short similar errors as with the litespeed setup the plugins don't have access to save thumbnail & optimized imaged back to where they are supposed to put them ( in stateless mode )

[2020-05-22 17:54] antonkorotkov opened #494 "[Wizard 2.0] Revise existing REST API that plugin adds"
Since we are going to add new endpoints we need to revise what we have now and make sure we need it and if it works at all. Maybe fix some if the endpoint makes sense.

The second part of this issue is to make sure everything is ready for adding new endpoints. Basically, make sure the API is scalable/flexible/extendable.

[2020-05-22 17:58] antonkorotkov opened #495 "[Wizard 2.0] Methods to generate and verify JWT tokens"
For the new wizard stuff we need a way to sign requests.
For this, we agreed to use JWT. https://jwt.io/

Create internal methods to:

- [x] generate JWT token (the more parameters to use - the better)
- [x] verify JWT token that was generated earlier

[2020-05-22 18:01] antonkorotkov opened #496 "[Wizard 2.0] Add REST API method to save settings"
After the Setup Wizard is done it needs to save settings. This API endpoint is going to handle that.

Some important things to consider: https://docs.google.com/document/d/1sHRo_SSRql15W-7iGNvZh09fwJLRoe99kQhwqAysytQ/edit?ts=5ec6a228#heading=h.nn4pj4m34x2x

[2020-05-22 18:01] antonkorotkov opened #497 "[Wizard 2.0] Add REST API method to get the configuration"
This is a low priority since we may not need this type of endpoint.

[2020-05-25 07:52] antonkorotkov opened #498 "[Wizard 2.0] Replace existing wizard with the new one"
Replace the existing setup wizard with the new IFRAME one.

[2020-05-25 13:10] planv commented on #493
@alimuzzaman I fixed it for `attachment_url_to_postid`. Please check my last commit.

I added new function `parse_root_dir_wildcards`, now we can retrieve `month` and `year` from path and use it on function `root_dir_wildcards` (I added third parameter for it).

[2020-05-25 13:10] #481 closed, assigned to alimuzzaman

[2020-05-25 13:12] planv commented on #493
Also we need to fix function `the_content_filter`

[2020-05-25 17:40] planv commented on #493
Function `the_content_filter` [fixed](https://github.com/wpCloud/wp-stateless/commit/87490b7289ae67c72ff128bee5b1abc902318a5d).

@alimuzzaman Problem which you describe is solved?

[2020-05-25 18:46] planv commented on #488
@Nks New functionality for sync media via CLI will be included in the next release.

[2020-05-26 11:25] alimuzzaman commented on #493
@ewsopp What do you think if we remove `%date_year%`  and `%date_month%`?

The current solution works but not as solid as before.

@planv have solved some problems it caused but can't be sure there won't be more problems.

[2020-05-26 11:25] alimuzzaman commented on #482
Working fine.

[2020-05-26 11:25] #482 closed, assigned to alimuzzaman

[2020-05-26 17:43] alimuzzaman commented on #493
@ewsopp already removed it.

Is this ok?
![image](https://user-images.githubusercontent.com/6744156/83412822-9bf8fa80-a43c-11ea-98ba-f4c19f550488.png)

[2020-05-27 15:40] alimuzzaman commented on #491
Working fine now.

[2020-05-27 15:40] #491 closed, assigned to alimuzzaman

[2020-05-27 15:48] alimuzzaman commented on #486
Working fine.

[2020-05-27 15:48] #486 closed, assigned to alimuzzaman

[2020-05-28 13:49] ykawato commented on #453
I tried this plugin on multisite.
Unfortunately, the files were not saved under a blog_id folder, so all the files were in the same bucket. Hence, when I upload the same image from different blogs under the multisite, the file name will conflict, and I could not upload the latter one.

[2020-05-28 15:05] planv commented on #453
@ykawato

The fix will be included in the next release.

Before for prevent issue with same filenames you can enable option `Cache-Busting`

![image](https://user-images.githubusercontent.com/5268508/83158468-7eaaf000-a10d-11ea-9e0e-4adb77ad7602.png)

[2020-06-01 14:30] koganas commented on #436
Updates about this issue:
Now that we are in June (month 6), my english version started with this same broken path issue (bucket folder `/6/`). The portuguese version is working fine with bucket folder `/5/`.

So i still think this is a conflict when the bucket folder has the same number as the month.

[2020-06-01 15:10] antonkorotkov commented on #498
This is what it is going to look similar to:

![image](https://user-images.githubusercontent.com/2276882/83423045-1ae93580-a433-11ea-8f3d-5ac88533a1a8.png)

I use GitHub Pages URL for now.

[2020-06-02 07:53] antonkorotkov commented on #498
I found a very weird issue with the wp menu on mobile. As soon as iframe tag appears in WP admin page menu does not show up anymore. Investigating.

[2020-06-03 08:52] antonkorotkov commented on #495
This is done

[2020-06-03 08:52] #495 closed, assigned to antonkorotkov

[2020-06-03 08:52] antonkorotkov commented on #494
This is done

[2020-06-03 08:52] #494 closed, assigned to antonkorotkov

[2020-06-03 16:24] alimuzzaman opened #500 "Compatibility for Gravity Forms Signature Add-On"

[2020-06-03 16:49] ewsopp opened #501 "add compatibility for Gravity Forms Signature Add-On"
- https://www.gravityforms.com/add-ons/signature/
- https://docs.gravityforms.com/category/signature-add-on/

Package this comaptibility as it's own compactibility that can be enabled/disbaled separate from the Gravity Forms compatibility.

[2020-06-03 16:57] #500 closed, assigned to alimuzzaman

[2020-06-03 20:25] ewsopp commented on #493
Where are the month and year tags?

[2020-06-03 20:39] #470 closed, assigned to alimuzzaman

[2020-06-03 20:40] #268 closed, assigned to alimuzzaman

[2020-06-03 20:40] #471 closed, assigned to alimuzzaman

[2020-06-03 20:44] ewsopp commented on #501
@alimuzzaman this should have it's own compatibility control within the settings panel and constant.

- [x] constant: `WP_STATELESS_COMPATIBILITY_GF_SIG`
- [x] control title: `Gravity Forms Signature Add-On`
- [x] control description: `Enables support for signature images generated by the signature add-on for Gravity Forms.`

[2020-06-03 20:45] ewsopp opened #502 "sort all compatibilities alphabetically"
The list of compatibilities is getting long and sorting everything alphabetically can help users find what they're looking for faster.

[2020-06-03 21:12] alimuzzaman commented on #493
@ewsopp

We will get Y/M like before using `organization` settings like we used to do before.

Having Y/M tags create unnecessary problems. It breaks backward compatibility of `wp_stateless_file_name` filter.

This filter is responsible for converting the local URL to the GCS URL and vice versa.
With the new approach(Y/M tags) it mostly works but we can't make it 100% perfect like before.

If you

[2020-06-03 21:48] alimuzzaman commented on #501
@ewsopp completed.

[2020-06-03 21:49] #501 closed, assigned to alimuzzaman

[2020-06-04 09:07] planv commented on #502
Done

[2020-06-05 22:40] #502 closed, assigned to alimuzzaman

[2020-06-10 03:42] floatbeta opened #503 "Broke when I switched to Multisite."
Hi the plugin was working perfectly, but then I enabled Multisite and it no longer works.

I can't upload anything and none of the images or videos show up on the site anymore.

I Network activated it and it stopped working.
I disabled it and then enabled it on the main site, but it still doesn't work.

I am using nginx, php7.4.6-fpm and mysql 8.0.20,
my server has libav and ffmpeg installed, alon

[2020-06-10 09:46] lopesval commented on #453
Hello, is this multisite issue fixed? Does it maintain the same folder structure with a folder for each site named with block ID?

[2020-06-11 10:03] ngxson opened #504 "Compatibility problem with Litespeed v3.2"
Hello, I'm recently having issue with WP Stateless after having updated Litespeed plugin to v3.2

[code]

Seems like `LiteSpeed_Cache` and `LiteSpeed_Cache_Config` have been merged into [LiteSpeed/Base](https://github.com/litespeedtech/lscache_wp/blob/master/src/base.cls.php) since v3.0

[2020-06-11 10:17] planv commented on #504
Hello @ngxson

The fix will be included in the next release.
Fixed on issue [491](https://github.com/wpCloud/wp-stateless/issues/491).

[2020-06-11 10:25] planv commented on #453
Hello @lopesval

In the next release will be added the ability to use `wildcards` for field `Folder`.
This will make it possible to use the `blog ID` in the path structure

![изображение](https://user-images.githubusercontent.com/5268508/84374357-8d51d680-abe6-11ea-92e4-5ba1ed35c64f.png)

[2020-06-11 12:48] lopesval commented on #453
Wow great🙏🏾 thank you

[2020-06-11 16:26] ngxson commented on #504
Good to know that. Thank you!

[2020-06-11 16:26] #504 closed, assigned to nobody

[2020-06-12 22:49] floatbeta commented on #503
Debug Output

Deprecated: implode(): Passing glue string after array is deprecated. Swap the parameters in /var/www/rocketstack/wp-content/plugins/wp-stateless/lib/Google/src/Google/Service/Resource.php on line 298

Deprecated: implode(): Passing glue string after array is deprecated. Swap the parameters in /var/www/rocketstack/wp-content/plugins/wp-stateless/lib/Google/src/Google/Service/Resource

[2020-06-15 08:34] planv commented on #503
Hello @floatbeta

The fix will be included in the next release.
Fixed on issue [446](https://github.com/wpCloud/wp-stateless/issues/446).

[2020-06-16 14:42] antonkorotkov commented on #496
this is done

[2020-06-16 14:42] #496 closed, assigned to antonkorotkov

[2020-06-17 02:32] ewsopp commented on #493
What if we replicate the logic for generating the current year and current month? Rather than using WordPress to generate these pieces for us, could we generate them ourselves to get it to work?

`%year%` and `%month%` could be separate tags and the webmaster can place them in the same format that WordPress does. ex: `/sites/%site_id%/%year%/%month%/`

[2020-06-17 02:50] alimuzzaman commented on #493
@ewsopp yes, that's similar to what @planv had done.

But that can cause some unforseen problems in future. Though @planv had solved some of the problems.

~~If you want we can just revert back to Y/M and try to solve problems when they arrives.~~

[2020-06-17 11:51] ewsopp commented on #493
@alimuzzaman in [your original comment](https://github.com/wpCloud/wp-stateless/issues/493#issue-622346504) on this issue, you mention that this method _will fail in some cases_. Can you give us some specific examples?

[2020-06-17 13:25] alimuzzaman commented on #493
I am talking in the context of @planv implementation.

1. Can we get a local path with GCS URL without attachment ID?

Now we can just remove `https://storage.googleapis.com/udx-ci-develop-alim/{{Bucket Folder}}`

How do we get the local path from GCS URL if you have Y/M in the wildcard?

[2020-06-17 13:35] alimuzzaman commented on #493
Ex.
Users have Organization enabled, but don't have Y/M in Bucket `Folder` option.
I don't see any way to get the local path in this case.

[2020-06-17 13:39] planv commented on #493
We can [retrieve](https://github.com/wpCloud/wp-stateless/issues/493#issuecomment-633565040) `year` and `month` from GCS URL.

if we have URL `https://storage.googleapis.com/stateless-udx-ci-develop-vova/custom_folder/2020/06/4343-1-300x225.jpg`
We can retrieve 2020 and 06 from this URL and use it for local path `/2020/06/4343-1-300x225.jpg`

But in case if user has enabled `Organize my uploads in

[2020-06-17 13:40] alimuzzaman commented on #493
@planv if you don't have Y/M in Bucket Folder option?

I think you have done it already.

Not sure how we can enforce that.

[2020-06-17 13:43] planv commented on #493
@alimuzzaman Field `Bucket Folder` must be consistent with option `Organize my uploads into month- and year-based folders`

[2020-06-17 13:52] planv commented on #493
Yes, it is already done.

We can make these tags required if Organization is enabled. And add notice for clients.
So if Organization is enabled - client can't remove these tags from Folder Bucket.

[2020-06-17 14:25] ewsopp commented on #493
Can we disable the `Organize my uploads into month- and year-based folders` option entirely? Disable it and direct user to configure the setting within WP-Stateless settings area.

[2020-06-17 15:05] planv commented on #493
@ewsopp

`Organize my uploads into month- and year-based folders` applies only for local path, and `Bucket Folder` applies for GCS path. It is not solving problem. The issue not in this option.

We must have this option available because it is Core functionality.
In case if it is enabled we need to force using `%year%` and `%month%` tags and this will solve problem.
So we have 2 options - we are d

[2020-06-17 15:24] alimuzzaman commented on #493
If you want to force then my idea of combining them into one is a good idea.
https://github.com/wpCloud/wp-stateless/issues/493#issuecomment-638464764

[2020-06-17 17:04] ewsopp commented on #493
If we have a single `%date_year%/%date_month%` tag, we could easily map it to the core `Organize my uploads into month- and year-based folders` setting, correct?

[2020-06-17 22:01] alimuzzaman commented on #493
Yes, it will be as postfix.

[2020-06-17 22:27] ewsopp commented on #493
`%date_year%/%date_month%` would have to be added to the end?

[2020-06-17 23:26] alimuzzaman commented on #493
Yes

[2020-06-18 01:00] ewsopp commented on #493
To recap:

1. combine `%date_year%` and `%date_month%` into a single tag: `%date_year%/%date_month%`
2. map the `%date_year%/%date_month%` tag to the core `Organize my uploads into month- and year-based folders` setting.
3. force the `%date_year%/%date_month%` tag at the end of the custom folder path.

@alimuzzaman is this correct?

@planv @antonkorotkov what do you both think of this?

[2020-06-18 01:04] alimuzzaman commented on #493
We don't need to force it. If the user has the **organization** enabled Y/M will be shown as postfix.

**Edit**:
It won't be added to the custom folder path, it will just look like it has been added.

[2020-06-18 08:29] planv commented on #493
#493 (comment)

No. We can use separated tags `%year%` and `%month%`.
If Organization is enabled - these both tags should be in Bucket Folder. It can be at the end, or at the beginning, doesn't matter.

[2020-06-18 08:35] planv commented on #493
Yes

Yes.

Yes. If user has enabled Organization and haven't tags `%year%` and `%month%` on Bucket Folder yet.

[2020-06-18 13:12] planv commented on #493
We can add checkbox ` Organize my uploads into month- and year-based folders` to our settings page, it will repeat WP core functionality (applies for local path), and also add/remove `/%year%/%month%/` from field Bucket Folder.

1. Not checked
![image](https://user-images.githubusercontent.com/5268508/85023761-d6bd9b00-b17d-11ea-8005-f5b1891c9fa0.png)

2. Checked
![image](https://user-images.githu

[2020-06-18 14:56] planv opened #506 "/"

[2020-06-18 14:59] #506 closed, assigned to nobody

[2020-06-18 15:13] planv commented on #492
Hello @dodiiriyanto

Did you try disable `Cache-Busting` ?

![image](https://user-images.githubusercontent.com/5268508/85038485-4ab46f00-b18f-11ea-93c9-d1b1960f0760.png)

[2020-06-22 15:32] christophwolff commented on #155
Why are the Storage Admin permissions needed? In our organisation this is a real security issue. What would be a workaround? Thank you

[2020-06-24 13:39] planv commented on #493
I added new select for field `Folder`.
Also combined tags `%date_year%` and `%date_month%` to tag `%date_year/date_month%`.
This tag map to the WP core setting ` Organize my uploads into month- and year-based folders `

![image](https://user-images.githubusercontent.com/5268508/85566079-6066e000-b638-11ea-995b-38cf605cc43a.png)

![image](https://user-images.githubusercontent.com/5268508/85566109-6

[2020-06-25 05:41] ewsopp commented on #493
Great work so far. Some suggestions for improvement...

- [x] remove the `x` remove icon from each tag, and simply allow the user to click the tag to remove it.
- [x] visualize the `/` as its own tag.

![image](https://user-images.githubusercontent.com/5578537/85661653-f7f22000-b684-11ea-8309-bf51dcc2cae2.png)

- [x] dashes should be accepted.

![image](https://user-images.githubusercontent.com/55

[2020-06-25 13:04] planv commented on #493
No.

Sure. We have validation for this field on server side.

[2020-06-25 15:16] liapotanin opened #508 "Integration of a static file deployment about plugins and themes from GCS"
The user of the plugin is asking about the possibility of integration of a static file deployment about plugins and themes from Google Cloud Storage.

[2020-06-25 22:22] ewsopp commented on #493
- [x] add a slash `/` to the open and close recipe for Single Site.

![image](https://user-images.githubusercontent.com/5578537/85800801-9b881280-b70f-11ea-824c-622463cf4289.png)

- [x] same with the Multisite recipe, and include slashes between each directory.

![image](https://user-images.githubusercontent.com/5578537/85800830-a93d9800-b70f-11ea-8380-09434feaa7fe.png)

- [x] styling - maybe we s

[2020-06-26 12:58] planv commented on #493
Done

![image](https://user-images.githubusercontent.com/5268508/85859406-ce8cdd80-b7c5-11ea-94e4-8a000c89b679.png)

[2020-06-29 11:55] antonkorotkov commented on #498
Testing here https://www-udx-ci-develop-anton.rabbit.ci/wp-admin/upload.php?page=stateless-setup

[2020-06-30 20:32] methnen opened #510 "Store data in table other than wp_postmeta?"
Curious about thoughts on this.

We're using this plugin on a site that's been around a long time and at various times had some pretty high content creation rates.

So we've got somewhere around 160,000+ and growing images in our media library.

Recently we had a small scale DDOS attack on the site and when that happened it brought some bottle necks to the surface (as these things often do).

One

[2020-07-01 15:31] ewsopp opened #511 "WooCommerce CSV Export"
ref https://wordpress.org/support/topic/woocommerce-csv-export-conflict/

[2020-07-01 19:42] jjtroberts opened #512 "Fatal Error on Guzzle dependency"
I just updated guzzle via composer:
guzzlehttp/guzzle (6.5.4 => 6.5.5)

Using WordPress 5.4.2, PHP 7.3 and wp-stateless 2.3.2

[code]

[2020-07-01 20:01] jjtroberts commented on #512
Please disregard as this was unrelated to wp-stateless. I was using spatie/crawler with dependencies unpinned, so it pulled in guzzle and few other updates that I think are related to:
https://github.com/guzzle/guzzle/pull/2678
https://github.com/guzzle/guzzle/issues/2579

I removed spatie/crawler and redeployed, site works fine.

[2020-07-01 20:01] #512 closed, assigned to nobody

[2020-07-03 06:24] christophwolff opened #513 "[2.4.0-RC.3] File URL Replacement after migrating a site from S3"
Hi,
i migrated a site from S3 and copied all files from the s3 bucket to the GCS Bucket. The Upload is working fine and all images are found, but all existing images that came from s3 and already had a DB entry have the local site URL. Wont wp-stateless rewrite those too? Do i have to do this with a nginx rewrite?

Thanks for your help.

[2020-07-03 08:37] christophwolff commented on #211
I have opend a related issue i think(https://github.com/wpCloud/wp-stateless/issues/513).
IMHO this is an important feature. Anyone any idea to solve this by hand?

[2020-07-06 19:07] seanhudson opened #514 "Cache Issue"
I'm getting the following errors with the plugin which breaks the entire site.

`Fatal error: Uncaught Error: Class 'Google\Auth\Cache\MemoryCacheItemPool' not found in /var/www/content.homesliceapp.com/public/wp-content/plugins/wp-stateless/lib/Google/src/Google/Client.php on line 1025`

`Error: Class 'Google\Auth\Cache\MemoryCacheItemPool' not found in /var/www/content.homesliceapp.com/public/wp

[2020-07-08 20:55] christophwolff commented on #513
ok i used a little helper plugin for the backend to replace all old links in the medalibrary.

// Rewrite URLs in Mediathek
[code]

then a search and replace in the database. hope this helps some. iam closing this issue

[2020-07-08 20:55] #513 closed, assigned to nobody

[2020-07-09 11:08] alexaung opened #515 "compatibility with Education WordPress Theme - Masterstudy"
I tried to offload media from kinsta to GCS. if mode is stateless, thumbnail on my home page are gone. If I change to CDN mode, it is working. I think they are dynamically generated by a theme. compatibility will be required to support the theme.
[https://themeforest.net/item/masterstudy-education-center-wordpress-theme/12170274](url)
[https://www.etakatho.com/](url)

[2020-07-10 07:42] welshlamb10 opened #516 "BuddyBoss"
Hi,

Great plugin! Does this work with BuddyBoss Platform?

Many thanks

[2020-07-23 22:47] ckeeney commented on #512
I ran into this, and I think it's because Guzzle 7 recently was released.  I'm not using `spatie/crawler`, but my `composer.lock` shows quite a few other plugins supporting Guzzle 7, and when that was installed it conflicted with the version of Guzzle committed in this repo.

Maybe this issue should be re-opened... Is there a way to reorganize this plugin so Guzzle is a dependency installed by com

[2020-07-24 01:43] JuanxCursed commented on #181
+1

[2020-07-25 06:17] deckchairlabs opened #518 "Can't get plugin to work correctly."
I've setup everything correctly. I'm having an issue with any mode that is supposed to be uploading the media to GCS.

In `stateless` mode the original file is being deleted? I'm assuming the original is deleted if it determines it was successfully uploaded to GCS, but the file is not in the bucket.

My local uploads directory, shows the resized images generated, but not the original file.
[code]

[2020-07-25 06:35] deckchairlabs commented on #518
Ugh, sorry, had the wrong bucket permssions!

[2020-07-25 06:35] #518 closed, assigned to nobody

[2020-07-25 14:59] AlexIacoban opened #519 "Litespeed Cache compatibility error"
Image optimization in Litespeed Cache does not work with WP Stateless. I get a fatal error when I "Pull images"

I have contacted Litespeed and their response was:
“Please contact WP stateless, the error is on their file, but I think it might be due to our v3 that changed some API, please attach this link (https://wordpress.org/support/topic/changes-to-api-and-cli/) to them as well.”

Fatal error:

[2020-07-27 08:27] planv commented on #519
Hello @AlexIacoban

The fix will be included in the next release.
Fixed on issue [491](https://github.com/wpCloud/wp-stateless/issues/491).

[2020-07-27 15:47] JuanxCursed commented on #357
Hi, unfortunately this is not working for me, I just have the original files uploaded, none of then has webp version.

Someone can provide me some assistance?

[2020-08-04 17:05] jeseph opened #520 "Hard to click button elements during sync."
When syncing a large media library the `.buttons` div gets continuously bounced below the ever-growing `#regenthumbs-debuglist` list. Moving the buttons div to precede the debug list would make interaction much easier.

[2020-08-05 13:40] planv commented on #516
Hello @AshleyBale

Yes, WP-Stateless has a compatibility with Buddy Boss.
Please go to compatibility tab to enable Buddy Boss compatibility.

![изображение](https://user-images.githubusercontent.com/5268508/89419474-10e8f900-d73a-11ea-8e48-86592ecddf9f.png)

![изображение](https://user-images.githubusercontent.com/5268508/89419651-47267880-d73a-11ea-83c5-3ae3bde7bd62.png)

[2020-08-05 13:54] vojkny opened #521 "Uploads to Bucket with Uniform access control silently fails"
Error description:

When bucket has "Uniform access control" set instead of "Fine grained", any uploads to this bucket will silently fail and everything will seem to be fine. However there will be nothing uploaded and the image will stay in the wp-content folder.

Unwanted result:

The person who uploads the image seems to think that the upload was succesful and even sees the uploaded image. Once

[2020-08-06 06:36] welshlamb10 commented on #516
Awesome!

[2020-08-06 06:36] #516 closed, assigned to nobody

[2020-08-06 06:40] welshlamb10 commented on #168
Is there any update on this? Does this plugin now offer private?

[2020-08-06 07:08] marratj commented on #168
@welshlamb10 I have hacked together a very rough prototype for this over a year ago (see my comment from above).

Have a look at the last two commits in my forked branch: https://github.com/marratj/wp-stateless/tree/private-gcs-urls

However, since I switched teams in the meanwhile I didn't do anything with WordPress or wp-stateless for over half a year already, so I cannot support on any further

[2020-08-06 07:19] welshlamb10 commented on #168
@marratj  - That's great, thank you for sharing. Hopefully, WP-Stateless add this.

[2020-08-16 11:03] thecodeassassin opened #522 "Permission notice error after upgrading to 5.5.0"
Hi,

The following message popped up after upgrading to 5.5.0

Notice: register_rest_route was called incorrectly. The REST API route definition for wp-stateless/v1/status is missing the required permission_callback argument. For REST API routes that are intended to be public, use __return_true as the permission callback. Please see Debugging in WordPress for more information. (This message was ad

[2020-08-17 14:35] planv commented on #522
Hello @thecodeassassin

The fix will be included in the next release.

[2020-08-18 13:31] alimuzzaman commented on #493
@planv @ewsopp
We should remove repetitive

![image](https://user-images.githubusercontent.com/6744156/90519113-705af600-e189-11ea-95f4-112882c2570e.png)

[2020-08-18 13:38] planv commented on #493
@alimuzzaman
You can remove tags by clicking on it. Or save form and `wrong` tags will be deleted automatically.

[2020-08-20 02:30] ewsopp opened #523 "rewrite sync"
Develop a synchronization process that does not require the user to keep the web browser open.

The synchronization process should provide a progress indicator. If the user can expand the progress indicator to see the details of what is happening, that would be a plus.

When the synchronization process is done, email a notice to the WordPress user who triggered the synchronization.

A synchronizat

[2020-08-20 15:02] nikmartin opened #525 "Fatal error running on App Engine"
I'm running wordpress on Google App Engine, latest wordpress and App Engine flexible runtime php 7.2. I'm using the 2.4.0 RC-4 release of the plugin.
After installing and configuring the plugin, the site crashes, and I get these errors in the app engine instance log:
[code]

[2020-08-20 15:08] planv commented on #525
Hello @nikmartin

Could you try version from `latest` branch please?

https://github.com/wpCloud/wp-stateless/archive/latest.zip

[2020-08-20 15:40] nikmartin commented on #525
OK, testing now

[2020-08-20 16:05] nikmartin commented on #525
same error, just slightly different line number:
2020-08-20 16:01:38 lifeirl[20200820t101557]  2020/08/20 16:01:38 [error] 10#10: *42 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught Error: Undefined class constant 'VERSION' in /app/wordpress/wp-content/plugins/wp-stateless/lib/Google/src/Google/Client.php:1110

[2020-08-20 16:33] cdp1337 commented on #521
..... WHAT THE SH...... well thank you kind sir, you may have saved me hours of debugging and troubleshooting.  It kept listing that the uploads were successful, but the bucket was mysteriously empty, I thought I was going crazy.

[2020-08-20 16:40] nikmartin commented on #525
Looks fixed in the latest Google SDK:
https://github.com/googleapis/google-api-php-client/blob/master/src/Google/Client.php#L1129

[2020-08-20 17:10] nikmartin commented on #525
Out of curiosity, why isn't the Google lib list as a regular dependency in composer.json, vs bundled into the source?

[2020-08-24 15:33] gfirem opened #526 "buddypress avatar are not upload to the correct place"
Hi, I'm using the stateless configuration and the avatars not get sync to the correct place when the user changes it.

GCP
![image](https://user-images.githubusercontent.com/11023116/91064617-dae6b880-e605-11ea-9236-689077529856.png)
Local
![image](https://user-images.githubusercontent.com/11023116/91064679-f5209680-e605-11ea-8fbc-6942109f38da.png)

The files in the root of the folder belong to on

[2020-08-28 12:24] antonkorotkov commented on #523
@ewsopp I don't think this should be a part of the 3.0.0 release. We are too late with it to add more huge features like this. This may delay the release by another month or so. Do we really want it in 3.0.0?

[2020-08-28 12:40] antonkorotkov commented on #523
This is what we are going to use for the background processing https://github.com/deliciousbrains/wp-background-processing

[2020-09-01 06:43] FlickTheManual opened #527 "Compatibility error with litespeed cache"
Hi there, I know it comes already, but it back :laughing:

I would to gathered some new image with the `Pull Image` button:

![image](https://user-images.githubusercontent.com/2384206/91810902-bf039800-ec3f-11ea-8c67-dd6c5c0eaeeb.png)

then get *fatal error* :skull:

I got some issue with the compatibility and litespeed cache: `Class 'LiteSpeed_Cache' not found in wp-stateless/lib/classes/compatib

[2020-09-01 06:52] FlickTheManual commented on #527
Update: If I remove the compatibility, it works

I got the same issue with compatibility on resync and optimized version with Litespeed cache.

With compatibility: ERROR :warning: :warning: :warning:
Without: no worry :smile:

[2020-09-01 08:22] planv commented on #527
Hello @FlickTheManual

The fix will be included in the next release.
Fixed on issue [491](https://github.com/wpCloud/wp-stateless/issues/491).

[2020-09-01 09:11] FlickTheManual commented on #527
hi @planv ok, I wait @ it so  :smile:
thanks for the support

[2020-09-01 12:07] antonkorotkov commented on #523
I'm investigating where we are now and how we will refactor the current sync function. And here is a bug as for me: when I enable `Use Bucket Folder setting` the Method radio is being unchecked.

![image](https://user-images.githubusercontent.com/2276882/91849252-6eeafc80-ec64-11ea-8730-16830edf4c65.png)

@planv any thoughts?

[2020-09-01 12:29] planv commented on #523
@antonkorotkov Yes, you are right. I'll fix it soon. Thanks

[2020-09-01 12:59] antonkorotkov commented on #523
@ewsopp I created a new branch for it. https://github.com/wpCloud/wp-stateless/tree/develop-sync

Regarding the functionality - as I understand we need to keep existing UI, controls and methods of synchronization but make it possible to close the browser. Correct?

We can remove `Bulk Size` option though.

[2020-09-01 13:04] ewsopp commented on #523
You can change anything. Make it great.

[2020-09-01 13:58] antonkorotkov commented on #523
Since we are going to install a composer package that may be used by other plugins we need to add it to our own namespace to prevent conflicts. This library suggests this package for this: https://packagist.org/packages/coenjacobs/mozart

I'm going to test if it works.

[2020-09-01 15:26] #498 closed, assigned to antonkorotkov

[2020-09-01 15:27] #497 closed, assigned to nobody

[2020-09-01 15:27] #477 closed, assigned to nobody

[2020-09-01 15:28] alimuzzaman opened #528 "Review bucket folder"
- The total length of file and folders is around 1000 char.
- Can include any char including Unicode.

[2020-09-01 15:34] ewsopp commented on #466
Should we just update the `Service Account JSON` field description?

to

![image](https://user-images.githubusercontent.com/5578537/91873337-e316a780-ec46-11ea-8014-35422a2af97e.png)

[2020-09-01 15:38] antonkorotkov commented on #466
I would do like this for now. We can do something more advanced later.

[2020-09-01 15:44] antonkorotkov opened #529 "update console iframe URL to production"
Currently, the plugin uses the `staging` URL for setup wizard. Before the release, we need to make sure the `iframe` is using the `production` URL of console.stateless.ci. As I can see we don't even host it yet.

[2020-09-02 07:40] #466 closed, assigned to antonkorotkov

[2020-09-02 07:49] antonkorotkov opened #530 "setup wizard on localhost"
Since the site needs to be publicly accessible for the wizard to work - should we add anything to the wizard or to the plugin that will warn users about it?

Currently, there is nothing that says that it will not work on `localhost`. Users will only notice that on the latest setup step and I'm not sure we show any error message about the fact that the wizard cannot reach the site.

@ewsopp

[2020-09-02 08:02] antonkorotkov commented on #529
I created a PR https://github.com/udx/console.stateless.ci/pull/81

@kavaribes I think you can help here. Can we make sure `console.stateless.ci` points to the `production` of `console-stateless-ci`?

[2020-09-02 08:17] antonkorotkov commented on #525
Because the lib needs to be namespaced to avoid conflicts with other plugins that may also be using the same lib.

[2020-09-02 08:28] antonkorotkov commented on #525
@planv let's try Mozart 0.6.0-beta-3 (https://github.com/coenjacobs/mozart) to namespace the lib after it is installed via Composer.

[2020-09-02 08:58] antonkorotkov commented on #530
As for me, it should be done on the wizard side on the very first step. Once the setup wizard is open it should check the status by doing the request to this endpoint https://api.stateless.ci/docs/#/WP%20v1/post_v1_wp_status
Depending on the response we should show a message that the wizard is not available (if not site is not accessible) or show the first setup step.

[2020-09-02 09:45] antonkorotkov commented on #530
Also, I don't think that we should allow users to access the console directly, at least right now.

[2020-09-02 12:17] antonkorotkov opened #531 "root dir vs. wildcard issue"
I think I've found an issue while testing the upgrading process.

Upgrading from `2.3.2`.

The `Bucket Folder` (root_dir) option is set to nothing and the `Organize` option is `enabled`.

![image](https://user-images.githubusercontent.com/2276882/91979019-c73a0100-ed2d-11ea-854a-81672bf96aa7.png)

![image](https://user-images.githubusercontent.com/2276882/91979086-e2a50c00-ed2d-11ea-8796-fd84799e4

[2020-09-02 12:38] antonkorotkov commented on #531
The same happens if `Bucket Folder` was set to `/`.

[2020-09-02 12:44] antonkorotkov commented on #531
This is what is happening when `Bucket Folder` was set to `test`.
UI looks correct:

![image](https://user-images.githubusercontent.com/2276882/91982346-c6579e00-ed32-11ea-9fc7-6b8c9a53f5ef.png)

But database option looks weird:

![image](https://user-images.githubusercontent.com/2276882/91982433-e7b88a00-ed32-11ea-8a86-bd40ebaa6ee3.png)

Basically, the date organization folders are duplicating.

[2020-09-02 12:54] kavaribes commented on #529
`console.stateless.ci` has just internal CNAME.
![image](https://user-images.githubusercontent.com/17166792/91983508-77126d00-ed34-11ea-8064-67bd8b25be44.png)

Where it should follows? To `console.stateless.ci`?
@antonkorotkov

[2020-09-02 13:01] kavaribes commented on #529
![image](https://user-images.githubusercontent.com/17166792/91986627-99f15100-ed35-11ea-8249-0379e48dcf22.png)

![image](https://user-images.githubusercontent.com/17166792/91986573-86de8100-ed35-11ea-8434-e925d89ca901.png)

[2020-09-02 13:02] antonkorotkov commented on #529
I don't know, we just need https://console.stateless.ci/ to show the `production` of https://github.com/udx/console.stateless.ci

Looks like you already did that. I see a 404 error there which is correct for now.

[2020-09-02 13:05] antonkorotkov commented on #529
I've merged `staging` to `production`. Looks like deployed successfully.  https://console.stateless.ci

![image](https://user-images.githubusercontent.com/2276882/91986993-1b48e380-ed36-11ea-9470-56703033e4c9.png)

Thanks @kavaribes

[2020-09-02 13:11] ewsopp commented on #530
If the situation arises, then we should display a message explaining why the console is not loading. We can point them to the manual setup instructions.

Something like...

What do you think?

[2020-09-02 13:26] antonkorotkov commented on #530
That makes sense. But I'm not sure about the appearance of that. I mean design. Anyways, I'll create an issue in udx/console.stateless.ci repository.

[2020-09-02 13:46] antonkorotkov commented on #530
Created an issue in corresponding repo https://github.com/udx/console.stateless.ci/issues/82

[2020-09-02 13:46] #530 closed, assigned to antonkorotkov, ewsopp

[2020-09-02 13:49] planv commented on #531
Fixed. Issue was related to version comparing `2.4` and `2.4.0-RC.3`. We need to use numeric version in codebase.
@alimuzzaman  FYI ^

[2020-09-02 13:50] antonkorotkov commented on #531
Ok, thanks, I'm going to test it today again

[2020-09-02 14:09] planv commented on #523
@antonkorotkov

https://github.com/wpCloud/wp-stateless/issues/523#issuecomment-684804549

Fixed.

[2020-09-02 14:24] antonkorotkov commented on #529
Now I get the following error when trying to login with Google:

It means the production domain is not added to the App. Going to do this.

[2020-09-02 14:35] antonkorotkov commented on #529
We need to complete this info and submit the app for review https://console.developers.google.com/apis/credentials/consent/edit?authuser=1&project=usability-dynamics&duration=P1D

![image](https://user-images.githubusercontent.com/2276882/91997339-a9c36200-ed42-11ea-8810-622fdf550ba5.png)

[2020-09-02 15:21] antonkorotkov commented on #529
@ewsopp in order to submit the app for approval we need to submit this form. Do you want me to do it or you want this under your control?

![image](https://user-images.githubusercontent.com/2276882/92002810-f1e58300-ed48-11ea-883d-5430f7aff01b.png)

[2020-09-02 15:35] antonkorotkov commented on #531
Works for me now

[2020-09-02 15:35] #531 closed, assigned to antonkorotkov, planv

[2020-09-02 16:27] ewsopp opened #534 "network setting - folder override is not respected at site level"
In the below screenshots, the network settings has the `Folder` setting configured. This configuration is not respected at the individual network site level.

# Network Setting - Folder

The folder setting is configured to override the individual site setting.

![image](https://user-images.githubusercontent.com/5578537/92010006-4708a100-ed17-11ea-829c-589cef947b79.png)

# Site - Folder

The folder

[2020-09-02 17:26] alimuzzaman commented on #493
`%date_year/date_month%` placeholder is always returning the current Y/M.

[2020-09-02 17:32] planv commented on #493
@alimuzzaman

We retrieve `year` and `month` from received path.
https://github.com/wpCloud/wp-stateless/blob/latest/lib/classes/class-bootstrap.php#L875-L879

So if we have year and month in path - we will use it instead current year and month.

[2020-09-03 15:20] antonkorotkov commented on #529
@kavaribes I need your help again. I need my branch domain https://console-stateless-ci-develop-anton.rabbit.ci/ to work. I created a branch in https://github.com/udx/console.stateless.ci but not sure what else needs to be done. I see 502 error now.

[2020-09-04 07:32] antonkorotkov commented on #529
@ewsopp I just realized that we can leave OAuth app as is for now. Since wizard is hosted separately we can change it later when it is approved. The approval can take several weeks.

Closing the issue.

[2020-09-04 07:32] #529 closed, assigned to antonkorotkov

[2020-09-04 07:34] antonkorotkov commented on #534
I'm going to test this.

[2020-09-04 08:14] msulaimanmisri opened #536 "Elementor CSS file not show after finish setup wp-stateless"
Hello there developers. Do you have any idea how to fix my website that broken after installing wp-stateless? This plugin is great. But the thing is I can't use it with Elementor (basic and Pro).

[2020-09-04 08:18] antonkorotkov commented on #534
It works. Also tested the actual process of uploading media on multisite. All works.

![image](https://user-images.githubusercontent.com/2276882/92216951-adb8c680-ee9f-11ea-9554-cd1b91e22f24.png)

![image](https://user-images.githubusercontent.com/2276882/92217394-52d39f00-eea0-11ea-903a-bdffc83b04d8.png)

[2020-09-04 08:18] #534 closed, assigned to antonkorotkov, alimuzzaman

[2020-09-04 08:20] #522 closed, assigned to planv

[2020-09-04 08:27] antonkorotkov commented on #361
I'm going to work on this. The wiki and github site is still not updated.

[2020-09-04 08:41] antonkorotkov commented on #361
Done

[2020-09-04 08:41] #361 closed, assigned to antonkorotkov

[2020-09-04 14:51] antonkorotkov commented on #525
Ok, mozart does not work properly with PSR-0 which is used in Google API Client. Looks like need to do this manually again.

[2020-09-06 22:08] ctzkane commented on #456
I just experienced this issue. My problem was that there was a stale 'sm::is_connected_to_gs' transient (probably from syncing the dev database back from prod)

Deleting the transient from wp_cli fixed the issue for me.

[2020-09-07 08:20] antonkorotkov commented on #525
The lib has been updated but there are still some fixes that I need to do in order things to work as before. Working on it.

[2020-09-07 09:27] antonkorotkov commented on #525
This is under testing now.

[2020-09-07 11:56] antonkorotkov commented on #525
Hey @nikmartin

If you are still available and interested, can you please try the version from `latest` again?

Thanks

[2020-09-07 12:29] alimuzzaman commented on #456
@ctzkane saving the settings has the same effect.

[2020-09-07 13:23] antonkorotkov opened #539 "Review migration again."
Make sure upgrade to 3.0 is safe.

[2020-09-07 13:34] ewsopp commented on #493
@planv @antonkorotkov could either of you review the recent updates here? Close out if satisfactory.

[2020-09-07 14:54] nikmartin commented on #525
I sure will.

Regards,

Nik

sent from my mobile, please excuse typos and brevity

On Mon, Sep 7, 2020, 06:56 Anton <notifications@github.com> wrote:

--

[2020-09-08 12:27] FlickTheManual commented on #527
hi @planv I've got another strange issue, so I make it here to throw this problem:

I use the litespeed cdn with quic.cloud, and use it for images optimization (compression + webp)
all my images are in wp-upload, but not in the storage (i use the `stateless` settings)

I don't know if this issue comes from wp-stateless or litespeed-cache, so i push this here ;)

thanks for the review

[2020-09-08 12:41] #493 closed, assigned to antonkorotkov, planv

[2020-09-08 15:25] antonkorotkov commented on #539
We have tested it on several environments including multisite. Some issues were found and fixed.

[2020-09-08 15:31] antonkorotkov commented on #525
@nikmartin we are planning to release the 3.0 tomorrow. Let us know if you were able to test it. Thanks.

[2020-09-09 11:20] #539 closed, assigned to antonkorotkov

[2020-09-09 11:22] #525 closed, assigned to antonkorotkov, planv

[2020-09-09 11:42] antonkorotkov commented on #536
Have you enabled Elementor support in the Compatibility tab?

[2020-09-09 11:45] antonkorotkov commented on #514
If you are using git ignore then check if you are ignoring the `Cache` folders. If so, then make it so that it does not ignore the following path: `wp-content/plugins/wp-stateless-new/lib/Google/vendor/google/auth/src/Cache`

[2020-09-09 11:48] msulaimanmisri commented on #536
Yeah, I've enable and disable it many times. But nothing happens 🤔

On Wed, Sep 9, 2020, 7:42 PM Anton <notifications@github.com> wrote:

[2020-09-09 13:47] ewsopp opened #543 "prepare 3.0 release notes"

[2020-09-09 15:39] #543 closed, assigned to ewsopp

[2020-09-10 01:06] johnabelardom commented on #525
Hello, version 3.0 works fine now on Google App Engine. Had tested it a couple minutes ago. Works on local too

[2020-09-10 11:13] FlickTheManual commented on #527
hi @planv , just testing the new version
it seems to be worked, :+1:
I monitor this version upload process and throw if I show new problems

nice job :clap: :clap: :clap:

try it for the webp replacement from lscache too, if you mind where this hang, up to me :)

[2020-09-10 19:33] thecodeassassin opened #544 "File paths not correct after upgrade to 3.0"
File URLs are wrong since we upgraded to 3.0.

The "File url" when adding images from the media library it loads the local path (wp-content)

What we expect is the File URL to be equal to WP_STATELESS_MEDIA_CUSTOM_DOMAIN.

This is not at all the case.

When we reverted back to 2.3.2 it works fine.

Screenshot of the wrong URL using 3.0:
http://tca0.nl/YdS

When using 2.3.2:
http://tca0.nl/PaZ

[2020-09-10 20:07] thecodeassassin opened #545 "Compatibility with wp media folders"
We want to be able to organise our uploads with WP media folders or a similar plugin.

Is there already a way of making this compatible, or is there a plugin that's already compatible?

[2020-09-10 22:27] MikeMcTiernan opened #546 "Breaking change in 3.0 causes errors when running from wp-cli docker container"
In 3.0, it appears that the method within bootstrap that initiates the `Google\Cloud\Storage\StorageClient` instance was changed so that it returns a null value if the `key_json` setting isn't set, whereas previously, the method would still set and return a client if the setting wasn't present. This change breaks tools that are run from docker containers, such as those based on the [official `word

[2020-09-11 06:44] FlickTheManual commented on #527
hi @planv,

storytime! :rofl:

how did it work the `Ephemeral` with ls-cache please?

I see that with their CDN (quic.cloud), the webp is finally return in the good folder,
but theses images are saved in the `uploads` folder only, and not go to the Google Storage correctly.

none of theses optimized images nor their webp version got to the GS, and did hurt the website.

also I haven't got a lot of

[2020-09-11 18:31] tripledm commented on #545
the plugin allows you to modify the path so yes it is there you can set it up to store exactly like it does with WP media folders

[2020-09-11 18:32] tripledm opened #547 "Post-processing of the image failed"
New errors that started today and no other plugins update and also not the theme or any other parts.

When viewing media library via WP Admin I can see initial list, I cannot search and when I upload an image I get the below error:

Post-processing of the image failed likely because the server is busy or does not have enough resources. Uploading a smaller image may help. Suggested maximum size is

[2020-09-11 19:36] thecodeassassin commented on #545
That's not what I mean. We need to be able to create folders to organize our uploads. Not just change the upload folder.

[2020-09-14 10:34] mjezegou opened #548 "Problem with version 3.0 with attachment_url_to_postid and WP_Customize_Image_Control"
Hello, I'm having trouble in Ephemeral mode ans m, the attachment_url_to_postid function and WP_Customize_Image_Control classe doesn't return anything to me.
I am multisite (network) with a folder 'custom'.

[2020-09-14 12:09] mjezegou commented on #548
By regenerating the transients like this the image reappears :

global $wpdb;
    $query = "SELECT post_id FROM $wpdb->postmeta WHERE meta_key = 'sm_cloud' AND meta_value LIKE '%s'";
    $post_id = $wpdb->get_var( $wpdb->prepare( $query, '%' . $url . '%' ) );
    if($post_id){
	    set_transient("stateless_url_to_postid_" . md5($url), $post_id);
    }

[2020-09-14 12:10] mjezegou commented on #548
Do we have to regenerate all the transients? By what means?
I tried to regenerate the images through the interface but without success

[2020-09-14 16:02] planv opened #549 "[3.0] Currently configured via Network Settings"
litemotiv
(@litemotiv)
22 hours, 49 minutes ago
I just upgraded a multisite installation to v3.0 and i notice that the folder/root-dir setting now shows the text:
“Currently configured via Network Settings”
The installation is on a multisite but is activated on a few single blogs so not activated network-wide. How can i change this setting per blog like with the old version of the plugin?
Currentl

[2020-09-15 07:01] FlickTheManual opened #550 "[Suggestion] adding files synchronizing purpose"
Hi there :raised_hand_with_fingers_splayed:

superb plugin, yes I know, I say it often.

here are some suggestions I'll add for synchronization:

- process boundary
- detailed logging (with an option for logs)
- put the mass synchronization process in the background
- How about a beer?

### Put a process limit for sync in the sync tab.

The goal would be to test with this limit the synchronization

[2020-09-15 11:59] antonkorotkov commented on #523
I think we can show something like Processed *X* out of *Y* but showing a detailed log of what happened will be a problem, especially, for large amounts of media, because this information needs to be stored somewhere.

[2020-09-15 12:53] antonkorotkov commented on #546
@MikeMcTiernan investigating

[2020-09-15 14:11] antonkorotkov commented on #547
related https://wordpress.org/support/topic/admin-ajax-php-errors-cannot-upload-or-search-media-library/

[2020-09-15 14:24] antonkorotkov commented on #548
@mjezegou not sure what is your problem for now but can you try the following:

Add this to you `wp-config.php`:

[code]

[2020-09-15 14:28] antonkorotkov commented on #544
Does it happen on a multisite or single-site installation?

[2020-09-15 15:05] mjezegou commented on #548
Thanks, I am testing this

[2020-09-15 15:11] antonkorotkov commented on #546
@MikeMcTiernan this has been fixed in 3.0.1. Please, try upgrading.

[2020-09-15 15:11] #546 closed, assigned to antonkorotkov

[2020-09-15 15:31] walle89 commented on #544
I have the same issue. It's a multisite setup with subdir config.

[2020-09-15 15:37] thecodeassassin commented on #544
Single-site installation.

[2020-09-16 08:46] antonkorotkov opened #553 "Uploading by chunks refactoring"
This approach potentially breaks uploading function on some installations:

https://github.com/udx/wp-stateless/commit/18dd668184dd48e09c371831a3fa99f698f3f293#diff-d4df0d37ced3953a0c6983e39888b22a

refs.
- https://wordpress.org/support/topic/error-after-updating-29/
- https://wordpress.org/support/topic/admin-ajax-php-errors-cannot-upload-or-search-media-library/

Need to refactor it so that it o

[2020-09-16 09:09] antonkorotkov commented on #553
Related https://github.com/udx/wp-stateless/issues/547

[2020-09-16 10:12] antonkorotkov commented on #549
This is related to an issue in upgrader. https://github.com/wpCloud/wp-stateless/blob/245d4f4a8e59c0ae1a01b709faff46ddba17e99f/lib/classes/class-upgrader.php#L19

Going to fix it in terms of 3.0.2 release.

[2020-09-16 14:34] #553 closed, assigned to antonkorotkov

[2020-09-16 14:35] antonkorotkov commented on #549
fixed

[2020-09-16 14:35] #549 closed, assigned to antonkorotkov

[2020-09-16 14:35] antonkorotkov commented on #547
should be fixed by #553

[2020-09-16 14:35] #547 closed, assigned to nobody

[2020-09-16 14:41] antonkorotkov commented on #544
Can you guys try upgrading to 3.0.2?

[2020-09-16 14:49] antonkorotkov commented on #550
Hey @FlickTheManual

in terms of this issue #523 we are working on a completely new way to sync media. It is going to be a background process. And we will try to consider your other suggestions as well.

[2020-09-16 14:49] #550 closed, assigned to nobody

[2020-09-16 19:09] walle89 commented on #544
Nope, the bug is still there. Also I got this error on the meta page:

[2020-09-16 19:19] thecodeassassin commented on #544
Confirmed, bug is still there.

[2020-09-17 06:46] antonkorotkov commented on #544
- Do you set the domain name exactly using the constant `WP_STATELESS_MEDIA_CUSTOM_DOMAIN`?
- Is the Bucket Name the same as the Custom Domain?
- What Mode is enabled?

[2020-09-17 07:09] thecodeassassin commented on #544
1. No, also not sure what you mean by this. I assume you mean if the domain serving the assets is the same as wordpress. In case you meant that, no.
2. No
3. Stateless

[2020-09-17 07:22] walle89 commented on #544
1. No, we don't use CANME with our buckets.
1. No
1. Stateless

[2020-09-17 08:55] antonkorotkov commented on #544
@thecodeassassin I assume the image is loading from your configured remote path but in the `File URL` field you see the wrong URL displayed. And there is no such file locally (since you are on `stateless` mode). Is that all correct?

[2020-09-17 09:15] thecodeassassin commented on #544
@antonkorotkov that is exactly correct

[2020-09-17 11:13] antonkorotkov commented on #544
The issue has been replicated and will be fixed today in 3.0.3 release. Thanks for your patience and contribution.

[2020-09-17 11:55] antonkorotkov commented on #545
We don't have any specific compatibility developed for this plugin. You can just try it and if it does not work - create an issue describing what exactly the problem is. We will try to take a look at it and provide you with the following steps.

[2020-09-17 11:58] antonkorotkov commented on #536
Can you provide the specific steps to reproduce your problem?

Plugins and WordPress versions, modes, and features that you use and everything that could help us. Thanks.

[2020-09-17 13:11] antonkorotkov commented on #544
@thecodeassassin please, try upgrading to 3.0.3

[2020-09-17 19:09] walle89 commented on #544
It's working for me in my development environment. Thank you for the quick fix!

[2020-09-18 06:32] #544 closed, assigned to antonkorotkov

[2020-09-21 08:43] planv commented on #519
This has been fixed in 3.0

[2020-09-21 08:43] #519 closed, assigned to nobody

[2020-09-21 08:44] planv commented on #503
This has been fixed in 3.0

[2020-09-21 08:44] #503 closed, assigned to nobody

[2020-09-22 13:40] mythnc opened #558 "Replacement behavior of img tag - srcset attribute"
I am kind of curious to the replace behavior of `srcset` attribute in `img` tag.

When I chose Backup mode, and after synchronized, I found that the URL in `src` attribute is still WordPress URL, but the URLs in `srcset` attribute are replaced to gcp URLs in `img` tag

 I think all URLs inside img tag should not been changed, because I chose `Backup` mode.

I tried to read source code and found th

[2020-09-24 08:08] FlickTheManual commented on #527
hello @planv, new problem are coming

now we got the webp on storage (yepeee :rofl: ) but, because the but is coming too,

the webp doesn't follow the folder medias upload dirs, it make all @ the root storage,

for the update :D of this issues

[2020-09-25 16:03] ewsopp opened #560 "elementor compatibility"
It looks like there may be two problems with our elementor compatibility and the latest v3.0 release of wp-stateless.

1. The uploaded CSS files don't have proper permissions set and are not publicly accessible.
2. They are not stored in the correct `/elementor/css/` directory. They are being uploaded into the root directory of the bucket.

[2020-09-28 19:04] harsh4870 opened #561 "wp-rocket - Sync Js and CSS to GCS bucket"
We are using the **wp-rocket** plugin to create minified JS and CSS of WordPress.

we are looking for a way to sync or upload these all minified JS and CSS from local storage to the CDN bucket. each time it's generating random JS & CSS name.

Files get generated inside : **wp-content/cache/**

Currently, manually we are pushing **cache** folder to the CDN bucket but looking forward if we can resol

[2020-10-05 00:25] nitinsurana opened #563 "Slows entire the site immensely, php slow log attached"
Please see php slow log beflow

[code]

[2020-10-05 00:25] nitinsurana commented on #563
Site url - https://aastik.in/

[2020-10-05 08:56] #560 closed, assigned to antonkorotkov

[2020-10-05 09:42] planv opened #565 "Default Directory error wp-content to wpcontent"
https://wordpress.org/support/topic/default-directory-error-wp-content-to-wpcontent/

hello

previously I used the default setting just fine. After updating the plugin, there were a lot of errors. between them the default wp-content folder changes to wpcontent.

https://prnt.sc/upa6a9

how to back default from wpcontent to wp-content again?

Please help. Thanks

[2020-10-05 09:43] antonkorotkov commented on #536
Hey @msulaimanmisri

If this is still relevant - this might be fixed in the 3.0.4 version that we are going to release out today.

[2020-10-05 09:46] antonkorotkov commented on #565
Fixed by this commit https://github.com/udx/wp-stateless/commit/796d34d525414edd8dfa2a55a8c7a034fac739d6

[2020-10-05 09:46] #565 closed, assigned to planv

[2020-10-05 11:55] antonkorotkov commented on #485
Hey @execash

if this is still relevant, can you try upgrading to 3.0.4 and run sync of non-library files? Be sure to check all your remote folders settings are correct once you upgraded.

[2020-10-06 14:11] antonkorotkov opened #569 "Background Sync + ALTERNATE_WP_CRON"
This happens from time to time if ALTERNATE_WP_CRON is enabled

![image](https://user-images.githubusercontent.com/2276882/95212992-fb09ba00-07f6-11eb-9200-f203a9e8ba58.png)

[2020-10-06 14:21] antonkorotkov opened #570 "Properly handle 'Allowed memory exhausted' error"
This error may happen when trying to process large files. Need to handle this error and try to skip the problem file. Currently, the process stucks on the same large file preventing others to be processed and breaking the progress bar.

[2020-10-06 14:48] #569 closed, assigned to antonkorotkov

[2020-10-06 15:11] antonkorotkov opened #572 "Disallow to run sync if mode is Disabled"

[2020-10-07 06:08] shantanu1227 opened #573 "Images are not being deleted in ephemeral mode"
Hi,

When using cli `wp stateless sync images --force`

The image files are not being deleted locally.

[2020-10-07 07:12] planv commented on #488
This has been fixed in 3.0

List of available commands - https://github.com/udx/wp-stateless/wiki/WP-CLI

Closing the ticket.

[2020-10-07 07:12] #488 closed, assigned to nobody

[2020-10-07 07:33] planv commented on #573
Hello @shantanu1227

All images or only full size (original) image?

[2020-10-07 07:41] planv commented on #453
This has been fixed in 3.0

Closing the ticket.

[2020-10-07 07:41] #453 closed, assigned to nobody

[2020-10-07 07:46] planv commented on #422
Hello @matthewlenz

You can change mode to `Backup` or `CDN`

![image](https://user-images.githubusercontent.com/5268508/95301857-d7dc1a80-0889-11eb-8389-c7da667fcdbc.png)

And when you re-sync - all media will be stored locally.

Closing the ticket.

[2020-10-07 07:46] #422 closed, assigned to nobody

[2020-10-07 08:50] planv commented on #526
Hello @gfirem

I can't reproduce this issue. It works for me
![image](https://user-images.githubusercontent.com/5268508/95308802-01e60a80-0893-11eb-956c-d1053b56eb81.png)

Please provide more details - plugins version, why user `31` has 5 files for avatar, do you have these 5 files on your local folder `31`, etc.

Thanks.

[2020-10-07 08:52] planv commented on #548
@mjezegou

Is issue still relevant?

[2020-10-07 08:53] planv commented on #492
Hello @dodiiriyanto

Is issue still relevant?

[2020-10-07 08:54] planv commented on #514
Hello @seanhudson

Is issue still relevant?

[2020-10-07 09:00] planv commented on #510
Hello @methnen

We already have such an issue - https://github.com/udx/wp-stateless/issues/475

Closing the current ticket.

[2020-10-07 09:00] #510 closed, assigned to nobody

[2020-10-07 13:02] antonkorotkov commented on #570
Current progress. Needs to be tested.

![image](https://user-images.githubusercontent.com/2276882/95334112-5fd81980-08b6-11eb-9bd2-86499a0980fb.png)

[2020-10-07 14:20] antonkorotkov commented on #520
We are completely rewriting sync so this is not relevant anymore.

[2020-10-07 14:20] #520 closed, assigned to nobody

[2020-10-07 14:21] antonkorotkov commented on #484
This is fixed in 3.1.0. We are going to release it at the nearest time.

[2020-10-07 14:21] #484 closed, assigned to nobody

[2020-10-07 14:22] #572 closed, assigned to antonkorotkov

[2020-10-07 14:22] antonkorotkov commented on #570
Testing this on GoDaddy now.

[2020-10-07 14:41] shantanu1227 commented on #573
@planv
No all the sizes generated by theme or imagify plugin

[code]

[2020-10-07 14:58] antonkorotkov commented on #570
GoDaddy was able to complete non-images sync successfully by skipping items that it cannot process due to memory limit and providing a hint as on the screenshot above. Going to test it with uploading by chunks enabled.

[2020-10-07 15:08] antonkorotkov commented on #570
Successfully processed large files on GoDaddy with help of `WP_STATELESS_MEDIA_UPLOAD_CHUNK_SIZE` constant. (10 * MB_IN_BYTES)

@ewsopp FYI

[2020-10-07 16:04] methnen commented on #475
Just wanted to add my vote to this one. We ran into this exact problem, storing all of this in the post_meta table gets unwieldy fast for any larger site.

[2020-10-08 07:50] #570 closed, assigned to antonkorotkov

[2020-10-08 09:10] planv commented on #527
This is fixed in 3.1.0. We are going to release it at the nearest time.

[2020-10-08 09:10] #527 closed, assigned to planv

[2020-10-08 09:10] planv commented on #558
This is fixed in 3.1.0. We are going to release it at the nearest time.

[2020-10-08 09:10] #558 closed, assigned to planv

[2020-10-08 09:11] planv commented on #485
Fixed in version 3.0.4. Closing the ticket.

[2020-10-08 09:11] #485 closed, assigned to nobody

[2020-10-08 09:12] planv commented on #536
Fixed in version 3.0.4. Closing the ticket.

[2020-10-08 09:12] #536 closed, assigned to nobody

[2020-10-08 09:14] planv commented on #456
Hello @harshmanvar

Is issue still relevant?

[2020-10-08 09:31] harshmanvar commented on #456
No, not facing issue now

[2020-10-08 09:33] antonkorotkov commented on #456
That could be just temporary unavailable Google's API. Closing for now.

[2020-10-08 09:33] #456 closed, assigned to nobody

[2020-10-08 09:56] antonkorotkov commented on #523
implemented

[2020-10-08 09:56] #523 closed, assigned to antonkorotkov

[2020-10-08 14:01] planv commented on #573
@shantanu1227

Did you try to sync these images from admin panel?
Can you send us the result of CLI command?

[2020-10-09 14:22] planv commented on #492
Closing the ticket.

@dodiiriyanto Please re-open the ticket if you still have this issue.

[2020-10-09 14:22] #492 closed, assigned to nobody

[2020-10-09 14:22] planv commented on #514
Closing the ticket.

@seanhudson  Please re-open the ticket if you still have this issue.

[2020-10-09 14:22] #514 closed, assigned to nobody

[2020-10-09 14:23] planv commented on #548
Closing the ticket.

@mjezegou Please re-open the ticket if you still have this issue.

[2020-10-09 14:23] #548 closed, assigned to nobody

[2020-10-09 14:25] planv commented on #425
Closing the ticket.

[2020-10-09 14:25] #425 closed, assigned to nobody

[2020-10-09 14:37] planv commented on #489
Hello @crying2812

I can suggest you to try use this constant - [WP_STATELESS_MEDIA_UPLOAD_CHUNK_SIZE](https://github.com/udx/wp-stateless/wiki/Constants#wp_stateless_media_upload_chunk_size)

[2020-10-09 14:53] planv commented on #441
@jackmoonishere

Is issue still relevant?

[2020-10-09 15:25] planv commented on #480
Hello @harshmanvar

Did you sync old images with GCS?

Is issue still relevant after update to version 3.0.4?

[2020-10-09 15:29] harshmanvar commented on #480
it's working now

[2020-10-09 15:29] #480 closed, assigned to planv

[2020-10-09 17:39] shantanu1227 commented on #573
Admin panel the sync requests times out, and using sync on individual media still the local copy stays on the system.

cli sync response: `17:31:38: &#8220;It really is a nice responsibility&#8221;- Edinson Cavani speaks on receiving prestigious number 7 jersey at Manchester United (ID 189159) was successfully synced in 13.170 seconds.`

After this i am still able to see the file
output of `ls -al

[2020-10-10 16:56] ewsopp commented on #560
@antonkorotkov did this fix the permission problem as well? The release notes only mention the location, and the problem with permissions was not mentioned.

In my original bug report above, the uploaded file permissions were not set to public.

A user just reported the problem, so it leads me to believe the permissions were not fixed. See https://wordpress.org/support/topic/elementor-css-files-ha

[2020-10-11 01:21] donbowman opened #574 "YOAST indexable-link-builder compatibility"
You can see the below stack trace I get when updating a page w/ both wp-stateless and yoast (wordpress-seo) installed.

[code]

the affected code in yoast:
[code]

[2020-10-12 07:22] antonkorotkov commented on #560
We could not replicate the permissions issue. We don't know the steps to reproduce it so we decided it was a temp problem with the API or something. Looks like it needs more attention.

[2020-10-12 14:35] planv commented on #573
@shantanu1227

It's look like your user doesn't have permission to remove these files.

[2020-10-12 14:36] planv commented on #489
@crying2812

Is issue still relevant?

[2020-10-12 14:37] planv commented on #305
Hello @mjezegou

Is issue still relevant?

[2020-10-12 15:02] antonkorotkov opened #575 "Sync in Stateless mode"
While developing background sync we've noticed that Stateless mode works partially. Some files were processed but the whole process has stopped because of the similar error:

I think this is because this specific file was not found on the server and was requested from GCS in order to regenerate metadata.

[2020-10-12 15:11] antonkorotkov opened #576 "background sync - email notifications"
- [ ] notification upon completion
- [ ] notifications about errors (for each? accumulative? included into completion notification?)

[2020-10-13 04:59] shantanu1227 commented on #573
i run it using `sudo -u www-data`

[2020-10-13 09:42] antonkorotkov opened #577 "handle PDF thumbnails"
Looks like thumbnails are being generated for PDFs.

Example:

![image](https://user-images.githubusercontent.com/2276882/95843976-0c037f80-0d51-11eb-931a-0ff4b0950f00.png)

But they are not being deleted after syncing in Ephemeral mode. I think this is something relatively new. And it is not related to the background processing.

[2020-10-14 12:06] ewsopp opened #580 "show sync status and progress indicator in admin toolbar"

[2020-10-14 14:25] FlickTheManual commented on #580
:sob: removed from the 3.1.1 milestone :sob:

[2020-10-14 14:42] FlickTheManual commented on #527
:clap: like the new sync ui,
eager to test tomorrow :drooling_face:

[2020-10-15 09:00] FlickTheManual opened #581 "[3.10] cannot view sync page on some site"
Hi there

I've got a new problem with frontend sync on some sites that using wp-stateless 3.10:

![image](https://user-images.githubusercontent.com/2384206/96100568-91b83400-0ee5-11eb-9949-73e0d6e5cc5f.png)

seen in console log:

![image](https://user-images.githubusercontent.com/2384206/96100664-ac8aa880-0ee5-11eb-8042-2a35ba61227c.png)

[code]

I'm investigating why, but I make this issue if any

[2020-10-15 09:03] antonkorotkov commented on #581
Looks like you have locally cached JS and CSS assets. Can you try hard refresh or maybe clean the cache in the browser settings?

[2020-10-15 09:05] FlickTheManual commented on #581
:rofl: erf, my bad, it seems that the page not correctly loaded, not a wp-stateless problem, so...
@antonkorotkov exactly that problem I see it when a make a clean browser cache (f***ing chrome :rofl: )

thanks man :+1:

So I'll close this issue

[2020-10-15 09:06] #581 closed, assigned to nobody

[2020-10-16 08:17] planv commented on #436
Hello @koganas

Is issue still relevant after update to version 3.1?

[2020-10-16 23:11] ewsopp commented on #526
Closing. If issue persists, please re-open with more details.

[2020-10-16 23:11] #526 closed, assigned to planv

[2020-10-16 23:14] #508 closed, assigned to nobody

[2020-10-16 23:26] ewsopp commented on #489
Closing.

Please re-open if issue persists after troubleshooting with the new `WP_STATELESS_MEDIA_UPLOAD_CHUNK_SIZE` constant mentioned above.

[2020-10-16 23:26] #489 closed, assigned to nobody

[2020-10-16 23:26] ewsopp commented on #479
We have no future plans on supporting Google Drive. WP-Stateless is only focused on Google Cloud Storage at this time.

[2020-10-16 23:26] #479 closed, assigned to ewsopp

[2020-10-16 23:29] ewsopp commented on #469
We decided against this for the foreseeable future.

[2020-10-16 23:29] #469 closed, assigned to nobody

[2020-10-16 23:30] ewsopp commented on #460
Same as https://github.com/udx/wp-stateless/issues/521

[2020-10-16 23:30] #460 closed, assigned to nobody

[2020-10-16 23:37] ewsopp commented on #441
Closing for now.

Please reopen if issue persists and provide as much detail as possible.

[2020-10-16 23:37] #441 closed, assigned to nobody

[2020-10-16 23:43] ewsopp commented on #381
Either _Madara Core_ needs to use the WordPress Media Library for media management or we need to create a custom compatibility for _Madara Core_.

[2020-10-16 23:44] ewsopp commented on #392
@planv is this still relevant?

[2020-10-16 23:49] ewsopp commented on #419
`Bucket_policy_only` has been deprecated and replaced with `uniform_bucket_level_access`.

Relevant issue at https://github.com/udx/wp-stateless/issues/521

[2020-10-16 23:49] #419 closed, assigned to nobody

[2020-10-16 23:50] #305 closed, assigned to nobody

[2020-10-16 23:55] ewsopp commented on #574
@donbowman can you provide more detail here? What am I looking at above? What do you want it to do?

[2020-10-17 16:27] donbowman commented on #574
Hi. sure.

I use [wp-stateless](https://en-ca.wordpress.org/plugins/wp-stateless/), [github](https://github.com/udx/wp-stateless).  I talk about the why here https://www.agilicus.com/cloud-native-wordpress/
but the tldr:

I run my wordpress in kubernetes. I don't have shared storage. wp-stateless allows me to save all media to google cloud storage (GCS). Thus i can run >1 copy of wordpress simulta

[2020-10-19 15:26] planv commented on #392
Closing the ticket

[2020-10-19 15:26] #392 closed, assigned to planv, ewsopp

[2020-10-19 15:37] #528 closed, assigned to planv

[2020-10-20 13:54] planv commented on #577
Current issue with removing thumbnails in `Ephemeral` mode fixed.

Also I noticed that we don't create thumbnails for PDF in `Stateless` mode, it is due to using `WP_Image_Editor_GD` (for `StreamWrapper` that doesn't save file locally) instead 'WP_Image_Editor_Imagick' (need for generating thumbnails for PDF - https://make.wordpress.org/core/2016/11/15/enhanced-pdf-support-4-7/ ).
@ewsopp Should w

[2020-10-20 13:58] ewsopp commented on #577
I think so, but when would we display it? and what would it say?

[2020-10-20 14:17] planv commented on #577
@ewsopp

I guess here

![image](https://user-images.githubusercontent.com/5268508/96598734-d84bcb00-12f7-11eb-9f79-f7a734414b1e.png)

`
Store and serve media files with Google Cloud Storage only. Media files are not stored locally, but local storage is used temporarily for processing and is required for certain compatibilities, generating thumbnails for PDF documents.
`

[2020-10-21 12:59] soanvig opened #583 "Not all images have replaced urls"
Hello!

I just:
1. installed wp-stateless
2. set ephemeral mode
3. synchronized all files
4. double-checked they are all present in bucket - they are
5. enabled URL replacement (configured with default `jpg jpeg png gif pdf` file types)

And it seems to work, with some exceptions.

For example here:

https://gorzkayuca.com/2020/02/20/14-uroki-konsumpcji/

The last image has no replaced url, when t

[2020-10-21 13:14] comzeradd opened #584 "Re-write media url domain"
Hi,

_(Sorry if this already asked before, but I couldn’t find something relevant in the docs)_

I want to change the domain where the image are served from. Doing so doesn’t seem to have any immediate effect though. Running a full sync does work, but it seems a bit of overkill for changing just the media url. Is there any other way of doing that? If so, is there a wp-cli command that does that?

[2020-10-21 13:22] planv commented on #583
Hello @soanvig

You have image `https://storage.googleapis.com/gorzkayuca/2020/08/DSC_0273-scaled-1024x576.jpg` instead `https://storage.googleapis.com/gorzkayuca/2020/08/DSC_0273-1024x576.jpg`
As you can see image on GCS has suffix `-scaled`.

WordPress introduced that in version 5.3 - ref https://make.wordpress.org/core/2019/10/09/introducing-handling-of-big-images-in-wordpress-5-3/

[2020-10-21 13:25] soanvig commented on #583
@planv I am manually replacing all images now, so I updated link to the post that still has the problem - last photo. It uses local version instead of GCS version.

But anyway, GCS version indeed has `scaled` suffix. It still doesn't explain why it's not loaded.

[2020-10-21 13:31] planv commented on #583
@soanvig

Your image in GCS has suffix `-scaled`
https://storage.googleapis.com/gorzkayuca/2020/02/menu-sc-scaled-768x1024.jpg

You can disable `scaling` in WordPress, please read about that in the article above.

[2020-10-21 13:33] soanvig commented on #583
Yes, I saw it, but disabling scaling is a bad idea, isn't it?

Or is it automatically handled anyway by stateless plugin during creating various versions of images.

EDIT: I have disabled that scaling via https://wordpress.org/plugins/disable-big-image-threshold/ plugin, resynced images, but the problem still occurs. If that means I still need to fix all images manually, then it's bad...

[2020-10-21 13:56] planv commented on #583
If you want to use scaled version - you have to replace images in your post manually.

[2020-10-21 14:15] soanvig commented on #583
I don't care for the version I use.

My problems are:
1. Images using `-scaled` suffix on GCS work in editor and site, but use local URLs
2. Images not using `-scaled` suffix on GCS work on site using GCS urls, but don't work in editor at all

In both cases the fix is to **manually** replace all images with the same images already in library (so pick another one, then pick the correct one once aga

[2020-10-21 14:51] planv commented on #584
Hello @comzeradd

Could you clarify please -do you want to change your site domain or change value for WP-Stateless setting `domain`?

<img width="1280" alt="изображение" src="https://user-images.githubusercontent.com/5268508/96737131-fda70a80-13c5-11eb-96e6-7e740da600a7.png">

[2020-10-21 15:05] comzeradd commented on #584
The latter :) I want to change the wp-stateless domain setting in your screenshot.

[2020-10-23 11:41] planv commented on #584
@comzeradd

Do you use the same `Domain` name as `Bucket` name?

<img width="1284" alt="изображение" src="https://user-images.githubusercontent.com/5268508/96999327-a7f56e00-153d-11eb-9ddc-01574350c986.png">

<img width="1280" alt="изображение" src="https://user-images.githubusercontent.com/5268508/96999356-b5aaf380-153d-11eb-976a-98dd4e40b8a8.png">

And images stored in this bucket?

[2020-10-23 11:56] comzeradd commented on #584
The name of the GCS bucket is part of the domain name, so I can re-write it in a Cloudflare worker.

Example:
**Bucket**: `example-production`
**Domain**: `https://www.example.com/static/example-production/`

Instead of the default, which would have been:
**Domain**: `https://storage.googleapis.com/example-production/`

And yes mostly images and pdf files are stored in there.

[2020-10-27 18:11] litemotiv opened #585 "[Regression] Uploads with Formidable Forms plugin not correctly processed"
Version: v3.1.0
Method: ephemeral
Environment: multisite

This may be a regression in either wp-stateless v3+ or in Formidable Forms.

Earlier, using Formidable Forms, files were uploaded to this path:

`https://storage.googleapis.com/<bucket>/formidable/<form-id>/filename.pdf`

These URL's were also displayed in confirmation emails sent by Formidable.

Currently files are uploaded to this path:

[2020-11-03 07:57] FlickTheManual commented on #527
hey there,

Nice job everybody, the webp comes to the correct folder :tada:

---

can we have a little summary of the sync usage with the new UI pls?
I'm fear of use your sync tabs for the webp,
so I would love to know how to sync between the two:
- do not delete the existing images on the GS,
-  delete the media on the legacy

what's the sync workflow please? and wat button I must click to start

[2020-11-03 14:46] comzeradd commented on #584
Any suggestion on this? Doing a full re-syn works but it's a really slow process on instances with a lot of media.

[2020-11-03 15:20] litemotiv commented on #585
I have submitted this issue to Formidable Forms support as well, they sent back the following response:

This is obviously not very helpful.

I am hoping for a response from wp-stateless about this issue, since the two plugins are currently not working well together.

Thank you,
-lite

[2020-11-04 06:24] FlickTheManual opened #586 "[3.1.0][LiteSpeed compatibility][Ephemeral mode] files continue to be stored in the server"
Hi everybody,

yes it's me , mar... :smile:

so, We've got problem sir, the folder does'nt swap the files in ephemeral mode anymore,
i've seen all my files duplicate from server to storage, but some of files persist in the server

it's a problem for we because of the growing size of the uploads folder.

need little help, please.

thanks all for you works

[2020-11-23 09:02] comzeradd commented on #584
Ended up using `wp search-replace` :)

[2020-11-23 09:02] #584 closed, assigned to nobody

[2020-11-23 09:02] comzeradd opened #587 "Regenerate thumbnails"
Changing thumbnails size in Settings > Media, is there a way to regenerate them when in Stateless mode?

[2020-11-27 05:57] FlickTheManual commented on #586
ok, new, good or bad, IDK;

I've change from LSCache to wp-rocket+imagify, run better,

I' testing with it, seems to be good for now.
thanks all, see ya :D

[2020-11-27 05:57] #586 closed, assigned to nobody

[2020-12-06 11:46] luckysistemi opened #588 "Elementor CSS files path"
I see that elementor files are uploaded in “elementor” folder in the root of the bucket.

This cause conflicts when using the same bucket for multi sites

Css files are also not loaded in frontend pages

[2020-12-07 20:42] luckysistemi commented on #560
css files are now stored in the "elementor" folder at the root of the bucket.
I think it lacks a parameter to define the base folder for it or split "folder" option in two parts

[2020-12-08 10:36] maikelvl commented on #436
@planv Yes, I've got this issue in v3.1.0. (Wordpress v5.5.3)

[2020-12-08 15:43] maikelvl commented on #436
Found the solution to my problem in https://github.com/udx/wp-stateless/issues/493#issuecomment-649231809

I did not realise the year/month variables needed to be defined as well:

[code]

[2020-12-11 14:28] DeividyRamires opened #589 "hi after wordpress 5.6 update WP-Stateless stops uploading images"
it stops syncing and uploading, disconnecting everything works normal what can I do to fix it?

[2020-12-16 16:17] luckysistemi opened #590 "Strange behavior with elementor"
I have tens of site working well with elementor and wp-stateles
They are all almost identical in terms of plugins, version and configuration.

In one of this wp stateles doesn't see there are compatibility files to manage.
I see this since:
 - no files are synced
 - in sync tab I see "Total items:0" in compatibility files

What should I check to understand why?
What information are helpful to repo

[2020-12-17 16:12] antonkorotkov commented on #575
@planv I see commits tied to this issue but I don't remember whether they fix the exact problem I described in the issue or something else?

[2020-12-17 16:21] #436 closed, assigned to planv

[2020-12-17 16:24] planv commented on #575
@antonkorotkov Yes, current problem is fixed.

[2020-12-17 17:02] #575 closed, assigned to antonkorotkov, planv

[2020-12-18 10:15] antonkorotkov commented on #587
You can switch to Ephemeral mode then run Sync and then switch back to Stateless.

[2020-12-18 10:15] #587 closed, assigned to nobody

[2020-12-18 10:50] #577 closed, assigned to planv, ewsopp

[2020-12-18 10:57] antonkorotkov commented on #576
I think I'll keep this simple for now and will have only a notification upon completion.

[2020-12-18 14:57] #576 closed, assigned to antonkorotkov

[2020-12-22 09:03] antonkorotkov commented on #588
Hey,

we were able to reproduce this and plan on having a fix in 3.1.1.

[2020-12-22 09:05] antonkorotkov commented on #590
Do you still have issues with it?

[2020-12-22 10:08] luckysistemi commented on #590
Yes.
I'm not able to understand the reason, so I can't imagine what look for

[2020-12-22 10:11] antonkorotkov commented on #590
@luckysistemi Is the Compatibility enabled for Elementor in the Compatibility tab?

[2020-12-22 10:14] luckysistemi commented on #588
Thank you.
I propose this solution that seems to fix the problem.

file lib/classes/compatibility/elementor.php

add this in module_init function:
`$root_dir = ud_get_stateless_media()->get('sm.root_dir');
$this->base_path = strtok($root_dir, '%');`

modify this line in sync_rewrite_url:
`do_action('sm:sync::syncFile', $this->base_path.$name, $absolutePath);`

modify delete_elementor_files:
`do_ac

[2020-12-22 10:23] luckysistemi commented on #590
Yes it is.
As I wrote, I have tens of sites correctly working. All with the same configuration, all in the same server, all with the same versions.
I've already tried to remove and reinstall both elementor (PRO) and wp-stateless. Nothing has changed.
I've also manually copied plugin directory from other working site.
The table in the DB has been created by the plugin setup

So I don't know what el

[2020-12-22 10:23] antonkorotkov commented on #588
I have already looked over this on WP.org forum but it is going to be a bit different because your solutions tried to apply the `Folder` structure setting to files created by compatibilities. And it goes differently from what it initially does.

All compatibility files on multisite installation will be uploaded to the default folder that is `sites/%blog_id%/...` disregarding what is configured in

[2020-12-22 10:29] antonkorotkov commented on #590
@luckysistemi well, this is something unusual. For Elementor, its files appear on demand when you visit any page that has styles to be generated.

Do you use any caching plugins that may prevent Elementor CSS files from generating?
Maybe you have logging enabled and any related entries in `debug.log`?

Also, you can try `Elementor` => `Tools` => `Regenerate CSS`?

[2020-12-22 10:37] antonkorotkov commented on #589
We cannot replicate that. Please, try deactivating all plugins except WP-Stateless and test again.

[2020-12-22 10:37] #589 closed, assigned to nobody

[2020-12-22 10:47] luckysistemi commented on #590
Already tried to regenerate files and no cache plugin are in this site
Log file is empty