[2015-04-23 16:27] andypotanin opened #1 "Failure to honor "Switch To Blog" Mode"
For all the images that don’t have the correct buckets in their URLs, this function here returns false: https://github.com/DiscoDonniePresents/www.discodonniepresents.com/blob/staging/wp-content/plugins/wp-stateless-v1.5/lib/classes/class-bootstrap.php#L310

The bucket name is definitely not synchronized while using switch_to_blog.

[2015-04-23 16:30] felixarntz commented on #1
After using `switch_to_blog( $blog_id )` a call to `wpCloud\StatelessMedia\Bootstrap::get( 'sm.bucket' )` still returns the bucket name from the original site. Accessing the option directly using `get_option( 'sm_bucket‘ )` actually returns the correct bucket for the current site.

[2015-06-11 20:28] ewsopp opened #2 "Gravity Forms File Upload Field"
Gravity Forms has an advanced field for uploading files as the user fills out a form on the frontend. The functionality appears to work, but when I try to access the file from the notification email the link is broken.

For my test, this was the URL given to me by the notification email to access the file:
`https://storage.googleapis.com/media.discodonniepresents.com/gravity_forms/6-e2c3e2afe00dd2

[2015-07-29 15:11] ewsopp opened #3 "/wp-content/uploads/ folder sync"
I am working with the Vellum theme and I am constantly held back by broken images that are not properly generated via wordpress methods. I spoke with @antonkorotkov about this and he believes this can be resolved if we add functionality to WP-Stateless that keeps the /wp-content/uploads/ folder in sync with GCS.

This would also resolve issues with converting older sites to stateless media and han

[2015-07-29 15:12] ewsopp commented on #2
I think it might be related to https://github.com/wpCloud/wp-stateless/issues/3

[2015-07-31 12:31] andypotanin commented on #3
This appears on New Wave?

[2015-08-03 09:31] antonkorotkov commented on #3
Yes. I think some of the plugins creates a 'cache' folder in uploads omitting standard way of wp_handle_uploads.

[2015-10-09 17:42] ewsopp opened #4 "Video Files Not Supported"
I uploaded four video files and neither file was pushed to GCS.

.webm, .ogv, .mp4, .mov

It also rewrote the file paths and they are broken.

[2016-01-01 23:08] ewsopp opened #5 "validate files to upload that they meet cloud storage object name requirements"
WordPress media library may already handle some of these issues, but we should check to make sure all objects being uploaded to GCS meet their object name requirements.

https://cloud.google.com/storage/docs/bucket-naming#objectnames

[2016-01-01 23:13] ewsopp opened #6 "thumbnails in media library are no longer stateless"
The thumbnails displayed in the media library are no longer referencing stateless URLs. The thumbnails still exist on Google Cloud Storage, but they are no longer referenced by the media library when displaying thumbnails in the backend. I think this began with WordPress 4.4.

**Media Library View**
Thumbnails load broken in list view, but fine in grid view.

![image](https://cloud.githubuserconte

[2016-01-02 20:07] ewsopp commented on #6
Same issue with the 'Featured Image' block on the edit post screen.

![image](https://cloud.githubusercontent.com/assets/5578537/12075947/9072116e-b162-11e5-9136-662d0ebb81c4.png)

[2016-01-04 10:52] antonkorotkov commented on #6
That was happening on RDC because WP-Stateless was outdated there. I've updated it and images went back. I'm about to utilize wp-updates.com for WP-Stateless to make it easy distributable.

[2016-01-11 14:28] ewsopp opened #7 "Support Any File Supported by Media Library"
I tried uploading an MP3 file to a website running stateless media and it only referenced the local file urls.

[2016-01-19 14:57] andypotanin opened #8 "Add JSON Key Support"
Right now we require a p12 key to be added to the site and it then must be referenced in the Media settings by providing its path. This requires the key to be added to the codebase or uploaded to the Media library, neither option is ideal.

GCS now allows for a JSON key to be used instead of a p12 key and we should allow for the key to be copied and pasted into a textarea and saved in WordPress op

[2016-01-19 15:03] andypotanin commented on #7
Should support any file, to include PDF files. Anything that the Media Library supports should upload to GCS and then be linkable from there.

[2016-01-19 15:29] ewsopp opened #9 "add 'Stateless' mode"
- [x] add new mode called 'Stateless'
- [x] when enabled, local files should be deleted once they are uploaded and confirmed to be stored on Google Cloud Storage (GCS).

![image](https://cloud.githubusercontent.com/assets/5578537/12422937/3f1d2744-be97-11e5-9392-36d93d7463ec.png)

[2016-01-19 15:30] #6 closed, assigned to ewsopp

[2016-01-19 15:37] ewsopp opened #10 "add thumbnail regeneration"
We usually add 'Thumbnail Regeneration' functionality via the very popular "Regenerate Thumbnails" plugin by Viper007Bond. ref: https://wordpress.org/plugins/regenerate-thumbnails/

However, this plugin only regenerates thumbnails from images that are stored locally. So if your images are only stored on Google Cloud Storage (GCS) and not locally, this plugin will skip thumbnail regeneration for th

[2016-01-19 15:38] ewsopp commented on #4
Replacing this issue with another issue that covers ALL file types. https://github.com/wpCloud/wp-stateless/issues/7

[2016-01-19 15:38] #4 closed, assigned to antonkorotkov

[2016-01-21 16:24] Mashenka commented on #8
@alimuzzaman Let me know when you available for a skype call. I need to explain you this issue directly

[2016-01-26 23:08] andypotanin commented on #8
Progress?

[2016-01-27 16:41] Mashenka commented on #8
started yesterday

[2016-02-15 17:33] antonkorotkov commented on #8
I had to upgrade Google Api Client to new 2.0.0 version that allows to use JSON for auth. But p12 auth is no longer supported in this version. So I've migrated it to JSON completely.

[2016-02-15 17:34] antonkorotkov commented on #8
Also, plugins now requires PHP 5.5+

[2016-02-16 11:40] andypotanin commented on #8
@antonkorotkov Is this done? Please verify that its deployed/available on https://workspace.uds.io so we can test/review.

[2016-02-18 08:38] antonkorotkov commented on #10
Done. Latest version in installed on workspace.uds.io

[2016-02-18 08:40] antonkorotkov commented on #8
Done, and on workspace.

[2016-02-18 08:44] antonkorotkov commented on #7
Done

[2016-02-18 08:48] andypotanin opened #11 "Testing New Version"
- [ ] Setup new version of wp-stateless on brand new site and running a sync.
- [ ] Take existing site with missing local media and run sync, verify media from GCS appears locally.

[2016-02-18 09:08] andypotanin commented on #11
![image](https://cloud.githubusercontent.com/assets/1255935/13138388/a0f59a0a-d62f-11e5-9407-0a4511d2e236.png)

![image](https://cloud.githubusercontent.com/assets/1255935/13138446/054603e6-d630-11e5-9ba9-01d2e10ceaea.png)

Verifying new bucket name via Google Webmaster Tools
![image](https://cloud.githubusercontent.com/assets/1255935/13138460/1e2dcad8-d630-11e5-8f7b-24582368ba44.png)

![image](ht

[2016-02-18 09:19] andypotanin opened #12 "Fatal Error with URITemplate.php"
Throws fatal error when updating stateless settings. Renaming:
`/vendor/google/apiclient/src/Google/Utils/URITemplate.php`
to
`/vendor/google/apiclient/src/Google/Utils/UriTemplate.php`
to match class name works.

[2016-02-18 13:43] #8 closed, assigned to antonkorotkov

[2016-02-18 13:43] #7 closed, assigned to nobody

[2016-02-18 15:55] antonkorotkov commented on #12
Should not happen again

[2016-02-18 15:56] antonkorotkov opened #13 "Ability to set remote root directory for uploads"

[2016-02-18 15:56] antonkorotkov commented on #13
Done

[2016-02-18 15:58] antonkorotkov opened #14 "Fix issue with images generated on fly"

[2016-02-19 19:21] ewsopp opened #15 "stateless sync should begin with newest media first"

[2016-02-19 19:22] ewsopp opened #16 "when root directory is not set, additional slashes are added to media url - in some cases"
https://storage.googleapis.com/media.penmarproperties.com//EC-100x100.jpg

example above

check with @andypotanin about this.

[2016-02-22 09:14] #14 closed, assigned to antonkorotkov

[2016-02-22 09:14] #13 closed, assigned to antonkorotkov

[2016-02-22 09:32] antonkorotkov commented on #16
You don't need to leave a slash in a field when removing root dir. Just make it completely empty.

[2016-02-22 09:37] #12 closed, assigned to antonkorotkov

[2016-02-22 10:01] antonkorotkov commented on #15
It actually should take newest first. Can you check one more time?

[2016-02-22 18:05] ewsopp commented on #15
ok thanks - looks correct.

[2016-02-22 18:05] #15 closed, assigned to nobody

[2016-02-25 14:30] ewsopp opened #17 "cannot create directories"
When images do not exist locally, the plugin errors out when it needs to generate the folders that hold the images.

reference https://codex.wordpress.org/Function_Reference/wp_mkdir_p

example error output

We tested this by manually creating the directories and it continued without issue.

[2016-02-28 16:46] ewsopp opened #18 "add support for wordpress responsive images"
https://make.wordpress.org/core/2015/11/10/responsive-images-in-wordpress-4-4/

Whatever wordpress does to add support for responsive images, we should also support with stateless image URLs.

[2016-02-29 11:26] #10 closed, assigned to antonkorotkov

[2016-02-29 11:30] antonkorotkov commented on #2
Should be working now with new option 'Upload on-fly generated (by third-party scripts) images to GCS.'

[2016-02-29 11:52] ewsopp commented on #2
Can we please actually test these things before closing the issue?

This does not work. I just tested it.
- Test Entry https://www.discodonniepresents.com/wp-admin/admin.php?page=gf_entries&view=entry&id=6&lid=9291&dir=DESC&filter&paged=1&pos=0&field_id&operator
- Media Settings: https://www.discodonniepresents.com/wp-admin/options-media.php
- Preview Page with Form: https://www.discodonniepresent

[2016-03-01 15:02] antonkorotkov commented on #17
Done and released in 1.7.1

[2016-03-01 15:48] antonkorotkov commented on #2
I've just tested and realized that this issues is not connected to Stateless Media plugin at all. For some reason GF tries to upload files to some dir name 'files/...'. Not sure if it is custom thing specific to DDP. But anyway, you can't find that file because it was not actually created. I would call it 'DDP + Gravity Forms conflict'.

[2016-03-01 19:57] ewsopp commented on #2
I submitted a support request with Gravity Forms to see if it is possible to change the default storage location for uploaded files.

[2016-03-05 17:57] ewsopp commented on #2
It looks like we would need to create a Gravity Forms add-on that would make it compatible with stateless media.

useful references
https://www.gravityhelp.com/documentation/article/add-on-framework/
https://www.gravityhelp.com/documentation/article/gform_upload_path/

[2016-03-08 15:32] ewsopp opened #19 "record errors and add ability to retry them at a later point."
- [x] Make a log of all the files that failed to regenerate, upload to GCS, or any other error that prevented a success.
- [x] Add ability to run a sync for just those failed files.
- [x] If they continue to fail, keep them in the log so that they can be retried at a later point.

![image](https://cloud.githubusercontent.com/assets/5578537/13606260/6598efa4-e519-11e5-809e-35c42437ddd2.png)

[2016-03-08 15:37] ewsopp opened #20 "add support for being logged out"
I was running the sync on DDP and for whatever reason, I was prompted to log in. When I logged back in, the sync continued (without me restarting it). However, there were many lines that showed no activity while I was logged out.

I have no idea if images were processed during this time or not.

![image](https://cloud.githubusercontent.com/assets/5578537/13606308/8cfaa2b8-e519-11e5-97b7-7233fcb555

[2016-03-09 10:50] antonkorotkov commented on #20
Were you switching from production to staging and then back during sync in another tab?

[2016-03-09 12:31] ewsopp commented on #20
Yea - that might have been the reason.

[2016-03-09 12:38] antonkorotkov commented on #20
You should not be logged out while any process is running. There is nothing I can do to this in case of switching branches.

[2016-03-09 16:36] antonkorotkov commented on #19
https://github.com/wpCloud/wp-stateless/releases/tag/1.7.2

![3e5b82f881](https://cloud.githubusercontent.com/assets/2276882/13642634/f9e6c49e-e625-11e5-8398-a24c05e38bca.jpg)

[2016-03-14 13:58] #19 closed, assigned to antonkorotkov

[2016-03-14 13:58] #20 closed, assigned to antonkorotkov

[2016-03-14 13:59] #17 closed, assigned to antonkorotkov

[2016-03-14 13:59] #16 closed, assigned to antonkorotkov

[2016-03-21 19:25] ewsopp opened #21 "when uploading an image, sometimes it uploads duplicates"
I have demonstrated this issue to Anton.

Occasionally when uploading an image, it will upload multiple times until it errors out (wordpress prints out _HTTP Error_). When visiting the media library after this, sometimes you will find two to six copies of the same file uploaded multiple times.

This has happened with or without extra options checked (upload on-fly generated, etc) in the media libr

[2016-03-28 01:59] ewsopp opened #22 "add option to scan for broken/missing thumbnails and regenerate/sync them"
Many times thumbnails are incorrectly generated or there is a failure to sync a thumbnail correctly. Create an option to scan for these broken thumbnails, regenerate them, and then sync them to Google.

This would be an option enabled for the new `Regenerate Image Thumbnails` tool. Reference https://github.com/wpCloud/wp-stateless/issues/38

[2016-03-28 02:15] ewsopp opened #23 "add option to regenerate/sync thumbnails from the media library"
Similar to the regenerate thumbnails plugin, we need an easy to regenerate and sync a single image from the media library.

![image](https://cloud.githubusercontent.com/assets/5578537/14069533/64071c7e-f469-11e5-8b91-99305fd78e2a.png)

[2016-04-01 18:51] ewsopp opened #24 "add option to regenerate/sync thumbnails from the media edit detail"
Add an option to regenerate and sync thumbnails from the media edit detail screen.

![image](https://cloud.githubusercontent.com/assets/5578537/14216894/2a6c8fa4-f819-11e5-9483-243dcb857693.png)

[2016-04-01 19:16] ewsopp opened #25 "integrate wp-hashify-media-filename as a cache-busting option"
Deleting and re-uploading images with the same file name will produce mixed results. Sometimes you will see the change right away, and other times GCS will serve a cached version of the originally uploaded file.

wp-hashify-media-filename works around this by randomizing the media file name by prepending some random numbers and letters to the beginning of the filename. `mypicture.jpg` becomes `2f6

[2016-04-01 19:25] ewsopp opened #26 "UI cleanup on media edit detail screen"
- [x] Create a new meta-box here to present WP-Stateless information.
- [x] Move the ‘Storage Bucket URL’ and ‘Storage Bucket’ fields into it.

This will also become the place where we add new options, information, and features.

![image](https://cloud.githubusercontent.com/assets/5578537/14217753/f3eec956-f81d-11e5-80ae-615013347816.png)

[2016-04-01 20:19] ewsopp opened #27 "image sync tools"
Our "Stateless Image Synchronisation" tool offers two options:
- Regenerate all stateless images and synchronize GCS with local server.
- Synchronize non-images files between GCS and local server.

but I think it should really be...
- Synchronize Media Library
- Regenerate Image Thumbnails

**Synchronize Media Library**
Issue https://github.com/wpCloud/wp-stateless/issues/37
- [ ] The new `Synchro

[2016-04-01 20:40] ewsopp opened #28 "edit media support"
ref https://codex.wordpress.org/Edit_Media#Edit_Image

Not sure of all the details around 'edit media' functionality, but we should ensure that we fully support it in all modes (CDN and Stateless modes).

[2016-04-04 07:35] antonkorotkov commented on #28
I think we do it by default

[2016-04-08 00:48] ewsopp opened #29 "image thumbnail size metadata issue"
The full size image is reporting a 0x0 size. Looks like something went wrong with thumbnail generation.

ref http://smftampa.com/wp-admin/post.php?post=1528&action=edit

![2016-04-07_20-45-51](https://cloud.githubusercontent.com/assets/5578537/14371091/e954bbde-fd01-11e5-835d-8cb60ac913f7.jpg)

![image](https://cloud.githubusercontent.com/assets/5578537/14371105/14ffcabc-fd02-11e5-86d5-6c8ee93e7ad

[2016-04-19 19:18] jacquesletesson opened #30 "Switch from one bucket to an other"
Hello there,

Thank you for this really cool plugin, it saves us a lot of time.

All our assets were on a simple bucket, we transfer all our assets to assets.company.com

Is there an easy way to replace all postmeta with key_value 'sm_cloud' to our new bucket?

Would love to avoid to regenerate all images, cause it took a while.

Cheers,

J.

[2016-04-20 16:29] Mashenka commented on #30
Hello.

You can just add new bucket and sync all you images from your site to there. This option under Tools tab.

Regards.

[2016-04-20 16:29] #30 closed, assigned to nobody

[2016-05-10 16:27] Mashenka commented on #28
The issue that Edit image option is not saving you edit results

when you edited image and save it will stay the same
![image](https://cloud.githubusercontent.com/assets/5111163/15154227/27bf27b8-16e5-11e6-826e-f416f849ffc3.png)

[2016-05-12 13:10] stbeli opened #31 "Metadata missing on thumbnails"
Metadata doesn't exist on generated thumbnails as on original image.
![nometadata](https://cloud.githubusercontent.com/assets/1846634/15215612/ac510dce-1853-11e6-858f-4fdae148ad05.jpg)

[2016-05-12 13:13] stbeli opened #32 "Metadata cache control over WP admin"
It would be great to make possibility to change default Cache-Control value over WP admin.
![default-cache](https://cloud.githubusercontent.com/assets/1846634/15215693/006b9a28-1854-11e6-86e7-98f4d0d6357c.jpg)

[2016-05-12 14:40] ewsopp commented on #31
seems related to https://github.com/wpCloud/wp-stateless/issues/29

[2016-05-20 17:52] solepixel opened #33 "Moving existing media to cloud storage"
Has anyone come up with a way to get existing media over to cloud storage? I've started working on a TSV generator script to do the transfer but nothing is transferring, still trying to figure out a way to get a TON of media files on there. Any suggestions?

[2016-05-20 17:58] ewsopp commented on #33
Did you try the stateless sync feature under the 'Tools' menu? It will regenerate all the thumbnails, upload them into GCS, and update the file-paths to point to the GCS urls on the library objects. Works on images and non-images.

[2016-05-20 18:19] solepixel commented on #33
Tried it but nothing transferred. The site is behind basic authentication,
could that be why it failed?

[2016-05-20 18:37] solepixel commented on #33
I disabled basic authentication, but this is what I get when I try: http://3cd.co/2v1s12140Y0Q (No images media objects found. - Status: Error appeared)

[2016-05-21 13:04] solepixel commented on #33
Still researching this, I think I'm having disk space issues which is why the query to fetch the images is throwing an error. I'll update if this is an issue on my end.

[2016-05-23 19:41] ewsopp opened #34 "large image constantly fails uploading"
I keep getting an "HTTP Error." when trying to upload the image below the screenshot. It is a large image: 3MB and 5250x5400

![image](https://cloud.githubusercontent.com/assets/5578537/15482246/a081d08a-20fc-11e6-93dc-4dd3f3f7c791.png)

![map-background](https://cloud.githubusercontent.com/assets/5578537/15482261/adb29708-20fc-11e6-96b1-80bca509906e.jpg)

![image](https://cloud.githubusercontent.

[2016-05-27 13:05] Mashenka commented on #33
Hello, solepixel

Do you have feedback? I will close this issue here. If you will have questions or suggestions, please use following contact form
https://www.usabilitydynamics.com/contact-us
or our user feedback forum here
http://feedback.usabilitydynamics.com/forums/353541-wp-statless

[2016-05-27 13:05] #33 closed, assigned to nobody

[2016-05-31 15:44] ewsopp commented on #1
@antonkorotkov I don't fully understand this issue. Can you look it over and let me know your thoughts? Thanks

[2016-06-03 15:18] antonkorotkov commented on #31
Sorry, cannot replicate that. There actually should not be any difference between original and rezised.
<img width="1003" alt="00000210" src="https://cloud.githubusercontent.com/assets/2276882/15783586/741e025c-29b7-11e6-8afd-7c852fa2f87e.png">

Try resyncing

[2016-06-03 16:04] antonkorotkov commented on #5
I checked and can confirm we meet these name requirements.

[2016-06-03 17:28] ewsopp commented on #31
I couldn't replicate either. Below is a screenshot of the meta data of an original and thumbnail.

![image](https://cloud.githubusercontent.com/assets/5578537/15787208/ebd8b694-298e-11e6-980b-1a3497f6e3c1.png)

![image](https://cloud.githubusercontent.com/assets/5578537/15787210/edf59abe-298e-11e6-90cb-82add857afa1.png)

@stbeli what version of stateless media are you using?

[2016-06-03 17:30] ewsopp opened #35 "thumbnail meta data incorrect?"
In my investigation of issue https://github.com/wpCloud/wp-stateless/issues/31, I noticed the height and width metadata of a thumbnail was incorrect.

@antonkorotkov is this a bug or intentional?

![image](https://cloud.githubusercontent.com/assets/5578537/15787231/21e35dca-298f-11e6-875e-c55e17c81659.png)

[2016-06-06 09:40] antonkorotkov commented on #31
From `latest` branch

[2016-06-06 09:41] antonkorotkov commented on #35
I see. I think that is incorrect. Will try to fix that

[2016-06-06 11:03] ewsopp commented on #31
Closing since there is no problem here.

[2016-06-06 12:27] antonkorotkov commented on #31
I actually could replicate it. Re-openning.

[2016-06-06 13:47] antonkorotkov commented on #31
fixed

[2016-06-06 13:47] #31 closed, assigned to antonkorotkov

[2016-06-06 13:47] antonkorotkov commented on #35
Fixed

[2016-06-06 13:55] antonkorotkov commented on #29
No idea how could that happen. But I can say for sure it is not connected to metadata. Looks like file is physically missed.

I need to reproduce it somehow (I still cannot) to fix

[2016-06-06 14:21] ewsopp commented on #29
How many thumbnails are you generating on your test setup?

[2016-06-06 14:54] antonkorotkov commented on #26
Fixed

[2016-06-06 22:27] ewsopp commented on #26
New Edit Media Screen

![image](https://cloud.githubusercontent.com/assets/5578537/15839912/541f18e2-2c14-11e6-925b-e9fe8afa99ad.png)

[2016-06-06 22:27] #26 closed, assigned to antonkorotkov

[2016-06-06 22:39] ewsopp commented on #35
Looks good.

![image](https://cloud.githubusercontent.com/assets/5578537/15840164/ff38e87e-2c15-11e6-8819-cff5307aff01.png)

![image](https://cloud.githubusercontent.com/assets/5578537/15840166/010f6416-2c16-11e6-977f-c523c1ec3fb2.png)

![image](https://cloud.githubusercontent.com/assets/5578537/15840168/0a52c766-2c16-11e6-8d6b-f57b1f19ea9e.png)

[2016-06-06 22:39] #35 closed, assigned to antonkorotkov

[2016-06-06 22:40] #5 closed, assigned to antonkorotkov

[2016-06-06 22:40] #29 closed, assigned to antonkorotkov

[2016-06-06 22:42] ewsopp commented on #21
I think this may be related to the number of thumbnails being generated. Try recreating 20 thumbnail sizes and uploading a set of large images (4,000px+).

[2016-06-07 12:07] antonkorotkov commented on #23
Done

[2016-06-07 15:23] antonkorotkov commented on #24
Done

[2016-06-08 01:50] ewsopp commented on #23
How are you handling broken images? At the moment, it just says "Please wait..." forever.
- [x] Maybe check to see if the original is available before beginning the regenerate process. If available, proceed as planned. If not available, output "Local file missing. Cannot proceed." or something similar.
- [x] You can take it one step further. If the file is missing locally, check for the file on GC

[2016-06-08 10:14] antonkorotkov commented on #23
All you described is exactly how that works. The only thing I missed is proper exceptions handling. It is more user friendly now.

[2016-06-08 12:12] antonkorotkov commented on #21
I tested using DDP image sizes set and 20+ images over 4000px at a time. Test was successful but I test on local WP installation.

I've noticed that processing of one image (uploading, resizing and pushing to GCS) takes about 2 minutes.  It means that `max_execution_time` on our servers must be greater than 2 minutes (as well as memory limit should be high enough). If it is less than 2 minutes HTT

[2016-06-08 13:55] antonkorotkov commented on #34
All my tests on local WP installations were successful. I'm going to debug this on `staging`.

[2016-06-08 15:14] antonkorotkov commented on #34
Just tested that large image on SMF staging. Uploading took 2 minutes.
<img width="1076" alt="00000212" src="https://cloud.githubusercontent.com/assets/2276882/15899538/b7411cb8-2da4-11e6-9295-d9cac8add3e3.png">

Not sure what exactly I should do to make it appear for me...

[2016-06-09 11:01] mrmiroslav opened #36 "wp multisite switch_to_blog"
Plugin does not play nicely with multisite when switching between blogs in source.

Say you wanted to copy media from blog A to blog B in wp-mu, which can be achieved by reading a media file, then switch_to_blog(B) and upload the media using media_handle_sideload(file , ...).

The issue is that bucket folder option is read on Settings instantiation. This though would be wrong as we switched to blo

[2016-06-09 11:03] mrmiroslav commented on #36
I could do a quick dirty fix with pull request for my specific problem if pull requests accepted?

[2016-06-09 11:08] antonkorotkov commented on #36
hey, you will not believe but we've just fixed that a moment ago (https://github.com/wpCloud/wp-stateless/commit/f675c462657818094429b3b6cd33d672272ac177) And going to release it soon.

[2016-06-09 11:10] antonkorotkov commented on #1
Fixed. Now switch_to_blog forces `settings` to be refreshed using new blog.

[2016-06-09 11:10] #1 closed, assigned to antonkorotkov

[2016-06-09 11:15] #36 closed, assigned to nobody

[2016-06-09 14:06] techstroke commented on #28
I'm having the exact same issue on debugging found out that the metadata is not being generated and xdebug shows that on image edit and save , the handle_on_fly method is called which just upload cropped images to cloud but doesn't update meta ! I'm using 1.7.3 available on wordpress plugin repo, kindly fix on priority :)

[2016-06-09 14:22] ewsopp commented on #21
Spoke with @andypotanin about this. Apparently our configuration has unlimited max_execution_time, so I'm not sure if that is the problem.

[2016-06-09 14:24] mrmiroslav commented on #21
post_max_size / upload_max_filesize ?

[2016-06-09 14:39] antonkorotkov commented on #28
@techstroke it seems you are talking about #31. Check `latest` branch, it is fixed there.

[2016-06-09 15:20] techstroke commented on #28
No, @antonkorotkov  I'm talking about the same issue which @Mashenka  has mentioned ie.

If you edit a media file (ie. crop it and press save ) then normally it should show cropped image that you can then insert into post , but when stateless is active  and when I press save after cropping a image , It does upload the cropped version to GCS and also creates file on local disk but the image that sh

[2016-06-09 15:25] antonkorotkov commented on #28
Yes, we know about the issue with image editor, but it is not connected to `handle_on_fly` method. Anyway we are working on it.

You can do pull requests if you want btw.

[2016-06-09 15:35] techstroke commented on #28
Oh great ! by the way really nice plugin and regarding that pull request my WP dev skills are a bit shaky, but I'll contribute with code in near future :)

[2016-06-10 09:20] andypotanin commented on #21
Okay, here are the PHP-FPM settings for the Docker container where Eric's site is running:
- upload_max_filesize - 80m
- post_max_size - 80m
- max_execution_time - 30
- max_input_time - 60

So I was wrong in regards to not having a `max_execution_time` limit, but I'm pretty sure that wp-stateless overrides that.

I think that it's going to be impossible for us to work around server limitations, in

[2016-06-10 18:10] ewsopp commented on #23
Not working.

Tested https://www.discodonniepresents.com/wp-admin/post.php?post=155494&action=edit and the 400x225 thumbnail used at https://www.discodonniepresents.com/photo/2016-0501-dallas-sisuuptown remains broken.

![image](https://cloud.githubusercontent.com/assets/5578537/15974167/14ac3e7a-2f15-11e6-968a-3b59fafc5980.png)

[2016-06-13 08:21] antonkorotkov commented on #23
I've checked that and found that image was created but for some reason it was not set as publicly accessible. I'm going to look into the plugin and make it check access rights and not only that image exists.

To fix the image I just deleted 400-225 size image from GCS and clicked Regenerate again.

[2016-06-13 09:32] antonkorotkov commented on #23
That is fixed.

[2016-06-13 10:33] antonkorotkov commented on #34
I've set time limit to `unlimited`. Let's test...

[2016-06-13 13:43] ewsopp commented on #23
Yep - works great now.

[2016-06-13 13:43] #34 closed, assigned to antonkorotkov

[2016-06-13 13:43] #24 closed, assigned to antonkorotkov

[2016-06-13 13:43] #23 closed, assigned to antonkorotkov

[2016-06-13 13:45] antonkorotkov commented on #21
Ok -
`upload_max_filesize - 80m`
`post_max_size - 80m`
do not make sense when wp-stateless is working. `max_input_time` also affects only when uploading an image (if WordPress was able to upload it - then 60 is enough)

The only left is `max_execution_time` which is now overridden with `-1` in wp-stateless. Not going to work on any setup since some may not allow overriding but for other cases we s

[2016-06-13 14:11] #21 closed, assigned to antonkorotkov

[2016-06-13 19:09] ewsopp commented on #3
Issue https://github.com/wpCloud/wp-stateless/issues/27 will handle this in a manual way, but we need something that handles it in an automated way. Is it a bad idea to constantly check for file differences and synchronize any found changes? I'm thinking about how dropbox works...

[2016-06-14 07:22] antonkorotkov commented on #3
I don't think it is even possible on WP plugin level actually. We can only hook when image is created/removed and do something with it.

We could potentially list all physical files and walk over them and check for sync state on some wp-cron job but I don't think it is good approach since once again it should not be done on wp plugin level because it is too time and memory consuming.

So my opinio

[2016-06-14 08:54] andypotanin commented on #3
@antonkorotkov I don't think this should be on the fly. But this would be a very useful general "Utility" for making sure all your files in uploads are registered as Media library objects, and therefore also on GCS.

So, perhaps this should be a special Tool/Utility you run manually. It'll find all files in uploads directory and create corresponding Media objects for them. While doing so, upload t

[2016-06-14 11:38] ewsopp commented on #3
@antonkorotkov damn - makes sense. However, to @andypotanin point - I describe how we can handle this manually via issue #27.

I'll close this issue for now, since it was about automating the sync.

[2016-06-14 11:38] #3 closed, assigned to antonkorotkov

[2016-06-14 14:14] antonkorotkov commented on #25
Done

[2016-06-15 14:52] antonkorotkov commented on #32
Done

[2016-06-15 15:42] antonkorotkov commented on #27
I have a lot of comments for each point so it probably would be better to create separate issues.

[2016-06-16 08:21] antonkorotkov opened #37 "Synchronize Media Library"
- [ ] The new `Synchronize Media Library` option scans the local media storage and GCS to create a list of files that do not reside on both ends. Some files might only be on GCS, and other files may only on local storage.
- [ ] For files that are only on local storage and DO exist in the media library, push copy to GCS and find/replace references of local file url.
- [ ] For files that are only on

[2016-06-16 08:30] antonkorotkov opened #38 "Regenerate Image Thumbnails"
- [ ] The new `Regenerate Image Thumbnails` option scans each media item, takes note of the current thumbnail sizes of the image by looking at file names of the existing thumbnails, takes note of the defined thumbnail sizes set by plugins and themes, and regenerates a new thumbnail for all of these sizes.

[2016-06-16 08:31] antonkorotkov opened #39 "The find/replace functionality"
The find/replace functionality should only happen when the user has selected another checkbox requesting it. We can also use this to warn them it will take extra long to perform.

[2016-06-16 08:31] antonkorotkov opened #40 "The thumbnail regeneration should only generate missing thumbnails by default."

[2016-06-16 08:59] antonkorotkov commented on #39
@ewsopp can you explain/describe what you mean saying "find/replace"? We already do content search/replace on fly when needed.

This option:
<img width="936" alt="00000215" src="https://cloud.githubusercontent.com/assets/2276882/16111113/c1041f28-33b9-11e6-883c-4fd5223a4478.png">

[2016-06-16 12:33] antonkorotkov commented on #37
@andypotanin @ewsopp The global problem here is that it is not always possible to say whether remote file exists in media library or not.

Look at the example:

Let say we have Media Object for `image.jpg` and corresponding files for it:
`image.jpg`,
`image-150x150.jpg`,
`image-300x300.jpg`,
`image-600x600.jpg`

Then imaging we ran a script that should try to determine whether file has correspondi

[2016-06-16 12:43] ewsopp commented on #37
We also need to synchronize other file types - not just images. It important that we handle all of this in one process if at all possible. Users shouldn't have to run separate tasks for images and non-images; it should be one button that does everything.

[2016-06-16 12:45] ewsopp commented on #37
How does this treat thumbnail sizes that were generated in the past, but are no longer defined? These wont be generated again because they are no longer defined, and they may be referenced within body content. We need to sync these as well.

[2016-06-16 14:12] antonkorotkov commented on #37
Ok... basically I think we can make some sort of files sync but the only thing I can't do is to create Media Objects while syncing. Is that ok?

In other words file systems will be synced but not every file will have corresponding Media Object.

[2016-06-16 14:25] antonkorotkov commented on #37
Actually, here is a live example. This is my local `uploads` folder. I've no idea what are these files except `2016`.

<img width="439" alt="00000217" src="https://cloud.githubusercontent.com/assets/2276882/16120141/37eb9a8a-33e7-11e6-936f-b520b493af38.png">
Which of them should be synced and which should not?

[2016-06-16 14:26] ewsopp commented on #37
I think at some point we will need to create extensions for WP-Stateless that support these files. For example, a Gravity Forms extension mentioned at https://github.com/wpCloud/wp-stateless/issues/2

[2016-06-16 14:29] antonkorotkov commented on #37
You did not understand what I mean. When sync script will look into `uploads` it does not matter for it what these files are and which plugin created them. The problem is I cannot separate them and they will be synced as well with ALL other uploads.

[2016-06-16 14:31] ewsopp commented on #37
I guess what I'm saying is that we sync only files that has corresponding Media Library objects and create separate extensions for plugins that add files into /uploads that are not indexed in the Media Library.

[2016-06-16 14:34] antonkorotkov commented on #37
But as I can see from todo list your initial idea was to sync entire local media storage, not only files that have Media Object.

[2016-06-16 14:36] ewsopp commented on #37
Part of my objective here is to sync thumbnail images that have sizes that are no longer defined. This happens with old websites that change themes and plugins that add/remove thumbnail sizes.

We need to make sure we bring these sync images.

[2016-06-16 14:38] antonkorotkov commented on #37
Yes, that is possible but once again - I cannot create Media Objects for these abandoned thumbnails. Will that work for us?

[2016-06-16 14:45] ewsopp commented on #37
Why would you create media objects for thumbnails? It is already associated with a media library object.

[2016-06-16 14:49] antonkorotkov commented on #37
Imaging Media Object was removed but files are still in bucket. Then we run sync and see that we simply don't know what these images are but they still may be used in content. That's the key problem.

[2016-06-16 14:50] ewsopp commented on #37
I'm not sure you understand the problem I am describing. We will need to voice on this so I can explain it to you.

[2016-06-16 15:14] antonkorotkov commented on #37
ok, let's do it tomorrow...

[2016-06-16 15:23] andypotanin commented on #37
Im confused a bit also. Lets do call with three of us to figure out best way to handle this.

[2016-06-19 09:00] andypotanin commented on #25
@antonkorotkov can you please start including the link to GH issues in your commits? It makes it easier to others to track down in what commit things were actually done.

Thanks.

[2016-07-05 14:18] Mashenka opened #41 "Option to hide from wp-admin if enabled via wp-config.php"
Much like how there is already options for bucket and mode with "define( 'WP_STATELESS_MEDIA_BUCKET', '*' );" etc. There should be an option to hide all WP-Stateless plugin menu's from the admin dashboard. This will be incredibly useful for multisite installs where users don't know what they're messing with. But will also help simplify the single site interface.

It could be something along the li

[2016-08-12 13:10] onnimonni opened #42 "Add this plugin to packagist.org"
This would help us to use it more easier.

Also please add your custom libraries it's using to packagist.

Thanks :)!

[2016-08-12 13:18] onnimonni opened #43 "Composer installation for 1.9.1 is not working"
This is because there's actually no package existing with this name: usabilitydynamics/google-api-php-client

This would be fixed with this PR: https://github.com/UsabilityDynamics/google-api-php-client/pull/1

[2016-08-12 13:32] #43 closed, assigned to nobody

[2016-08-12 13:34] onnimonni commented on #42
In order to install this plugin with composer I have to add following to my composer:

[code]

You could make this all easier by using packagist.org for all your custom packages. So after that the composer installation would be just:

[code]

[2016-08-31 12:06] shaneog opened #44 "Add ability to set keyfile JSON via environment variable"
It would be great to be able to set the keyfile JSON as an environment variable, for example: WP_STATELESS_MEDIA_KEY_FILE_JSON

[2016-08-31 12:17] antonkorotkov commented on #44
Could you try please using this one WP_STATELESS_MEDIA_KEY_FILE_PATH. Report please if it works or not. Thanks.

[2016-08-31 12:29] shaneog commented on #44
I'm afraid that doesn't work, @antonkorotkov.

![wp-stateless](https://cloud.githubusercontent.com/assets/130415/18128764/ce4c7dd0-6f5d-11e6-9359-feb08da0b76b.png)

[2016-08-31 12:34] shaneog commented on #42
From what I can see, it's only the fork of `google-api-php-client` that is preventing the use of Packagist.
Is there any reason why a fork is required - it doesn't look too different to the released API library from Google?
It would be great to see Packagist implemented.

[2016-09-12 04:02] jj999 opened #45 "Always getting an error - Could not connect to Google Storage bucket."
Hi guys,

Your plugin is what I need, but I always get below error:

WP-Stateless is not active due to following errors:
Could not connect to Google Storage bucket. Please, be sure that bucket with name 'my-bucket' exists.

I'm using WP 4.6.1 (multisite) and also it seems Google has added roles (and permissions?) into the service account. I tried different settings - with storage roles and without

[2016-09-12 08:46] Mashenka commented on #45
Hello.

Try to check your user account and JSON credentials one more time.

Regards.

[2016-09-12 10:32] jj999 commented on #45
Bucket name is correct and JSON credentials were copy/pasted from service account when I created it. I also found error message from is_connected(): (I'm trying to access it from Google compute Engine)
{
 "error": {
  "errors": [
   {
    "domain": "global",
    "reason": "forbidden",
    "message": "Forbidden"
   }
  ],
  "code": 403,
  "message": "Forbidden"
 }
}
And here is more detailed messag

[2016-09-12 18:01] 4loveofpunk opened #46 "WP-Stateless Activated on New Server Slow or Offline"
Hello,

I had this plugin on 20 plus sites with EasyApache 4 / CloudLinux / Nginx combo and everything was perfect. I just set up a brand new server with the same combination and have tracked down that if this plugin is enabled, the site slows to 3 minute load times or I get "website is offline" for any site that I activate wp-stateless on. Once deactivated, everything for the site works perfectly

[2016-09-12 19:06] #32 closed, assigned to antonkorotkov

[2016-09-12 19:06] #25 closed, assigned to antonkorotkov

[2016-09-13 11:51] Mashenka commented on #45
Account which you have at the moment does not have access to that bucket. Try to re-create your account.

[2016-09-13 13:49] jj999 commented on #45
Mashenka - thank you very much, it seems it is starting to work :) :+1:

[2016-09-13 13:52] Mashenka commented on #45
Can you give steps for other users who will have similar issue how to fix that?

Thanks.

[2016-09-13 14:06] jj999 commented on #45
It seems to me google added new field called "role" into Service account creation screen. The easiest thing is to not to select any role, and then go to your bucket and add new permission - for your Service user you just created - for example: You add permission for **User**, you enter **Service user name** - my-project-bucket-user@my-project-123456.iam.gserviceaccount.com and add permission as **

[2016-09-13 14:12] Mashenka commented on #45
Thanks for feedback.

[2016-09-13 14:12] #45 closed, assigned to nobody

[2016-09-23 02:01] AJB99 opened #47 "Custom Domain Support?"
Hi there,

Great plugin, thanks for this.

Is there a way that I can force WP-Stateless to use a custom domain?

For example, I've got the following bucket `cdn.mysite.com` and I'd like have WP-Stateless create URLs for any uploaded media as `https://cdn.mysite.com/media/file-name-here.jpg`.

Thanks in advance for any help!

[2016-09-23 02:52] AJB99 commented on #27
Is there any update on this? I'd love the option to just transfer the existing files without regenerating thumbnails. Currently, there's 4500 uploads on the site I'm working on and it would take 22.5 hours to regen and transfer all the files to GCS.

[2016-12-27 14:58] ewsopp commented on #40
Actually, this would be useful as an option. Covered by issue https://github.com/wpCloud/wp-stateless/issues/22

[2016-12-27 14:58] #40 closed, assigned to nobody

[2017-01-03 08:14] alimuzzaman commented on #37
@antonkorotkov @ewsopp @andypotanin What was the result of talk?

[2017-01-03 12:11] ewsopp commented on #37
@alimuzzaman I'm available for a phone call. Lets voice.

[2017-01-03 13:34] andypotanin opened #48 "Integrate Freemius"

[2017-01-03 14:20] #11 closed, assigned to nobody

[2017-01-03 14:21] andypotanin commented on #46
@4loveofpunk is this problem still happening? Were you able to resolve?

[2017-01-03 14:22] andypotanin commented on #47
@AJB99 Not yet. If you don't mind, please add this idea to http://feedback.usabilitydynamics.com/forums/353541-wp-stateless that way we'll be able to add it to the queue. Thanks.

[2017-01-03 14:22] #47 closed, assigned to nobody

[2017-01-03 15:32] alimuzzaman commented on #48
@andypotanin Anything else need to do?

[2017-01-03 16:17] 4loveofpunk commented on #46
@andypotanin it is not. Not sure what the problem was (maybe an extension not enabled on the server at the time) but I'm since moved to new VPS and everything seems to be working great!

[2017-01-03 18:58] andypotanin commented on #46
Okay glad to hear.

[2017-01-03 18:58] #46 closed, assigned to nobody

[2017-01-03 19:48] andypotanin opened #50 "Move Stateless management UI to dedicated admin page under Media."

[2017-01-03 19:50] andypotanin commented on #27
@AJB99 we're working on this. Let me know if you're interested in this, perhaps you could do some testing for us.

[2017-01-04 10:10] andypotanin opened #51 "Automated Setup and Service Account Creation"
Setting up a connection with Google Cloud and especially creating service accounts is difficult. We can make this process much better.

I have added a "Google Login" button that starts the process by creating an "Access Token" for the user that is setting up WP-Stateless. You can see the button here:

![image](http://g.recordit.co/EEvxkcuLFp.gif)

After the login process (oAuth) is complete, we ha

[2017-01-04 10:10] andypotanin opened #52 "Expose REST API for Jobs"
We need to expose the ability to run a part of a job (batch) as well as see some basic detail about a job using the WordPress REST API.

For example:

`http://example.com/wp-json/wp-stateless/v1/jobs` would return a list of jobs that are available while `http://example.com/wp-json/wp-stateless/v1/job/2343243` would return detail about a job.  I've created the placeholder endpoint already, it looks

[2017-01-04 10:11] andypotanin opened #53 "Convert Stateless Sync to use "Stateless Jobs""
We need a better way of storing active "jobs" that have been started - e.g. synchronization. I believe we should create a custom post type (e.g. `wp_stateless_job`) that would be hidden from the UI but used internally for:

- [ ] Having a unique ID for a running job.
- [ ] Use post meta to record detail about the job - e.g. when it was started, if there have been any issues with a running job that

[2017-01-04 10:41] andypotanin commented on #51
It's worth noting that we are not storing the "Access Token" in the database. We are storing it in `sessionStorage` because it's meant to be temporary - enough to create a "Service Account" for the site to use.

[2017-01-04 11:05] andypotanin opened #54 "Implement API Job handler via UD Product API."
Whenever a job is started an API request is made to the UD Product API. The Product API will then act as a browser would, running the job in batches by making requests back to the WordPress site.

This means large jobs that span days can be ran in the background. This API will be free, but we will require some sort of authentication token for WP-Stateless installs for resource-managing purposes, w

[2017-01-04 11:05] andypotanin commented on #53
Once this implementation is done, the current UI (that uses AJAX to make ongoing requests) should still work as before. We will be implementing our remote job runner in https://github.com/wpCloud/wp-stateless/issues/54 issue.

[2017-01-04 13:41] andypotanin opened #55 "Integrate Product API Registration"
Same method we use within other products to verify site is reachable.

[2017-01-04 13:42] andypotanin commented on #54
@alimuzzaman coordinate with @kavaribes on this, he is setting up the API here https://github.com/UsabilityDynamics/node-product-api/issues/7.

[2017-01-05 00:31] andypotanin commented on #51
@alimuzzaman seems to be getting there, some feedback

![image](https://cloud.githubusercontent.com/assets/1255935/21664270/849e9a60-d2b3-11e6-8132-cb6f9ef9e382.png)

![image](https://cloud.githubusercontent.com/assets/1255935/21664309/a168aac8-d2b3-11e6-9773-41a8c2b758ef.png)

![image](https://cloud.githubusercontent.com/assets/1255935/21664439/85afd620-d2b4-11e6-8777-3d6d108cf683.png)

[2017-01-05 00:37] andypotanin opened #57 "Add Pre-Release Update Mode"
* [ ] Add pre-release checks and option.
* [x] Add product to updates API.

[2017-01-05 05:25] ghost opened #58 "Override default Cache Control - Not Working"
My Catch Control is set to "public, max-age=2592000, must-revalidate" but it doesn't work it, HTTP header is still set to 10hrs for some reason

Stuff removed from function.php (maybe i am removing something thats required by this plugin?)
http://pastebin.com/raw/dBQh5XwQ

[2017-01-05 22:15] kavaribes commented on #54
We need any token at request to Product API for safe callback request.

[2017-01-05 22:48] andypotanin commented on #54
@kavaribes so:

[code]

* `callback_url` - The URL our Job API will make requests to, replacing the `%data_id%` with an item from the `data` array.
* `callback_secret` - secret hash generated by the WordPress site for this particular job. Its up to the WordPress site to verify it.
* `payload` - Array of items we use to iterate. (We called this `data` above, but I think `payload` makes more sense.

[2017-01-06 15:31] kavaribes commented on #54
@andypotanin Yes. And for host available request needed home url. Parse `callback_url` or maybe send from WP in object home url?

[2017-01-16 18:12] ewsopp commented on #48
@andypotanin are we still going to integrate freemius?

[2017-01-16 18:18] ewsopp opened #59 "setup wizard"
I'll be creating separate issues for each screen.

## Screens
- [x] welcome splash https://github.com/wpCloud/wp-stateless/issues/60
- [x] step one - google login https://github.com/wpCloud/wp-stateless/issues/61
- [x] step two - setup project https://github.com/wpCloud/wp-stateless/issues/62
- [ ] step three - complete https://github.com/wpCloud/wp-stateless/issues/63

[2017-01-16 18:33] ewsopp opened #60 "setup wizard - welcome splash"
inspect design at https://projects.invisionapp.com/d/main#/console/10029877/213973196/inspect

![image](https://cloud.githubusercontent.com/assets/5578537/21994577/66ec098c-dbee-11e6-8821-8035f14282fc.png)

- [x] "Get Started Now" and "Google Login" buttons will send the user to Step 1.
- [x] Change "Google Login" button label to "Get Started"

![image](https://cloud.githubusercontent.com/assets/5

[2017-01-16 18:35] ewsopp opened #61 "setup wizard - google login"
inspect design at https://projects.invisionapp.com/d/main#/console/10029877/214297216/inspect

![image](https://cloud.githubusercontent.com/assets/5578537/21994971/71d7e256-dbf0-11e6-8226-36c9c7fc944c.png)

- [x] Clicking "Google Login" button should initiate permissions request.
- [x] When the user accepts and returns to WordPress, proceed to Step 2.
- [x] If the user rejects and returns to WordP

[2017-01-16 18:48] ewsopp opened #62 "setup wizard - setup project"
# Cases
- [x] User has no project and no billing account. https://github.com/wpCloud/wp-stateless/issues/62#issuecomment-272938674
- [x] User has project(s), but no billing account. https://github.com/wpCloud/wp-stateless/issues/62#issuecomment-272941067
- [x] User has project(s) and billing account(s). https://github.com/wpCloud/wp-stateless/issues/62#issuecomment-272945625

[2017-01-16 18:57] ewsopp commented on #62
## User has no project.

![image](https://cloud.githubusercontent.com/assets/5578537/21995366/8940df40-dbf2-11e6-8811-3f7b6740dd37.png)

If the user has no Google Cloud projects and no billing account, then we send them to the below screen.

inspect this design at https://projects.invisionapp.com/d/main#/console/10029877/214382608/inspect

- [x] Show the user's google account avatar, name, and ema

[2017-01-16 19:10] ewsopp commented on #62
#  User has project(s), but no billing account.

![image](https://cloud.githubusercontent.com/assets/5578537/21995697/3677116a-dbf4-11e6-9112-907ded1c354e.png)

If the user has a Google Cloud project, but has no billing account - we present this screen.

inspect this design at https://projects.invisionapp.com/d/main#/console/10029877/214381034/inspect

## Google Cloud Project

![image](https://clo

[2017-01-16 19:35] ewsopp commented on #62
# User has project(s) and billing account(s).

![image](https://cloud.githubusercontent.com/assets/5578537/21996547/c6fd8788-dbf8-11e6-8011-605151904eb1.png)

- [x] If the user has project(s) and billing account(s), then we simply show all the fields preset.
- [x] The user still has the option to configure each setting as he/she desires.

![image](https://cloud.githubusercontent.com/assets/5578537

[2017-01-16 19:44] ewsopp opened #63 "setup wizard - complete"
![image](https://cloud.githubusercontent.com/assets/5578537/21996787/df261e50-dbf9-11e6-89d9-ee6d16525dc2.png)

inspect this design at https://projects.invisionapp.com/d/main#/console/10029877/214297214/inspect

- [x] link "settings panel" text to the stateless settings panel.
- [x] change "Continue" button label to "Upload Something!" and link it to the upload media library screen. `/wp-admin/med

[2017-01-26 18:51] ewsopp commented on #48
Hold on this. Not sure we are going to implement freemius now.

[2017-01-27 15:24] ewsopp opened #65 "setup wizard quality control"
- [x] remove "back to splash screen" button.
- [x] if user leaves setup wizard before completing step 2, they should land on the splash page when they return.
- [x] logout button doesn't appear to work.
- [x] if user is already loggedin with Google, skip Step 1 and proceed to Step 2.
- [x] default project name should be the website domain name and replace dots with dashes. ex: `mywebsite.com` woul

[2017-01-27 15:31] ewsopp commented on #65
- [x] use gray background styling for currently selected option and hover style for all dropdowns.

![image](https://cloud.githubusercontent.com/assets/5578537/22376163/ea98a7a6-e47a-11e6-9d76-f184592af369.png)

- [x] if user selects and existing project, keep the "Create New Project" option available in the dropdown.

![image](https://cloud.githubusercontent.com/assets/5578537/22376219/1f9a7f4c-e

[2017-01-27 15:56] ewsopp commented on #62
- [x] If the user selects and existing project and that project already has a billing account, only display that account in the billing account field without the ability to edit it.

![image](https://cloud.githubusercontent.com/assets/5578537/22377289/4abe5140-e47f-11e6-9c5c-6ffaef8e76cc.png)

[2017-01-27 15:56] ewsopp commented on #65
- [x] update the "Existing Buckets" label to use project name.

![image](https://cloud.githubusercontent.com/assets/5578537/22376565/8f8c1ca6-e47c-11e6-9dcc-ffe17f5351ce.png)

[2017-02-24 21:54] ewsopp opened #66 "plan lineup responsiveness"
reference https://usabilitydynamics-sandbox-uds-io-develop-alim.c.rabbit.ci/wp-admin/upload.php?page=stateless-setup-wizard

![image](https://cloud.githubusercontent.com/assets/5578537/23322423/d95b6dfa-fab1-11e6-9389-5dc0d8dcd3b9.png)

[2017-02-24 21:55] ewsopp opened #67 "setup step progress bar responsiveness"
reference https://usabilitydynamics-sandbox-uds-io-develop-alim.c.rabbit.ci/wp-admin/upload.php?page=stateless-setup-wizard&step=google-login

![image](https://cloud.githubusercontent.com/assets/5578537/23322465/12c3400e-fab2-11e6-854b-8bb9ea55fa67.png)

![image](https://cloud.githubusercontent.com/assets/5578537/23322468/1a376630-fab2-11e6-9b90-b9451c9c0b16.png)

[2017-02-24 21:58] ewsopp commented on #65
@alimuzzaman Why is the "Back to splash screen" commented out? It should be removed.

![image](https://cloud.githubusercontent.com/assets/5578537/23322541/6c743234-fab2-11e6-81ba-3fb8e7dfe19d.png)

[2017-02-24 22:01] ewsopp opened #68 "create new billing account button styling"
## Current Output

![image](https://cloud.githubusercontent.com/assets/5578537/23322605/c1553154-fab2-11e6-92cd-ac062a51d32c.png)

## Compare to Design

![image](https://cloud.githubusercontent.com/assets/5578537/23322623/d35fa35c-fab2-11e6-93d1-b91d746a4051.png)

[2017-02-24 22:06] ewsopp opened #69 "wrong name and email address displayed"
After logging-in, the designer's name and email address is displayed briefly before my information is displayed.

![image](https://cloud.githubusercontent.com/assets/5578537/23322781/88c2d53e-fab3-11e6-9ee4-b9c3d5239614.png)

[2017-02-24 22:07] ewsopp opened #70 "logout button doesn't appear to work"
Clicking the logout button sends me back to Step 1, this is good.

However, when I click the "Google Login" button again I am not prompted to login with Google. It simply shows the previous account I logged-in with.

It doesn't seem to actually log me out.

[2017-02-24 23:29] ewsopp opened #71 "new google cloud project title and ID"
![image](https://cloud.githubusercontent.com/assets/5578537/23324712/8a49f964-fabd-11e6-990e-8019fcd72af4.png)

## Project Title

- [x] The default title option is the website's domain name.
- [x] Convert periods to dashes.
- [x] Limit to 30 characters.
- [x] Minimum of 5 characters.

![image](https://cloud.githubusercontent.com/assets/5578537/23324871/c34f8818-fabe-11e6-9e86-c6fb39c13264.png)

##

[2017-03-02 16:47] ewsopp opened #72 "google cloud service account"
What name do we give the service account on Google Cloud? What role do we assign this account?

[2017-03-13 18:19] #48 closed, assigned to ewsopp

[2017-03-13 18:20] #51 closed, assigned to alimuzzaman

[2017-03-23 03:57] blesphil commented on #45
Hi,

WP-Stateless is showing an error all the time. I adjusted the roles and settings in GCS Console (There's not much settings to play around in the plugin itself-which I say is amazing-keep it simple), but it shows the same error all the time:

"WP-Stateless is not active due to following errors: Could not connect to Google Storage bucket."

I found a couple of threads that talk of the same prob

[2017-03-23 03:58] blesphil opened #73 "Could Not Connect to GCS Bucket Error"
Hi,

WP-Stateless is showing an error all the time. I adjusted the roles and settings in GCS Console (There's not much settings to play around in the plugin itself-which I say is amazing-keep it simple), but it shows the same error all the time:

"WP-Stateless is not active due to following errors: Could not connect to Google Storage bucket."

I found a couple of threads that talk of the same prob

[2017-03-23 04:00] ewsopp commented on #73
After you create the service account, try setting the role to "Storage Admin". This should give it the appropriate access to all buckets in the project.

[2017-03-23 04:06] blesphil commented on #73
Hi Eric,

Thanks for the prompt reply. I tried that as well. Still the same error.

"WP-Stateless is not active due to following errors: Could not connect to Google Storage bucket. Please, be sure that bucket with name (bucketname) exists."

Bles

[2017-03-23 04:09] ewsopp commented on #73
Did you create a bucket on the Google Cloud project? The current production release of WP-Stateless does not create the bucket for you.

Also - make sure the bucket name setting matches the name on Google Cloud. I usually just name it "stateless" or "media" to keep it simple.

[2017-03-23 04:14] blesphil commented on #73
Hi Eric,

I created the bucket in the GC Console. And then I just entered the name of the bucket in the name area of the plugin, and then I entered the JSON key in the required area.

I tried this on a live (demo) server and it works. Maybe the plugin (or GCS) doesn't work it out on a development server (localhost). Would've been nice if it did (as I like to do all the site work offline and then t

[2017-03-23 04:16] ewsopp commented on #73
Hmm - you might be right. I don't work locally, so I cannot confirm this myself. I'll make a note of this and maybe we can build `localhost` support in a future release.

[2017-03-23 04:20] blesphil commented on #73
Yeah... Thanks for the help Eric! And the excellent plugin! You guys are doing a great job! Please let me know if I can be of any help in any way!

[2017-03-23 04:23] #73 closed, assigned to nobody

[2017-03-28 07:20] alimuzzaman commented on #70
It's worked fine when sin into multiple account.
If you have sin into only one account then it login automatically.
@andypotanin Need to show the login prompt every time or logout option in API.
&max_auth_age=0
Something like [No prompt for re-authentication with OAUth2. Why and how to force it?
](http://stackoverflow.com/questions/19379627/no-prompt-for-re-authentication-with-oauth2-why-and-how-t

[2017-03-28 15:15] andypotanin commented on #70
@alimuzzaman What do you mean by:

User can sign in into multiple Google accounts at the same time with oAuth?

I guess I'm really not sure what the issue is.

[2017-03-28 16:15] alimuzzaman commented on #70
@andypotanin
User can't sine into multiple/another account when loged in to one account.
I mean when user loged in multiple account already. In this case it show account to choose.
![image](https://cloud.githubusercontent.com/assets/6744156/24415808/88821494-1404-11e7-8d14-785aaa5cf64b.png)
But if there are only one account nothing showed.
I can show you, if not clear.

[2017-03-31 09:43] alimuzzaman commented on #72
@ewsopp Service account uses bucketId bucketName with stateless prefix (If already don't have in bucket name).

[2017-04-11 10:33] kevin25 opened #76 "Regenerate all stateless images and synchronize Google Storage with local server"
I resized and synced images but i saw nothing on my GSE.

[2017-04-11 10:44] Mashenka commented on #76
Hello.

It seems you are talking about this issue - https://github.com/wpCloud/wp-stateless/issues/28
You can contact us directly I will send you version where that fixed.
https://www.usabilitydynamics.com/contact-us/

Regards.

[2017-04-11 11:58] kevin25 commented on #76
I want to synchronize the images only. But i haven't found any images after having synchronized. I'll contact you shortly. Thank you

[2017-04-11 12:04] #76 closed, assigned to nobody

[2017-04-18 18:40] alimuzzaman commented on #52
@andypotanin Please clarify

 What do you mean by **first step**? first attachment?

[2017-04-18 21:44] alimuzzaman commented on #70
Should user ask for login for every time user click "Google Login" button or only after user click logout?

[2017-04-18 21:50] ewsopp commented on #70
Only after the user click's the logout button.

[2017-04-20 15:35] #60 closed, assigned to alimuzzaman

[2017-04-20 15:42] ewsopp commented on #61
If the user clicks "Deny" on the Google permission request, we should return the user to Step 1 screen in the Stateless Setup.

Watch video at https://www.dropbox.com/s/0mxxaitj929iyr2/stateless-google-login-deny-01.mp4?dl=0

![image](https://cloud.githubusercontent.com/assets/5578537/25239628/7e284ed4-25be-11e7-948d-2b8d4962c820.png)

[2017-04-20 16:21] #65 closed, assigned to alimuzzaman

[2017-04-20 16:22] #66 closed, assigned to alimuzzaman

[2017-04-20 16:24] #71 closed, assigned to alimuzzaman

[2017-04-20 16:24] #69 closed, assigned to alimuzzaman

[2017-04-20 16:26] #68 closed, assigned to alimuzzaman

[2017-04-20 16:27] #67 closed, assigned to alimuzzaman

[2017-04-20 16:27] ewsopp commented on #72
What role do we assign this account?

[2017-04-20 16:44] ewsopp opened #78 "bucket list is not updated when switching between new and existing projects"
I created a video that demonstrates the problems at https://www.dropbox.com/s/97i5z1pe4f79bv4/stateless-bucket-list-issues-01.mp4?dl=0

## Problems Demonstrated in Video
- [x] use dashes in bucket name.
- [x] existing bucket list is not updated when switching from existing project to create new project.
- [x] generated bucket name should always fit the bucket name restrictions.

[2017-04-20 16:55] ewsopp opened #79 "field validation doesn't update after selecting an existing project"
Watch video demonstrating the problem at https://www.dropbox.com/s/urnxnhszucfuuj5/stateless-field-validation-01.mp4?dl=0

Should we remove field validation when selecting an existing project? We already know it is a valid option. We really only need to validate the field for custom/new project names.

Steps to Reproduce
1 - empty default generated project name.
2 - see a warning that says project

[2017-04-20 17:09] ewsopp opened #80 "using existing project, default bucket name is not generated correctly"
When selecting an existing project, the default generated bucket name should still be based on the website's domain name. It should not be based on the project name or id.

Watch video demonstrating the issue at https://www.dropbox.com/s/pg72grseqbu9gu2/stateless-bucket-name-01.mp4?dl=0

[2017-04-20 17:27] ewsopp opened #81 "selected billing account and dropdown"
- [x] selected billing account should show name and id. ex: `Jack Company LLC (32988-3323-32343)`
- [x] remove the section about "Existing Projects"

![image](https://cloud.githubusercontent.com/assets/5578537/25244017/0a9e15b6-25cd-11e7-8050-48968bd0ab62.png)

- [x] rename "Existing Projects" to "Existing Billing Accounts"

[2017-04-20 17:43] ewsopp opened #82 "buckets don't have ids"
I don't think buckets have an ID. The bucket name is unique across the entire Google Cloud infrastructure, so the name is both the name and ID.

We shouldn't be doing anything with IDs for buckets.

Do you have any logic that has to do with bucket IDs?

![image](https://cloud.githubusercontent.com/assets/5578537/25244607/73b80050-25cf-11e7-9f7f-c533f9f69411.png)

[2017-04-20 17:46] ewsopp opened #83 "show project id when selecting an existing project"
If the user selects an existing project, we should show both the project name and ID in the field as you do in the dropdown.

![image](https://cloud.githubusercontent.com/assets/5578537/25244690/b6dadaf6-25cf-11e7-95b4-162c2f396f7c.png)

[2017-04-20 17:53] ewsopp opened #84 "when selecting an existing project with an attached billing account, lock billing field to billing account set for the project"
If the user selects a project that already has an assigned billing account, we should not allow the user to change it.

For an existing project that already has a billing account assigned, simply show the billing account name and ID in the field. Do not show a dropdown with options and do not allow the user to change it.

[2017-04-22 19:06] alimuzzaman commented on #61
@andypotanin On deny it's redirect with `error=access_denied` parameter. If error param is set pass that to user site (state param) as done on success but with the error param.

This is the url google redirect after click Deny button. But `product api` don't recognize **`error`** parameter.
https://usabilitydynamics-node-product-api-production.c.rabbit.ci/stateless/v1/auth/google?error=access_deni

[2017-04-22 19:23] alimuzzaman commented on #72
@ewsopp Service account doesn't get any global role. It's only get `Owner` role to selected/created bucket.

[2017-04-25 19:37] alimuzzaman commented on #70
@andypotanin add parameter **`max_auth_age=0`** to auth url  if it's passed from user site.
Maybe [https://github.com/UsabilityDynamics/node-product-api/blob/production/routes/stateless-v1/index.js#L332](https://github.com/UsabilityDynamics/node-product-api/blob/production/routes/stateless-v1/index.js#L332)

[2017-04-29 04:15] BaldwinKoo opened #86 "Problem using WP_STATELESS_MEDIA_KEY_FILE_PATH: Service Account JSON is invalid."
Error:
WP-Stateless is not active due to following errors:

    Service Account JSON is invalid.

wpconfig file:
[code]

I uploaded the credentials.json file to /etc/secrets/

[2017-04-29 06:36] Mashenka commented on #86
Hello.

Try to disable all third party plugins to investigate the issue.

Regards.

[2017-04-29 06:42] BaldwinKoo commented on #86
Hi,

Thanks for the fast response, the wordpress site is a fresh install in a docker container.

I did verify the json key worked when i disabled the key file path and added it in manually through the options page. So there is nothing wrong with the json key itself.

Seems as if the plugin cannot read credentials.json for some reason.

[2017-04-29 06:49] Mashenka commented on #86
So that is correct way to add creds on option's page. Is that working for you without issues?

Where did you found information that they need to be set up in config file?

[2017-04-29 06:54] BaldwinKoo commented on #86
Yes that way does work without issues but I need to define everything inside the config so I do not need to input my json key manually every time my container restarts.

The options were found in the readme.md

[code]

[2017-04-29 06:57] Mashenka commented on #86
@alimuzzaman do you know the reason why that may not work?

[2017-04-29 19:55] alimuzzaman commented on #86
**p12** key file format is no longer supported. In order to support new **JSON** format this feature has
 been removed. I have added the feature using JSON key format instead of p12. You will find the changes here https://github.com/wpCloud/wp-stateless/commit/a449b5c14bd170a347051cf7c587b3a213b18f67

[2017-04-29 20:02] alimuzzaman commented on #86
@BaldwinKoo You can apply only this changes https://github.com/wpCloud/wp-stateless/commit/a449b5c14bd170a347051cf7c587b3a213b18f67 (#92-#131 is must) on your site, as this will be on next release.
Or you can use the **`latest`** branch( latest branch is stable but have some unfinished feature) after @Mashenka merge the pull request.

[2017-04-29 22:12] BaldwinKoo commented on #86
Added those lines and it works perfectly.

Loving this plugin,  keep it up!

[2017-04-29 22:12] #86 closed, assigned to nobody

[2017-04-30 12:26] alimuzzaman commented on #28
@ewsopp Wasn't the problem solved?

[2017-04-30 22:54] ashutoshpw opened #88 "adding a option to select CDN URL"
As of now it is using default Google Storage bucket CDN URL starting with **https://storage.googleapis.com/<bucket_name>**

There should be an option whether the user want to use
1. https://storage.googleapis.com/<bucket_name> OR
2. http://bucket-name/path/

[2017-05-01 12:28] ewsopp commented on #28
Not sure, I will review it.

[2017-05-02 14:37] alimuzzaman commented on #88
@ashutoshpw
While we are working on it here a quick fix.
Here are some useful links for how to setup.
http://www.connecto.io/blog/creating-a-cdn-on-your-custom-domain-using-google-cloud-storage/
https://cloud.google.com/storage/docs/hosting-static-website

Drop this code in your themes function.php or where you want.

[code]

[2017-05-03 03:40] ashutoshpw commented on #88
Well, I actually changed the URL by changing code in my WP stateless code.

[2017-05-03 06:09] Mashenka commented on #28
@alimuzzaman I have checked, for me was working

[2017-05-09 17:27] ewsopp opened #89 "incorrect bucket name displayed"
After logging in via Google, I proceed to Step 2 to setup the project and bucket.

The default bucket name displayed is incorrect. It is displayed correctly in the dropdown, but the selection is wrong.

![image](https://cloud.githubusercontent.com/assets/5578537/25863826/3c1e9dde-34bb-11e7-8f32-5443fce56e64.png)

[2017-05-09 17:29] ewsopp commented on #82
I still see this. What is it?

![image](https://cloud.githubusercontent.com/assets/5578537/25863919/87e89fa8-34bb-11e7-834e-a3bd7dc84bf4.png)

[2017-05-09 17:31] ewsopp commented on #84
This is still not working correctly.

[2017-05-10 12:03] alimuzzaman commented on #82
You still have the old version. check on https://sandbox-uds-io-develop-alim.c.rabbit.ci/wp-admin/upload.php?page=stateless-setup-wizard&step=setup-project

[2017-05-10 23:33] #89 closed, assigned to alimuzzaman

[2017-05-10 23:33] ewsopp commented on #89
This appears fixed now.

[2017-05-10 23:36] ewsopp commented on #84
It's fixed now. Thanks!

[2017-05-10 23:36] #84 closed, assigned to alimuzzaman

[2017-05-10 23:36] ewsopp commented on #83
working now. thanks

[2017-05-10 23:36] #83 closed, assigned to alimuzzaman

[2017-05-10 23:41] ewsopp commented on #82
Looks correct now. Thanks!

[2017-05-10 23:41] #82 closed, assigned to alimuzzaman

[2017-05-10 23:51] #81 closed, assigned to alimuzzaman

[2017-05-10 23:54] ewsopp commented on #80
looks good.

[2017-05-10 23:54] #80 closed, assigned to alimuzzaman

[2017-05-10 23:57] #79 closed, assigned to alimuzzaman

[2017-05-10 23:59] ewsopp commented on #78
looks correct now. thank you

[2017-05-10 23:59] #78 closed, assigned to alimuzzaman

[2017-05-11 00:00] #72 closed, assigned to alimuzzaman

[2017-05-11 00:03] #70 closed, assigned to alimuzzaman

[2017-05-11 00:06] ewsopp commented on #61
much better now. thanks!

[2017-05-11 00:06] #61 closed, assigned to alimuzzaman

[2017-05-11 01:05] ewsopp opened #90 "setup: user has no project and no billing account."
## Problems
1. Name, Email Address, and Logout button missing.

![image](https://cloud.githubusercontent.com/assets/5578537/25927123/83ab9560-35c1-11e7-8a6a-163d34f596fe.png)

2. After enabling Google Cloud on the Google account, I returned to WP-Stateless window and it took too long to discover that a billing account was now available.
3. Project is never created.

![image](https://cloud.githubus

[2017-05-11 13:35] zesarone opened #91 "cached is_connected_to_gs status"
I have an issue with speed that i tracked down to the following line being deactivated.
https://github.com/wpCloud/wp-stateless/blob/v1.0/lib/classes/class-bootstrap.php#L586

Is there a reason for this?
It seems to work well with the is_connected_to_gs caching active.

[2017-05-12 14:59] Mashenka commented on #91
@alimuzzaman can you check that please

[2017-05-17 13:29] zesarone commented on #91
Excellent! Thank you for a quick fix.

[2017-05-17 13:29] #91 closed, assigned to nobody

[2017-05-22 11:21] You-Honey opened #93 "Plugin keeps fetching oauth token from googleapis.com every page load"
<img width="795" alt="screen shot 2017-05-22 at 14 18 47" src="https://cloud.githubusercontent.com/assets/22659221/26305869/be60df3a-3ef9-11e7-9a08-986555496fe5.png">

As seen on the picture above the plugin keeps fetching the oauth token every page load. It takes about 2 seconds for the script to fetch it so it slows down the page substantially.

Is there a reason why the oauth token has to be fe

[2017-05-22 11:46] You-Honey commented on #93
There seems to be a commented get_transient() call at class-bootstrap.php:586. Is it safe to uncomment this?

[2017-05-22 13:55] You-Honey commented on #93
The problem was in set_transient, not in this.

[2017-05-22 13:55] #93 closed, assigned to alimuzzaman

[2017-05-22 15:59] tivnet opened #94 "Please re-run composer dump-autoload"
The version from wp-org crashed on my comp until I re-generated the autoload files (Composer 1.4.2).

[2017-05-22 16:59] tivnet opened #95 "PHP Warning: preg_replace()"
PHP Warning:  preg_replace(): Compilation failed: PCRE does not support \L, \l, \N{name}, \U, or \u at offset 17 in class-utility.php on line 74

[2017-06-14 15:33] Mashenka opened #97 "CDN mode also saves images to local server"
that happens also when you enable stateless and add new image

![image](https://user-images.githubusercontent.com/5111163/27141505-0db6c3bc-5131-11e7-8509-150d5350f9a4.png)

[2017-06-18 05:57] reuben-li opened #98 "add support for static hosting with subdomain"
There should be an option to allow buckets which have been set with a subdomain CNAME record to serve images directly from the subdomain.

For example:
A bucket is named `subdomain.domain.com` and has a CNAME alias to `c.storage.googleapis.com`. Currently, the plugin will have image paths as:

However, in this case, it would make more sense to have it as:

[2017-06-18 10:04] alimuzzaman commented on #98
@reuben-li Check this issue #88

[2017-06-20 19:02] ewsopp opened #100 "Google Login Redirect URL"
When logging in via Google, the Google Login Redirect URL does not use the proper site url.

Discuss with @andypotanin for more details.

Does not support dynamic site urls. This should be fixed.

[2017-06-20 19:25] ewsopp opened #101 "styling of Google Cloud Billing field when creating new project"
By default, we pre-fill the Project and Bucket fields to make setup faster and organized for the webmaster. This default setting actually creates a new project and bucket for them.

Since this is a completely new Google Cloud Project, the webmaster can select any available billing account listed in the Billing dropdown. The field styling we are using for this scenario is wrong - it should be white

[2017-06-20 19:39] andypotanin commented on #9
To to be clear, we do NOTHING with any media that was added without wp-stateless. We want to avoid having any sort of batch process that may remove older media.

[2017-06-20 19:41] Mashenka commented on #97
ok, that is by design. there will be a stateless mode which will delete images after they uploaded to CDN

[2017-06-20 19:41] #97 closed, assigned to kavaribes

[2017-06-20 19:48] andypotanin commented on #100
@fqjony To be clear, the redirection URL from Google oAuth uses whatever the `home` option value is in the `wp_options` table.

In disregards what the URL of the current site is or what the `WP_HOME` constant is set to - as is the case on rabbit.ci containers.

[2017-06-20 19:55] #90 closed, assigned to alimuzzaman

[2017-06-20 20:10] ewsopp opened #102 "dynamic options for project and bucket name dropdowns"
watch video at https://usabilitydynamics.slack.com/files/ewsopp/F5WMYJCKV/stateless-qc-dynamic_name_dropdowns.mp4

- [ ] Provide the original default project name in the dropdown as an option in the project field.
- [ ] Add a new option to the bucket dropdown that prefixes `stateless-` to the newly provided project field.

[2017-06-20 21:33] ewsopp opened #103 "cannot proceed from step 2 to step 3"
watch video at https://usabilitydynamics.slack.com/files/ewsopp/F5XJYJA5V/confidential-stateless-new_project_creation_qc.mp4

After filling out all fields with valid options in Step 2, I was not able to proceed to Step 3.

[2017-06-20 21:34] ewsopp opened #104 "cannot change billing option after switching to a new project from an existing project that has a billing account assigned"
watch video at https://usabilitydynamics.slack.com/files/ewsopp/F5XJYJA5V/confidential-stateless-new_project_creation_qc.mp4

The bug happens at 1:30 to 2:00 in the video.

[2017-06-26 13:05] andypotanin commented on #94
@alimuzzaman this done?

[2017-06-26 15:23] alimuzzaman commented on #94
@andypotanin Fix on released version https://github.com/wpCloud/wp-stateless/tree/v1.0-issue-94
Also done in latest

[2017-06-26 15:48] andypotanin commented on #94
@alimuzzaman if its done juts close out the issue. @kavaribes and @fqjony are working on this this week so we are trying to close out any old issues and merge any unmerged branches.

[2017-06-28 13:48] alimuzzaman commented on #103
Sorry, I had disabled that for debugging.

[2017-06-28 13:48] #101 closed, assigned to alimuzzaman

[2017-06-28 13:52] ewsopp commented on #102
Project drop down looks good, but you are missing the dynamics bucket option.

![image](https://user-images.githubusercontent.com/5578537/27640520-8fa62da2-5be7-11e7-97ab-8bd19caf3bd5.png)

[2017-06-28 13:55] alimuzzaman commented on #102
@ewsopp Have you copy/paste the project name?

[2017-06-28 13:57] ewsopp commented on #102
No - it was typed.

I can see that sometimes the dynamic bucket name works, but it seems to be delayed. For example, the below screenshot uses the previous project name I typed in.

![image](https://user-images.githubusercontent.com/5578537/27640804-355d6238-5be8-11e7-91d9-b681288919a8.png)

[2017-06-28 14:01] alimuzzaman commented on #102
Check now, fix for #104 could fix it.

[2017-06-28 14:08] ewsopp commented on #102
also - please do not carry over the randomly generated number we add to the project name.

![image](https://user-images.githubusercontent.com/5578537/27641416-bb2d9f08-5be9-11e7-8665-988d81e51247.png)

[2017-06-28 14:57] ewsopp commented on #102
the dynamic bucket option should fit the rules. For example, the dynamic bucket name below doesn't meet the '5 and 30 characters' rule.

![image](https://user-images.githubusercontent.com/5578537/27643948-72848986-5bf0-11e7-9788-e81e6a99ebfc.png)

[2017-06-28 15:40] #102 closed, assigned to alimuzzaman

[2017-06-28 15:46] #104 closed, assigned to alimuzzaman

[2017-06-28 19:05] #94 closed, assigned to alimuzzaman

[2017-06-30 19:01] ewsopp commented on #50
Settings Panel specification at https://docs.google.com/a/usabilitydynamics.com/document/d/1OXrUcdISv2Kcoa3QUlqyYntNGP3ot1LSkUttc90yL1I/edit?usp=sharing

- [x] Settings tab
  - [x] General group
    - [x] Mode setting
    - [x] File URL Replacement
    - [x] Dynamic Image Support
  - [x] Google Cloud Storage (GCS) group
    - [x] Bucket setting
    - [x] Bucket Folder setting
    - [x] Service Acc

[2017-06-30 19:05] ewsopp opened #105 "skip setup assistant if Service Account JSON setting is already configured"
Settings can be set by constants or via the Network Settings.

When activating the plugin...
- [ ] If the Service Account JSON setting is already configured, skip the setup assistant and redirect the user to the settings panel.

[2017-06-30 19:09] ewsopp opened #106 "QC "body content media url rewrite" option"
- ~~if the image does not exist on GCS, do not replace the media URL.~~
- [x] Does this rewrite do all fields? or just the editor content?

[2017-06-30 19:10] ewsopp opened #107 "QC "Upload on-fly generated (by third-party scripts) images to GCS" option"
Check with @antonkorotkov to learn about this setting.

- [ ] What does it do exactly?
- [ ] and why does it include the warning: "This option may slow down file upload processes"

[2017-06-30 19:32] ewsopp commented on #106
I spoke with @andy about checking GCS before replacing the file url and he explained this would require a long process and make page load times very slow. For now - lets skip that.

Please do a general QC on this feature and see if anything should be improved here. Also - please look into my question I posted in my initial comment. Thanks

[2017-06-30 19:52] ewsopp opened #108 "add support for constants and network settings for all stateless settings"
- [ ] Add constant and network setting support for all settings.
- [ ] If a setting is configured via a Network Setting, add "Currently configured via Network Settings." to the setting description in the Settings Panel on the site and set the option as uneditable.
- [ ] If a setting is configured via a constant, add "Currently configured via a constant." to the setting description in the Settings

[2017-06-30 20:04] ewsopp opened #109 "add "Stateless" mode"
- [x] add "Stateless" as a mode option.
- [x] remove the "Remove local file." option.
- [x] after the file is sucesfully uploaded to GCS, delete the local file on disk.

[2017-06-30 20:14] ewsopp commented on #95
@alimuzzaman can you investigate this issue please? Thanks

[2017-06-30 20:15] ewsopp commented on #98
@reuben-li we are going to include this in the next release. Hopefully, it will ship by next week. Thanks!

[2017-06-30 20:15] ewsopp commented on #88
@ashutoshpw we are going to include this in the next release. Hopefully, it will ship by next week. Thanks!

[2017-06-30 20:24] ewsopp commented on #41
@alimuzzaman while you are working on the settings constants, let's add support for this as well.

[2017-06-30 21:05] ewsopp commented on #103
Still not working.

![image](https://user-images.githubusercontent.com/5578537/27754040-52a49f80-5db6-11e7-9a00-827874527dd5.png)

[2017-06-30 21:31] ewsopp opened #110 "google account name, email address, and logout button missing"
I logged-in with a Google Account (`admin@ocoeecafe.com`) that does not have an avatar set. However, it does have a name and email address.

I'm not sure why, but the name, email address, and logout button did not appear in the wp-stateless setup assistant.

Something is broken.

# WP-Stateless Setup Assistant

![image](https://user-images.githubusercontent.com/5578537/27754619-3ea5ced4-5db9-11e7-

[2017-07-01 02:47] alimuzzaman commented on #110
@ewsopp It working for me. Can you replicate the issue again?

[2017-07-01 02:55] alimuzzaman commented on #109
Where `Remove local file.` exist?

[2017-07-01 03:01] alimuzzaman commented on #106
Only the **`the_content`** filter.

[2017-07-01 03:07] alimuzzaman commented on #50
What about the **Stateless Sync** menu?

[2017-07-01 03:10] alimuzzaman commented on #105
What about **Stateless Sync** menu?
As everything configured shouldn't we moved directly to **Stateless Sync**?

[2017-07-01 03:58] alimuzzaman commented on #95
@tivnet Was that on windows server?

[2017-07-01 06:56] alimuzzaman commented on #41
OK,
#108

[2017-07-01 13:07] tivnet commented on #95
@alimuzzaman yes

[2017-07-02 01:39] alimuzzaman commented on #109
Should I remove that feature entirely or just not include in `Stateless mode`.

[2017-07-02 02:16] ewsopp commented on #109
Yea - this feature is shifting to a mode. Stateless mode

On Jul 1, 2017 9:39 PM, "Md. Alimuzzaman Alim" <notifications@github.com>
wrote:

[2017-07-02 03:26] alimuzzaman commented on #109
Two are opposite
Where current option `Delete media from GCS when media is deleted from the site`.
And stateless delete when images exist in the cloud.
This option could be still useful in `CDN` mode.

[2017-07-02 04:18] alimuzzaman commented on #109
To do: Need to hook into Upload on-fly, after getting clear understanding.

[2017-07-02 05:34] alimuzzaman commented on #103
@ewsopp check again few times.

[2017-07-03 08:20] antonkorotkov commented on #107
@ewsopp

It adds a filter that is fired when some third-party plugin or theme uses WP Media API to resize images on demand when viewing a page for example. That way Stateless can handle images like that.

Warning is a bit incorrect. It should say something like "May slow down page loading speed". Because in fact it will try to upload images every time that filter fires. And it may happen on every

[2017-07-06 04:19] alimuzzaman commented on #50
Todo: Also use a filter for meta to replace with GCS URL (**File URL Replacement**).

[2017-07-06 15:36] fqjony commented on #100
@andypotanin @ewsopp ok, will do.

[2017-07-06 19:49] ewsopp commented on #50
- [x] Move the "Stateless Sync" page to a "Sync" tab within our new settings panel.

- [x] hide cache-control text field when the setting is disabled.

![image](https://user-images.githubusercontent.com/5578537/27929499-436e29d2-6261-11e7-9891-56b8bd12ca63.png)

- [x] preview file url field: extend field length and update field value with actual example file url.

![image](https://user-images.gith

[2017-07-07 11:24] Nks opened #111 "Google API 503 - WP Plugin crash"
So, yesterday Google had some troubles with the API and it returns a 503 error without any reason.
In this time some files which were uploaded from the different copies of the WordPress was unavailable.
For the small websites this is maybe okay, but when you have over 10k sessions on the website it can be a problem. Can we change logic from "when bucket is unavailable we are showing links from the

[2017-07-07 13:43] andypotanin commented on #111
You were getting 503s when trying to open uploaded media assets, right?

I've seen this happen once and the issue lasted for 10-15 minutes. It freaked us out so we ended up putting a CloudFront instance before GCS. When we had the problem we didn't have any indications of not being able to add new files - so I don't think the `is_connected` check would've triggered enough of a warning.

That would

[2017-07-07 13:45] andypotanin commented on #111
By the way, Google has its own CDN solution (caches assets before reaching out to bucket backend), which you could probably use to achieve the same effect. We use CF because its setup is a lot more robust.

[2017-07-07 13:47] andypotanin commented on #111
Looks like they recognize that they had an outage for your incident.
![image](https://user-images.githubusercontent.com/1255935/27960425-415aac36-62f9-11e7-9b81-1c3bc0f84a8a.png)
https://status.cloud.google.com/incident/storage/17002

[2017-07-08 10:58] Nks commented on #111
@andypotanin

Yes, that was. And at this time while json was unavailable I had some troubles on my docker containers with all files which retrieving with the `get_the_post_thumbnail_url`, etc. Of course, I can install cloudfront, but for what?
Also when we are using solution from the google which calling Google Container Engine we should build the microservices and as I know microservice means tha

[2017-07-08 11:08] Nks commented on #111
In trust solution is trivial. We can just move `if (!$this->has_errors()) {` in the class `class-bootstrap.php` a bit later if user select something like `Always use links from the google storage`.
Also it will be great to see `Don't upload files local` option and in this case prevent any uploads to the local `upload` folder. What do you think, @andypotanin?

[2017-07-08 11:26] Nks commented on #111
Look on this.
When we have an error from the Google Storage and can't connect to the server we are showing an error (simulated):
![image](https://user-images.githubusercontent.com/349293/27984828-4b3584d4-63e8-11e7-888e-cb40c3a43940.png)
But while we have selected a `CDN only` mode in the settings:
![image](https://user-images.githubusercontent.com/349293/27984825-26db47fe-63e8-11e7-9b03-d492ba0b7

[2017-07-08 11:33] Nks commented on #111
**Total:**
- [x] Add CDN only mode
- [x] Notify user when he selecting a CDN only mode about risks (files will not store locally)

**When CDN only mode enabled:**
- [x] Show links from the GCS in any case
- [ ] Prevent any uploads if API is unavailable
- [ ] Prevent any deletions if API is unavailable
- [ ] Implement method to delete file without deleting it from the local upload folder
- [x] File

[2017-07-08 16:03] Nks commented on #111
@andypotanin can you look this https://github.com/Nks/wp-stateless/commit/44e80030a59682f7f3ae907f0dc5544ebb4b644c?
Also I'm not sure how you are building a release. Can you help me with this or apply changes by yourself? Or I can just send a PR. Thanks.

[2017-07-10 05:34] alimuzzaman commented on #41
@ewsopp Should I also add to network settings?

[2017-07-10 13:15] alimuzzaman commented on #108
@ewsopp Currently for json_key we only have **WP_STATELESS_MEDIA_KEY_FILE_PATH**.
Should I another for json string?

[2017-07-10 14:54] ewsopp commented on #108
Waterfall of priority
1 - Constants
2 - Network Settings
3 - Site Settings

[2017-07-11 16:17] ewsopp commented on #110
@alimuzzaman I just sent you the account login to hopefully recreate this issue.

[2017-07-11 16:34] ewsopp commented on #100
@fqjony is this done?

[2017-07-11 16:45] alimuzzaman commented on #110
API not returning email address what was unexpected.

[2017-07-11 16:55] ewsopp commented on #50
- [x] remove Support tab.

![image](https://user-images.githubusercontent.com/5578537/28079381-2e125daa-6636-11e7-9289-f873f12db493.png)

- [x] remove the colons `:` from the setting titles, and remove the selected value from the `Mode` title.

![image](https://user-images.githubusercontent.com/5578537/28079918-1f6e7df4-6638-11e7-9617-0340947064ea.png)

- [x] remove the `Thumbnails`, `Synchronizat

[2017-07-11 16:57] ewsopp commented on #59
- [x] @alimuzzaman remove the `Free & Paid Plans` section from the welcome screen of the Setup Assistant.

![image](https://user-images.githubusercontent.com/5578537/28080004-727a032e-6638-11e7-8a8c-c5f58d419745.png)

[2017-07-12 05:29] alimuzzaman commented on #110
Not sure what's wrong with that account. But log out button will show now without an email address.

[2017-07-12 09:08] fqjony commented on #100
@ewsopp @andypotanin done today at https://github.com/wpCloud/wp-stateless/commit/01e2f37d4c07a169c6e3557b6eab33cc497d8f87. Commited to `latest`

[2017-07-12 11:21] andypotanin commented on #111
@Nks Go ahead and send a PR and we will look it over. We're working pretty actively on getting a release out that will simplify the setup process by automating things like service account creation - a lot of people are getting stuck there, especially since Google Console has changed their interface 2-3 times over last year.

That being said, I get what you're asking for, and we will try to get it

[2017-07-12 17:45] Nks commented on #109
I think #112 can be removed if this task will complete soon.
Also, we should think about logic to regenerate thumbnails for new thumbnails if somebody added it with the `add_image_size` function.
It should download image original image from GCS, regenerate thumbnails with all available sizes, upload thumbnails to the GCS with removal all old files.
If I can help just ping me here.

[2017-07-13 13:16] ewsopp commented on #110
What I see now...

![image](https://user-images.githubusercontent.com/5578537/28168080-e5b1e02c-67ab-11e7-8bb2-10feec5d066e.png)

[2017-07-13 13:16] #110 closed, assigned to alimuzzaman

[2017-07-13 13:19] ewsopp commented on #50
- [x] remove the old `Tools > Stateless Sync` menu item and page. https://sandbox-uds-io-develop-alim.c.rabbitci.com/wp-admin/tools.php?page=stateless-regenerate

![image](https://user-images.githubusercontent.com/5578537/28168201-55b8e6fe-67ac-11e7-9b68-9be8298847cc.png)

[2017-07-13 13:23] ewsopp commented on #50
- [x] set page title: `WP-Stateless`
- [x] set page description: `Upload and serve your WordPress media files from Google Cloud Storage.`

![image](https://user-images.githubusercontent.com/5578537/28168371-eb9c30ae-67ac-11e7-86f2-6ae248f8c9a4.png)

[2017-07-13 13:43] ewsopp opened #113 "disabling "Organization" setting not working"
If I have the "Organization" setting disabled, it still uploads files into year and month folders.

![image](https://user-images.githubusercontent.com/5578537/28169236-b0bdaea6-67af-11e7-90eb-87bfbbc7ec77.png)

[2017-07-13 13:48] #9 closed, assigned to alimuzzaman

[2017-07-13 13:48] #109 closed, assigned to alimuzzaman

[2017-07-13 13:50] #100 closed, assigned to andypotanin, fqjony

[2017-07-13 13:51] #95 closed, assigned to alimuzzaman

[2017-07-13 13:56] ewsopp commented on #98
@alimuzzaman I'm not sure this is working correctly.

I updated the setting to use `something.traciesaidyes.com`, and then I tested an image upload and got a `storage.googleapis.com` image url.

![image](https://user-images.githubusercontent.com/5578537/28169785-6266254c-67b1-11e7-8024-640704686707.png)

![image](https://user-images.githubusercontent.com/5578537/28169841-8a123ce8-67b1-11e7-9f2e-27

[2017-07-13 14:09] ewsopp commented on #63
- [x] remove this sentence: `A background process is now running that will upload any existing media into Google Cloud Storage.`

[2017-07-13 14:11] #62 closed, assigned to ewsopp

[2017-07-13 14:13] ewsopp opened #114 "Enable CDN mode with setup"
With project, bucket, and billing account setup in Step 2 of the setup assistant, CDN mode should be enabled. When they reach the last step, they are directed to upload a file and this would allow that to work as expected.

[2017-07-13 14:14] #103 closed, assigned to alimuzzaman

[2017-07-13 14:15] #59 closed, assigned to ewsopp

[2017-07-13 14:15] ewsopp commented on #88
duplicate of https://github.com/wpCloud/wp-stateless/issues/98. closing.

[2017-07-13 14:15] #88 closed, assigned to ewsopp

[2017-07-13 14:19] ewsopp opened #115 "remove stateless media settings from Media settings page"
Stateless Media settings should only be in the WP-Stateless Settings Panel. Remove them from the `Settings > Media` page (`/wp-admin/options-media.php`).

![image](https://user-images.githubusercontent.com/5578537/28170877-ab141a30-67b4-11e7-8bc0-c13253ea919a.png)

[2017-07-13 18:56] andypotanin opened #116 "Site Performance Issues and MySQL Strain"
From: https://wordpress.org/support/topic/site-performance-issues-and-mysql-strain/

---

First of all, our company is a big fan of your plugin and this has been a great solution for our needs.

We’ve been experiencing site performance issues for some time and have tracked it down to this plugin. Primarily about every hour we get a huge spike that can be seen in New Relic where this plugin will ju

[2017-07-13 19:01] andypotanin commented on #116
It would help tremendously if we knew what sort of SQL queries were ran our the time of the spikes. We run wp-stateless on some fairly large sites with lots of Media and we have not noticed such spikes, nor have seen them reported, until now.

[2017-07-13 19:57] Relevant-Brad commented on #116
I'll look into the SQL queries and post the findings as soon as I can find something concrete.

[2017-07-13 20:10] andypotanin commented on #116
@Relevant-Brad also, do you have object cache setup on this site? Trying to get a better understanding of your environment.

[2017-07-13 20:41] Relevant-Brad commented on #116
Currently object caching is not setup on the site. I'm trying to get very detailed information to send your way soon. I'm finding out this may be a false flag. Even though it listed wp-stateless as the issue, it appears that MySQL is account for nearly all the transaction made on the site. Yet, none of the database queries are connected to wp-stateless. I could not find db query connected to wp-st

[2017-07-14 09:29] alimuzzaman commented on #98
@ewsopp You can't just put any address. The domain and bucket name must be same.

[2017-07-14 11:43] alimuzzaman commented on #100
@fqjony It does not work if installed in a directory. Ex. getting `http://localhost/wp-admin/upload.php` instead of `http://localhost/workspace.uds.io/wp-admin/`.

[2017-07-14 12:16] alimuzzaman commented on #114
@ewsopp Should that replace current mode? Or only if the mode isn't set?

[2017-07-15 03:43] alimuzzaman commented on #113
@ewsopp @andypotanin Previously we used WordPress default  `Organize my uploads into month- and year-based folders` setting.
Can we use that? If value changes on our settings page we will update default wp setting on media.php! It would be easy and safe other than hooking into places.

[2017-07-15 03:56] andypotanin commented on #113
@ewsopp @alimuzzaman I agree with @alimuzzaman it seems like this option would conflict/override/cause-unexpected-behaviour since WordPress has this already:
![image](https://user-images.githubusercontent.com/1255935/28236276-f3a146ec-68ef-11e7-8a85-8f5650769e0f.png)

We should not mess with the "base url" for media items, we could cause problems with other plugins and environments.

[2017-07-15 04:06] andypotanin commented on #100
@ewsopp @fqjony @alimuzzaman I'm confused by what we're trying to do here. But whatever the solution is we need to trust and rely on WP functions like `admin_url()`, `get_site_url()`, etc. Those functions already take into account any constants, such as `WP_HOME` and `WP_SITEURL`, as well as any filters that may be added.

@ewsopp would you be able to give us a link to one of our environments wher

[2017-07-15 15:19] ewsopp commented on #114
Only if mode isn't set, which should be the case on installation. Right?

[2017-07-15 17:18] alimuzzaman commented on #106
@ewsopp Do we need to replace in meta also?

[2017-07-15 18:53] ewsopp commented on #106
Yes I think so.

On Jul 15, 2017 1:18 PM, "Md. Alimuzzaman Alim" <notifications@github.com>
wrote:

[2017-07-17 12:39] alimuzzaman commented on #108
Is this ok for notice?
![stateless settings develop alim wordpress](https://user-images.githubusercontent.com/6744156/28267887-e2e14426-6b1d-11e7-97fa-e9186168f213.png)

[2017-07-17 12:56] ewsopp commented on #108
No.

We should show the option configured, but make it uneditable and add the following to the description:

- [ ] `Currently configured via Network Settings.`
- [ ] or `Currently configured via a constant.`

[2017-07-20 04:26] celandro opened #119 "Invalid client secret JSON file."
I am trying to set up wp-stateless on a google compute instance and am getting a very strange error

[Thu Jul 20 04:21:23.435462 2017] [:error] [pid 5794] [client 172.68.143.5:16255] PHP Warning:  json_decode() expects parameter 1 to be string, array given in /var/www/html/wp-content/plugins/gmail-smtp/google-api-php-client/src/Google/Client.php on line 168, referer: https://articles.pokebattler.c

[2017-07-20 17:06] alimuzzaman commented on #119
@celandro Both gmail-smtp and wp-stateless uses different versions of Google APIs Client Library. wp-stateless uses a newer version than gmail-smtp what isn't backward compatible.

[2017-07-20 17:13] celandro commented on #119
Thanks so much for getting back to me so quickly. I was very confused due
to this plugin working on the old site but not the new with the same
configs. Feel free to close this ticket unless you want to add a better
error message for this case.

On Thu, Jul 20, 2017, 10:06 AM Md. Alimuzzaman Alim <
notifications@github.com> wrote:

[2017-07-25 18:52] ckeeney opened #120 "Consider using official Google API Client"
This plugin depends on [UsabilityDynamics/google-api-php-client](https://github.com/UsabilityDynamics/google-api-php-client), a fork of [google/google-api-php-client](https://github.com/google/google-api-php-client).  The fork seems unmaintained, with the most recent commit nearly 1 year ago.  The only [commits added to the fork](https://github.com/google/google-api-php-client/compare/master...Usa

[2017-08-01 01:51] andypotanin commented on #120
@pemaxim did we end up including this or did we give up due to WordPress.org SVN's size issues?

[2017-08-01 02:16] ckeeney commented on #120
The latest version has in the changelog that it uses the official google sdk.  It doesn't use my commit because the dependency was taken out of composer, but I think this issue can probably be closed.

[2017-08-01 12:38] pemaxim commented on #120
@ckeeney @andypotanin We did not include the latest Google SDK (v2.2.0) to the WP-Stateless v1.9.2 because there was an issue with committing it to WordPress SVN repository. The size of v2.2.0 is more than 29Mb, since it includes all services. And we have been facing with the timeouts on commit because of it.

So, I had to downgrade Google SDK to the version we had in WP-Stateless v1.9.0. And v1.9

[2017-08-02 14:04] #120 closed, assigned to nobody

[2017-08-07 16:22] walle89 opened #123 "Support for GOOGLE_APPLICATION_CREDENTIALS"
It would be nice if this plugin can detect and use the GOOGLE_APPLICATION_CREDENTIALS environment variable.

This one way similar to issue #44, but using GOOGLE_APPLICATION_CREDENTIALS have some advantages:

1. The PHP Google APIs Client Library supports this [out of the box](https://developers.google.com/identity/protocols/application-default-credentials).
1. If you are using Google Cloud Platfor

[2017-08-08 16:12] ewsopp commented on #108
I added two additional settings to constants and network settings: Settings Panel Visibility, Setup Assistant Visibility

[2017-08-08 16:18] #50 closed, assigned to alimuzzaman

[2017-08-08 16:21] #98 closed, assigned to alimuzzaman

[2017-08-08 16:23] ewsopp commented on #105
@alimuzzaman they can access the 'Sync' tab from the 'Settings' tab. That should be good enough.

[2017-08-08 16:23] #105 closed, assigned to alimuzzaman

[2017-08-08 16:26] #106 closed, assigned to alimuzzaman

[2017-08-08 16:29] #107 closed, assigned to alimuzzaman

[2017-08-08 16:30] #113 closed, assigned to alimuzzaman

[2017-08-08 16:31] #114 closed, assigned to alimuzzaman

[2017-08-08 16:31] #115 closed, assigned to alimuzzaman

[2017-08-08 17:08] ewsopp opened #124 "text updated on stateless setup welcome screen"
1 - `WP-Stateless`
2 - `Upload and serve your WordPress media files from Google Cloud Storage.`
3 - `Media Uploaded to Google Cloud`
4 - `Google Cloud Serves Media `
5 - `Managed by WP-Stateless`

![image](https://user-images.githubusercontent.com/5578537/29084603-8e2bead4-7c3a-11e7-867b-8330d6dd4493.png)

[2017-08-08 17:12] ewsopp commented on #108
@alimuzzaman list all of the constants here, and add a screenshot of the network settings area.

[2017-08-08 17:13] #41 closed, assigned to alimuzzaman

[2017-08-08 17:16] ewsopp opened #125 "fix google cloud logo on setup welcome screen"
# Current

![image](https://user-images.githubusercontent.com/5578537/29084957-a08b5e48-7c3b-11e7-9deb-ce411a6ba012.png)

# Design

inspect design at https://app.avocode.com/revisions/12151061/?design=7997668

![image](https://user-images.githubusercontent.com/5578537/29084979-b74ffa44-7c3b-11e7-829c-b0f715864c8b.png)

[2017-08-08 17:19] #63 closed, assigned to alimuzzaman

[2017-08-08 17:22] ewsopp commented on #116
@Relevant-Brad - any update on your investigation?

[2017-08-08 21:47] ewsopp opened #126 "rename "Stateless Media" menu item to "Stateless Setup""
Rename the menu item for the stateless setup assistant to "Stateless Setup"

![image](https://user-images.githubusercontent.com/5578537/29096114-909c8824-7c61-11e7-94e6-e4005e50ea85.png)

[2017-08-09 04:38] alimuzzaman commented on #108
@ewsopp I have a list here at bottom
https://docs.google.com/a/usabilitydynamics.com/document/d/1OXrUcdISv2Kcoa3QUlqyYntNGP3ot1LSkUttc90yL1I/edit?usp=sharing

[2017-08-09 05:12] alimuzzaman commented on #108
Network settings use same settings page.
![image](https://user-images.githubusercontent.com/6744156/29105911-63ad0a0e-7cf3-11e7-87dc-f8c66379b4fd.png)
![image](https://user-images.githubusercontent.com/6744156/29105945-9b67fd8c-7cf3-11e7-83e6-745d5c3455ea.png)

[2017-08-09 14:28] ewsopp commented on #108
Instead of displaying a message at the top, the message should be displayed within the setting description if it is being overwritten.

## Example
![image](https://user-images.githubusercontent.com/5578537/29126817-5fe9ca98-7ced-11e7-940e-db81250e506f.png)

The message should read `Currently configured via Network Settings.` or `Currently configured via a constant.` and in bold at the beginning of

[2017-08-09 14:44] ewsopp commented on #108
Within the network settings area, the webmaster needs the ability to override only certain settings. It's not all or nothing.

Maybe we should add a setting for each option to enable or disable the network override. `Enable` would reveal the options and allow the webmaster to set the network override, and `Disable` would simply hide the setting options.

[2017-08-09 14:51] ewsopp opened #127 "remove 'Sync' tab from Network Settings"
We don't currently have a network wide sync process, so lets remove the 'Sync' tab from the network area for now.

![29105911-63ad0a0e-7cf3-11e7-87dc-f8c66379b4fd](https://user-images.githubusercontent.com/5578537/29128011-a0b51534-7cf0-11e7-8714-f771d7490ffc.png)

[2017-08-09 14:52] #126 closed, assigned to alimuzzaman

[2017-08-09 14:52] #124 closed, assigned to alimuzzaman

[2017-08-09 15:42] alimuzzaman opened #128 "Internationalization of texts."

[2017-08-09 17:37] ewsopp commented on #123
@walle89 Yes - this makes sense. We are trying to finish up the current release, now labeled as v2.0.0, and if we can work this in - that would be great.

Give us this week to finish up what we are currently working on, and then we can cleanup the branches a bit and get you more involved. Does that sound good?

[2017-08-09 21:52] #125 closed, assigned to alimuzzaman

[2017-08-09 22:23] ewsopp opened #129 "step 2 fails after clicking Continue button"
After I click continue, it seems to do some work but then fails and outputs...

Not a very helpful message, but better than nothing I suppose.

![image](https://user-images.githubusercontent.com/5578537/29146466-46cc2942-7d2f-11e7-8652-f137c0cfb6b7.png)

## Checking the Google Cloud Console, I can see the project was created correctly.

![image](https://user-images.githubusercontent.com/5578537/29

[2017-08-10 07:32] walle89 commented on #123
Sounds good. Let me know if there is something I can help you with.

[2017-08-10 17:57] ewsopp commented on #129
Actually, it looks like the billing account WAS assigned correctly. So the only problem is with bucket creation.

[2017-08-10 21:43] ewsopp commented on #108
For the `Cache-Control` setting, please remove the Enable/Disable switch and simply display the field. The switch is redundant. If the webmaster fills the field, then we can replace the default value.

Please also change the setting description to the following:
`Override the default cache-control assigned by GCS.`

![image](https://user-images.githubusercontent.com/5578537/29193416-2b9c4a70-7df3-

[2017-08-11 00:05] alimuzzaman opened #130 "Need to check Organize uploads on multi site."
Option don't exist on multisite.

[2017-08-11 15:57] alimuzzaman commented on #129
The problem was we were trying to create the bucket before project initialize. Sometimes project creation takes some time instead of immediately.

[2017-08-11 20:00] Mashenka opened #131 "conflict of google client versions"
https://wordpress.org/support/topic/invalid-client-secret-json-file-after-activing-gmail-smtp-plugin/#post-9402860

[2017-08-15 12:26] #108 closed, assigned to alimuzzaman

[2017-08-15 12:26] #127 closed, assigned to alimuzzaman

[2017-08-15 12:26] #129 closed, assigned to alimuzzaman

[2017-08-15 12:31] #130 closed, assigned to alimuzzaman

[2017-08-15 20:32] #128 closed, assigned to alimuzzaman

[2017-08-16 20:38] ewsopp commented on #123
@walle89 ok - I think we're ready for you. Want to try including this functionality within the v2.0 branch?

[2017-08-16 21:39] walle89 commented on #123
Sure, I will give it a shot. I will start look into this sometime this week. But I have a few things I need to clear up.

1. What coding standard are you using? It's either [PSR-2](http://www.php-fig.org/psr/psr-2/) or [Wordpress coding standard](https://make.wordpress.org/core/handbook/best-practices/coding-standards/php/). The reason for I'm asking this is I want to respect your coding style (ev

[2017-08-16 22:05] ewsopp opened #134 "change service account role to "Storage Object Admin""
From what I can tell via the screenshot below, Google appears to be deprecating the owner role we assign to the generated service account. From what I can tell from Google's documentation, the role we want to use is "Storage Object Admin"

ref: https://cloud.google.com/iam/docs/understanding-roles#predefined_roles

![image](https://user-images.githubusercontent.com/5578537/29387247-26622e8a-82ad-1

[2017-08-16 22:14] ewsopp commented on #123
Not sure. Maybe @andypotanin or @alimuzzaman can chime in.

The original intent was to allow the key to be loaded from the JSON file or the settings panel (database). I don't think we need to store the JSON key in the database if it is being loaded from a file. @alimuzzaman can you advise on your implementation here?

For the setup assistant, I'm not sure we need to say anything. It's meant to be

[2017-08-16 22:43] andypotanin commented on #123
Just to chime in regarding environment variable detection - I usually prefer to use `$_SERVER` instead of `getenv` in theory they should be same, or at least similar, but in many environments they can be rather different.

[2017-08-16 22:46] alimuzzaman commented on #123
The priority order is:
1. Constant
2. Network Settings
3. Database

[2017-08-17 07:42] walle89 commented on #123
@andypotanin `getenv` [is case-insensitive](http://us3.php.net/manual/en/function.getenv.php#99134) (useful for user defined variables) and works in CLI mode. But the main reason I use it for is to distinguish between variables set by PHP/CGI and server environment variables. If your coding standard or code style prefer $_SERVER, then I can work with that.

@alimuzzaman Ok. When I implement GOOGLE

[2017-08-17 09:21] walle89 commented on #123
@ewsopp Regarding the JSON key in database if there is a constant. I did a test with a fresh WP installation with v2.0 branch. The reason for the key is saved in the database is because the field "Service Account JSON" in the settings panel is not disabled when a constant is in use. In other words, when you press save the key will be stored in the database.

Is it okay I fix this so that the field

[2017-08-17 13:01] ewsopp commented on #123
Here is fine - thank you for testing this.

I just cloned a v2.1 from v2.0. Let's go with v2.1. Unless there is a critical bug, I think we should release v2.0 as-is. It's currently with a handful of people for testing.

[2017-08-17 13:02] ewsopp commented on #123
Maybe lower priority than a wp-config constant. Otherwise, how would the user overrule it easily if they needed to?

[2017-08-17 21:12] ewsopp opened #136 "Service Account JSON changed to "false" after upgrading to v2.0 from v1.9"
I have a website running WP-Stateless v1.9 and I have a Service Account JSON set on the Network Settings page.

After upgrade to v2.0.0-rc1 from v1.9.0, the field's value changed to `false`.

# After Upgrade - Network Settings
The Service Account JSON is stored in network settings, but when I upgrade to v2.0 - it replaces the key with `false`.

![image](https://user-images.githubusercontent.com/55

[2017-08-17 21:31] ewsopp commented on #136
I rolled back to v1.9.0 and the correct service account JSON value appears again. So at least we are not overwriting the value with "false" on upgrade.

[2017-08-18 12:00] walle89 commented on #123
May I ask when you plan to release 2.1? I need this information for planning of my project at work.

Also let me know if there is something in my pull request you want me to fix or help you guys out with something.

[2017-08-18 12:54] alimuzzaman commented on #123
@walle89 Thanks. There is smething need to change. But I will do it.

[2017-08-18 13:51] ewsopp commented on #123
@walle89 I'm aiming to publicly release v2.0 today. Let's plan on a v2.1 release next week to allow any uncaught bugs to surface from v2.0.

[2017-08-18 19:41] ewsopp commented on #136
This is because we were loading a Service Account Key via a .p12 file using the `WP_STATELESS_MEDIA_KEY_FILE_PATH` constant. WP-Stateless no longer supports this .p12 format.

After removing the .p12 file, the saved JSON key in the settings panel worked as expected.

[2017-08-18 19:41] #136 closed, assigned to alimuzzaman

[2017-08-19 17:07] ewsopp opened #138 "error appeared when trying to sync non-images"
_Reported by @stbeli_

by choosing the option "Synchronize non-images files between Google Storage and local server" respond error is "Status: Error appeared". Even if WP_DEBUG is set as true I can't catch error at log file.

Server Configuration:
PHP: 7.0.19-1~dotdeb+8.1;
Web Server: Apache / nginx
WordPress: 4.8.1

[2017-08-19 17:09] ewsopp opened #139 "conflict with WP Smush"
_Reported by @stbeli_

in case web site has activated WP Smush for Resize, optimize and compress image, wp-statteles output PHP Error:
PHP Catchable fatal error:  Object of class stdClass could not be converted to string in /home/ucdev/web/wp-stateless.update.care/public_shtml/wp-content/plugins/wp-stateless-2.0.0-rc1/lib/classes/class-bootstrap.php on line 521, referer: https://wp-stateless.updat

[2017-08-19 17:10] ewsopp commented on #138
I was not able to reproduce this report.

[2017-08-19 17:15] ewsopp opened #140 "Warning while uploading image via Media > Add New"
_Reported by @stbeli_

Warning while uploading image via Media > Add New:
Warning: Error while sending QUERY packet. PID=28098 in /home/ucdev/web/wp-stateless.update.care/public_shtml/wp-includes/wp-db.php on line 1877

Server Configuration:
PHP: 7.0.19-1~dotdeb+8.1;
Web Server: Apache / nginx
WordPress: 4.8.1

[2017-08-19 17:42] ewsopp opened #141 "add bucket region option to setup wizard"
By default, the setup assistant creates all newly created buckets in the `us` multi-regional location. This is not ideal for anyone located Europe or Asia. Let's add an option to Step 2 of the setup wizard that allows users to configure this setting.

- [x] Field Title:

- [x] Field Description:

- [x] Field Options:
Load the multi-regional descriptions in a drop down field with "United States" as

[2017-08-19 18:08] ewsopp commented on #140
I was not able to recreate this.

[2017-08-21 10:03] syaifulsz commented on #98
@alimuzzaman why is the plugin requires custom domain need to be the same as the bucket name?

I would suggest that whatever user add into custom_domain field, should be the base url for images.

[2017-08-21 22:28] ewsopp commented on #98
@syaifulsz this is actually what Google Cloud Storage requires in order to use a CNAME with the bucket.

This was my original intent for this field, but @alimuzzaman pointed out it might cause confusion with the user since of the aforementioned limitation with Google Bucket naming with a custom CNAME.

What do you think based on this new knowledge?

[2017-08-23 14:13] alikuru opened #142 "Setup wizard problem with a custom domain pointed bucket"
Tried to setup the plugin with an existing bucket on Google Cloud Storage, named specifically to use with a custom domain, but had an error: `Something went wrong`.

Since the error message is not clear enough, I'm assuming it must be related to bucket name. Because when I try to delete the ready bucket from the console and create it with the plugin, it tells me: `A bucket name can contain lowerca

[2017-08-23 14:27] ewsopp commented on #142
Hey @alikuru - can you try these manual setup instructions? https://github.com/wpCloud/wp-stateless/wiki/Manual-Setup

Let me know how that goes.

Regarding your original issue, did you use the setup assistant to create the bucket or was it already created?

[2017-08-23 14:30] alikuru commented on #142
It was already created. Appreciated the link, will try setting manually.

[2017-08-23 14:38] ewsopp commented on #142
Thanks @alikuru - if you don't mind, I'd like to learn more about this issue in case there is something we can do to fix this.

In the setup assistant, did you select your existing project and see your bucket listed in the following drop down? If so, did you select it? When did the `Something went wrong.` message appear?

Thanks!

[2017-08-23 14:43] alikuru commented on #142
I've selected my existing project and the bucket I'd like to use did appear in the drop-down. I chose it and hit continue. `Something went wrong` message appeared between the account information and the Google Cloud Project label.

[2017-08-23 14:59] ewsopp commented on #131
We can do a little tweaking on our end, but ultimately this will require the plugin author of the conflicting plugin to do some updates of their own. The plugin author seems to be aware of their issues and is working to resolve them. Details at https://wordpress.org/support/topic/plugin-conflicts-27/#post-9432962

[2017-08-23 15:04] alikuru commented on #142
Manual setup worked, thanks again for the help.

[2017-08-23 15:43] pemaxim commented on #131
@Mashenka @ewsopp I'm closing the issue, since we already have related one:  https://github.com/wpCloud/wp-stateless/issues/119

[2017-08-23 15:43] #131 closed, assigned to pemaxim

[2017-08-23 15:47] ewsopp commented on #116
I'm going to close this out for now. If you have any more useful details, please share and we can investigate further.

[2017-08-23 15:47] #116 closed, assigned to nobody

[2017-08-23 15:50] ewsopp commented on #18
Related thread on .ORG forums at https://wordpress.org/support/topic/no-srcset-2/

[2017-08-23 15:54] ewsopp commented on #39
At this point, I think the best way forward is to not modify the post content and use filters to find/replace on the fly (without actually modifying database).

[2017-08-23 15:55] #39 closed, assigned to nobody

[2017-08-23 16:33] ewsopp opened #143 "ud-dismiss.js ERR_ABORTED"

[2017-08-23 19:57] Mashenka commented on #28
@ewsopp I have checked that issue. Image can be edited(you can change size, turn it) and it will be updated on Google cloud also

do you need some more options or we can close this issue?

[2017-08-24 00:04] ewsopp commented on #28
@Mashenka I need some time to test. I'll try to get to this tomorrow. Thanks for the reminder.

[2017-08-24 09:06] pemaxim commented on #143
@ewsopp So far, I can not replicate the issue on my local server. So, I have the following questions:

* Which server is the site being run on? (Windows/Linux)
* Which version of WP-Stateless user mentioned about?
* Did it happen on first WP-Stateless activation or after upgrading plugin to new version.
* If it happened on plugin upgrade: which old version of plugin? which new version of plugin?
*

[2017-08-24 09:24] pemaxim commented on #143
One more question, regarding the invalid link:

`{{ path to my theme }}/{{ path to my plugins }}/plugins/wp-stateless/vendor/usabilitydynamics/lib-wp-bootstrap/static/scripts/ud-dismiss.js?ver=4.8.1`

`{{ path to my theme }}..` is invalid path... The link must be:

`{{ path to my plugins }}/plugins/wp-stateless/vendor/usabilitydynamics/lib-wp-bootstrap/static/scripts/ud-dismiss.js?ver=4.8.1`

* Do

[2017-08-24 09:40] pemaxim commented on #142
@ewsopp @alimuzzaman We show `Something went wrong` message on all failures during Setup Wizard process.

I think, for better troubleshooting we should include Error Code or some more details ( e.g. failed task's name ) about the particular error.

E.g.:  `Something went wrong. Error Code: 12345. Please ask UsabilityDynamics, Inc support for help.`. Where `12345` code belongs to fail response on `

[2017-08-24 10:51] ewsopp commented on #142
@pemaxim In this particular case, I think our bucket name rules were being applied to an existing bucket. Since the bucket already exists, we don't need to apply those rules.

[2017-08-24 21:02] ewsopp commented on #139
It's causing a 500 error on `/wp-admin/upload.php` as well.

When WP-Smush is enabled with v2.0 (or higher), I get a 500 error in the console.

When WP-Smush is disabled, the 500 error goes away.

![image](https://user-images.githubusercontent.com/5578537/29688492-f4d553fa-88ed-11e7-998d-362fdc58132e.png)

[2017-08-25 08:59] pemaxim commented on #139
@ewsopp I can not replicate any mentioned issue. I have two plugins activated:

![image](https://user-images.githubusercontent.com/308489/29707032-825efc78-898c-11e7-93f9-9787148ba87b.png)

Please, provide more details how I could replicate the issue ( and/or link me to site where you got 500 Error on loading `upload.php` ).

Thank you.

[2017-08-25 14:20] Mashenka opened #144 "PHP Fatal error: Can’t use function return value in write context"
PHP Fatal error: Can’t use function return value in write context in /data/public_html/blog/wp-content/plugins/wp-stateless/lib/classes/class-bootstrap.php on line 133” while reading response header from upstream, client: 130.211.2.82, request: “POST /blog/wp-admin/admin-ajax.php HTTP/1.1”, upstream: “fastcgi://unix:/var/run/php5-fpm.sock:”

https://wordpress.org/support/topic/few-pdf-showing-olde

[2017-08-25 14:21] #144 closed, assigned to nobody

[2017-08-26 21:24] jhauer opened #145 "Fatal Error During Activation"
When attempting to activate the plugin I receive a Fatal Error message and activation fails.  The message is as follows:
![screenshot 18](https://user-images.githubusercontent.com/224035/29745228-2864438e-8a83-11e7-8310-0599bda9289e.png)

[2017-08-28 06:23] Mashenka commented on #145
Hello @jhauer

Please, note, the fatal error you experienced ‘Can’t use function return value in write context‘, belongs to PHP 5.5 and less.

More details is [here](http://php.net/manual/en/function.empty.php)

In general, it means, that the version of PHP on your server is too old. And, you may face with a bunch of other Fatal Errors, even if the current Fatal Error will be fixed.

WP-Stateless

[2017-08-28 14:07] pemaxim commented on #119
@celandro  The error should be fixed now.
To solve the issue on your site, you have to update WP-Stateless plugin to version 2.0.1 and Gmail SMTP to version 1.1.4 and higher.

[2017-08-28 14:07] #119 closed, assigned to pemaxim, andypotanin, alimuzzaman

[2017-08-28 15:08] ewsopp commented on #143
More details from user:

[2017-08-28 17:28] pemaxim commented on #143
@ewsopp It's fixed and included to `v2.0.2` release.

**UPDATE** the issue belongs to our `lib-wp-bootstrap` library which is included to all our plugins. We have to update `lib-wp-bootstrap` to version `1.2.2` in all our plugins..

[2017-08-28 17:32] pemaxim commented on #139
@ewsopp Fixed. The fix included to [2.0.2](https://github.com/wpCloud/wp-stateless/releases/tag/2.0.2) release

[2017-08-28 17:34] pemaxim commented on #145
@jhauer @Mashenka @ewsopp Fixed. The issue included to [2.0.2](https://github.com/wpCloud/wp-stateless/releases/tag/2.0.2) release.

@jhauer you have to update your PHP version minimum to 5.5 to make it working.

[2017-08-28 20:03] ewsopp commented on #44
@shaneog we updated constants in v2.0.0 and documented them all within the GitHub Wiki at https://github.com/wpCloud/wp-stateless/wiki/Constants

You can supply the service account key as plain text JSON via the `WP_STATELESS_MEDIA_JSON_KEY` constant or JSON file via the `WP_STATELESS_MEDIA_KEY_FILE_PATH` constant.

Please let us know if you have any issues. Thanks.

[2017-08-28 20:03] #44 closed, assigned to nobody

[2017-08-28 20:52] ewsopp commented on #45
This is a resolved issue, but anyone who may come across this thread during research should update to the latest version and review the manual configuration instructions at https://github.com/wpCloud/wp-stateless/wiki/Manual-Setup

[2017-08-28 21:06] timwhite commented on #9
@andypotanin Can you please clarify. If we set the mode to stateless, and rerun the "sync/upload" wizard, will it delete the local files? I have a site I'd like to migrate to stateless mode (to free up space on the server), and I'm trying to work out how to get it to delete the existing media files after upload.
Thanks

[2017-08-28 21:17] ewsopp commented on #9
@timwhite Stateless mode will delete the local file upon successful upload to Google Cloud Storage. This will only affect newly uploaded files after configuring this Mode setting.

In your situation, you could set mode to `Stateless`, run the regeneration/sync option, and delete the files manually via SFTP or SSH. Be sure to have a backup too - just in case.

[2017-08-29 00:39] jhauer commented on #145
Thank you, php upgrade resolved issue

[2017-08-29 00:39] #145 closed, assigned to pemaxim

[2017-08-29 13:52] #143 closed, assigned to pemaxim

[2017-08-29 13:52] #139 closed, assigned to pemaxim

[2017-08-29 14:09] ewsopp opened #146 "support allowed file types to File URL Replacement feature"
Detect the allowed file types that can be uploaded into the WordPress media library, and use that list of file types with the "File URL Replacement" feature.

reference https://codex.wordpress.org/Function_Reference/get_allowed_mime_types

![image](https://user-images.githubusercontent.com/5578537/29825359-28a9fa48-8ca2-11e7-9c57-4f82b1465e5e.png)

[2017-08-29 15:27] ewsopp commented on #146
As @alimuzzaman pointed out via Slack, there may be a performance hit if we add support for ALL allowed file types. Instead, maybe we should add a field that allows the user to manually control the supported file types.

- [x] When the user enables the "File URL Replacement" setting, display a new field that displays the default supported file types and allow them to customize it.
- [x] Field defa

[2017-08-30 21:49] alimuzzaman commented on #140
@ewsopp Please contact with @stbeli if he still has the issue.
Seems like he needs to increase max_allowed_packet in mysql configuration file (my.ini).
Related topic on wp.org.
https://wordpress.org/support/topic/e_warning-error-while-sending-query-packet-pid18213-stack-trace-lled-at-ho/

[2017-08-31 19:48] ewsopp opened #147 "failover to image url if not found on disk"
- [x] if file is not found on disk or on configured GCS bucket, then...
- [x] try to fetch file from file URL (reference: https://codex.wordpress.org/Function_Reference/wp_remote_get)
- [x] When you are fetching the file remotely by the file URL, ensure that you are getting a 200 (OK) response.
- [x] store it temporarily to allow stateless to generate thumbnails (if it is an image) and store it co

[2017-08-31 19:57] alimuzzaman commented on #147
@ewsopp

Where from we will get the URL?

[2017-08-31 20:04] andypotanin commented on #147
@alimuzzaman In our infrastructure we have special proxies to load files from a "backup" location if its missing in the container. So, if `site.com/wp-content/uploads/2017/01/some-file.png` is being resized, but there is no `/var/www/wp-content/uploads/2017/01/some-file.png` on disk, our proxy tries to load the image from a special bucket. (If it gets a 404 response, it "fails over", we call this

[2017-08-31 22:54] alimuzzaman commented on #147
Maybe we can just try to generate metadata on WordPress to work with the existing bucket.

[2017-09-07 22:10] ewsopp commented on #147
@alimuzzaman please describe the steps in detail that WP-Stateless goes through when it encounters a media library object that has no WP-Stateless meta information during a sync.

[2017-09-07 22:22] alimuzzaman commented on #147
Sync process:

1. We check if the image [exists on local disk](https://github.com/wpCloud/wp-stateless/blob/v2.1/lib/classes/class-ajax.php#L169).
2. If not it will [try to get the image from Google Storage](https://github.com/wpCloud/wp-stateless/blob/v2.1/lib/classes/class-ajax.php#L173).
3. If image also doesn't exist there it will [try to get the image via the URL](https://github.com/wpCloud/w

[2017-09-07 22:25] ewsopp commented on #147
Great writeup, and I appreciate the links you added.

In step three, do you check the response of the URL? We should ensure a 200 response.

[2017-09-07 22:36] alimuzzaman commented on #147
Yes, [checked for status](https://github.com/wpCloud/wp-stateless/blob/v2.1/lib/classes/class-ajax.php#L136) 200.

[2017-09-08 18:26] aschmoe opened #148 "wp_calculate_image_srcset fails to rewrite default image"
Since the processing in `foreach ($image_meta['sizes'] as $key => $meta)` only uses the sizes array for replacement, if the default (unsized) image is in the source array, it remains un-replaced.

https://github.com/wpCloud/wp-stateless/blob/v2.1/lib/classes/class-bootstrap.php#L232

Some debug of the $sources array before and after replacement:

Before wp_calculate_image_srcset
[code]

After wp_c

[2017-09-08 18:29] ewsopp commented on #148
@aschmoe thanks for investigating. We'll take a look!

[2017-09-08 18:47] ewsopp commented on #58
@LiveChief can you test this out for us? I believe it now resolved with v2.1. Available for download at  https://github.com/wpCloud/wp-stateless/archive/v2.1.zip

[2017-09-08 18:49] ewsopp commented on #123
@walle89 this has been worked into the v2.1 release. Would you mind testing this out for us? You can download it from https://github.com/wpCloud/wp-stateless/archive/v2.1.zip

[2017-09-08 20:01] #147 closed, assigned to alimuzzaman

[2017-09-08 20:07] #146 closed, assigned to ewsopp

[2017-09-08 22:20] alimuzzaman commented on #148
@aschmoe @ewsopp Now wp_calculate_image_srcset will rewrite default image also.

[2017-09-08 22:29] ewsopp commented on #148
@aschmoe would you mind testing this with the v2.1 branch? You can download it directly from https://github.com/wpCloud/wp-stateless/archive/v2.1.zip

Please let us know! :)

[2017-09-08 22:57] ewsopp commented on #140
Not sure what resolved the issue, but @stbeli is reporting all issues resolved on his end.

[2017-09-08 22:57] #140 closed, assigned to alimuzzaman

[2017-09-08 23:01] ewsopp commented on #111
@alimuzzaman before interacting with Google Cloud, we should check to ensure it is online and ready to receive our commands and data.

We need some general function that we can call from different points (within setup assistant, before uploading a file, before thumbnail regeneration, etc) within the plugin. Maybe even check it whenever the settings panel is loaded to output a warning to the user v

[2017-09-09 00:07] ewsopp commented on #58
Worked with my tests. Closing for now.

[2017-09-09 00:07] #58 closed, assigned to ewsopp

[2017-09-10 10:21] andypotanin commented on #111
@ewsopp Why don't we add this notification to the admin bar like we do with the WP-Upstream plugin?

[2017-09-10 23:57] alimuzzaman commented on #111
In that case, we would have 2 status. One for Google status and another for current bucket configuration.

[2017-09-11 06:31] dwbtoftshit commented on #111
ok, then I wait with a new bucket! Better to solve this

2017-09-11 1:57 GMT+02:00 Md. Alimuzzaman Alim <notifications@github.com>:

[2017-09-11 15:12] ewsopp commented on #138
@alimuzzaman what did you do to fix this?

[2017-09-11 15:28] alimuzzaman commented on #138
@ewsopp I did nothing. Maybe related to #140

[2017-09-11 15:56] ewsopp commented on #111
I like that idea too.

[2017-09-11 16:15] #134 closed, assigned to ewsopp

[2017-09-11 16:16] #141 closed, assigned to ewsopp

[2017-09-11 16:16] #142 closed, assigned to ewsopp

[2017-09-11 16:17] #138 closed, assigned to ewsopp

[2017-09-11 16:32] walle89 commented on #123
I did just a quick test and initially every thing seems fine. Soon I have time later this week, I will do more testing.

What's your current plan to release 2.1 (if you don't find any major issues)?

[2017-09-11 17:03] ewsopp commented on #123
All that is left is more thorough testing. I'd like to release this week! :)

[2017-09-14 12:20] walle89 commented on #123
I have tested v2.1 (not RC) and GOOGLE_APPLICATION_CREDENTIALS variable works as expected. I have yet tested it Google Cloud Platform, but I feel quite conferment that this feature will work. I will continue the testing of other fixes and features that will be released. But as for this issue, in my opinion I would say this is working and ready for release.

Environment spec:
WP 4.8.1 subdir networ

[2017-09-16 10:18] danielperezr88 commented on #37
I need some of this functionalities in order to be able to make Wordpress installations truly stateless. Any workaround or script to help synchronize existing GCE media? More specifically, I'd like to be able to programmaticaly create non-existent Wordpress media library objects, and choose if I want to keep a copy inside "uploads" directory or not.

[2017-09-18 15:26] #148 closed, assigned to ewsopp

[2017-09-18 15:27] ewsopp commented on #123
Thank you @walle89 - we are shipping v2.1.0 now! Expect an update today at https://wordpress.org/plugins/wp-stateless/

[2017-09-18 15:27] #123 closed, assigned to ewsopp

[2017-09-18 15:28] #18 closed, assigned to nobody

[2017-09-18 20:20] ewsopp opened #149 "wildcards for bucket folder settings"
Wildcards would be a useful tool for separating different site's media files when using a shared bucket folder across an entire network. For example, we could have a wildcard that uses the site's URL as the replacement.

Are there other useful ideas for wildcards besides the site's url?

_idea suggestion from the wordpress.org forum at https://wordpress.org/support/topic/serving-the-same-media-to-

[2017-09-18 20:30] walle89 commented on #149
For a subfolder multisite installation, I think it should be the name of the subfolder instead of the site url. For example `example.com/site1` becomes `site1`.

[2017-09-18 22:42] danielperezr88 commented on #37
Found a solution for my situation. Using CDN mode, gcsfuse for mounting my bucket as the uploads folder and "Add From Server" plugin to register files in Wordpress. Adding some Javascript scripting for recursive file registration with "Add From Server", avoiding resizing already resized images again, completed it all. Not an easy solution, but it did the trick.

[2017-09-19 12:56] ewsopp commented on #37
@danielperezr88 glad you got it worked out. We want to add functionality to support this sort of case, but it might take quite a bit of time and effort to pull it together. I'm happy to see you found a workaround in the meantime.

[2017-09-21 22:09] aschmoe commented on #148
@ewsopp thank you, issue appears to be fixed... as you already know ;)

Sorry about the tardy response.

[2017-09-21 22:18] ewsopp commented on #148
@aschmoe awesome - thanks for confirming! 👍

[2017-09-22 21:19] ewsopp opened #150 "improve support for Easy Digital Downloads"
When WP-Stateless is used alongside Easy Digital Downloads, the "redirect" download method is always used regardless of the setting in EDD. Ideally, WP-Stateless should respect the download method setting and support the "Forced" download method option.

![image](https://user-images.githubusercontent.com/5578537/30765103-d4cb463e-9fbb-11e7-827d-9a5cea2e0248.png)

[2017-09-22 21:22] ewsopp opened #151 "test and improve support for advanced custom fields"
reference: https://wordpress.org/support/topic/advanced-custom-fields-compatability-acf/

[2017-09-23 14:35] ewsopp opened #152 "test and improve support for edit image"
https://codex.wordpress.org/Edit_Media#Edit_Image

[2017-09-24 19:47] alimuzzaman commented on #152
It's working out of the box.

[2017-09-24 23:26] alimuzzaman commented on #151
[Here](https://github.com/wpCloud/wp-stateless/tree/v2.1-hot-fix) is a hotfix for the problem until [this pull request](https://github.com/andersthorborg/ACF-Image-Crop/pull/53) accepted.
https://github.com/wpCloud/wp-stateless/tree/v2.1-hot-fix

[2017-09-25 11:13] antonkorotkov commented on #150
Done.

[2017-09-25 16:12] ewsopp opened #153 "add support for siteorigin generated CSS files"

[2017-09-25 16:13] ewsopp commented on #152
@alimuzzaman it works for all Modes?

[2017-09-28 00:30] ahmed-sigmalux opened #154 "WP Stateless saves images in root and double-slash (//) directory"
I am encountering an easily reproducible bug. My settings are:

* CDN
* Enable file URL replacement
* Enable dynamic image support
* Leave folder blank
* Domain = cdn.mysite.com
* Disable organization
* Enable cache-busting

Then go to the sync tab, select "Regenerate all stateless images," and click run. What happens is that images are placed in both the storage bucket root and a folder "/" (acce

[2017-09-28 13:06] ewsopp commented on #154
Thank you for the clear feedback @ahmed-sigmalux

We'll take a look and get a fix prepared

[2017-09-28 14:06] ewsopp commented on #154
@ahmed-sigmalux can you try this fix? https://github.com/wpCloud/wp-stateless/archive/v2.1-hot-fix.zip

[2017-10-02 11:06] chrissound opened #155 "What GCS permissions are required?"
What permissions are required from the GCS service account?

[2017-10-02 13:08] ewsopp commented on #155
Hey @chrissound - check the Manual Setup guide in the Wiki at https://github.com/wpCloud/wp-stateless/wiki/Manual-Setup#4-create-google-cloud-service-account for details.

Let me know if you need any further details. Thanks!

[2017-10-02 15:42] ewsopp opened #156 "fatal error with GuzzleHttp"
reported at https://wordpress.org/support/topic/error-guzzlehttpexceptionrequestexceptiongeterrors/

[2017-10-02 20:37] ewsopp opened #157 "sync - continue the last process"
How does the "Continue the last process" know where the previous sync process left off, and where to begin?

[2017-10-03 05:20] ahmed-sigmalux commented on #154
That works.

Thank you for the prompt turnaround.

[2017-10-03 05:22] ahmed-sigmalux opened #158 "WP Stateless adding x-chromelogger-data HTTP header"
Why is WP Stateless adding the HTTP header x-chromelogger-data to all pages? And more importantly, how do I turn it off?

[2017-10-03 05:27] ahmed-sigmalux opened #159 "WP Stateless generates HTTPS links on website, but HTTP links in the media library"
When viewing https://www.mysite.com, all the CDN links inserted by WP Stateless also use HTTPS, e.g., https://cdn.mysite.com.

When viewing the media library from the admin panel, however, all the CDN links use HTTP, e.g., http://cdn.mysite.com.

This generates a mixed content warning by Chrome and, if you have a tight CSP, blocks the images from being loaded in the media library.

[2017-10-03 05:37] alimuzzaman commented on #159
@ahmed-sigmalux What do you mean by https://cdn.mysite.com? Did you mean storage.googleapis.com?
Or you used a custom domain for CDN URL? If you use a custom domain you can't have https enabled. Google Storage doesn't support https for custom domains. In this case, the frontend should have also used http://cdn.mysite.com.
If you are not using custom domain we have to take a look.

[2017-10-03 05:49] ahmed-sigmalux commented on #159
Sorry, let me provide some more context.

Yes, we are using a custom domain and, yes, we are using HTTPS. We are using Cloudflare, which is a Google Cloud partner (https://www.cloudflare.com/integrations/google-cloud/), meaning we can use a custom domain and SSL with Google Cloud storage buckets. Thus https://cdn.mysite.com is valid and works perfectly fine for our setup.

Cloudflare also rewrites

[2017-10-03 06:15] alimuzzaman commented on #159
@ahmed-sigmalux We are working on it.

[2017-10-03 07:24] alimuzzaman commented on #159
@ahmed-sigmalux Try this fix https://github.com/wpCloud/wp-stateless/tree/v2.1-hot-fix
Prefix the **Domain** with `https://`. Ex. https://cdn.mysite.com
Then try with a new photo to be sure and sync all the attachments. After sync, you will get https:// on all the attachments.

[2017-10-03 11:06] #154 closed, assigned to alimuzzaman

[2017-10-03 17:00] ahmed-sigmalux opened #160 "Multisite synced media libraries"
We're using WordPress multisite with [MultilingualPress](https://multilingualpress.org/) to create a multilingual website. Each subsite is identical to the primary site, but in a different language, i.e., site 1 is English, site 2 is the same content in German, site 3 is the same content in French, and so on. Because each subsite is identical other than the language, we end up having the same imag

[2017-10-03 17:05] ahmed-sigmalux commented on #159
I installed the hotfix and, when I enter https://cdn.mysite.com as the domain, the preview still shows https://storage.googleapis.com. Is that expected?

[2017-10-03 21:21] ahmed-sigmalux commented on #159
Nevermind,  I see that I actually ended up with 2 version of the WP Stateless plugin.

Your hotfix works!

[2017-10-04 18:21] ahmed-sigmalux opened #161 "Is WP Stateless generating PHP sessions?"
Recently I noticed PHP was generating sessions and adding no-cache HTTP headers, thereby breaking downstream caching (Nginx, Varnish, Cloudflare, et al). I've reviewed all installed plugins for session_start code and noticed the following:

[code]

What's the purpose of these sessions? Are they affecting downstream caching?

[2017-10-05 10:05] asisten commented on #156
Thank you, now this problem fixed for GuzzleHttp by using the hotfix.

[2017-10-05 15:21] ahmed-sigmalux commented on #22
Any progress on this feature?

[2017-10-06 00:58] ahmed-sigmalux commented on #161
After further testing, I've confirmed WP Stateless is not generating PHP sessions and breaking downstream caching. The culprit was actually the Pods framework.

[2017-10-06 00:58] #161 closed, assigned to ewsopp, alimuzzaman

[2017-10-08 02:43] ahmed-sigmalux opened #162 "Using custom domain name that isn't bucket name"
This is related to: https://github.com/wpCloud/wp-stateless/issues/159

Currently WP Stateless limits custom domains to buckets with the same name, e.g., to use the CNAME cdn.mysite.com the bucket must be named cdn.mysite.com, too. This restriction makes sense when serving files directly from the Google storage bucket (that is, without any intermediary proxy or CDN).

For people using the Cloudfla

[2017-10-08 02:58] #162 closed, assigned to nobody

[2017-10-08 18:11] ahmed-sigmalux opened #163 "Some objects have wrong content-type"
WP Stateless is setting the wrong content-type on some objects. Specifically, I'm seeing that .png files are being uploaded with the content-type image/jpeg. This is important because CORS fails when the object content-type is incorrect.

[2017-10-08 18:25] ewsopp commented on #163
@ahmed-sigmalux thanks for reporting this. We will get this resolved.

[2017-10-08 18:51] ewsopp commented on #163
@ahmed-sigmalux I just tested this for both a JPG and PNG images and didn't see the problem.

![image](https://user-images.githubusercontent.com/5578537/31319838-0d3296ac-ac38-11e7-83b3-dff283c0c1bc.png)

![image](https://user-images.githubusercontent.com/5578537/31319842-194fdbb6-ac38-11e7-95e0-b9b292caa0c0.png)

[2017-10-08 18:51] ewsopp commented on #155
I'm closing this for now.

@chrissound feel free to open again and let us know if you need any further assistance. Thanks

[2017-10-08 18:51] #155 closed, assigned to nobody

[2017-10-08 19:04] ewsopp commented on #160
We have had talks internally about a synchronization tool that would have special handling for files on GCS that don't have any media library objects in WordPress (ref https://github.com/wpCloud/wp-stateless/issues/27). The tool would help the webmaster to identify and provide options for handling these orphaned files.

In your situation where multiple media libraries have the same storage locatio

[2017-10-09 05:06] ahmed-sigmalux commented on #160
Thanks for answering all my questions.

[2017-10-09 05:20] ahmed-sigmalux commented on #163
I double-checked and here's what I see happening:

1. I'm importing a WooCommerce CSV with URLs to product images.

2. The product image URLs are hosted at a 3rd party imaging service and return the correct content types.

3. Without WP Stateless, the product images are saved to the local disk are served with the correct content types (for .png, our web server returns a content-type of image/png).

[2017-10-09 08:48] chrissound commented on #155
The answer is "Storage > Storage Admin"

[2017-10-09 16:32] #160 closed, assigned to ewsopp, alimuzzaman

[2017-10-10 20:19] ahmed-sigmalux commented on #163
I'm seeing the same problem when manually uploading a PNG file to the media library.

[2017-10-13 07:42] villesiltala opened #164 "Bucket link filtering issue"
We are building a proxy on our clients' sites which sets the urls to point to the site's domain and then Nginx proxys the uploads url to the Google bucket. We tried using the custom domain setting, but it was not working and the urls still pointed to Google. Then we turned to filtering the bucket url with the `wp_stateless_bucket_link` filter. However, we don't want to create a filter for all our

[2017-10-16 09:46] morrislaptop opened #165 "The uploaded file could not be moved to uploads. when hosted on App Engine itself"
Is this a supported environment?

[2017-10-17 14:54] walle89 commented on #165
I don't think you can't save uploaded files to the upload folder on App Engine. You need to change the mode to "Stateless" in WP-Stateless settings.

[2017-10-18 18:13] alimuzzaman commented on #163
@ahmed-sigmalux Try this fix https://github.com/wpCloud/wp-stateless/archive/v2.1-hot-fix.zip
This should solve the problem.

[2017-10-25 23:57] JessBoctor opened #166 "Filtering WP_STATELESS_MEDIA_ROOT_DIR"
Hi there!

So I have a bit of a conundrum. This plugin is great, but I really need to be able to filter the directories in order to organize files correctly as they load into GCS.

Previously, I used the filter 'wp_upload_dir' in combination with the acf/upload_prefilter in order to accomplish this. However, with Stateless running, I get an HTTP error from the media uploader.

I have figured out t

[2017-10-26 00:01] JessBoctor opened #167 "Programmatically adding Files"
Hello Again!

I have another puzzle I am hoping you could help me with.

I have a number of images which are created programmatically (pgraph charts) and saved into  the uploads folder with all the other files that are uploaded to a post. I don't add them as posts, as they are never needed outside of certain specific uses. However, I would like to have these stored with the rest of the files which

[2017-10-27 00:06] JessBoctor commented on #166
Okay, update:

After spending most of the afternoon working on this I hit an interesting problem. By editing the options loop in /lib/classes/class-setting.php (after line 113-117) like so:

//Add filter for the root dir
 if( $option == 'root_dir' ){
    //change $value somehow
    $value = "/new/dir/based/on/conditionals";
}

I was able to change the sm.root_dir setting. To the point that when it

[2017-10-28 02:27] artooro opened #168 "support private files"
We use wordpress for an intranet and would like the media stored in GCS to be only accessible by those logged into wordpress.
I believe this would be possible by using the signed URLs feature: https://cloud.google.com/storage/docs/access-control/signed-urls

The plugin would have to dynamically rewrite the URLs as they are signed.

[2017-10-31 21:18] ahmed-sigmalux commented on #163
The hotfix works. Thank you!

[2017-11-07 01:34] ahmed-sigmalux opened #170 "Undefined index: gs_link in class-bootstrap.php"
I'm seeing the below error in my debug log:

`Notice: Undefined index: gs_link in /var/www/wordpress/wp-content/plugins/wp-stateless/lib/classes/class-bootstrap.php on line 268`

[2017-11-12 15:20] andypotanin commented on #167
@JessBoctor Well, to keep things organized, we believe that any file that WP-Stateless will be tracking and handling must be in the Media library as a "registered" object.

If it's not in the Media library then we ignore it - simply because tracking all other files without having a standard place to record their state and history could becoming unmanageable.

Are there security reasons you don't w

[2017-11-13 13:52] niemenmaa opened #171 "Typo in constant WP_STATELESS_MEDIA_BODY_REWTITE"
In [class-settings.php](https://github.com/wpCloud/wp-stateless/blob/06f1847f187ca39c0d7781bd27338decb95977b6/lib/classes/class-settings.php#L25) plugin cheks for set constants. There is a typo for setting the body rewrite. This probably should be `WP_STATELESS_MEDIA_BODY_REWRITE`.

[code]

[2017-11-13 20:32] JessBoctor commented on #167
Hi @andypotanin, thanks for the reply!

The main reason I didn't go through the typical uploader process is that files are constantly being rewritten. Every time a post is saved, the graphs are recalculated, recreated, and then saved over the older version within the directory. Since the only use for the files was to add them to a PDF output, I didn't see the need to add them to the library for us

[2017-11-14 01:20] andypotanin commented on #167
@JessBoctor I see. So you have some files that are kind of in the gray area between cache and asset files. We actually have a similar issue with Site Origin page builder plugin that keeps re-generating some CSS files and updating them in the `wp-content/uploads` directory.

We've considered having stateless start "discovering" them - because almost all of our sites run across multiple distributed

[2017-11-17 17:17] #163 closed, assigned to ewsopp, alimuzzaman

[2017-11-17 17:19] #151 closed, assigned to ewsopp, alimuzzaman

[2017-11-17 17:20] #156 closed, assigned to alimuzzaman

[2017-11-17 17:29] #159 closed, assigned to ewsopp

[2017-11-17 22:38] JessBoctor commented on #167
Thanks for the tip @andypotanin! I will see if I can't just delete the old files and put new ones into the Google Cloud Storage without having to use the WP Uploader.

[2017-11-19 02:15] zackseuberling opened #172 "Known security vulnerabilities in dependencies?"
I'm currently using WP Stateless in a project with the code hosted on Github and received an alert about JS vulnerabilities in the `package.json` associated with the WP Stateless plugin.

![screen shot 2017-11-18 at 6 12 53 pm](https://user-images.githubusercontent.com/1609558/32986683-3e9a7718-cc8c-11e7-8ac6-f34efdd207fb.png)

Is this problematic? A cause for concern?

[2017-11-20 00:10] ewsopp opened #173 "change permission of service account to"
At the moment, the service account created during the setup assistant only gives permission to the bucket created by the setup assistant. This causes issues when the user updates the bucket setting with a newly created bucket, but does not update the service account setting.

To solve this problem, the webmaster would need to do one of the following:
1. create a new service account with proper per

[2017-11-20 00:18] ewsopp commented on #172
@zackseuberling thanks for reporting. We'll investigate!

[2017-11-20 09:31] antonkorotkov commented on #172
Hey @zackseuberling

You can ignore this. `package-lock.json` is notifying that vulnerabilities exist in Node modules we used while developing the plugin. But before every plugin release our builder script deletes all the Node modules from the plugin directory (there is no `node_modules` folder in plugin). Next release versions will not have such warning because we will delete this `package-lock.j

[2017-11-20 13:50] antonkorotkov commented on #173
Done

[2017-11-22 17:15] ewsopp opened #174 "visual composer - single image element"
Visual Composer's single image element doesn't play nice with WP-Stateless. The problem shows up when you provide a custom size for the image.

[2017-11-29 15:57] antonkorotkov commented on #157
There is an option field that is being populated with current progress. If mode is set to Continue the process then it gets this option field and starts with it. Or starts from the beginning it the option is empty.

[2017-11-29 16:37] antonkorotkov commented on #152
I tested and confirm it works for all modes.

[2017-11-29 16:39] antonkorotkov commented on #153
@ewsopp I think this is not finished. Feature requires manual syncing in order CSS files to appear in GCS.

[2017-12-20 19:33] ijakparov commented on #37
I have th same problem. Using timber plugin witch resize images (custom resize), wp-stateless doesn't see them and doesn't upload.

[2018-01-03 18:38] ericleonardo opened #175 "How to use WP-Stateless only for uploading? Not reading tasks"
Hi! I want use WP-Stateless only for uploading media to GCloud Storage. Don't want it doing image URL replacement when loading pages. For retrieving images directly from Storage bucket, I changed WP database **wp_options > upload_url_path** to my bucket URL and added read permission to **allUsers** there. This way, Wordpress can read media files very fast with no redirect. Please, how can I nullif

[2018-01-03 18:41] ewsopp commented on #175
Did you try the `Backup` mode? That sounds like what you need.

[2018-01-03 19:02] ericleonardo commented on #175
Will Backup mode directly upload to Storage bucket everytime I import a new image? I need cut the cost, so better upload directly to Storage which is less expansive. Will be dealing with high amount of images on daily basis (importing product feed from many stores with WP-All Import).

[2018-01-03 21:23] ewsopp commented on #175
Best way to know if it works for you is to test it out. It's completely free. 👍

[2018-01-03 22:40] ericleonardo commented on #175
Right! Well, I just tried **Backup** mode: image was uploaded both to local WP uploads folder and to Google Storage bucket. What you think is easier and what file should I edit? Edit **Backup** mode to avoid uploading to local server; Or Edit **Stateless** mode to avoid reading images from Storage? All this is because my WP performs better when loading images directly from Storage (putting Storage

[2018-01-07 18:03] ahmed-sigmalux commented on #170
Any news on this?

[2018-01-08 20:31] tobsch opened #176 "Update Google Libaries"
With PHP 7, I currently get the following error:
https://github.com/google/google-api-php-client/issues/776

The issue states that updating helps.
Could you do that?

[2018-01-09 03:46] ahmed-sigmalux opened #177 "WP Stateless making unnecessary database queries and slowing down site"
I recently partitioned my WordPress installation by blog ID (using the HyperDB extension). I noticed a severe slowdown in my site, with admin pages going from ~2 seconds to load to >30 seconds to load. I checked with Query Monitor and noticed WP Stateless is querying every single options table regardless of which blog is being requested, thereby causing the slowdown.

For example, I access https:/

[2018-01-09 13:17] tobsch opened #178 "Storing configuration in files instead"
Hi there,

it's not that helpful for bigger projects if configuration is stored in the database:
As soon as you're hosting multiple environments, it's getting messy (development, test, staging, production).

Any thoughts on moving configuration to files?

[2018-01-09 13:19] tobsch commented on #177
Related: https://github.com/wpCloud/wp-stateless/issues/178

[2018-01-09 13:24] ewsopp commented on #178
Try using constants. See documentation in the Wiki at https://github.com/wpCloud/wp-stateless/wiki/Constants

[2018-01-09 20:55] #178 closed, assigned to nobody

[2018-01-16 01:48] ahmed-sigmalux commented on #177
Thanks for directing me to your related ticket.

[2018-01-16 07:56] ahmed-sigmalux commented on #171
Ran into this bug today...

[2018-01-16 08:03] ahmed-sigmalux opened #179 "Constant to network disable organizing media uploads?"
Does such a constant exist? If so, what is it?

[2018-01-16 15:06] Mashenka commented on #171
Hello guys.

Thank you for pointing. Issue fixed. You could find a fix in latest branch https://github.com/wpCloud/wp-stateless/tree/latest

[2018-01-16 15:06] #171 closed, assigned to antonkorotkov

[2018-01-16 15:24] djedlajn opened #180 "Cloud Functions to Compress Images"
First of all thanks for such a great plugin that is free.

I was wondering since It is not clear if the synchronization between local server and bucket actually optimizes the pictures, if there is a way to hook up cloud functions to trigger on upload. I know that it can be done manually and I am probably going to do that my self but having option to do that from plugin would make it killer feature

[2018-01-16 15:36] antonkorotkov commented on #180
@ukaric The answer for now is no. We were thinking about this feature and probably will add it some day... =)

[2018-01-16 15:39] djedlajn commented on #180
@antonkorotkov Thanks good to know.

[2018-01-16 15:39] #180 closed, assigned to nobody

[2018-01-17 19:32] leepeterson commented on #164
I would also like to know if/when this would be possible. In fact, having more control over assets hosted in GCP would be ideal.

I think a simple, generic UI within WP Stateless that allowed for the creation of asset metadata is the best way to handle this: creating VPC network metadata for the purpose of using it with CDN asset routing.

This solution would then offer additional benefits such as

[2018-01-17 23:44] djedlajn opened #181 "WebP format support ?"
Hi,

Even tho I added webp to supported field  it does not seem to care about that as It does not pull webp images to the bucket.

Is webp supported and if it is how do I make use of it. Or do I have to manually transfer all webp to bucket from the server ?

Thanks,
Uros

[2018-01-25 21:58] #150 closed, assigned to ewsopp

[2018-01-25 21:59] #158 closed, assigned to andypotanin

[2018-01-25 22:00] #172 closed, assigned to antonkorotkov, fqjony

[2018-01-25 22:01] #157 closed, assigned to ewsopp

[2018-01-25 22:01] ewsopp commented on #153
Can it be automatic instead of manual?

[2018-01-25 22:02] #152 closed, assigned to ewsopp

[2018-01-25 22:03] #173 closed, assigned to antonkorotkov

[2018-01-25 22:07] ewsopp opened #182 "add new "Compatibility" tab to settings area"
I would like this tab to list a title, description, and an enable/disable control for each compatibility we add.

Each compatibility needs to have its own separate file and all compatibilities should be stored together in a shared folder. Each compatibility file should also have something at the top that allows the file to describe the title and description (similar to a wordpress plugin file).

[2018-01-26 14:59] kjbenk opened #183 "Specify custom crop coordinates via query param in URL"
This is more of a feature request than a bug, but I was wondering if WP Stateless could handle, or support, cropping an image on the fly via crop coordinates passed as a query param in the image URL?  So you would make a request to get a custom image crop like this `http://example.com/wp-uploads/2018/01/image.png?crop=0-0-150-150`.

You can see an example of this being used in the [WPCOM Thumbnail

[2018-01-26 23:49] ewsopp opened #184 "add compatibility support for WP-Smush"
https://wordpress.org/plugins/wp-smushit/

[2018-01-28 07:39] alimuzzaman commented on #184
So far I think this shouldn't change any other features.

[2018-01-30 11:27] alimuzzaman commented on #182
Existing compatibility:

- [x] Dynamic Image Support

- [x] ACF image crop addon.

- [x] EDD Download Method

[2018-01-30 17:07] alimuzzaman commented on #182
@ewsopp Can you confirm the existing compatibility?

[2018-01-30 18:07] alimuzzaman commented on #182
@ewsopp Added the compatibility tab in the settings page. Can you do a quick review of the implementation?

[2018-01-31 00:00] ewsopp commented on #182
For the interface, let's follow a format similar to the SiteOrigin settings panel. See my screenshot and markup below.

![image](https://user-images.githubusercontent.com/5578537/35598152-ad6d8c92-05ef-11e8-8ab0-0977f7e61502.png)

[2018-01-31 00:09] ewsopp commented on #52
Closing for now. We may return to this in the future.

[2018-01-31 00:09] #52 closed, assigned to nobody

[2018-01-31 00:09] ewsopp commented on #53
Closing for now. We may return to this in the future.

[2018-01-31 00:09] #53 closed, assigned to nobody

[2018-01-31 00:10] ewsopp commented on #54
Closing for now. We may return to this in the future.

[2018-01-31 00:10] #54 closed, assigned to nobody

[2018-01-31 00:10] ewsopp commented on #55
Closing for now. We may return to this in the future.

[2018-01-31 00:10] #55 closed, assigned to kavaribes

[2018-01-31 00:16] #28 closed, assigned to ewsopp

[2018-01-31 00:17] ewsopp commented on #57
Closing for now. We may return to this in the future.

[2018-01-31 00:17] #57 closed, assigned to andypotanin, kavaribes

[2018-01-31 00:18] #175 closed, assigned to nobody

[2018-01-31 00:19] ewsopp commented on #177
@ahmed-sigmalux Hello - are you still experiencing slowness? or can we close this issue?

[2018-01-31 00:22] ahmed-sigmalux commented on #177
I've reduced the number of DB calls by defining constants in my wp-config.php.

[2018-01-31 00:22] #177 closed, assigned to nobody

[2018-01-31 00:58] ewsopp commented on #182
- [x] Move the "Dynamic Image Support" option from the "Settings" tab to the new "Compatibility" tab.

[2018-01-31 01:33] ewsopp opened #185 "test Advanced Custom Fields Image Crop Addon compatibility with backup mode enabled"

[2018-01-31 07:21] alimuzzaman commented on #185
It works fine in backup mode.

[2018-01-31 11:42] FutureMedia opened #186 "Google security issue"
I received an e-mail from Google stating the WP-Stateless service has excessive access rights to my account and invited me to remove them which I did.

[2018-01-31 13:32] ewsopp commented on #186
That should be fine. It's only needed during the initial setup using the setup assistant.

[2018-01-31 15:44] antonkorotkov commented on #153
@alimuzzaman could you check if it is possible to hook into SiteOrigin to intercept CSS generation and make this feature automatic for this kind of files?

[2018-02-01 11:10] alimuzzaman commented on #153
@antonkorotkov Working on it.

- [x] Automated sync is working.
- [ ] But removing them is not working yet.
- [x] Delete local file in stateless mode.

[2018-02-01 16:14] DESIGNMENOW opened #187 "Cropped image sizes are not synced/tranferred (Dynamic Image Support)"
Hey Dev Team,

first things first: great plugin, integration and authentication work like a charm.

There is one thing that does not seem to work as expected.
I am running Wordpress MU 4.9.2 with WP Stateless 2.1.1
In addition the following plugin is installed:
https://wordpress.org/plugins/crop-thumbnails/
I have tried several other cropping tools. Result is the same allover.
The cropping shows n

[2018-02-02 17:50] alimuzzaman commented on #174
@ewsopp Can you please explain?

[2018-02-06 03:20] ahmed-sigmalux opened #189 "PHP Warning: array_merge()"
I'm seeing this error message sporadically in my debug.log:

`PHP Warning:  array_merge(): Argument #2 is not an array in /var/www/wordpress/plugins/wp-stateless/lib/Google/src/Google/Client.php on line 133`

[2018-02-07 12:54] danyell-hubrix opened #190 "GCP API error during setup: "Callers must accept Terms of Service""
Steps to reproduce: attempt to install/initialize WP-Stateless with a Google UserID that has _never_ connected to GCP Console. That user will not have accepted GCP Terms of Service and GCP API calls will fail.

All you see in Wordpress Admin UI is the somewhat cryptic: "Callers must accept Terms of Service"

Interactively logging in to GCP Console using the same credentials provided to WP-Stateles

[2018-02-10 23:01] tomtoday opened #193 "Extra space in converted URLs"
I noticed that the code here:
https://github.com/wpCloud/wp-stateless/blob/v2.1/lib/classes/class-bootstrap.php#L622

Introduces a space into a URL that is converted using the `convert_to_gs_link()` method. This breaks links processed in this way.

[2018-02-12 17:58] bingollu opened #195 "WP-Stateless plugin JSON error while regenerating and syncing with GC"
Error occures when GC sync is being triggered, either from Dashboard or Plugin itself. No error log, audit, messages, wp-debug log having an entry.

Only catcheable errors are :
 <ul>
<li>Dashboard-&gt;Media-&gt;Stateless Settings-&gt;Sync Tab-&gt;Run
    generates : "Status: Error appeared"</li>
<li>Dashboard-&gt;Media-&gt;Library-&gt;List mode-&gt;Regenerate and Sync with GCS
    generates : "Sy

[2018-02-15 19:10] ewsopp opened #196 "setup assistant text updates"
# welcome page
on the Stateless Setup welcome page, please make the following changes...

- [ ] update the button label to `Begin Setup Assistant`
- [ ] below the button, add the following text: `or read manual setup instructions.`
- [ ] link "manual setup instructions" to https://github.com/wpCloud/wp-stateless/wiki/Manual-Setup and open in a new window.

![image](https://user-images.githubuserco

[2018-02-15 19:14] ewsopp commented on #196
# step 1

- [ ] change description text to: `Login with the Google Account you want to be associated with this website and consent to the permissions request. If you're unsure about granting access to your Google account, check over our documentation on the permission request and manual setup alternative.`
- [ ] link "permission request" to https://github.com/wpCloud/wp-stateless/wiki/Google-Permi

[2018-02-15 19:38] #185 closed, assigned to ewsopp, alimuzzaman

[2018-02-15 19:39] #153 closed, assigned to antonkorotkov, alimuzzaman

[2018-02-15 19:39] #182 closed, assigned to ewsopp, alimuzzaman

[2018-02-15 19:41] ewsopp commented on #195
adding screenshots here just in case those links die.

"Regenerate and sync GC"

![1](https://user-images.githubusercontent.com/5578537/36277236-52f6f3e0-125e-11e8-92e3-eb201b219d1b.png)

"Sync - Run"

![2](https://user-images.githubusercontent.com/5578537/36277245-5a65c6ec-125e-11e8-9574-cb5b69eb90b1.png)

[2018-02-15 19:42] ewsopp commented on #195
@bingollu did you use the Setup Assistant or the Manual Setup to do the initial setup of WP-Stateless?

[2018-02-15 19:44] bingollu commented on #195
Yes, I have acknowledged the setup and followed the procedure well since we have other WP sites running perfectly. This particular one was also, but for some reason I can not find the error. Is it not in the logs, debug or anywhere else. Just a died! message.

Burak Bingollu
Developer / IT
(631) 644-4003

[2018-02-15 19:46] #193 closed, assigned to antonkorotkov, ewsopp

[2018-02-15 19:47] ewsopp commented on #193
@tomtoday thanks for reporting. Going into the next release v2.1.3. Hoping to get it out today.

[2018-02-15 19:49] ewsopp commented on #186
We've submitted an application to Google to get this fixed.

[2018-02-16 02:52] ewsopp opened #197 "plugin activation redirection rules"
![2018-02-15_21-18-17](https://user-images.githubusercontent.com/5578537/36290917-119db860-1296-11e8-81bd-561b0d143552.gif)

By default, we redirect the user to the setup assistant on activation. If the key is already set, we redirect them to the settings panel - as demonstrated in the video above.

- [x] if the JSON key is already configured (via JSON setting in settings panel, or wp-config const

[2018-02-16 15:38] #197 closed, assigned to alimuzzaman

[2018-02-16 15:38] #196 closed, assigned to alimuzzaman

[2018-02-19 06:11] alimuzzaman commented on #189
@ahmed-sigmalux This line is only called when you save the settings. I am not sure how the warning is happening.

[2018-02-19 06:27] alimuzzaman opened #202 "Test Compatibility of Stateless with Image compression plugins"
- [x] [Smush Image Compression and Optimization](https://wordpress.org/plugins/wp-smushit/) [ Problem] WP Smush
- [x] [EWWW Image Optimizer](https://wordpress.org/plugins/ewww-image-optimizer/) 600K [ Working ]
- [x] [Compress JPEG & PNG images](https://wordpress.org/plugins/tiny-compress-images/) 100K [ Working ]  TinyPNG
- [x] [Imagify Image Optimizer](https://wordpress.org/plugins/imagify/) 100

[2018-02-21 14:30] ewsopp commented on #202
- [ ] TinyPNG https://wordpress.org/plugins/tiny-compress-images/

[2018-02-21 22:04] #167 closed, assigned to nobody

[2018-02-21 22:05] #166 closed, assigned to nobody

[2018-02-21 22:11] JessBoctor opened #203 "Plugin Conflict with ACF Image Crop"
Hey everyone!

I have an interesting problem, after a recent update, whenever I run [ACF Image Crop ](https://github.com/andersthorborg/ACF-Image-Crop) together with WP Stateless, it triggers a fatal error when an image is cropped. Here is the error:

PHP Fatal error:  Call to undefined method WP_Error::set_quality() in /home/montere7/staging/dashboard/wp-content/plugins/acf-image-crop-add-on/acf-

[2018-02-21 22:26] JessBoctor commented on #203
Never mind!! Apparently I need to pay more attention to the change logs.

I found the compatibility settings in the backend and activated the ACF Image Crop setting. Everything is working fine now.

Thanks again, you guys rock!

[2018-02-21 22:26] #203 closed, assigned to nobody

[2018-02-21 22:44] ewsopp commented on #203
@JessBoctor glad it resolved your issue. Thanks for the support!

[2018-02-22 20:44] bingollu commented on #195
Found the error. An entry outputting space in the functions.php was causing the order of the rendering the code.

[2018-02-22 20:44] #195 closed, assigned to nobody

[2018-02-24 22:54] alimuzzaman commented on #182
@ewsopp Should I hide **Easy Digital Downloads** compatibility from compatibility tab if the Easy Digital Downloads plugin isn't enabled?

![image](https://user-images.githubusercontent.com/6744156/36635966-c3878f8a-19e7-11e8-931d-4264a22c0697.png)

[2018-02-26 17:54] wkw opened #205 "Options for Dynamic Bucket selection?"
Here's our situation: We need to split uploads into three different buckets:
1. images
2. Copyrighted streams
3. Copyright-free streams.

I've been through the source code fairly extensively sussing out possible filter points but still don't have a clear roadmap for how I might accomplish this (and am getting close to forking and customizing, but would like to avoid that).

On initial upload, I'd

[2018-02-28 15:29] alimuzzaman opened #206 "Imagify Image Optimizer sync fix"
Related to #202

[2018-02-28 15:30] alimuzzaman opened #207 "ShortPixel Image Optimizer sync fix"
Related to #202

[2018-03-01 05:06] wkw commented on #205
Two days and no response, so I'll close this soon. I know it's something of a fringe use case.

At this point I'm still trying to avoid forking the project. Looking at tapping into the `wp_update_attachment_metadata` filter after Stateless does it's thing. I think I can move the asset around at that point, and delete it from the default bucket as needed.

[2018-03-01 06:52] alimuzzaman commented on #205
@wkw Hi, sorry for the late replay.  So far I think it can be done in one bucket.
You can control each object whether it's private or public. Here is the [google documentation](https://cloud.google.com/storage/docs/access-control/making-data-public). To access private item you need to check [this document](https://cloud.google.com/storage/docs/access-control/create-signed-urls-program).
If you thi

[2018-03-01 07:17] alimuzzaman commented on #205
This function is responsible to upload all the image [GS_Client->add_media()](https://github.com/wpCloud/wp-stateless/blob/develop-alim/lib/classes/class-gs-client.php#L171).

Step 1: I think you will need a filter [here](https://github.com/wpCloud/wp-stateless/blob/develop-alim/lib/classes/class-gs-client.php#L230) to override the default behavior.

Step 2: When your custom field update you can [

[2018-03-01 15:27] wkw commented on #205
Thanks @alimuzzaman. I'd welcome keeping it all in one bucket, but boss man wants separate buckets, mostly for organization I think.  I do like your idea of a PR if I can find some place(s) to add new stateless filters. I'm going to leave this open for a few more days in case others have any suggestions, but thereafter you can close it or I will. Thank you!

[2018-03-01 15:42] alimuzzaman commented on #207
Automatic optimization don't work on localhost.

[2018-03-01 15:43] alimuzzaman commented on #206
Don't work on localhost.

[2018-03-01 17:08] mjezegou opened #208 "save_network_settings"
When i go in wp-admin/network/settings.php with back office and then i save setting, this message appears :
'wpCloud\StatelessMedia\Settings' does not have a method 'save_network_settings'

I think, it is  on wp-stateless/lib/classes/class-settings.php => the method save_network_settings is not exist in this class !!

[2018-03-01 17:27] alimuzzaman commented on #208
@mjezegou Thanks for reporting. We will fix this in next release.
In the mean time if this causing trouble you can just delete this line [class-settings.php#L77](https://github.com/wpCloud/wp-stateless/blob/v2.1/lib/classes/class-settings.php#L77).
This function isn't required.

[2018-03-05 02:09] RetroGameTalk opened #209 "[Question] So...how much are you guys spending?"
I wonder, how does this compare to other CDN providers in terms of cost?
I'ts nearly impossible to find any straight answer like "$0.04 / GB" for example.
There's that google calculator with a billion options that requires 3 astronauts to understand it.
So.
Is there anyone who actually used this on a site and got billed already? How much are they charging you?

[2018-03-05 16:58] ewsopp commented on #209
Hello @Salamander3 - you may want to ask your question over on our WordPress.org forum at https://wordpress.org/support/plugin/wp-stateless

GitHub is primarily focused on developer discussions around improving the plugin and organizing new releases.

[2018-03-05 16:58] #209 closed, assigned to ewsopp

[2018-03-05 17:20] alimuzzaman commented on #207
Shortpixel image optimization is now working. Enable it via compatibility tab.
Images will be sync once Shortpixel finished  the optimization.

[2018-03-05 17:36] alimuzzaman commented on #205
@wkw Any luck finding solution?

[2018-03-05 19:36] alimuzzaman opened #210 "Woo-Commerce addon compatibility"
### WooCommerce + Printful compatibility
reference https://wordpress.org/support/topic/woocommerce-372/
I seem to be having a problem with WooCommerce, all main Pictures aren’t showing up, but when I edit such item the pics are there. I have disabled the mode and it works. I’m using the Printful addon to add products created at the Printful website and it syncs the images to WordPress. I have also

[2018-03-05 19:38] alimuzzaman opened #211 "Sync Mode: DB only"
Only modify database when sync with this mode. Files will be transferred by users manually.
https://wordpress.org/support/topic/sync-huge-upload-folder-10gb/
https://wordpress.org/support/topic/gcs-to-wordpress/

[2018-03-05 20:20] alimuzzaman commented on #206
Imagfy Now also work on Stateless Mode.

[2018-03-06 04:21] alimuzzaman commented on #164
@villesiltala Pull requests are welcome. Otherwise we will try to implement this as soon as possible.

[2018-03-06 04:26] alimuzzaman commented on #164
@leepeterson We already have a page under Media menu. Where from you can set cache control now.

[2018-03-07 03:19] Feleys opened #212 "Modify storage path structure"
Hi,
I'm using multisite. Is it possible change path structure like WordPress's structure.

For example:
WordPress: /(site-id)/(year)/(month)/file.jpg

Top level folder will dynamically create site-id folder.

Thanks!

[2018-03-07 03:34] ewsopp commented on #212
Are you using a shared bucket across the entire network? If so, seems like this idea has been raised before at https://github.com/wpCloud/wp-stateless/issues/149

[2018-03-07 03:39] Feleys commented on #212
Yes, I shared bucket across the entire network.

Are you still working on it?

Thanks!

[2018-03-07 03:48] ewsopp commented on #212
Not yet, but please share your interest in the original issue. I'm thinking we can bump the priority since others have requested it. Thanks

[2018-03-07 03:48] #212 closed, assigned to nobody

[2018-03-07 05:11] Feleys commented on #149
To change path structure like WordPress's structure.
For example bucket: /(site-id)/(year)/(month)/file.jpg
I think top level of bucket should dynamically generate folder name of site id because user may mapping domain, if use site id it will not affected.

[2018-03-07 23:11] #202 closed, assigned to ewsopp

[2018-03-10 03:58] ewsopp opened #213 "compatibility constants supported v2.1.5"
What are the current compatibility constants?

[2018-03-12 16:44] alimuzzaman commented on #213
- `WP_STATELESS_COMPATIBILITY_ACFIC` **Advanced Custom Fields Image Crop Addon**
- `WP_STATELESS_MEDIA_ON_FLY` **Dynamic Image Support**
- `WP_STATELESS_COMPATIBILITY_EDD` **Easy Digital Downloads**
- `WP_STATELESS_COMPATIBILITY_GF` **Gravity Form File Upload**
- `WP_STATELESS_COMPATIBILITY_IMAGIFY` **Imagify**
- `WP_STATELESS_COMPATIBILITY_SHORTPIXEL` **ShortPixel Image Optimizer**
- `WP_STATELES

[2018-03-19 16:54] wkw commented on #205
I got pulled away from this task for time being, but the path I'm still attempting (short of a PR) is what I mentioned here: https://github.com/wpCloud/wp-stateless/issues/205#issuecomment-369475291

I'll reopen if I have more to contribute on this subject. Thanks!

[2018-03-19 16:54] #205 closed, assigned to ewsopp, alimuzzaman

[2018-03-21 00:49] ewsopp commented on #2
title: `Gravity Forms`
description: `Ensures compatibility with the File Upload field of the Gravity Forms plugin.`
constant: `WP_STATELESS_COMPATIBILITY_GF`

[2018-03-21 00:58] ewsopp commented on #206
@alimuzzaman are we compatible with these Imagify features?

- [x] bulk optimizer.
- [x] resize larger images
- [x] optimization levels: normal, agressive, ultra
- [x] auto-optimize images on upload.
- [x] backup original images [ [Backup image not stored in GCS](https://github.com/wpCloud/wp-stateless/commit/8b06695758ed80e027cc7c339a30b41bb50846f7#diff-810d2d3f3aeae303e527c22d230190bdR133) ]
- [

[2018-03-21 01:03] ewsopp commented on #207
@alimuzzaman are we compatible with these ShortPixel features?

- [x] bulk image optimization
- [x] compression type: lossy, lossless
- [x] thumbnail optimization
- [x] image backup [ Backup image not stored in GCS ]
- [x] resize large images
- [x] optimize media on upload
- [x] re-optimize
- [x] restore backup
- [x] Do these features work across the different modes? Backup, CDN, Stateless [ State

[2018-03-21 01:07] ewsopp commented on #2
@alimuzzaman does this also include support for the Post Image field? This looks like an image upload field.

[2018-03-21 12:02] ewsopp commented on #211
We are in the process of building a more sophisticated sync extension that will handle this. I'll update this issue once it is ready.

[2018-03-21 12:10] ewsopp commented on #164
Thanks, everyone. I'll try to clear some time to dig into this and research it a bit.

[2018-03-21 12:47] ewsopp commented on #38
This is being developed separately as an extension. Closing this issue.

[2018-03-21 12:48] ewsopp commented on #37
This is being developed separately as an extension. Closing this issue.

[2018-03-21 12:48] #37 closed, assigned to nobody

[2018-03-21 12:49] ewsopp commented on #27
This is being developed separately as an extension. Closing this issue.

[2018-03-21 12:49] #27 closed, assigned to nobody

[2018-03-21 12:49] ewsopp commented on #22
This is being developed separately as an extension. Closing this issue.

[2018-03-21 12:49] #22 closed, assigned to nobody

[2018-03-21 12:49] #38 closed, assigned to nobody

[2018-03-21 12:52] ewsopp commented on #165
Closing for now. Please reopen if further discussion is needed. Thanks

[2018-03-21 12:52] #165 closed, assigned to nobody

[2018-03-22 04:56] leepeterson opened #214 "Refresh Image Placeholder After Regeneration"
Having this status message if regeneration is successful is a good step forward. I think it could go another few step forward, though, and also refresh the newly-regenerated thumbnail.

Reason for this, among perhaps others, is in the case of paging through many hundreds or thousands of images, the only viable option to view the new thumbnail is to refresh the page. But once the image has been reg

[2018-03-24 07:00] andypotanin opened #215 "E_WARNING: Illegal string offset 'gs_bucket'"
Keep seeing this warning come up in our New Relic logs. Site is using Houzez theme.

Extract of tracelog:
[code]

On the front-end there is this usage:

[code]
Site has `2.1.3` installed.

In what situation would this happen?

[2018-03-24 17:25] alimuzzaman commented on #2
@ewsopp Yes it's include support for Post Image field.

[2018-03-24 18:46] alimuzzaman commented on #215
@andypotanin `wpCloud\StatelessMedia\Bootstrap::wp_get_attachment_metadata($metadata, $attachment_id)`
Maybe the `$metadata` passed wasn't array.
I am thinking to implement **unit testing** to be sure.

[2018-03-24 21:10] alimuzzaman commented on #206
Non image files not getting sync. [ Fixed ]

[2018-03-24 21:11] alimuzzaman commented on #207
Non image files not getting sync. [ Fixed ]

[2018-03-24 22:05] andypotanin commented on #215
@alimuzzaman Do you mean "unit" or "functional" and assurance testing? In other words, for your testing, would you need to have a WordPress site (with database, server, etc.) setup?

[2018-03-24 22:12] andypotanin commented on #215
@alimuzzaman If you need full-suite "end-to-end" tests, than we could definitely get something setup. We actually have the infrastructure and workflow for this, and we did this on wp-property about a year ago, but it lacked having people put together the actual tests.

* We used CircleCI to provision a testing environment, so on each commit tests would run.
* We would run a Docker container from o

[2018-03-25 11:56] alimuzzaman commented on #170
@ahmed-sigmalux In which version of WP Stateless you found the error?
Can you please test with latest version?

[2018-03-28 18:15] alimuzzaman commented on #215
@andypotanin It's sounds good, we should do this. I don't have experience in tests, what should I know to do this?

[2018-03-28 20:20] andypotanin commented on #215
@alimuzzaman Can you put together a general description of the test you would like to put together?

[2018-03-29 09:53] alimuzzaman commented on #207
@antonkorotkov
Shortpixel uses schedule queue to optimize image. After optimization it fire `shortpixel_image_optimised` action.
I have hooked into this action to sync with GCS and removed **original stateless hook** for sync `add_filter( 'wp_update_attachment_metadata', array( 'wpCloud\StatelessMedia\Utility', 'add_media' ), 999, 2 );`.

But the problem is `shortpixel_image_optimised`  hook only

[2018-03-29 16:21] antonkorotkov commented on #207
@alimuzzaman Can you check if what I did here https://github.com/wpCloud/wp-stateless/commit/ef8167ffe08ea88fbf9c61c32026f7740722d230 works as expected? And if it is good for you to continue with this issue?

[2018-03-31 19:21] alimuzzaman commented on #207
@antonkorotkov It's working fine. Now I will try to implement this on Imagify #206.

[2018-03-31 19:44] alimuzzaman opened #217 "PDF preview not working in edit attachment page or in media library."
And also not getting synced to GCS.
![image](https://user-images.githubusercontent.com/6744156/38166924-049fd334-354e-11e8-9a3d-d78fddbbca7a.png)

[2018-04-01 23:57] alimuzzaman opened #218 "EDD Front-end Submission Author Avatar not working"
https://docs.easydigitaldownloads.com/article/966-frontend-submissions-profile-form-editor

EDD Author Avatar not working in Stateless Mode.

Related WP.org issue https://wordpress.org/support/topic/wp-author-avatar-issues/

[2018-04-02 00:14] alimuzzaman commented on #207
@antonkorotkov Do you think it is possible to hook into [handleRestoreBackup](https://github.com/UsabilityDynamics/sandbox.uds.io/blob/develop-alim/wp-content/plugins/shortpixel-image-optimiser/class/wp-short-pixel.php#L1577)?

https://github.com/wpCloud/wp-stateless/blob/develop-alim/lib/classes/compatibility/shortpixel.php#L25

[2018-04-02 07:28] antonkorotkov commented on #207
@alimuzzaman I think so. Try using the same filter `get_attached_file` with determination that it is called from `doRestore` function in `wp-short-pixel.php` file.

This doesn't work? `add_action('admin_action_shortpixel_restore_backup', array($this, 'handleRestoreBackup'), 11);`

[2018-04-02 20:36] alimuzzaman commented on #207
@antonkorotkov Got it.
`[Fixed]` Only problem remaining is **Optimized image** preview in **bulk image optimization**.
![image](https://user-images.githubusercontent.com/6744156/38214846-b3e8a3f8-36e7-11e8-897c-e3ef66a9d8fb.png)

[2018-04-03 01:33] ewsopp commented on #2
@alimuzzaman I tweaked the description to mention the post image field.

title: `Gravity Forms`
description: `Enables support for these Gravity Forms features: file upload field, post image field.`
constant: `WP_STATELESS_COMPATIBILITY_GF`

[2018-04-03 01:37] ewsopp commented on #206
Compatibility Meta

title: `Imagify Image Optimizer`
description: `Enables support for these Imagify Image Optimizer features: auto-optimize images on upload, bulk optimizer, resize larger images, optimization levels (normal, aggressive, ultra).`
constant: `WP_STATELESS_COMPATIBILITY_IMAGIFY`

[2018-04-03 01:38] ewsopp commented on #206
@alimuzzaman from your notes, I understand that we do not support the "backup original images" and "restore original" features. Why?

[2018-04-03 01:41] ewsopp commented on #213
@alimuzzaman can you change `WP_STATELESS_COMPATIBILITY_SO_CSS` to `WP_STATELESS_COMPATIBILITY_SOCSS`? This way it is more in line with our naming scheme.

[2018-04-03 01:44] ewsopp commented on #207
@alimuzzaman you mentioned there is a problem with stateless mode at https://github.com/wpCloud/wp-stateless/issues/207#issuecomment-374807717

Has this been fixed?

[2018-04-03 01:48] ewsopp commented on #2
@alimuzzaman there is a "Custom Field" field that allows you to configure it as a _File Upload_ field type. Can you test this field as well?

![image](https://user-images.githubusercontent.com/5578537/38224790-97dc647e-36bf-11e8-80d8-4f893cedfa2c.png)

[2018-04-03 09:12] alimuzzaman commented on #207
@ewsopp Yes

[2018-04-03 22:02] ewsopp commented on #207
@alimuzzaman ok great. Is there anything not working with ShortPixel compatibility?

[2018-04-04 09:48] alimuzzaman commented on #2
@ewsopp Custom Field File Upload works.

[2018-04-04 09:56] alimuzzaman commented on #207
Backup image not stored in GCS.

[2018-04-04 09:56] alimuzzaman commented on #206
Fixed the Restore original.
Do we need to move the backup image to GCS?
It's only make sense to move to GCS if mode is Stateless.
It is possible to do this for Imagify.

[2018-04-04 15:06] ewsopp commented on #2
Ok great. I revised the compatibility description to mention this fact.

title: `Gravity Forms`
description: `Enables support for these Gravity Forms features: file upload field, post image field, custom file upload field type.`
constant: `WP_STATELESS_COMPATIBILITY_GF`

[2018-04-04 15:09] ewsopp commented on #207
The backup image should be stored according to the current wp-stateless mode.

- Backup: stored both on local and GCS.
- CDN: stored both on local and GCS.
- Stateless: stored on GCS.

Is it possible to have the backup image stored according to the current wp-stateless mode?

[2018-04-04 15:10] ewsopp commented on #206
The original image should be stored according to the current wp-stateless mode.

- Backup: stored both on local and GCS.
- CDN: stored both on local and GCS.
- Stateless: stored on GCS.

Is it possible to have the original image stored according to the current wp-stateless mode?

[2018-04-04 16:44] alimuzzaman commented on #206
@ewsopp It is possible to store backup image in GCS but in Stateless mode the local image is deleted. Because of no local image is found the **Re-optimize** and **Restore from backup** feature is disabled.

[2018-04-04 22:18] ewsopp opened #219 "improve admin notice design"
Follow the design used by Jetpack. I saw this on the "Updates" screen without the Jetpack Backup feature enabled.

![image](https://user-images.githubusercontent.com/5578537/38337574-dedc70ec-3833-11e8-8aac-baef1d98403b.png)

- [ ] For the left border, use the #FC5922 color.
- [ ] Use our plugin icon.
- [ ] Title and description.
- [ ] Button
- [ ] Dimiss

[2018-04-04 22:26] alimuzzaman commented on #213
@ewsopp Done.

[2018-04-04 22:28] alimuzzaman commented on #207
@ewsopp Working on it.

[2018-04-04 22:29] alimuzzaman commented on #2
@ewsopp Done.

[2018-04-04 22:30] alimuzzaman commented on #174
Done

[2018-04-04 22:31] ewsopp commented on #174
Compatibility description meta...

title: `WPBakery Page Builder `
description: `Enables support for these WPBakery Page Builder features: single image element.`
constant: `WP_STATELESS_COMPATIBILITY_WPB`

[2018-04-04 22:34] alimuzzaman commented on #174
Updated

[2018-04-04 22:39] ewsopp opened #220 "compatibility file renaming"
The file names are a bit misleading. Lets clean it up a bit...

- [x] `gravity-form.php` should be `gravity-forms.php`.
- [x] `edd-download-method.php` should be `easy-digital-downloads.php`
- [x] `so-widget-css.php` should be `siteorigin-css.php`
- [x] `wpbakery-single-image.php` should be `wpbakery-page-builder.php`

[2018-04-05 15:48] alimuzzaman commented on #220
@ewsopp FYI `siteorigin-css.php` is for  **SiteOrigin Widgets Bundle** addon.

[2018-04-05 15:51] ewsopp commented on #220
@alimuzzaman it isn't for this one? https://wordpress.org/plugins/so-css/

[2018-04-05 15:59] alimuzzaman commented on #220
No I did for this one: https://wordpress.org/plugins/so-widgets-bundle/

[2018-04-05 16:09] ewsopp commented on #220
Ok - what compatibilities did you add for this plugin?

[2018-04-05 16:15] alimuzzaman commented on #220
I am confused!
It's generate CSS file in `siteorigin-widgets` dir, where SO CSS generate file in `/so-css/` dir.

[2018-04-05 16:18] alimuzzaman commented on #207
Done, except stateless mode.
Backup file sync won't work in stateless mode.

[2018-04-05 16:20] alimuzzaman commented on #220
It would be easy to add support for SO CSS addon.

[2018-04-05 16:57] ewsopp opened #221 "add compatibility for SiteOrigin CSS plugin"
https://wordpress.org/plugins/so-css/

[2018-04-05 18:17] ewsopp commented on #221
Compatibility description meta.

title: `SiteOrigin CSS`
description: `Enabled support for CSS files generated by SiteOrigin CSS.`
constant: `WP_STATELESS_COMPATIBILITY_SOCSS`

[2018-04-07 10:04] andypotanin commented on #215
@alimuzzaman Take a look at the wp-cli QC structure and language https://github.com/wp-cli/wp-cli/tree/master/features

[2018-04-08 13:13] davidcommarmond opened #222 "Enable https if using cloudflare / provide manual override"
Hi,
We use cloudflare for the Name Server, and cloudflare serves https content if we use them even if the origin server uses http (See https://support.cloudflare.com/hc/en-us/articles/200170416-What-do-the-SSL-options-mean- )

Hence, in this scenario, using custom domains and CNAME using cloudflare, it would make sense to allow a manual override enabling https in your plugin settings if the site a

[2018-04-08 23:15] alimuzzaman commented on #221
@ewsopp Done

[2018-04-09 14:50] davidcommarmond opened #223 "[BAD THEMES] - Add entry to .htaccess to Load media files from Google Cloud Storage Bucket if they don't exist locally"
@ewsopp @alimuzzaman
Some themes and plugins are just badly written and statically reference the local /wp-content/ folder for static assets...

What I've done is added the following entry to .htaccess to load those resources on GCS if they don't exist locally.

Would be nice to have this in your compatibility section to add the .htaccess entry automatically so we don't have to do it every time ma

[2018-04-09 20:23] danyell-hubrix opened #224 "Breaks Divi Builder Export"
Divi v3.0.106
Divi Builder Export (pops a modal allowing download of page content as JSON)
WP-Stateless v2.1.4

Activate plugin: Export produces empty file
Deactivate plugin: Export behaves correctly as expected

This happens in/on .../wp-admin/post.php (Page/Post edit) where WP-Stateless has no business intercepting anything (neither URL rewrite nor XHR nor Ajax)

P.S. I love this plugin and I lo

[2018-04-10 13:47] marcareeds opened #225 "Push JS and CSS File"
How will be possible to push CSS and JS file into the Google Bucket ?

I add this in support file jpg jpeg png gif pdf js css

but only image was send

regards

[2018-04-10 14:19] ewsopp commented on #225
You can manually upload them via the Media Library and then update references to those files with the new GCS URLs.

[2018-04-10 17:47] davidcommarmond opened #226 "Enable Object Versioning"
Hello,
Since it's not possible to enable "Object Versioning" from the console, it would be nice to have this option via the plugin interface.

This will be particularly useful for users running WordPress in a truly stateless mode on a Kubernetes cluster for example, and want the bucket to "Backup itself", especially since they're deprecating the "Backup Entities": https://cloud.google.com/appengin

[2018-04-10 18:09] alimuzzaman commented on #215
@andypotanin I would like to have functional testing and simulate media upload and check if it gets sync properly in various situation.
If you think implementation is simple then we should do this.
I will need some time to gather what I want to do.
What I need to know to implement functional testing?

[2018-04-10 18:42] alimuzzaman commented on #215
I am afraid that if same thing happen with Stateless as WP Property.

[2018-04-13 11:13] danyell-hubrix opened #227 "WP-Stateless + WPML with per-domain languages"
Our setup (quite common for larger multilingual WordPress sites) is:

- WPML (latest)
- One domain per language: oursite.co for English, oursite.fr for French and so on.
- There is only 1 image fileset for **all** languages.

Running WP-Stateless 2.1.4, we see GCS CDN-URL rewriting occurring for our default-language site (img URIs properly rewritten to point to GCS bucket) but **not** for our 2nd-

[2018-04-14 08:43] alimuzzaman commented on #227
@danyell-hubrix It's probably unsupported configuration. Is it multi site?

[2018-04-14 12:56] danyell-hubrix commented on #227
No, it is _not_ multisite. Each domain-name maps to the same site (and WordPress installation) in a specific language.

[2018-04-17 20:29] ewsopp opened #228 "fatal error with php 5.4.45 on activation"
submitted via the .org forum at https://wordpress.org/support/topic/fatal-error-on-activation-155/

# host configuration

![jwblkx0](https://user-images.githubusercontent.com/5578537/38894838-679f7802-425c-11e8-8821-1e738629e4dd.png)

# plugin list

![movyykn](https://user-images.githubusercontent.com/5578537/38894855-73e2247a-425c-11e8-84ba-0f8f3ccc73f2.png)

[2018-04-17 20:43] alimuzzaman commented on #228
Stateless require at least  PHP 5.5,

[2018-04-18 08:47] huangyuyu003 opened #229 "Whether images address will changed automatically when I stop using WP-Stateless?"
HI There,
By now, I am using WP-Stateless in CDN mode for my website. I want to know if I stop this plugin, what the images UrlS will be in my webiste? Can they server from local storage and change the URLs automatically? I didn’t see an option to choose where to server the images. Besides, can this choice be switch just like a turn on/off switch which you can select it whenerver you want to?
Beca

[2018-04-18 08:52] alimuzzaman commented on #229
Stateless doesn’t change the url in database, it save extra metadata in database and rewrite the URL in runtime using filter.
So if you disable Stateless there is nothing to worry about. If you upload image when Stateless was disabled, you need to do  a manual sync from Sync tab from Media >> Stateless Settings.

[2018-04-18 10:06] huangyuyu003 commented on #229
@alimuzzaman thank you for your reply.
Sorry I mis-understand it. Infact I want my website to use local storage images instead of using Google cloud images. So is there possible to disable my google cloud storage? If I have only to delete those images from Goolge cloud storage, can those images automatically load from local storage in server?
If they can't, that means I have to edit those pictures

[2018-04-18 10:16] alimuzzaman commented on #229
1. If you want to use your local image URL: Use **Backup** mode. It will upload image to GCS but use local image.
2. Yes you can disable it. Use **Disable** mode, it will disable all functionality of Stateless.
3. No they won't load from local server automatically. You have to use **Disable** or **Backup** mode to use image from local server.
4. You can switch between CDN and Backup mode to switch

[2018-04-18 10:22] alimuzzaman opened #230 "WP Smush don't work in Stateless mode"
https://wordpress.org/support/topic/wp-stateless-wp-smush/

https://wordpress.org/plugins/wp-smushit/

Related issue #202

[2018-04-18 10:38] huangyuyu003 commented on #229
@alimuzzaman
It works. thank you so much for you help. You are so kind and handsome man! Have a good day!

[2018-04-18 10:39] #229 closed, assigned to nobody

[2018-04-18 11:09] alimuzzaman commented on #230
I found it working in Stateless mode in my testing.
First image is with WP Smush disabled and second one with WP Smush enabled.
 ![image](https://user-images.githubusercontent.com/6744156/38928582-1b04f5d8-432b-11e8-9d88-ccb301cb6298.png)

[2018-04-20 06:53] UmeshSingla commented on #230
@ewsopp I've dropped you a email as well.

1. Media is updated by the hook in here:
```add_filter( 'wp_update_attachment_metadata', array( $this, 'add_media' ), 100, 2 );```
https://github.com/wpCloud/wp-stateless/blob/fea18167bac57395560eed57474d90f44921df04/lib/classes/class-bootstrap.php#L213

2. Which in turn calls:
```$media = $client->add_media()``` with respective args.

https://github.com/

[2018-04-20 06:56] UmeshSingla commented on #230
@alimuzzaman Not sure, How Smush is working for you in Stateless mode. Because Smush looks for local files and in stateless mode images are deleted from local directory.

I've been testing the plugin in CDN mode.

[2018-04-20 14:19] antonkorotkov commented on #230
@UmeshSingla So just for clarification - WP-Stateless works correctly with Smush in all modes except `Stateless` because of absence of local files?

[2018-04-22 00:18] totranquilo commented on #73
Fix this error when reviewing bucket permission by adding the new user created to manage

[2018-04-26 13:21] alimuzzaman commented on #230
Thanks @UmeshSingla,
Yes, that is how WP Stateless work and we can check for metadata changes.
Although we made some changes in this function.
`if ( !$force && $media = $this->media_exists( $name ) ) {` force arg can be use to overwrite image.
https://github.com/wpCloud/wp-stateless/blob/2a61daadbfb672091211bb75396c71f0d146b238/lib/classes/class-gs-client.php#L197

Can you please explain how **WP