[2018-04-26 21:12] #186 closed, assigned to nobody

[2018-04-26 21:13] ewsopp opened #231 "wpforms - add new experience is lost when wp-stateless is active"
Related wp.org issue https://wordpress.org/support/topic/wpforms-conflict-with-wp-stateless/

![2018-04-26_17-08-12](https://user-images.githubusercontent.com/5578537/39332225-d4a21a76-4974-11e8-8f28-f729f8fbb3b5.gif)

[2018-04-27 13:43] alimuzzaman commented on #231
@ewsopp It's our **Cache-Busting** feature.
WPForms uses sanitize_file_name to include class but we are adding random number before it.
Turning **Cache-Busting** off solve the problem though.

[2018-04-29 21:22] alimuzzaman commented on #230
I made the required changes and it's working now in both CDN and Stateless mode.
You can download it from [here](https://github.com/wpCloud/wp-stateless/archive/5bf44bacd9cfc4af8911e7f5e85a17d9fce610a2.zip) for [testing](https://github.com/wpCloud/wp-stateless/tree/develop-alim).

[2018-04-30 14:25] alimuzzaman commented on #230
We need to improve the performance.
Currently it uploading images to GCS twice.

1. Once immediately.
2. Once again after compression.

@UmeshSingla is there a way to check if a image is added to async queue, so that we can avoid first upload.

[2018-05-02 19:57] deivamagalhaes commented on #149
Following up on this issue.

[2018-05-03 17:40] deivamagalhaes commented on #149
One alternative is to implement a filter using WP hook pre_option hook in custom plugin until this wildcard thing is done:

[code]

[2018-05-03 17:45] deivamagalhaes opened #232 "Sync programmatically"
I am wondering if there is a way (or if such feature is on the roadmap) to sync all files for a site programmatically, instead of using the page. This would be especially useful for multisite installations with several sites (like hundreds of sites). Thank you.

[2018-05-04 00:48] 9march opened #233 "buddyblog and wp easy frontend post"
hi,

i have wp easy frontend post and buddyblog installed, when stateless is activated i can not upload media to post from frontend meaning my users won't be able to also. but when stateless is deactivated i can upload media from frontend fine

kind regards
bonga

[2018-05-07 10:25] mjezegou opened #234 "The STATELESS media mode"
I would like use this config (in wp-config) and like on the readme.md :

define( 'WP_STATELESS_MEDIA_BUCKET', 'media.application-domain.com' );
define( 'WP_STATELESS_MEDIA_MODE', 'stateless' );
define( 'WP_STATELESS_MEDIA_KEY_FILE_PATH', '/var/www/wp-content/keys/application-name-service-id.p12' );
define( 'WP_STATELESS_MEDIA_SERVICE_ACCOUNT', '12345689-hash@developer.gserviceaccount.com' );

I wo

[2018-05-09 03:12] alimuzzaman commented on #231
Issue has been solved for https://wordpress.org/plugins/wpforms-lite/
@ewsopp can you provide pro version for testing?

[2018-05-13 16:05] sebascontre opened #235 "CSS Files created by Elementor don't be copied to GCS"
The folders Elementor creates, appear on GCS, but not the css files

[2018-05-14 20:55] kilatepro opened #236 "Video (mp4) not playable"
Hi,
I could upload a video (mp4) through wordpress media library, but the GCS file is not playing, while the local file is playing perfectly (using CDN mode in Stateless). The uploaded video to Google Cloud is not recognized as video, although the video uploaded to my domain is recognized!

The message when opening the link is: “There’s no video format or MIME type supported.”

I am using Featured

[2018-05-15 14:26] ewsopp opened #237 "2.1.5 QC and Outreach"
https://github.com/wpCloud/wp-stateless/releases

- Test all existing and new functionality.
- Report bugs and assign to Alim for further investigation.
- Reach out to plugin authors and make them aware of the compatibility and offer them the pre-release for testing and direct communication with us.

[2018-05-15 18:01] alimuzzaman commented on #236
@kilatepress

What link?

There is nothing we can do to support Featured Video Plus plugin  from our side. Please contact them.

[2018-05-16 04:36] Mashenka opened #238 "Site unavailable"
![image](https://user-images.githubusercontent.com/5111163/40096889-bbf6260e-58db-11e8-925f-d4640ff1f6f5.png)

after I'm clicking Google Login it tells me that site unavailable -

https://api.usabilitydynamics.com/product/stateless/v1/auth/google?state=http%3A%2F%2Fwordpress.loc%2Fwp-admin%2Fupload.php%3Fpage%3Dstateless-setup%26step%3Dgoogle-login&allowNotifications=true

![image](https://user-im

[2018-05-16 04:42] Mashenka commented on #184
client reporting that still not compatible

https://wordpress.org/support/topic/wp-stateless-wp-smush/#post-10284621

[2018-05-16 04:51] limist opened #239 "WP-Stateless deactivated, can't write to storage directory"
From the WordPress admin screens, I'm seeing this notification:

My webhost is using a load-balancing environment, and the only writable file system/directory they allow is under `wp-content/uploads`   Assuming the problem is what it seems, that WP-Stateless can't access or write to `/tmp`, is there a way to change the location of the storage directory?  Or does the problem lie elsewhere?  Thanks!

[2018-05-16 08:00] #238 closed, assigned to kavaribes

[2018-05-16 09:56] Mashenka commented on #237
Checking compatibility

- [x] COMPATIBILITY - Added support for WP Forms plugin
- [x] COMPATIBILITY - Added support for WP Smush plugin
- [x] COMPATIBILITY - Added support for ShortPixel Image Optimizer plugin.  - **Backup file sync won't work in stateless mode.**
- [x] COMPATIBILITY - Added support for Imagify Image Optimizer plugin. -  **issue added**
- [x] COMPATIBILITY - Added support for Site

[2018-05-16 10:15] Mashenka opened #240 "WP Forms compatibility"
I have installed WP-Forms - https://wordpress.org/plugins/wpforms-lite/
 and Stateless Pre-Release 2.1.5 RC2
 when I click add form it is showing a blank screen like that

![image](https://user-images.githubusercontent.com/5111163/40111327-2d3e643c-590b-11e8-9d63-08597de60abf.png)

when Stateless deactivated it is showing like that
![image](https://user-images.githubusercontent.com/5111163/4011128

[2018-05-16 19:15] Mashenka commented on #240
ok, I have to enable that compatibility in Settings tab, now working

[2018-05-16 19:15] #240 closed, assigned to alimuzzaman

[2018-05-17 00:59] ahmed-sigmalux commented on #189
The error shows up sporadically when I run cron via wp-cli.

[2018-05-17 02:11] leepeterson commented on #42
Probably already well-known by now, but before someone sees this open issue and thinks WP-Stateless cannot be managed using Composer:

[code]

[2018-05-17 15:06] #230 closed, assigned to ewsopp, alimuzzaman

[2018-05-18 08:36] UmeshSingla commented on #230
@antonkorotkov @alimuzzaman So sorry guys I missed the whole communication in here. Been taken up a bit, will check it out over the weekend.

[2018-05-18 08:42] Mashenka commented on #230
@UmeshSingla while testing be sure you have enabled compatibility in Stateless Settings/Compatibility tab

[2018-05-18 13:49] filipe-cantarelli opened #241 "SSL domain and media library translation"
If I have a bucket `mybucket.domain.com` and set the custom domain to `mybucket.domain.com` all the images urls are translated to `http://mybucket.domain.com/...` which is correct.

When I set the domain to `https://mybucket.domain.com` only the new images I upload have the correct address, all the old images stay with `https://storage.googleapis.com/` domain.

[2018-05-18 19:35] alimuzzaman commented on #241
The GCS url is saved as attachment meta data in database.
You have to do a manual sync from **Media >> Stateless Settings >> Sync** tab.

[2018-05-19 14:06] ihsanberahim opened #242 "HTTPS is not supported with a custom domain"
I already configure Cloud CDN, means i already checked that i can can use custom domain with HTTPS (`https://cdn.mydomain.com/...`)

My Setting:
1) set bucket name `cdn.mydomain.com`
2) set custom domain `https://cdn.mydomain.com`

Current plugin behavior:
it still uses `https://storage.googleapis.com/cdn.mydomain.com/...`

Expected behavior:
It uses `https://cdn.mydomain.com/...`

Suggestion:
![i

[2018-05-20 18:16] gepd commented on #27
@ewsopp Can you tell me what is the name of the extension and where can I find out?

[2018-05-21 09:03] alimuzzaman commented on #242
@ihsanberahim For new attachment it should work fine, but for existing attachment you need to regenerate using **Regenerate and Sync with GCS** from **Media >> Library** or use **Sync** tab from **Media >> Stateless settings**.

[2018-05-21 12:29] alimuzzaman commented on #239
@limist Are you sure the google client library isn't loading from any other plugin?
Please disable other plugins and change to default theme.

[2018-05-21 19:20] limist commented on #239
@alimuzzaman  Thanks; there was a message earlier about,

We tried disabling the analytics plugin; then disabling and re-enabling the WP-Stateless plugin, but the error message remains.

[2018-05-22 12:29] antonkorotkov commented on #189
@alimuzzaman were you able to replicate this issue via wp-cli somehow?

[2018-05-22 13:16] antonkorotkov commented on #239
@limist This is not something WP-Stateless does explicitly. It looks like Google Client tries to use File System for caching. Reference https://github.com/google/google-api-php-client/issues/574 But in our plugin we don't set File System as Cache storage. Instead we leave this option empty and therefore it is using Memory for caching.

[2018-05-22 13:19] Mashenka commented on #27
@gepd That add-on is still under construction.

[2018-05-22 13:31] alimuzzaman commented on #189
@antonkorotkov No I wasn't able to replicate.

[2018-05-22 15:09] Screenfeed commented on #206
Hello, I'm Grégory, lead developer of Imagify's plugin.
First, thanks for showing interest in our plugin :)
I took a quick look at the code and noticed few things (but only small details though). Do you want my feedback here or do you prefer me to open a new ticket?
Thanks.

[2018-05-22 15:13] Mashenka commented on #206
Hello @Screenfeed Feel free to open new issue ;)

[2018-05-22 15:14] Screenfeed commented on #206
OK, will do, thanks.

[2018-05-22 15:36] Mashenka opened #243 "SiteOrign CSS plugin"
I have created new css file in Appearance/Custom CSS tab
Run the sync  - Synchronize non media library files between Google Storage and local server

and do not see that file on Google Cloud

here is my project - https://console.cloud.google.com/storage/browser/stateless-wordpress-loc-maria?project=wordpress-loc-179190&organizationId=450511995436

file with the name so-css-twentyseventeen.css is l

[2018-05-22 15:47] Mashenka opened #244 "Improve error notice"
In general, there are no non-images files in the media library, but notice is not clear

Notice may also mention information, that there is no any non-images file in your library
![image](https://user-images.githubusercontent.com/5111163/40373910-99e52b4a-5df0-11e8-9730-cec858b1b54b.png)

[2018-05-22 18:04] gepd commented on #27
@Mashenka thanks for the info!

[2018-05-22 22:21] Screenfeed opened #245 "Compat Imagify feedback"
Hi, I'm Grégory, lead developer of Imagify's plugin.

Here is a small feedback after reviewing v2.1.5-RC2 code (haven't tested yet). These are only small details, I haven't seen anything alarming (the first one could be an issue though).

- [ ] 1- In the `add_media_wrapper()` method, you use `$imagify->is_extension_supported()`, but this method appeared only recently, in version 1.7 (we're current

[2018-05-23 07:04] limist commented on #239
@antonkorotkov  OK, is there some way to prevent Google Client from trying to write to the server /tmp file system?  Because that causes WP-Stateless to go offline.  Thanks for help!

[2018-05-23 15:05] Mashenka opened #246 "Gravity forms warning when form is submitted"
Warning: Missing argument 3 for wpCloud\StatelessMedia\GravityForm::modify_db(), called in /Users/mariakravchenko/sites/wordpress.loc/wp-includes/class-wp-hook.php on line 286 and defined in /Users/mariakravchenko/sites/wordpress.loc/wp-content/plugins/wp-stateless/lib/classes/compatibility/gravity-forms.php on line 83

![image](https://user-images.githubusercontent.com/5111163/40433101-df86ca00-5

[2018-05-23 17:12] #242 closed, assigned to nobody

[2018-05-24 14:19] alimuzzaman commented on #243
@Mashenka css file is synced to GCS after visiting frontend.

[2018-05-24 14:43] Mashenka commented on #243
so do you see that file now on GCS? Can you link me?

[2018-05-24 14:45] alimuzzaman commented on #243
I can't access your GCS storage.
The CSS file should be sync when you visit the frontend.

[2018-05-24 16:35] alimuzzaman commented on #245
@Screenfeed We are not gonna include *add_media_wrapper* in this release, as this return local image URL when image is uploaded/added using add media button.

Is it possible to know if a image is added in Imagify queue in `wp_update_attachment_metadata` filter?

[2018-05-24 16:57] Mashenka commented on #243
ok, now see

[2018-05-24 16:57] #243 closed, assigned to alimuzzaman

[2018-05-25 11:17] Mashenka commented on #246
Still images not showing
![image](https://user-images.githubusercontent.com/5111163/40541818-1e2f124e-6026-11e8-9e46-7f75feff346b.png)

![image](https://user-images.githubusercontent.com/5111163/40541850-35fcc722-6026-11e8-989a-b0b5afc3ff5b.png)

![image](https://user-images.githubusercontent.com/5111163/40541869-496709ee-6026-11e8-88c3-a35c1d065d47.png)

and only 1 file was uploaded to media libr

[2018-05-25 11:22] Mashenka commented on #244
@alimuzzaman still see an old warning

I'm testing from this branch
https://github.com/wpCloud/wp-stateless/tree/develop-alim

![image](https://user-images.githubusercontent.com/5111163/40542072-2ebe476e-6027-11e8-86b1-11a3c941b626.png)

[2018-05-25 12:54] ewsopp commented on #244
This is an enhancement, not a bug fix. We should wait to include this in 2.1.6 or some other future release.

@Mashenka We are reviewing a release candidate right now. This means we only prioritize bug fixes for 2.1.5. If you want a new feature or enhancement, create an issue and do not assign it to 2.1.5 milestone.

[2018-05-25 13:30] Screenfeed commented on #245
@alimuzzaman I can't think of any way. If I'm not mistaken, you want to upload the file to the bucket after it has been optimized, right? In that case you should use the hook `after_do_imagify`.

[2018-05-26 16:54] alimuzzaman commented on #246
@Mashenka I wasn't able to replicate the issue. Only one the Post Image filed upload image to media library. But all image will be synced.

[2018-05-28 08:39] Mashenka commented on #244
@ewsopp ok, moved to next milestone

[2018-05-28 14:50] alimuzzaman opened #247 "Improvement for using custom domain."
Fix preview url issue in Settings page.

[2018-05-28 15:22] #247 closed, assigned to alimuzzaman

[2018-05-29 14:09] #246 closed, assigned to alimuzzaman

[2018-05-29 14:15] alimuzzaman commented on #245
That's ok,
Yes that's what we are doing.
Thanks @Screenfeed

[2018-05-29 14:15] #245 closed, assigned to alimuzzaman

[2018-05-29 14:39] JessBoctor opened #248 "'wp_generate_attachment_metadata' filter commented out on class-bootstrap.php line 220"
Hey everyone!

I am running into a problem. I have a set of images which I edit on save, adding an overlay so that the corners look cropped.

The trouble I am running into is getting GS to recognize the updated file and save it to the original post id. I have been kinda running around in circles until today when I noticed that the filter for 'wp_generate_attachment_metadata' has been commented out

[2018-05-29 14:54] alimuzzaman commented on #248
Yes, you should use `wp_update_attachment_metadata`.
You are editing image using plugin or custom code by yourself?

`wp_generate_attachment_metadata` always follows by `wp_update_attachment_metadata` filter so we remove the filter on generate metadata to avoid extra workload.

[2018-05-29 16:28] #241 closed, assigned to nobody

[2018-05-29 16:42] JessBoctor commented on #248
Thanks so much @alimuzzaman! That solved it for me.

Yes, I am using my own custom code to edit the images. I had forgotten that the intended way to update an attachment is a three fold process: updating the image, generating the new metadata, and then actually updating the metadata.

Thanks again!

[2018-05-29 16:46] #248 closed, assigned to nobody

[2018-05-29 17:24] alimuzzaman commented on #239
I don't see any reason why the API trying to use file cache, it should have fallback to memory cache.

Can you try to add this code `$this->client->setCache(new \Google_Cache_Memory());` after this line https://github.com/wpCloud/wp-stateless/blob/v2.1/lib/classes/class-gs-client.php#L72.

[2018-05-30 12:08] antonkorotkov opened #249 "Unique filenames when using `stateless` mode"
Issue has been reported by our client. He has frontend submission form with file upload. He is using `WP-Stateless` is `stateless` mode.

Imaging a situation:

1. **Visitor 1** uploads file with name `image.jpg`. It is being uploaded to GCS and removed from local server.
2. **Visitor 2** uploads file with the same name `image.jpg`. By default WordPress checks for existing files and creates names l

[2018-05-30 12:42] ewsopp commented on #249
**Cache-Busting** option should resolved this, no?

[2018-05-30 12:44] antonkorotkov commented on #249
Yes. We need to make it impossible to disable cache busting in `stateless` mode.

[2018-05-30 12:54] ewsopp commented on #249
Yes, you can do that with a wp-config constant. https://github.com/wpCloud/wp-stateless/wiki/Constants#wp_stateless_media_hash_filename

[2018-05-30 12:59] ewsopp commented on #249
After reading the initial message and speaking with @antonkorotkov - this is actually a serious problem.

- [ ] To fix this, we should force "Cache-Busting" mode to be enabled when "Stateless" mode is set.
- [ ] Webmaster can override this default setting by `WP_STATELESS_MEDIA_HASH_FILENAME` to `false`.

[2018-05-30 13:04] ewsopp opened #250 "update name of WP_STATELESS_MEDIA_HASH_FILENAME constant"
Change `WP_STATELESS_MEDIA_HASH_FILENAME` to `WP_STATELESS_MEDIA_CACHE_BUSTING` to be more accurate of the setting name and inline with our naming scheme.

[2018-05-30 13:19] ewsopp opened #251 "update name of WP_STATELESS_MEDIA_ON_FLY constant"
Change `WP_STATELESS_MEDIA_ON_FLY ` to `WP_STATELESS_DYNAMIC_IMAGE_SUPPORT` to be more accurate of the setting name and inline with our naming scheme.

[2018-05-30 13:31] ewsopp opened #252 "capitalize constants"
https://github.com/wpCloud/wp-stateless/blob/v2.1/lib/classes/compatibility/wp-smush.php#L18

`protected $constant = 'WP_STATELESS_COMPATIBILITY_WPSmush';
 `

should be

`protected $constant = 'WP_STATELESS_COMPATIBILITY_WPSMUSH';`

[2018-05-30 13:35] #213 closed, assigned to ewsopp, alimuzzaman

[2018-05-30 13:42] #2 closed, assigned to ewsopp, alimuzzaman

[2018-05-30 13:43] #174 closed, assigned to ewsopp

[2018-05-30 13:43] #206 closed, assigned to ewsopp, alimuzzaman

[2018-05-30 13:43] #207 closed, assigned to ewsopp, alimuzzaman

[2018-05-30 13:43] #208 closed, assigned to ewsopp

[2018-05-30 13:43] #215 closed, assigned to ewsopp, alimuzzaman

[2018-05-30 13:43] #220 closed, assigned to ewsopp, alimuzzaman

[2018-05-30 13:43] #221 closed, assigned to alimuzzaman

[2018-05-30 13:44] #228 closed, assigned to ewsopp

[2018-05-30 13:44] #231 closed, assigned to ewsopp, alimuzzaman

[2018-05-30 13:45] #237 closed, assigned to Mashenka

[2018-05-30 16:08] alimuzzaman commented on #251
@ewsopp we are having that constant for a very log time. Instead of replacing old constant we should keep them both and mark old constant as deprecated.

[2018-05-30 16:16] ewsopp commented on #251
@alimuzzaman that's fine. Lets just add support for the new one and I'll remove the old from the documentation.

[2018-05-31 14:13] Mashenka opened #253 "Compatibility with WPForms Pro"
https://wordpress.org/support/topic/wpforms-conflict-with-wp-stateless/#post-10344055

[2018-05-31 14:59] ewsopp commented on #253
@alimuzzaman can you update the existing WP Forms Lite compatibility to work for both the Lite and Pro versions?

[2018-05-31 16:04] alimuzzaman commented on #253
@ewsopp Yes.

[2018-06-01 08:22] alimuzzaman opened #254 "Improve Shortpixel compatibility with newly added hooks."
do_action( 'shortpixel_image_optimised', $post_id ); // There is an action which is called upon successful optimization

New hooks:
do_action("shortpixel_before_restore_image", $attachmentID) //at the beginning of the doRestore function.
do_action("shortpixel_after_restore_image", $attachmentID); // before the function returns

return apply_filters("shortpixel_backup_folder", $ret); //last line of

[2018-06-01 17:15] #252 closed, assigned to alimuzzaman

[2018-06-01 17:32] #251 closed, assigned to alimuzzaman

[2018-06-01 17:34] #250 closed, assigned to alimuzzaman

[2018-06-01 17:34] #253 closed, assigned to alimuzzaman

[2018-06-04 14:27] JessBoctor opened #256 "Recent Update broke ACF Image Crop Compatability"
Hi there!

I had a recent problem after updating the wp-stateless plugin. The 'Compatibility' tab was showing that the ACF Image Crop plugin was not active, so I was not able to enable this option.

I tried using the constant 'WP_STATELESS_COMPATIBILITY_ACFIC' to enable the option, and while it would then show that the constant was defining the option, it still showed the ACFIC plugin as deactivat

[2018-06-04 14:29] antonkorotkov commented on #256
@alimuzzaman can you check folder name correctness?

[2018-06-04 19:19] alimuzzaman commented on #256
@JessBoctor
I was tested using the plugin from GitHub instead of wp.org.
The fix will be in next release.
Thanks

[2018-06-05 06:38] alimuzzaman commented on #249
@ewsopp What about the multisite/network settings?

[2018-06-07 03:51] JessBoctor commented on #256
Thanks @alimuzzaman!

[2018-06-08 20:14] ahmed-sigmalux opened #257 "Undefined indices on network admin pages"
Query monitor is showing the following PHP notices on network admin pages:

[code]

[2018-06-12 21:52] hemiipatu opened #258 "Loading images that are uploaded directly to Bucket."
Is it possible to load images into `Wordpress > Media` if the image(s) in question have been directly uploaded into the linked bucket?

For example: I have gone ahead and created some folders and inside each folder, uploaded images. However these images don't show in `Wordpress > Media` at all.

The reason that I want to do it  this way, as opposed to uploading the images through wordpress itself

[2018-06-14 06:03] walle89 opened #259 "ICompatibility.php Notice errors"
When I updated to version 2.1.5 I getting these errors:

+8 more similar errors for so-widget-css, so-css, gravity-form, wp-bakery-page-builder etc.

And this error:

I'm using WP 4.9.6 Multisite subdir installation, PHP 7.2.

[2018-06-14 15:27] JessBoctor commented on #168
Hi!

I am also trying to figure out how create private files, or at the very least, to restrict access to only users of a certain Google GSuite Domain.

Right now, whenever I upload files or sync them, they are defaulted to public. Is this required by the wp-stateless plugin? Is there a work around for this or do I have my authentication set up incorrectly?

Any direction you could provide on crea

[2018-06-14 16:07] alimuzzaman commented on #258
@hemiipatu Sorry not possible yet.
Check out [this answer](https://github.com/wpCloud/wp-stateless/issues/211#issuecomment-374914217) from @ewsopp.

[2018-06-14 17:45] alimuzzaman commented on #259
Can you try to save the settings from **Media >> Stateless Settings**?
Fix will be added in next release.

[2018-06-14 18:18] alimuzzaman commented on #259
You can download the fix from this link.
https://github.com/wpCloud/wp-stateless/tree/929602f9491b5c89a47f7f0fb60784791f0f4b98

[2018-06-14 18:59] alimuzzaman commented on #219
@ewsopp Which logo should I use?

[2018-06-14 19:04] ewsopp commented on #219
This one would be fine...

![image](https://user-images.githubusercontent.com/5578537/41432473-4242845e-6fe4-11e8-8299-06b76d898f7c.png)

[2018-06-14 19:40] alimuzzaman commented on #219
We have three type of notice now
1. errors #dc3232 (.error)
2. messages #46b450 (.updated)
3. warnings #46b450 (.updated)

[2018-06-17 21:34] alimuzzaman commented on #257
@ahmed-sigmalux  You can download the fix from this link.
https://github.com/wpCloud/wp-stateless/tree/929602f9491b5c89a47f7f0fb60784791f0f4b98

[2018-06-17 21:35] alimuzzaman commented on #259
Same as #257

[2018-06-17 21:35] #259 closed, assigned to alimuzzaman

[2018-06-18 11:49] Mashenka commented on #244
Here is one more example where error notice is not clear - https://wordpress.org/support/topic/status-error-appeared-2/#post-10400247

[2018-06-19 19:57] alimuzzaman opened #260 "Make wp-stateless.js localization ready."
Just need to move strings to l10n.php and use wp_localize_script.

[2018-06-19 20:59] Mashenka commented on #244
@alimuzzaman

Unable to get non-library files - > Non-libraries files are not found
and when request failed, can we mention a reason or possible reason?

this one looks good
![image](https://user-images.githubusercontent.com/5111163/41624284-dc15098e-741d-11e8-8e8a-cd98ec343300.png)

[2018-06-20 16:50] markokhman commented on #45
My problem was that i had some empty lines in JSON private key field. Made me crazy, but this message might save your time

[2018-06-20 17:56] Mashenka commented on #45
@markusila thank you for the feedback. We appreciate it.

[2018-06-20 20:03] alimuzzaman commented on #210
WooCommerce + Printful working fine. Nothing is wrong there.

[2018-06-20 20:14] alimuzzaman commented on #170
@ahmed-sigmalux I don't see any reason this could still happen. I am closing the issue.

[2018-06-20 20:14] #170 closed, assigned to alimuzzaman

[2018-06-20 21:39] alimuzzaman commented on #244
@Mashenka How does this look?

![image](https://user-images.githubusercontent.com/6744156/41687604-2c2364c4-750a-11e8-9f82-418c30f2c253.png)

[2018-06-20 21:56] ewsopp commented on #244
All notices should be using our new notice design. related issue at https://github.com/wpCloud/wp-stateless/issues/219

[2018-06-20 22:47] alimuzzaman commented on #244
This would shown in very rare case:
Normal:
![image](https://user-images.githubusercontent.com/6744156/41688421-e8ddc76e-750d-11e8-9514-ebed6489a55b.png)

After expanded:
![image](https://user-images.githubusercontent.com/6744156/41688426-ec74c29c-750d-11e8-9fe4-638541b21f81.png)

[2018-06-20 22:53] alimuzzaman commented on #219
This is how it's looks now.
![image](https://user-images.githubusercontent.com/6744156/41688661-d95f0504-750e-11e8-905a-4df3d22c9729.png)

[2018-06-21 12:42] alimuzzaman opened #261 "Fix Google SDK conflict"
Reference:
Issue #119 and #131
https://wordpress.org/support/topic/again-error-500-when-active-plugin/
https://wordpress.org/support/topic/google-sdk-plugin-conflict/

We could try to add namespace to the SDK.
Any other idea!

[2018-06-21 12:50] alimuzzaman commented on #261
This should be done after issue #176 (Update Google Libraries)

[2018-06-21 13:27] Mashenka commented on #244
Looks good now.

[2018-06-21 13:35] ewsopp commented on #244
No this looks terrible.

[2018-06-21 15:28] antonkorotkov commented on #261
This is fork we use https://github.com/UsabilityDynamics/google-api-php-client

In order to update it we need to merge from source repo.

It is installed not via composer as I can see. So we could probably try to add it into our own namespace but I can't imaging how much effort will it take right now. As an option we could try to not include this lib if such already included by any other theme or

[2018-06-21 22:29] alimuzzaman commented on #176
@antonkorotkov I have updated the library directly from [google/google-api-php-client](https://github.com/google/google-api-php-client).
Everything seems to be working fine.
And removed all services except Storage.
Stateless has been reduced in size by ~5 MB.

[2018-06-21 22:41] alimuzzaman commented on #261
@antonkorotkov The problem with that is other theme/plugin include different/older version of the SDK, that create the conflict.
Now we have only 66 files in [lib/Google/src/Google](https://github.com/wpCloud/wp-stateless/tree/develop-alim/lib/Google/src/Google) dir.
Shouldn't take much effort to add it into our own namespace. Should it?

[2018-06-22 05:42] ewsopp commented on #254
@alimuzzaman what's the status of this issue?

[2018-06-22 05:43] ewsopp commented on #256
@JessBoctor could you test this for us?

@alimuzzaman where can Jess download the version with this fix?

[2018-06-22 05:45] ewsopp commented on #249
What do you propose we do?

[2018-06-22 05:48] ewsopp commented on #219
- [ ] white space around the icon should be identical.
- [ ] title should be bold.
- [ ] spacing around text should be uniform.
- [ ] description text should not be bold.
- [ ] button and dismiss control should be vertically centered
- [ ] notice should be placed at the very top, above the page title.

[2018-06-22 06:17] Mashenka commented on #210
@alimuzzaman there was a new comment from the user, he sent a zip of his woo plugin - https://wordpress.org/support/topic/dynamic-image-support/#post-10424222

[2018-06-22 06:19] alimuzzaman commented on #254
@ewsopp will start today.

[2018-06-22 06:24] alimuzzaman commented on #256
You can download from [here](https://github.com/wpCloud/wp-stateless/archive/2.1.6-RC1.zip).

[2018-06-22 06:30] alimuzzaman commented on #219
WordPress move all error message after title on page load using js.

How much space should I use?

[2018-06-22 06:44] alimuzzaman commented on #249
We could also force/disable in network.

[2018-06-22 07:17] antonkorotkov commented on #176
That's awesome!

[2018-06-22 07:33] antonkorotkov commented on #261
@alimuzzaman Yeah I understand. So if we want to be sure 100% that libs do not conflict then we should wrap it into namespace.

[2018-06-22 19:23] JessBoctor commented on #256
Hi @ewsopp & @alimuzzaman!

I added the version you sent me to a local testing environment. Works like a charm!

I like the alert that you added when you detected that I had ACF image crop installed and active but had not yet enabled it in my wp-stateless settings. Great help!

Thanks again for a great plugin!

[2018-06-22 19:23] #256 closed, assigned to alimuzzaman

[2018-06-23 23:17] ahmed-sigmalux opened #262 "Slow query: wpCloud\StatelessMedia\Bootstrap::attachment_url_to_postid"
I'm running into a slow query (~0.3s) when using this plugin:

[code]

The image is set in Yoast for Google's Knowledge Graph results.

I have object caching enabled, yet this slow query happens on nearly every page. Anyone encounter something similar or know how to fix it?

[2018-06-26 09:11] marratj commented on #168
Hi, we also like to have the ability to have media files stored by WP-Stateless be accessible for logged in users only (I understand this should be possible via Signed URLs).

We might try expanding the plugin that way, the other possibility would be to contract the developers over at Usability Dynamics (who wrote the plugin in the first place) to extend the plugin by this feature.

We are current

[2018-06-26 13:23] ewsopp commented on #168
@marratj feel free to reach out to me directly at eric.sopp@usabilitydynamics.com when you are ready to discuss any details. Thanks

[2018-06-26 13:46] Mashenka opened #263 "Compatibility with WP All Import"
https://wordpress.org/support/topic/wp-all-import-and-importing-images/

[2018-06-27 06:43] mxo2 opened #264 "getting error writable Unable to create directory Is its parent directory writable by the server?"
Hi,

We have deploy Wp multisite on the App engine and configure plugin .

We are getting the following error when we upload media files .. is anybody and assist.

Unable to create directory MY_BUCKET/2018/06. Is its parent directory writable by the server?

We have gcloud VM and there the plugin works perfectly.

Thx

[2018-06-27 14:11] alimuzzaman commented on #264
It doesn't look like the problem is in our plugin.
Try to isolate the problem by enable disable plugins/themes.
Which server you are using now?

[2018-06-27 14:46] mxo2 commented on #264
Hi,

We are using google App engine multiple site wordpress.

We have disabled plugins but there is not effect ..

Is Themes creates problem ? we have The7 theme is its any setting for this..

Thank you for your reply and want quick reply...

[2018-06-27 14:48] alimuzzaman commented on #264
It's seems more like config or server side problem.

[2018-06-27 14:51] mxo2 commented on #264
what config we need for this because we cant change file permission on the app engine instances..we have google bucket and we can have all rights on that but the path is changed and dont know where this config to change it.

[2018-06-27 15:32] antonkorotkov commented on #264
@alimuzzaman Any thoughts regarding what is `MY_BUCKET` is?

[2018-06-27 15:33] alimuzzaman commented on #264
@antonkorotkov I have no idea.
@mxo2 Do you have any idea?

[2018-06-27 16:33] mxo2 commented on #264
Bucket is google cloud storage ..Where we can upload static content

---- On Wed, 27 Jun 2018 08:33:49 -0700 notifications@github.com wrote ----

@antonkorotkov I have no idea.
@mxo2 Do you have any idea?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-06-27 18:52] ahmed-sigmalux opened #265 "Profiling slow page generation - wp-stateless accounts for over 37% of page generation time"
I'm profiling a website to figure out what's causing long (> 1s) page generation times. I've identified wp-stateless as one of the culprits, as it accounts for 16.76% of the cost. The problematic calls are:

[code]

[code]

Has anyone else profiled a website and identified the same issue? Any ideas why these 2 functions are slowing down page generation so much? And any ideas on how to speed them u

[2018-06-27 19:10] ahmed-sigmalux commented on #265
And another 15.78% of the cost is:

[code]

[code]

[2018-06-27 19:13] ahmed-sigmalux commented on #265
And another 4.57% of the cost is:

[code]

[code]
So far wp-stateless accounts for over 37.11% of the page generation time!

[2018-06-28 04:29] mxo2 commented on #264
Now Other directory error after removing some plugin
Unable to create directory wp-content/blogs.dir/7/files/sites/7/2018/06. Is its parent directory writable by the server?

[2018-06-28 05:19] SahriHamza commented on #262
I have the same issue on a website having a large number of images

[2018-06-28 06:58] antonkorotkov commented on #262
@alimuzzaman Can you investigate how we use `attachment_url_to_postid` filter exactly? The issue goes from there.

[2018-06-28 07:01] antonkorotkov commented on #264
@mxo2 You need to make that directory writable. Set 775 permissions to it. `sudo chmod 775 'your directory'`

[2018-06-28 07:10] antonkorotkov commented on #265
@ahmed-sigmalux Try to disable option `File URL Replacement` and test again. In the meantime we will check why caching is not working in that place.

[2018-06-28 07:11] mxo2 commented on #264
We cant make writeable on google app engine so we are using google bucket for media files.

[2018-06-28 07:20] antonkorotkov commented on #264
Unfortunately, it is required to upload files to your server first. Then plugin sends files to GCS. It cannot send files directly to GCS without doing standard actions that required by WordPress.

[2018-06-28 07:31] mxo2 commented on #264
Is any plugin also cant help ??

Than app engine is not for wordpress users ?

[2018-06-28 08:10] alimuzzaman commented on #264
@mxo2 You can try official google plugin.

[2018-06-28 12:01] mxo2 commented on #264
how I can make upload folder on remote location ?? if I can manage it I can upload files at bucket

[2018-06-28 12:47] ewsopp commented on #264
These issues are unrelated to WP-Stateless. Closing issue.

[2018-06-28 12:47] #264 closed, assigned to antonkorotkov, alimuzzaman

[2018-06-28 12:49] mxo2 commented on #264
@ewsopp we are not able to upload media files through the addond...Bcoz its using /wp-content/upload folder once to upload on remote location..can we change to any other remote location or google bucket for the same.

[2018-06-28 12:53] ewsopp commented on #264
At this time you cannot.

[2018-06-29 20:38] ahmed-sigmalux commented on #179
?

[2018-06-29 20:39] ahmed-sigmalux commented on #189
I'm not seeing this error anymore.

[2018-06-29 20:39] #189 closed, assigned to ewsopp, alimuzzaman

[2018-07-01 14:03] alimuzzaman commented on #219
@ewsopp
![image](https://user-images.githubusercontent.com/6744156/42135226-aeb5a016-7d69-11e8-8f3f-4184282a86d9.png)
![image](https://user-images.githubusercontent.com/6744156/42135216-8d66e082-7d69-11e8-9dd5-ac7d4b749bf5.png)
![image](https://user-images.githubusercontent.com/6744156/42135217-94835cec-7d69-11e8-992d-e94912ffc277.png)

[2018-07-01 18:27] alimuzzaman commented on #190
@danyell-hubrix @ewsopp Does this sounds good?
![image](https://user-images.githubusercontent.com/6744156/42137464-9a47cd82-7d8e-11e8-8cc3-16f258051168.png)

[2018-07-01 20:23] alimuzzaman opened #266 "Woocommerce extra product options"
https://wordpress.org/support/topic/dynamic-image-support/#post-10424222
While using Woocommerce extra product options plugin for image uploads from frontend, I enabled the Dynamic Image Support in Compatibility section to upload the uploads to cloud storage, but the images are not uploaded to cloud storage instead uploaded inside the uploads directory. Is there any way to upload to cloud storage?

[2018-07-01 20:24] alimuzzaman commented on #210
Created separated issue for **Woocommerce extra product options**.
The new issue is #266

[2018-07-01 21:20] alimuzzaman commented on #266
@ewsopp please review
File name: `woo-extra-product-options.php`

[2018-07-03 13:17] leepeterson commented on #261
My boss: “I thought we agreed to not run WordPress as a stateful application...? Now I see WP-Stateless has caused fatals and conflicts with other plugins which rely on Google SDK...?”

Fun times.

Add WP-SMTP-Mail to the list of plugins affected by WP-Stateless’ use of and reliance on Google’s Auth SDK.

Also, it appears that even a fully manual setup of WP-Stateless still leaves it vulnerable an

[2018-07-03 15:07] ewsopp commented on #261
@leepeterson thanks for the feedback. We'll discuss this and come up with a solution.

[2018-07-03 17:57] alimuzzaman commented on #261
@leepeterson Can you please test the plugin from [this branch](https://github.com/wpCloud/wp-stateless/tree/google-sdk-conflict)?
I have wrapped the SDK in our namespace. Seems to be working. Should not conflict with other plugins SDK now.
https://github.com/wpCloud/wp-stateless/tree/google-sdk-conflict

[2018-07-05 15:48] alihs opened #267 "Disable Resize and Optimization"
Is it possible to sync the files to GCS without the resizing/generating thumbs or optimizing images?
I ask this as i have a client with 24gigs of images :(

[2018-07-05 16:21] JessBoctor commented on #168
Hi @ewsopp, I was wondering if there has been any movement on this topic or if I should start working on a separate solution. Is there any development planned in this direction or any way I can contribute to it?

Thanks!

[2018-07-05 16:28] ewsopp opened #268 "record generated thumbnail sizes for each attachment posts"
We need a place to store generated thumbnail sizes for each media library image. This will be useful information that can be utilized by our forthcoming synchronization tool.

As an image is uploaded and the thumbnails generated, record those generated sizes in a dedicated meta field. This meta field should be namespaced (prevent plugin compatibility issues) and accessible to other plugins and the

[2018-07-05 16:31] ewsopp commented on #168
@JessBoctor at this time we are focused on improving the overall synchronization process. This has been a major hangup for many folks. Once we get that resolve, we can consider adding support for private files. I'm not sure on the timeline unfortunately, probably many months to be honest.

[2018-07-05 17:13] JessBoctor commented on #168
Good to know. Thanks for the response!

[2018-07-06 07:28] antonkorotkov commented on #268
I think this information needs to be recorder to separate MySQL table created by WP-Stateless.

This metadata is going to be an array of sizes and basically be not a simple value. We will have to have it for each image object and that means post_meta table will get additional information flow that will slow down queries to post meta... In case of a lot of images this will potentially affect perfor

[2018-07-10 20:39] alimuzzaman commented on #249
Constant works fine on multisite.

[2018-07-10 22:46] alimuzzaman commented on #254
Further improvement require contacting ShortPixel again.

[2018-07-11 15:26] Mashenka opened #269 "[Pre-Release 2.1.6 RC2] Sync option"
Sync option syncs only 1 image.
![image](https://user-images.githubusercontent.com/5111163/42582392-a195a6a8-8537-11e8-85d4-b334c416138f.png)

It starts the process of syncing 104 images then give that message that 1 image was synced

The issue can be replicated on workspace - https://workspace.uds.io/wp-admin/upload.php?page=stateless-settings

[2018-07-12 06:19] leepeterson opened #270 "Service Account JSON is invalid"
During initial setup, WP-Stateless redirects me to a Google error page. There's an issue with OAuth.

I resorted to a manual setup instead: `define('WP_STATELESS_MEDIA_JSON_KEY', '/srv/users/[user]/.config/service-account-file.json');`

What shows up in the `Service Account JSON` textarea is exactly that full path rather than the contents of the key. So the only thing "invalid" is that WP-Stateles

[2018-07-12 07:23] leepeterson commented on #261
@ewsopp @alimuzzaman That branch appears to correct the SDK conflict. However, I'm unable to use that branch as few of the other features work.

For instance:

1. Only 1 file will re-generate and sync itself before providing what appears to be an error (status with red border on left but with "success" message inside).
2. I was unaware that the `WP_STATELESS_MEDIA_HASH_FILENAME` and  `WP_STATELESS

[2018-07-12 13:38] Mashenka commented on #269
now this error

![image](https://user-images.githubusercontent.com/5111163/42636644-f744daa0-85f1-11e8-8ee8-5c1177351791.png)

[2018-07-12 13:52] antonkorotkov commented on #269
It means you don't have files to resize. They are missing because you deleted them locally and on GCS. This is not an issue.

[2018-07-12 13:54] alimuzzaman commented on #270
[`WP_STATELESS_MEDIA_JSON_KEY`](https://github.com/wpCloud/wp-stateless/wiki/Constants#wp_stateless_media_json_key) is for key as string.
[`WP_STATELESS_MEDIA_KEY_FILE_PATH`](https://github.com/wpCloud/wp-stateless/wiki/Constants#wp_stateless_media_key_file_path) for file path.

We will try to improve the wiki more.

We have fixed the `not found` issue. Sorry for the inconvenient.

[2018-07-12 14:03] alimuzzaman commented on #269
@Mashenka can you test again?
Sync process won't break if it can't process a image.

[2018-07-12 14:29] Mashenka commented on #269
Issue resolved

[2018-07-12 14:29] #269 closed, assigned to alimuzzaman

[2018-07-12 14:51] alimuzzaman commented on #261
Thanks @leepeterson,
I have build that branch on top of our current updates for v 2.1.6. That's why there are some unexpected errors.

1. We are aware of that error and fixing it. #269
2. We are going to deprecate it from 2.1.6 version. Will do something about the warning.
3. We will look into it, is it only for **File name hashing**? **File name hashing** will be forced to Yes in **Stateless Mode

[2018-07-12 15:08] antonkorotkov commented on #267
@alihs currently it is impossible (we are working on separate sync solution). But as a workaround you can try deregister all image sizes and do sync. After that register image sizes back.

[2018-07-12 21:41] alimuzzaman commented on #261
@leepeterson Please try this pre-release version [2.1.6 RC3](https://github.com/wpCloud/wp-stateless/releases/tag/2.1.6-RC3).

[2018-07-14 19:55] leepeterson commented on #270
“Key as string”, meaning “key-file.json”? Or the contents of key-file.json as a string?

I now understand what it needs to be, but only through much trial and error.

I would imagine that the dev notes either passed on prior to development, or the notes generated after development was complete would contain every detail one would need to understand how to work with the plugin. Why not just share a

[2018-07-14 20:08] leepeterson commented on #261
1. Thank you.
2. Let old constants continue to work and throw warning about deprecation?
3. Appeared to be any setting which existed previously and also set by constant. For instance, if I’d never selected Yes or No in the UI and I’d also never set a constant for that field, I could change it in the UI and it’d save; but the ACF media crop field, a field which had never been changed in the UI and

[2018-07-14 22:07] TheOneWizard1 opened #271 "Stateless Mode Not Compatible With ELEMENTOR"
Elementor | V 2.1.2
WP-Stateless | V 2.1.5

When using the element builder and adding an image element:
The only Image size that works properly is the: **custom image size**
The rest of the image sizes appear to work but once you click away from the element it disappears.

It also breaks other random things like sides and carousels

WP-Stateless Settings |
Mode | Stateless
File URL Replacement | E

[2018-07-19 12:27] Mashenka opened #272 "Media files with accent characters do not upload correctly to the bucket"
https://wordpress.org/support/topic/media-files-with-accent-characters-do-not-upload-correctly-to-the-bucket/#post-10507470

[2018-07-19 19:27] alimuzzaman commented on #272
@Mashenka can you check please.
It's working fine for me.

[2018-07-19 19:51] Mashenka commented on #272
checking, right now can't replicate

[2018-07-19 21:07] m444estro opened #273 "Multi Regional Vs Regional Storage"
Hello, is there any point to create multi regional google cloud storage? Other than increasing unnecessary cost?

My understanding:
My nginx+php+wordpress webserver is in US-West1. Then, wp-stateless (stateless mode) will store in X region.

???> No matter where the web visitors are, it will always be a US-West1 server requesting image/object from X region.

So, it would make sense to only make X

[2018-07-19 21:08] ewsopp commented on #273
Hello - this is more of a question for Google Cloud. I suggest checking GCS documentation to find the differences between Multi-Regional and Regional Storage.

[2018-07-19 21:08] #273 closed, assigned to nobody

[2018-07-19 22:06] m444estro commented on #273
I guess I need to rephrase my questions.

[2018-07-19 22:29] m444estro opened #274 "#2 Benefits may be not applicable for this plugin?"
In your readme text for benefits #2:
"Google Cloud Storage is geo-redundant, meaning your media is delivered by the closest server - reducing latency and improving page speed."

***But this is only for multi regional storage option.***

The statement is correct but I think it's not applicable or rather misleading for this plugin. Because this suggest people to opt for "multi regional" cloud storag

[2018-07-19 22:38] ewsopp commented on #274
WP-Stateless configures the bucket to have a Multi-Regional Storage Class. Details about the multi-regional storage class can be found at https://cloud.google.com/storage/docs/storage-classes#multi-regional

Google will proxy the user to the closest storage location on image request. They handle all the technical details here.

[2018-07-19 22:43] ewsopp commented on #254
@alimuzzaman what's the status here? Did you add support for these new hook locations? and did you contact ShortPixel?

[2018-07-19 22:43] #176 closed, assigned to alimuzzaman

[2018-07-19 22:48] ewsopp commented on #190
@alimuzzaman does the GCP API allow us to accept the TOS on behalf of the user?

[2018-07-19 22:49] ewsopp commented on #219
@alimuzzaman this looks 100% better.

[2018-07-19 22:49] #219 closed, assigned to ewsopp, alimuzzaman

[2018-07-19 22:50] #249 closed, assigned to ewsopp

[2018-07-19 22:51] ewsopp commented on #244
@alimuzzaman is this an error notice that we generate? Or are we restyling an error notice generated by WordPress?

[2018-07-19 22:53] ewsopp commented on #257
@ahmed-sigmalux did this resolve your issue?

[2018-07-19 22:53] #210 closed, assigned to alimuzzaman

[2018-07-19 22:58] ewsopp commented on #261
@alimuzzaman can you check over this additional feedback please? I think Lee has some good feedback here.

[2018-07-19 22:58] m444estro commented on #274
Apologies, I didn't know the plugin is set to opt MR storage regardless. Will there be option for regional storage in the future?

If I understand correctly, the "image" will always be requested by a wordpress server in X region. Hence, Multi Regional option doesn't help to reduce latency/improve page speed.

The only part of "geo-redundant" that benefit this plugin is that if disaster happen, dat

[2018-07-19 23:03] ewsopp commented on #274
Maybe

The image is requested by the user's web browser. Not sure how WordPress fits in here...

That's not how it works. Every file has a URL and when accessing that URL, Google determines where to load that file from based on many details - including where the requestor (the user loading the web page) is located.

[2018-07-19 23:04] ewsopp commented on #272
It might be helpful to have the actual file for testing.

[2018-07-19 23:05] ewsopp commented on #268
@antonkorotkov whatever you think is best.

[2018-07-19 23:06] m444estro commented on #274
I have been misunderstanding completely.

So, basically, it's like an embedded youtube video. Directly to youtube, not/barely using the resources of the site owner's webserver.

That's awesome! Thanks a lot

[2018-07-19 23:06] ewsopp commented on #266
@Mashenka @alimuzzaman has anyone tested this? Would be great to get feedback from the user who submitted this issue to begin with.

[2018-07-19 23:08] #274 closed, assigned to nobody

[2018-07-20 09:23] russwiltshire commented on #272
Hi. I'm the original poster in the support forum. Have you discovered a bug, fixed it, and you want the original file to test if your fix works? Or are you saying you can't replicate the problem? We transferred over 5000 images and every one of them with an accent character ended up being treated in the same way: original files were uploaded correctly, but the auto-generated thumbnails were not. I

[2018-07-20 11:04] alimuzzaman commented on #272
@russwiltshire
We wasn't able to replicate the problem.
If you send some of your file it would be helpful.
What do you mean by *auto-generated thumbnails*, regular wp thumbnail or stateless generate when sync?

[2018-07-20 11:12] alimuzzaman commented on #266
Yes, tested by the reported user.
https://wordpress.org/support/topic/dynamic-image-support/#post-10457427

[2018-07-20 11:20] alimuzzaman commented on #261
@leepeterson

3. Is this error still happening? Is this still happening in the 2.1.6 RC3?
    I think I have already fixed something like this.

[2018-07-20 11:22] russwiltshire commented on #272
I am referring to the wordpress thumbnails. As I understand it, wordpress standard behaviour is that when you add an image to the media library it will automatically create some additional images of different sizes. So the thing is, even if I send you some files to test with, they all might work correctly. But to repeat the steps I'm taking, you would need to upload one image to the wordpress medi

[2018-07-20 11:32] russwiltshire commented on #272
![screen shot 2018-07-20 at 13 29 54](https://user-images.githubusercontent.com/25862572/43000309-3fe34366-8c21-11e8-899c-fa93c9694967.png)
![screen shot 2018-07-20 at 13 30 42](https://user-images.githubusercontent.com/25862572/43000310-400709fe-8c21-11e8-9a07-c962174fe6d3.png)
![screen shot 2018-07-20 at 13 30 58](https://user-images.githubusercontent.com/25862572/43000312-40284150-8c21-11e8-830

[2018-07-20 11:37] alimuzzaman commented on #244
@ewsopp Yes it's our notice. But we are showing what wp-ajax is sending in response other than success.
In that case of ajax response return wp db error and we just displayed in our notice box.

[2018-07-20 11:40] alimuzzaman commented on #257
@ewsopp Problem solved.

[2018-07-20 11:40] russwiltshire commented on #272
Previous comment has screenshots showing the file listing from the server, and what the bucket looks like after wp-stateless does it's magic. Also the original file that was uploaded to wordpress media library.

[2018-07-20 11:43] russwiltshire commented on #272
Hmm... sorry, tried to upload the image but it doesn't seem to have worked. What's the best way to get the original image file to you?

[2018-07-20 11:44] alimuzzaman commented on #272
Google drive.

[2018-07-20 11:50] alimuzzaman commented on #254
I have added support for new hook. We have done for v2.1.6.
I think more research and communication can improve the integration between this two plugin.

[2018-07-20 12:02] alimuzzaman commented on #190
@ewsopp
Didn't find anything on docs.
Maybe not possible.

[2018-07-20 13:09] russwiltshire commented on #272
https://drive.google.com/open?id=1bNwImOTs1CjFBLqdCMZZQMlFZwVVy8n_

[2018-07-20 13:43] ewsopp commented on #190
Alright, I think we may need to revise our setup assistant process. I'll come back here.

[2018-07-20 13:45] ewsopp commented on #254
Will this require that all users upgrade their version of Shortpixel, or will v2.1.6 continue to work with older versions of Shortpixel?

[2018-07-20 13:45] #257 closed, assigned to alimuzzaman

[2018-07-20 13:46] ewsopp commented on #244
Alright, lets just leave it as is for now.

[2018-07-20 13:46] #244 closed, assigned to ewsopp, alimuzzaman

[2018-07-20 13:48] ewsopp commented on #266
Good work

[2018-07-20 13:48] #266 closed, assigned to ewsopp

[2018-07-20 14:01] russwiltshire commented on #272
Hi. So I tested this on a new site. I can't replicate the issue. Which is good news for you but not me :)

New WordPress install. A couple of other plugins installed but deactivated. Installed wp-stateless. Set to CDN mode. Synced existing media which doesn't contain accented chars. Everything went to the bucket fine. Added media files with filenames starting with ž. Each file was saved to the upl

[2018-07-20 14:04] russwiltshire commented on #272
I answered my own question about the prefix - it's your cache busting feature.

But some advice on plugin interactions during a wp-stateless sync process would still be appreciated.

[2018-07-20 14:53] alimuzzaman commented on #254
Will need new version of shortpixel.

[2018-07-20 14:54] ewsopp commented on #254
What is the minimum ShortPixel version required?

[2018-07-20 15:06] alimuzzaman commented on #272
The problem is most likely in server configuration.
Here is the php bug https://bugs.php.net/bug.php?id=62119
Will try to find a solution.

[2018-07-20 15:59] alimuzzaman commented on #254
4.11.0

[2018-07-20 16:03] russwiltshire commented on #272
LANG variable is 'C' on both servers if that helps.

[2018-07-20 16:30] alimuzzaman commented on #272
@russwiltshire Can you test this version [2.1.6-RC4](https://github.com/wpCloud/wp-stateless/releases/tag/2.1.6-RC4) ?

[2018-07-20 17:01] russwiltshire commented on #272
ok, will do. Over the next couple of days. Thank you.

[2018-07-22 08:13] alimuzzaman opened #275 "BuddyPress Compatibility"
https://wordpress.org/support/topic/buddypress-avatars-not-syncing/

[2018-07-22 12:50] russwiltshire commented on #272
Looks like this version is working. On the original site where the problem was, I chose "disabled" mode in stateless settings, I deactivated the old wp-stateless plugin, deleted it, unzipped 2.1.6-RC4 in the plugins folder, activated it, settings had been retained so it was still in "disabled" mode. I then created a new bucket, changed the bucket name in the settings, switched to "backup" mode, an

[2018-07-22 22:33] alimuzzaman commented on #168
@artooro @marratj @JessBoctor @ewsopp
Can anyone create workflow how should we support private file.
Making all attachment private could create unwanted problem.

I have created a [new branch](https://github.com/wpCloud/wp-stateless/tree/private-file-support) to test the concept. 1f1e9d3df286753e71d808a19c60b2a5e3e8cac3

[2018-07-23 22:04] JessBoctor commented on #168
HI @alimuzzaman! Is there something we need to set up or do to make this work? I have loaded the new branch into both a local site and staging site to test. I can upload items to the GCS Bucket but they do not show up in my admin or in the front pages.

All I have attempted is to load the plugin, activate it, and setting up the GCS connection. Any help in how to set this up would be appreciated!

[2018-07-23 22:23] alimuzzaman commented on #168
Hi @JessBoctor,
Sorry, I have hard coded my service account email ID in code for testing.
I was just testing the possibility.
That's causing the problem. Will try to fix.
Any help will be appreciated.

Here is the line
https://github.com/wpCloud/wp-stateless/commit/1f1e9d3df286753e71d808a19c60b2a5e3e8cac3#diff-d4df0d37ced3953a0c6983e39888b22aR285

[2018-07-24 18:55] JessBoctor commented on #168
Hi @alimuzzaman,

Okay, so by replacing your client login with my client login I could get the images to show up correctly. Since I only need these files to be available through the intranet, this is a great first step in the direction! Thank you so much!

However, I understand that others may have different applications. Here are some thoughts I have on workflow/usability:

1. Admin - There shoul

[2018-07-24 19:21] #272 closed, assigned to alimuzzaman

[2018-07-24 19:21] #261 closed, assigned to andypotanin, antonkorotkov, ewsopp

[2018-07-24 19:22] ewsopp commented on #190
We need to move this to a separate milestone. Moving out of v2.1.6 for now.

[2018-07-24 19:22] #254 closed, assigned to alimuzzaman

[2018-07-24 20:40] ewsopp opened #276 "refine admin notice messages"
We have a new admin notice design now. Lets review all our notices and refine the text and presentation of each.

To start, please list all the messages we currently output and describe what causes them to be displayed.

[2018-07-24 20:44] #184 closed, assigned to ewsopp, alimuzzaman

[2018-07-24 20:47] ewsopp commented on #270
Current supported constants can be found in the Wiki at https://github.com/wpCloud/wp-stateless/wiki/Constants

[2018-07-24 21:02] ewsopp commented on #42
Published at https://packagist.org/packages/wpcloud/wp-stateless

@leepeterson @shaneog @onnimonni Would you guys mind testing this out?

[2018-07-24 21:06] alimuzzaman commented on #234
Hi @mjezegou, sorry for our late replay.
Constants doesn't change option in database. When constant is defined we use constant value instead of database value.
Unless you try to save the settings from settings page the value in option will not be changed.
Can you please explain what is the problem exactly?

[2018-07-24 21:12] ewsopp commented on #239
@limist any update regarding Alim's suggestion above?

[2018-07-24 21:14] alimuzzaman commented on #179
Hello @ahmed-sigmalux
`Organization` is a WordPress settings found in _Settings_ >> _Media_.
We just change that setting of WordPress.

![image](https://user-images.githubusercontent.com/6744156/43166395-48a6999a-8fb8-11e8-9bb4-05587652db3c.png)

[2018-07-25 07:37] alimuzzaman commented on #270
@ewsopp Should we remove the `WP_STATELESS_MEDIA_JSON_KEY` constant? Or update the documentation?
It's creating confusion.

[2018-07-25 16:49] alimuzzaman commented on #181
`WebP` isn't supported by WordPress.
`Supported File Types` field is only for `File URL Replacement`.

[2018-07-27 18:18] ewsopp opened #277 "display notice when clicking stateless option"
When the user clicks the "Stateless" option within the Mode settings, display a notice with the following message.

**Title**
`Stateless mode enables and requires the Cache-Busting option.`

**Description**
`WordPress looks at local files to prevent files with the same filenames. Since Stateless mode bypasses this check, there is a potential for files to be stored with the same file name. We enfor

[2018-07-27 18:24] ewsopp opened #278 "display required message on Cache-Busting setting description with Stateless is enabled."
When Stateless mode is enabled, we need to enable/enforce the Cache-Busting setting.

- [x] Update the Cache-Busting setting with the following message...

- [x] "Required by Stateless Mode. Override with the WP_STATELESS_MEDIA_CACHE_CONTROL constant." should be **bold**.

- [x] link WP_STATELESS_MEDIA_CACHE_CONTROL to https://github.com/wpCloud/wp-stateless/wiki/Constants#wp_stateless_media_cache

[2018-07-27 18:34] ewsopp commented on #277
In addition to above, we need to handle existing users...

Can we make a dashboard-wide notice for those who already have Stateless enabled and Cache-Busting disabled?

I created a separate issue for this at https://github.com/wpCloud/wp-stateless/issues/279

[2018-07-27 18:40] ewsopp opened #279 "display dashboard-wide notice for existing users"
For existing WP-Stateless users that are upgrading from a previous version, we need to show them a notice.

Display this notice across the entire dashboard.

**Title**
`Stateless mode now requires the Cache-Busting option.`

**Description**
`WordPress looks at local files to prevent files with the same filenames. Since Stateless mode bypasses this check, there is a potential for files to be stored

[2018-07-27 23:19] dchenk commented on #224
@danyell-hubrix is Divi trying to persist the file before allowing the data to be downloaded? If so, in what directory?

[2018-07-27 23:28] dchenk opened #281 "Possible documentation discrepancy with WP_STATELESS_MEDIA_BODY_REWRITE constant"
Looking at just this line:
https://github.com/wpCloud/wp-stateless/blob/23696e1b99c9b0d3db3418eb0ab97b23bda181aa/lib/classes/class-settings.php#L25

I get the impression that the WP_STATELESS_MEDIA_BODY_REWRITE constant is false by default. However, the [wiki here](
https://github.com/wpCloud/wp-stateless/wiki/Constants#wp_stateless_media_body_rewrite) says that the default value is true. Is this

[2018-07-28 00:35] alimuzzaman commented on #281
It's hook into `the_content` and `get_post_metadata` filter and replace any old local url, it's don't sync file to GCS.
We will fix confusion about the default value.

[2018-07-28 00:39] dchenk commented on #281
@alimuzzaman thank you. Looking forward to the fix.

[2018-07-28 02:59] 27Bslash6 commented on #270
Please don't delete the WP_STATELESS_MEDIA_JSON_KEY constant, it saves the additional step of having to write a file from an environment variable in our deployment.

[2018-07-28 12:49] wiiiimm commented on #222
I came here just to file the same request for this feature only to find @davidcommarmond's ;)

[2018-07-28 14:15] wiiiimm commented on #222
@davidcommarmond  I have just forked this plugin and added the Force SSL feature.

It is over at -> https://github.com/wpCloud/wp-stateless/pull/282

![screen shot 2018-07-28 at 22 12 46](https://user-images.githubusercontent.com/179761/43357413-9fc72c1e-92b3-11e8-8338-d3ee81e8332b.png)
![screen shot 2018-07-28 at 22 12 15](https://user-images.githubusercontent.com/179761/43357412-98f7347e-92b3-11

[2018-07-30 14:56] davidcommarmond commented on #217
Hi,
I also can't sync existing PDFs to GCS. Getting a series of "Unknown failure reason." when trying to "Synchronize non-images files between Google Storage and local server"

Not sure if it's a related issue ?

![image](https://user-images.githubusercontent.com/34420248/43405134-312c9960-942a-11e8-89a8-cfe035c3c91e.png)

[2018-07-31 16:13] yudiarnanda commented on #218
Also, EDD Front-end Submission forms not working with WP Stateless. Like File Upload, Price & Files URL, and Avatar.

[2018-08-01 08:16] davidcommarmond commented on #230
Hello,
Compatibility setting for WP Smush is not available if your have WP Smush Pro (The paid version of the plugin). Can you add for pro as well please ?

[2018-08-02 01:51] ewsopp commented on #230
@Mashenka @alimuzzaman can you reach out to them and see if we can get a license for testing?

[2018-08-02 18:19] marratj commented on #168
@JessBoctor sorry for the late reply, had a lot of other things on my plate and actually didn't get to check out your changes yet.

For a first take this looks good, but actually our use-case would be a bit different: We need a mix of public and private files and the private files wouldn't get a signature at upload time but instead at the time when the media is shown.

So basically, users that are

[2018-08-07 14:54] Jeradin opened #285 "Gravity Forms Database update script"
Hello there,

Your gravity forms update script needs to be upgraded to the new database schema for gravity forms 2.3, they deprecated the "rg_lead_details" table.
[link to docs](https://docs.gravityforms.com/database-storage-structure-reference/#changes-from-gravity-forms-2-2)
rg_lead_details + rg_lead_meta tables -> gf_entry_meta

Also "value" column was updated to "meta_value".

Below is updated

[2018-08-07 15:24] Jeradin commented on #285
I also noticed that your code only works on single file uploads, not multifile as those URLs get encoded differently in an array.

`
["https:\/\/domain.com\/wp-content\/uploads\/sites\/23\/gravity_forms\/1-7b195b2e393d786c2433b2d4110c0b13\/2018\/08\/8d19c71e-0d14image1.png","https:\/\/domain.com\/wp-content\/uploads\/sites\/23\/gravity_forms\/1-7b195b2e393d786c2433b2d4110c0b13\/2018\/08\/8d19c71e-

[2018-08-10 10:18] markokhman commented on #235
Hi guys
Who is responsible for that?
Any ideas on where we can start? My team seems to really need this feature, what should we do?

[2018-08-10 10:19] markokhman commented on #235
Any ideas on the implementation, we are ready to contribute, but so far we didnt code anything in wp-stateles

So the wp-stateless is able to rewrite urls of html when wordpress serves those
But can wp-stateless rewrite css files and serve rewritten css file?

[2018-08-10 17:33] alimuzzaman commented on #279
![image](https://user-images.githubusercontent.com/6744156/43972328-cca50e9e-9cf5-11e8-8c4c-3a83c7b84feb.png)

[2018-08-10 17:36] alimuzzaman commented on #278
![image](https://user-images.githubusercontent.com/6744156/43972406-14435256-9cf6-11e8-9c97-1fdd1a0eb1dc.png)

[2018-08-10 17:36] alimuzzaman commented on #277
![image](https://user-images.githubusercontent.com/6744156/43972430-29eb412c-9cf6-11e8-8730-69e116291031.png)

[2018-08-10 17:54] #278 closed, assigned to alimuzzaman

[2018-08-10 17:55] #277 closed, assigned to alimuzzaman

[2018-08-10 18:52] ewsopp opened #286 "Can we upload full size before generating thumbnails?"
I've been working on a project where the size of the original image was so large that wordpress could not generate the thumbnails properly due to limited resources. In this scenario, it was generating a problem with using the Sync feature in WP-Stateless.

One of the solutions I thought of was to synchronize the original image (full size) onto GGS before processing the thumbnails. Is this possible

[2018-08-12 14:14] alimuzzaman commented on #285
@Jeradin can you please review the fix?
You can get the fix from here https://github.com/wpCloud/wp-stateless/releases/tag/2.1.8-gravity-form

The compatibility should now work in both old and new version of Gravity Form.

[2018-08-12 21:10] alimuzzaman commented on #218
@yudiarnanda
I have added fix for the **_File Upload_** field.
And the **Price and Files** and **Featured Image** works fine out of the box.

You can download the updated version [from here](https://github.com/wpCloud/wp-stateless/tree/b68e88c5dba24c1d3a4792abc1a6cc23bd3b9186) for testing.

[2018-08-12 21:24] alimuzzaman commented on #286
@ewsopp What if we add a option to ignore the regeneration at all?

[2018-08-12 21:28] Jeradin commented on #285
Hello @alimuzzaman and thank you for the update! It works great on form submission but does not work for files already uploaded for the modify_db function. I did some hacking and got it to work but likely needs some cleanup.

[code]

[2018-08-12 22:16] alimuzzaman commented on #285
Thanks @Jeradin,
Added your fix.
https://github.com/wpCloud/wp-stateless/tree/50021d931433f7869600178762a4284dbe1e9e55

[2018-08-12 22:19] alimuzzaman commented on #286
Some time regeneration isn't required. And if user have lots of file it can slow a lot.
I think having option to skip regeneration would be helpful in this situation.
If user have lots of image and they just need to sync, regeneration is unnecessary.

[2018-08-13 13:02] nicolaiskogheim opened #287 "SVG Upload"
When on the `Sync` tab and using

`wp-stateless` reports `Unknown failure reason.` when it hits an SVG.

I have tried adding `svg` to the list of supported types, to no avail.
It would be great to be able to upload SVG's.

[2018-08-13 14:22] alimuzzaman commented on #265
@antonkorotkov can you take a look at the `post_metadata_filter` and `convert_to_gs_link` function, if you can make anymore improvement.
I have added transient cache for one day in `post_metadata_filter`. But that could be bad idea, in  case of post updates.

[2018-08-13 16:00] alimuzzaman commented on #287
@nicolaiskogheim How you are uploading SVG images?
WordPress doesn't support SVG out of the box.

[2018-08-13 17:57] nicolaiskogheim commented on #287
Via FTP. So when I use `wp-stateless`, I have some SVG files in my `/uploads` folder, but `wp-stateless` won't transfer them to Google Storage.

[2018-08-13 18:02] alimuzzaman commented on #287
If you upload via FTP then there is no record of it in Media Library, in that case Stateless can't find them.
Stateless only transfer files in Media Library.

JFYI *Supported File Types* only work for *File URL Replacement* setting and don't transfer file only replace the url in content and meta.

[2018-08-13 18:25] nicolaiskogheim commented on #287
Thank you! I installed a plugin to get support for SVG now.
Okay, so the files get uploaded, but `wp-stateless` still gives errors.

It would be much easier if `wp-stateless` reported something about the error. I know I have some HTML files that it may choke on, but the only message printed is, as I said, "Unknown failure reason."

Anyways, this issue can be closed, as `wp-stateless` clearly has s

[2018-08-13 18:25] #287 closed, assigned to alimuzzaman

[2018-08-13 18:30] alimuzzaman commented on #287
Thanks @nicolaiskogheim,
We will investigate the "Unknown failure reason".

[2018-08-13 18:48] alimuzzaman commented on #276
@ewsopp is this sounds good?
`Unknown failure reason.` to `No metadata generated for imge_title (ID image_id).`

Sync field because no metadata was generated for image.

Here is a example of message when success `Polo (ID 192) was successfully resized in 10.828 seconds.`

[2018-08-13 18:53] alimuzzaman commented on #287
Hi, @nicolaiskogheim
The problem has been fixed. Sorry for the miscommunication.
The problem was that SVG image has no metadata.
You can download the fix from here:
https://github.com/wpCloud/wp-stateless/tree/fb285525753b8633d5e5b93963d4dc2c8ad922a4

Please check and let us know.

[2018-08-13 19:07] nicolaiskogheim commented on #287
It works. I get no errors when running `Regenerate all stateless images and synchronize Google Storage with local server`.

Thank you again.

[2018-08-13 19:14] alimuzzaman opened #288 "HTTP error"
https://wordpress.org/support/topic/http-error-133/
msyahrizan (@msyahrizan)
Hi,
I get this error this morning when I want upload image, yesterday everything okay

https://imgur.com/DLpw7pX
![image](https://user-images.githubusercontent.com/6744156/44052769-550cc1a8-9f5f-11e8-9986-ba5fa7f93d4b.png)

[2018-08-14 11:38] antonkorotkov commented on #265
@alimuzzaman I don't know how we can improve current implementation. I would think about re-implementing it somehow. For example save replaced URLs back to content so that it is processed only once. This is only an idea, not sure whether it will work or not.

[2018-08-14 12:41] yudiarnanda commented on #218
@alimuzzaman Thanks for the updates.  The zip file is uploaded to GCP. But the URL file from GCP does not appear in the Download Files form in the back-end.

[2018-08-14 23:48] AJB99 commented on #262
+1

I'm seeing the same queries showing up in my slow query log as well:

[code]
As a result, one of the pages on the site (which has ~50 images on it) takes 1.5-2.5 MINUTES to load when it's not cached.

What is the purpose of the `attachment_url_to_postid()` method?
Why is it hitting the DB for every single image on the page?
How can I disable this and get reasonable page-loading speed back?

Th

[2018-08-15 11:35] antonkorotkov opened #289 "Notices glitch"
<img width="1111" alt="2018-08-15_1425" src="https://user-images.githubusercontent.com/2276882/44146479-62406ba6-a098-11e8-8479-d1913e622c09.png">

[2018-08-15 16:11] alimuzzaman commented on #262
The performance issue is most likely because we used `like`.
@antonkorotkov We don't use this function at all [nor the WordPress](https://developer.wordpress.org/reference/functions/attachment_url_to_postid/#used-by-table) on frontend. Maybe it used by theme or plugin.

[2018-08-15 19:04] alimuzzaman commented on #262
@ahmed-sigmalux @SahriHamza @AJB99
I have added caching and changed our implementation of  [`attachment_url_to_postid`](https://github.com/wpCloud/wp-stateless/blob/e372ed2962d3512836410009494b7f07d59eee65/lib/classes/class-bootstrap.php#L1199) filter/method.
New implementation is based on what wp did in [`attachment_url_to_postid`](https://developer.wordpress.org/reference/functions/attachment_ur

[2018-08-15 19:53] alimuzzaman commented on #218
Sorry @yudiarnanda,
Forgot to consider **Bucket Folder**. Probably because you have **Bucket Folder** set that's why it didn't worked.

I have uploaded a fix, you can [download from here](https://github.com/wpCloud/wp-stateless/tree/eec1b2e9d121dec953cac61a23d3aacafd0a414b).
Please let us know if it works.
Thanks

[2018-08-15 20:14] alimuzzaman commented on #181
@ukaric Please use third party plugin to upload WebP image.

[2018-08-15 20:28] alimuzzaman commented on #281
@ewsopp What should be the default value?
Should I follow the wiki and change the code?

[2018-08-15 20:30] alimuzzaman opened #290 "Update wiki with renamed constant."
Several name of the constant have been changed so we need to update the wiki.

[2018-08-15 20:31] alimuzzaman commented on #290
Maybe we should add the name of related option name in the details.

[2018-08-15 20:46] alimuzzaman commented on #234
@mjezegou if you need to get the settings you can use our `ud_get_stateless_media()` function.
For example

- `ud_get_stateless_media('sm')` will return all the stateless settings as array.
- `ud_get_stateless_media('sm.mode')` will return the mode.

[2018-08-15 21:07] ewsopp commented on #281
Should be TRUE by default.

[2018-08-15 21:11] alimuzzaman commented on #290
Also need to review the readme.md/txt

[2018-08-15 21:28] alimuzzaman commented on #265
@antonkorotkov This will be great for performance. We will only need to do it once.

- Convert local url to GCS url (and also sync the image).
- Save the changes to database.
- Create a meta to indicate that it's already processed.
- If the meta found we avoid the process.
- Hook into post save if any recent modification is made.
- We can add a sync option to make the changes at once instead of on

[2018-08-15 21:34] ewsopp opened #291 "revise domain field functionality to allow webmaster to control http or https"
[Several](https://github.com/wpCloud/wp-stateless/issues/242) [users](https://github.com/wpCloud/wp-stateless/issues/222) have requested the ability to enforce SSL with custom domains.

- [x] adjust placeholder value for _Domain_ field to `https://storage.googleapis.com`
- [x] allow webmaster to control "http" or "https" from _Domain_ field.
- [x] adjust the setting description text:

![image](htt

[2018-08-15 21:43] ewsopp commented on #265
@antonkorotkov @alimuzzaman lets discuss this. We've discussed creating custom meta for attachments for several different needs. Before we start adding custom meta, I'd like to see a specification on our naming scheme and how it will be future proof.

[2018-08-16 14:33] Jeradin commented on #285
@alimuzzaman very cool, thank you.

Do you have any concerns that the URLs are not escaping the forward slashes in the DB?
We are using `json_encode($value)` on the values but it seems to save the urls unencoded, Gravity forms is saving them with escaped forward slashes.

[2018-08-16 16:30] alimuzzaman opened #292 "wp-stateless conflict with Learndash plugin"
https://wordpress.org/support/topic/wp-stateless-conflict-with-learndash-plugin/
Hello there!

I need help troubleshooting an issue I’m having with my WordPress with Learndash plugin installed.

Problem:

When I enabled wp-stateless, the following message appears:

“One or more translation files have had their originals updated. Please update your edited versions of them.

pomo-editor/plugins/sfwd

[2018-08-16 19:57] alimuzzaman commented on #285
@Jeradin I don't think that will cause any problem.

[2018-08-16 21:05] AJB99 commented on #262
@alimuzzaman Thanks for the quick turn-around on this.

I believe I've found a typo in the commit you posted above.

https://github.com/wpCloud/wp-stateless/commit/e372ed2962d3512836410009494b7f07d59eee65

line 1205 contains this: `WP_STATELESS_LAGECY_URL_TO_POSTID`.
(The A and the E of 'legacy' are transposed).

I believe it should read: `WP_STATELESS_LEGACY_URL_TO_POSTID`.

[2018-08-16 21:30] alimuzzaman commented on #262
@AJB99 typo is fixed.
Can you test the performance and let us know about performance.

[2018-08-17 00:46] AJB99 commented on #262
@alimuzzaman Where am I downloading the latest version from?

Have you released a new version that I can update via the WP Admin?

[2018-08-17 10:04] alimuzzaman commented on #262
@ajb99
No it's not released yet.
You can download it from here.
https://github.com/wpCloud/wp-stateless/tree/7bfd63b91a805fc7a2af0cdd33552b166861a1a8

[2018-08-17 15:38] alimuzzaman commented on #286
@ewsopp
Now full size image will be synced before generating thumbnail.
Using `intermediate_image_sizes_advanced` filter in [`wp_generate_attachment_metadata`](https://developer.wordpress.org/reference/functions/wp_generate_attachment_metadata/#source) function.
Stateless will try to upload again (in wp_update_attachment_metadata filter) but will ignore because image exist in GCS.

[2018-08-17 15:44] ewsopp commented on #286
@alimuzzaman ok this is interesting.

Please detail step by step how an upload is processed now and how it would be if we uploaded the original file first. I'm mostly interested in the steps for `stateless` mode. Thanks

[2018-08-17 15:49] alimuzzaman commented on #286
@ewsopp I really didn't thought about the stateless mode.
There is gonna be a problem in Stateless mode because file will be deleted.
Fixing the Stateless mode problem first.

[2018-08-17 16:19] alimuzzaman commented on #286
@ewsopp
### How it worked previously:
First run: `Utility::add_media()`
- we hook into `wp_update_attachment_metadata` filter.
- Sync all local files to GCS.
- Save metadata in sm_cloud meta.

### How it will work now:
First run: `Utility::add_media()`
- Now we hook into `intermediate_image_sizes_advanced` filter and sync the full size image.
- `intermediate_image_sizes_advanced` filter is called

[2018-08-17 16:29] alimuzzaman commented on #232
@deivamagalhaes
You can use[ `Utility::add_media()`](https://github.com/wpCloud/wp-stateless/blob/latest/lib/classes/class-utility.php#L153) method to sync programmatically.

[2018-08-17 17:32] alimuzzaman commented on #235
@markusila Sorry for the late. Looking into this right now.

WP-Stateless doesn't rewrite url in html. It's only rewrite url in post content and post meta.

We can support them through filters of Elementor. We need to find how they create the css files and use in frontend.

We create compatibility to support other plugins.
You can find them in [`wp-stateless\lib\classes\compatibility\`](https://gi

[2018-08-18 23:08] alimuzzaman commented on #235
@sebascontre @markusila
Can you please test how this work with this updates.
I was able to find two types of css file `global.css`, `post-xx.css`.

CSS files are getting synced when page viewed. And `post-xx.css` getting deleted on page update/delete.
`global.css` seems to be static.

https://github.com/wpCloud/wp-stateless/blob/develop-alim/lib/classes/compatibility/elementor.php

You can get the

[2018-08-18 23:21] alimuzzaman commented on #271
@TheOneWizard1 I have tested Image element it's working fine with this configuration.

Elementor | V 2.1.7
WP-Stateless | V [2.1.8-beta-2](https://github.com/wpCloud/wp-stateless/releases/tag/2.1.8-beta-2)

[2018-08-19 22:54] alimuzzaman commented on #286
Previous workflow:
1 - user adds image, original file upload begins.
2 - original file is uploaded locally. (in `tmp` dir)
3 - local upload completes. (in `wp-upload` dir)
5 - local file is used to create thumbnails.
6 - thumbnail generation completes.
7 - Images upload to GCS begins.
8 - Images upload to GCS completes.
9 - local files are deleted. (in Stateless mode)

Current workflow:
1 - user a

[2018-08-20 10:56] hamid159 commented on #235
Hi @alimuzzaman ,
Thanks for making update on CSS files syncing. But there is one more problem related with it. Inside `post-xx.css` files there are image links as well that are served using `background-image` (as far as I know) attribute of CSS.
But after syncing all images from WP Stateless Settings, Elementor still serve those images from the WP media library not from GCS. I think this is becau

[2018-08-20 22:42] TheOneWizard1 commented on #271
alimuzzaman,

Appreciate your help here just tried the plugin 2.1.8-beta2 and am still having the same issue.

It appears as tho when I initially add the picture it works fine.

But once I click off to another elementor still breaks.

This holds true with all image sizes besides the thumbnail and custom sizes.

Have added images below to demonstrate.

I know that this has something to do with imag

[2018-08-21 15:20] alimuzzaman commented on #235
@hamid159
Yes it's saved in `_elementor_data`.
I am not sure how we can handle that.

We can hook into `save_post` and alter the `_elementor_data` meta.

[2018-08-21 16:18] alimuzzaman commented on #224
@danyell-hubrix @dchenk
The problem was with our **Cache-Busting** feature.

[2018-08-21 16:28] alimuzzaman commented on #227
@danyell-hubrix
What url is used for 2nd-language site?
Is it the local one?

[2018-08-21 18:12] danyell-hubrix commented on #227
As indicated in my original post april 13: we are using per-domain multilingual. website.co for English, website.fr for French. I do not know what you mean by "the local one."

[2018-08-21 18:17] danyell-hubrix commented on #227
Please let me know what tests you want me to run, or what data I can provide, to help you out. I have a development environment with wp-stateless installed so I can install "experimental" or master-branch code there if you wish.

[2018-08-21 18:30] alimuzzaman commented on #227
I am not clear exactly what is the problem.
You are getting GCS url in first domain.
What media url you get on your 2nd-language site?

What do you mean by **GCS CDN-URL rewriting**?
Do you mean rewrite existing site URL with GCS URL (File URL Replacement)?

[2018-08-21 18:42] danyell-hubrix commented on #227
GCS: Google Cloud Storage
CDN: Content Delivery Network
URL: Uniform Resource Locator

YES we are getting GCS url in first domain.
In 2.1.4 we were not getting GCS url in 2nd domain.

It seems your 2.1.7 upgrade somehow fixed this.
We are now correctly getting GCS urls in pages served from _both_ language domains.

Thanks!

[2018-08-21 18:42] #227 closed, assigned to alimuzzaman

[2018-08-21 20:45] alimuzzaman opened #293 "Need to revise Cache-Busting feature code"
Currently it's break many plugins if they uses sanitize_file_name.
If we can limit it's scope.

[2018-08-21 21:03] alimuzzaman commented on #292
LearnDash had conflict with our <strong>Cache-Busting</strong> feature.

[2018-08-21 21:10] alimuzzaman commented on #224
You can get the fix from here.
https://github.com/wpCloud/wp-stateless/releases/tag/2.1.8-beta-3

[2018-08-21 21:11] danyell-hubrix commented on #224
@alimuzzaman This is great, thank you! And gratz on your awesome progress in your current build cycle

[2018-08-21 21:17] ewsopp commented on #292
Please explain the problem in more detail. What do you suggest we change?

[2018-08-21 21:22] alimuzzaman commented on #293
@ewsopp
If we can limit the filter only to attachment upload or when we are uploading to GCS.
So that no other plugin get the randomized file name.

[2018-08-21 22:55] ewsopp commented on #293
If the file is being uploaded to the Media Library, the feature should apply.

If the feature is conflicting with a plugin, we should create specialized logic to allow the feature to work (via a compatibility), the plugin author should change their implementation, or the webmaster should disable the cache-busting feature.

[2018-08-23 15:08] alimuzzaman commented on #271
@TheOneWizard1

Yes, that might be the problem. `https` on custom domain isn't supported.

[2018-08-23 22:32] alimuzzaman commented on #275
I don't see any way to make it work in stateless mode.
May be possible if we save some data in database.

[2018-08-23 23:56] alimuzzaman commented on #276
`is_connected_to_gs`
Could not connect to Google Storage bucket. Please, be sure that bucket with name <b>%s</b> exists.

`When have conflict`
%s plugin may have potential Google SDK version conflicts with %s plugin. %s is using Google SDK %s, when %s loads old Google SDK version %s.

`PHP_VERSION < 5.5`
The plugin requires PHP %s or higher. You current PHP version %s is too old.

``
WordPress loo

[2018-08-24 00:24] TheOneWizard1 commented on #271
I have found a way for https to work with cloudflare on custom domain. Would be possible to make with work?

[2018-08-24 00:48] alimuzzaman commented on #271
Yes, I think so. But I never tried.

[2018-08-26 17:36] tanint opened #294 "Always getting an error - Could not connect to Google Storage bucket"
Hi guys,
In a month ago it work correctly.
But now I always get below error:
WP-Stateless is not active due to following errors:
Could not connect to Google Storage bucket. Please, be sure that bucket with name MY_BUCKET exists.

I try to create new bucket name and create new credentials JSON file. account role is Storage admin , My Bucket name is the same with field in setting on Wordpress. But s

[2018-08-26 18:21] alimuzzaman commented on #294
@mypum How do you configured the Stateless?
Can you try automatic setup.
There could be something wrong with **Service Account JSON**.

[2018-08-26 18:44] tanint commented on #294
@alimuzzaman
I try to automatic setup it work now. And I find how difference with manual config.
I found automatic setup will add Account permission again in Bucket.
Default Storage Admin account will show in permission as "inherited", But If you add permission more
 the label will change to "mixed". So I add permission for old account and It work now :)

Thank you,

[2018-08-26 18:45] #294 closed, assigned to nobody

[2018-08-27 13:28] front-stream opened #295 "Question: Serve only new uploaded images"
Great plugin!

I would like to serve from Google Cloud only new uploaded images. I don't want upload and serve from Google Cloud my existing images. Is it possible?

[2018-08-27 21:20] alimuzzaman commented on #295
@front-stream
Yes it is possible and Wp-stateless do exactly that.
Just make sure you have **File URL Replacement** disabled.

[2018-08-28 09:25] hamid159 commented on #235
@alimuzzaman
Actually we cannot hook into `save_post` as it triggers when we save post. As I said before that the already system works great for new posts.

To change image urls in CSS file for already created/previous posts, I think you will need to iterate through each `post-xx.css` file and replace the local urls with GCS url. There might be other solutions, but this one is in my mind right now

[2018-08-28 18:44] leepeterson opened #296 "REMOVE "Stateless mode now requires the Cache-Busting option" Notice!!!"
CDN Mode is selected. It's set via UI dropdown; set via database option; set via constant. STATELESS MODE IS NOT SET.

This issue has persisted across several websites for over a month.

When is it going to be fixed? The banner persists across all admin pages, for all users, and it's incorrect and quite useless.

[2018-08-28 19:42] ewsopp commented on #296
@leepeterson thanks for reporting.

@alimuzzaman please investigate this issue for the next release.

[2018-08-29 20:32] alimuzzaman commented on #296
@leepeterson
What do you mean?

[2018-08-29 20:48] yudiarnanda commented on #218
@alimuzzaman  Work well now.

Another question, is there no option to store files directly to GCS? So the file is not stored locally.
This is only to prevent load on the server when there are large files.

Thanks

[2018-08-29 21:53] alimuzzaman commented on #218
@yudiarnanda yes there is.
Use Stateless mode. It will remove the local copy from server after upload compete to GCS.

[2018-08-30 14:39] renduples opened #297 "Avatars dont sync"
Version 2.1.7 - avatars in media/uploads folder don't sync
Settings: Stateless + File URL replacement + Dynamic Image Support

[2018-08-30 15:07] alimuzzaman commented on #297
@renduples what kind of avatars are you talking about?

[2018-09-01 10:14] renduples commented on #297
Local avatars generated by: https://wordpress.org/plugins/simple-local-avatars/
and stored in the /media/uploads folder

[2018-09-01 21:49] TheOneWizard1 commented on #271
The think its possible for you too?

[2018-09-05 13:27] #289 closed, assigned to antonkorotkov

[2018-09-07 08:47] roku6185 commented on #222
When will this feature be released? Do you have any ETA?

[2018-09-07 09:43] davidcommarmond commented on #222
@roku6185 if in the "Domain" field you also add https:// in front of the domain name, it'll serve from https and not http (Not sure where I read this in the code but there's a condition there).

![image](https://user-images.githubusercontent.com/34420248/45211663-ee2add00-b2a3-11e8-91f3-21058697bf6f.png)

Works well on our website https://www.i-spy360-mauritius.com/

[2018-09-07 09:45] davidcommarmond commented on #222
@williamli thanks, hopefully it'll be merged to stable, will avoid confusions on how it works.

[2018-09-07 09:52] wiiiimm commented on #222
@davidcommarmond @roku6185 it has been merged into stable a while ago in v2.1 https://github.com/wpCloud/wp-stateless/pull/282

[2018-09-07 09:54] wiiiimm commented on #291
@ewsopp i have already added this feature and merged the feature into v2.1 https://github.com/wpCloud/wp-stateless/pull/282

unless i have missed something here?

[2018-09-07 11:32] roku6185 commented on #222
I'm using wp-stateless 2.1.7 and I don't see any option for "Force SSL". What version should I be using? I installed Wordpress yesterday, so I guess I'm using the latest version of wp-stateless.

Putting "https://<MY_CDN_DOMAIN>" in the "Custom domain" field doesn't do anything for me. The "Preview" URL doesn't change nor do the image URLs in posts.

[2018-09-07 16:18] alimuzzaman commented on #222
Will be release soon.
You can use pre-release version
https://github.com/wpCloud/wp-stateless/releases/tag/2.1.8-RC1

[2018-09-07 23:39] alimuzzaman commented on #235
@hamid159
Can you please test?
Try **Stateless Settings** >> **Sync Tab** >> `Synchronize non media library files between Google Storage and local server`
https://github.com/wpCloud/wp-stateless/tree/55e5da42edf5bbe6873575d182574bdfdcd498e6

[2018-09-08 04:27] alimuzzaman commented on #291
@williamli Sorry about that.
We have decided to not use that solution.
The feature was available before your pull request but wasn't usable due to [a js bug](https://github.com/wpCloud/wp-stateless/commit/dd134f11c18059c800eacd438ce5e09b15dcda69#diff-0a3aef487b3735ff2b6f416c52ef637fL756).

[2018-09-09 01:50] wiiiimm commented on #291
@alimuzzaman i see. sorry about that ;)

[2018-09-10 06:45] roku6185 commented on #222
I dowloaded the pre-release but I can't find the new option "Force SSL" in the code:
`grep "Force SSL" wp-stateless-2.1.8-RC1/ -rn`

, results in nothing. But according to the patch it should be there: https://github.com/wpCloud/wp-stateless/pull/282/files#diff-546de7b1d43b494ce1b2e9bb59e7cdffR185

[2018-09-10 06:52] alimuzzaman commented on #222
@roku6185 Sorry for the miscommunication.
Check issue #291

You just have to prepend  https:// in `Domain` field.
`https://cdn.example.com`

[2018-09-10 07:16] alimuzzaman commented on #271
@TheOneWizard1 please check the issue #291

[2018-09-10 07:21] alimuzzaman commented on #275
@antonkorotkov
Can you please check?

[2018-09-10 07:39] Mashenka opened #298 "Add compatibility with WP-Property-PDF add-on"
you could check the new version of pdf here - https://udx-ci-develop-den.rabbit.ci/wp-admin/upload.php

right now pdf is not syncing with GCS, this is when I try to sync
![image](https://user-images.githubusercontent.com/5111163/45282756-87483680-b4e4-11e8-86b5-5fe00a766373.png)

[2018-09-10 07:44] alimuzzaman commented on #298
@Mashenka I am getting `File not found` error.

[2018-09-10 07:59] roku6185 commented on #222
This is very confusing. Prepending "https://" in the Domain field doesn't work. The preview isn't updated and the resulting images (e.g. in posts) only have the raw bucket url. I get the following javascript error on the "Stateless Settings" page:
[code]

[2018-09-10 08:02] alimuzzaman commented on #222
@roku6185
Please use the this version
https://github.com/wpCloud/wp-stateless/releases/tag/2.1.8-RC2

Some changes was made after RC 1.

[2018-09-10 08:29] roku6185 commented on #291
Why is it a requirement that the bucket name and custom domain must match? That doesn't make sense.

If I want a custom domain it shouldn't depend on my bucket name. I want to use this plugin with my custom CDN domain, but I can't because you impose restrictions how I setup my buckets.

[2018-09-10 08:33] alimuzzaman commented on #291
Hello @roku6185
It's restricted by Google.
I am not sure how you can access the bucket with any domain!

https://cloud.google.com/storage/docs/naming
https://cloud.google.com/storage/docs/domain-name-verification

[2018-09-10 08:37] roku6185 commented on #291
That only applies if you want HTTP, i.e. setup a CNAME DNS record to point to your bucket. But, if you want to use HTTPS using Google Cloud you need a load balancer that handles SSL using your own certificate. I'm using the load balancer setup with multiple bucket names mapped to my CDN domain, e.g.

- https://cdn.mydomain.com/pdf/... => bucket-pdf-<MY_COMPANY_NAME>
- https://cdn.mydomain.com/vide

[2018-09-10 17:00] ewsopp commented on #298
Can we modify WP-Property PDF addon to work without a compatibility within WP-Stateless?

[2018-09-10 19:29] Mashenka commented on #298
@Alim try with another file. That issue is resolving right now how to store/update pdf. Just update the property and use the latest file from the media library. I have sent you pdf zip so you could test on your branch if you need

@ewsopp I’m not sure why it is not working now so I can’t answer the question, I need some comments from @Alim

[2018-09-10 23:33] wiiiimm commented on #291
@roku6185 I think having an SSL option for a natively (Google) supported bucket - domain mapping is different to mapping domain / custom paths to different buckets

[2018-09-11 02:01] alimuzzaman commented on #291
@roku6185
Can you please test the recent update? You can get it [from here](https://github.com/wpCloud/wp-stateless/tree/431a049c9491425082e838f957dc41eb9a190aaa).

This could cause issue with non advance user. Who don't know what they are doing. I am thinking about adding a warning like the following.

@ewsopp what do you think?
![image](https://user-images.githubusercontent.com/6744156/45333517-

[2018-09-11 02:05] alimuzzaman commented on #298
@ewsopp Yes, we should make changes to the `WP-Property PDF` plugin.

[2018-09-11 02:44] alimuzzaman commented on #296
@ewsopp @leepeterson
This is how it should work according to #279. The problem was Notice wasn't dismissible in the released version because of a JavaScript error.

This problem have fixed in the [2.1.8 RC 3](https://github.com/wpCloud/wp-stateless/releases/tag/2.1.8-RC3).

@leepeterson once you **dismissed the notice**, notice won't show again in the future.

[2018-09-11 06:02] roku6185 commented on #291
Awesome :+1: It works as expected:
* Files are uploaded to bucket
* Public URL for images use the custom domain

Thank you for fixing this issue.

[2018-09-11 09:36] Mashenka commented on #298
Ok. closing this issue right now here and will open in WP-Property-PDF repository

[2018-09-11 09:36] #298 closed, assigned to alimuzzaman

[2018-09-13 03:27] wiiiimm commented on #222
@alimuzzaman I just tried 2.1.8-RC and experienced the same problem as mentioned by @roku6185. As soon as I added https:// to the domain field, the preview link auto resets itself back to using google storage url.

[2018-09-13 03:36] wiiiimm commented on #291
@roku6185 @alimuzzaman I tried this version as well and could not get the https to stick inside the domain text field, as soon as https:// is detected, it was removed.

[2018-09-13 04:00] alimuzzaman commented on #291
@williamli
It's probably browser or server cache.

[2018-09-20 14:28] av3nger commented on #230
@ewsopp , there isn't any difference between the two versions. Unless, you are somehow using the plugin or directory name.
protected $plugin_file = 'wp-smushit/wp-smush.php';
The Pro version plugin folder is 'wp-smush-pro/wp-smush.php';

[2018-09-20 14:41] alimuzzaman commented on #230
@av3nger
It should be working with the [2.1.8 RC 3](https://github.com/wpCloud/wp-stateless/releases/tag/2.1.8-RC3) version.

`wp-smush-pro/wp-smush.php` has been included in the RC3.

[2018-09-24 03:44] Issa2M opened #300 "Suspicious function found In class-utility.php By Defender"
Hello, I got message from Defender Pro

The Code is in line 2532
`array_walk_recursive( $arr, create_function( '&$item, $key', 'if (is_string($item)) $item = mb_encode_numericentity($item, array (0x80, 0xffff, 0, 0xffff), "UTF-8");' ) );`

May I ask Is it your code ? And Is it safe or not?

Best Regards

And Thank you for awsome plugin

[2018-09-24 05:49] alimuzzaman commented on #300
@Issa2M
Yes, it's our code and safe to use.

The warning was shown because of the `create_function`, it's deprecated and uses `eval()` internally.

Will replace them with separate or anonymous function in the future.

@ewsopp Set a milestone.

[2018-09-24 09:04] Issa2M commented on #300
Good Thank You :)

[2018-09-24 20:03] rafito opened #301 "Problem with Sync and generate different image sizes"
I'm using WP-Stateless in Stateless mode and I tried to sync to Regenerate all stateless images and synchronize Google Storage with local server.
But now I don't have the array of sizes inside the post meta that I used to have.
I used to get the url from ['sm_cloud']['sizes']['large']['fileLink'] and now I don't have the thumbnails anymore.
Anyone knows how to workaround?

[2018-09-27 03:02] Smoot328 opened #302 "woocommerce product export"
While attempting to export sample products to identify the format of entering products to the woocommerce front street babies site via spreadsheet.
![image](https://user-images.githubusercontent.com/6744156/66341323-d3281200-e968-11e9-8625-82617220c00b.png)

![image](https://user-images.githubusercontent.com/36456311/46120169-6ec26680-c1dc-11e8-9687-81df2415632b.png)
After selecting the generate C

[2018-09-27 08:40] alimuzzaman commented on #302
@antonkorotkov
We need to randomize only once. But the function randomize every time it's called.
Do you have any idea?
https://github.com/wpCloud/wp-stateless/blob/develop-alim/lib/classes/class-utility.php#L74

[2018-09-27 13:49] Smoot328 commented on #302
@alimuzzaman I'm still getting a blank document when I generate the csv file

[2018-09-27 15:00] ewsopp opened #303 "update setting description for Cache-Busting"
`WP_STATELESS_MEDIA_CACHE_CONTROL` is wrong.

It should be `WP_STATELESS_MEDIA_CACHE_BUSTING` and link to https://github.com/wpCloud/wp-stateless/wiki/Constants#wp_stateless_media_cache_busting

![image](https://user-images.githubusercontent.com/5578537/46155076-7fa6c280-c244-11e8-8a40-c66200084b54.png)

[2018-09-27 18:07] ewsopp commented on #279
@alimuzzaman lets adjust this a bit please.

- For existing WP-Stateless users that are upgrading from a previous version
- *AND* have stateless mode enabled
- *AND* have cache-busting disabled, we need to show them a notice.

This way we are not displaying the message to people unaffected by this forced setting.

[2018-09-27 18:16] ewsopp commented on #291
@alimuzzaman if a custom domain is provided, shouldn't we update the preview file URL in real time?

![image](https://user-images.githubusercontent.com/5578537/46165927-e9809580-c25f-11e8-8465-bd9619272f7a.png)

[2018-09-27 18:17] #42 closed, assigned to ewsopp

[2018-09-27 18:17] #179 closed, assigned to ewsopp

[2018-09-27 18:18] #181 closed, assigned to ewsopp

[2018-09-27 18:19] #217 closed, assigned to ewsopp

[2018-09-27 18:21] #218 closed, assigned to ewsopp

[2018-09-27 18:25] #224 closed, assigned to ewsopp

[2018-09-27 18:25] #234 closed, assigned to ewsopp

[2018-09-27 18:26] #235 closed, assigned to ewsopp

[2018-09-27 18:27] #260 closed, assigned to ewsopp

[2018-09-27 18:28] #271 closed, assigned to ewsopp

[2018-09-27 18:29] #281 closed, assigned to ewsopp

[2018-09-27 18:30] #285 closed, assigned to ewsopp

[2018-09-27 18:31] ewsopp commented on #286
@alimuzzaman is this implemented?

1 - user adds image, original file upload begins.
2 - original file is uploaded locally. (in tmp dir)
3 - local upload completes. (in wp-upload dir)
4 - GCS upload begins. (full size image)
5 - local file is used to create thumbnails.
6 - thumbnail generation completes.
7 - thumbnail upload to GCS begins.
8 - thumbnail upload to GCS completes.
9 - local files are

[2018-09-27 18:33] #288 closed, assigned to ewsopp

[2018-09-27 18:33] #296 closed, assigned to ewsopp

[2018-09-27 18:35] ewsopp commented on #292
@alimuzzaman can we lowercase the related compatibility file?

![image](https://user-images.githubusercontent.com/5578537/46166970-86dcc900-c262-11e8-822d-56a1adb49d15.png)

[2018-09-27 18:38] ewsopp commented on #265
@alimuzzaman is this related to the **File URL Replacement** setting?

[2018-09-28 13:07] ewsopp commented on #302
@alimuzzaman is this included in v2.1.8-RC4?

[2018-09-30 19:27] DurinMusicspear opened #304 "PDF file sync failure"
I am trying to sync all existing files and the images synced without errors. The PDF files does not work however. I just get the "Unknown failure reason." when i try to sync them. I tried to upload a new PDF file and that works but the existing files does not work.

![pdf-sync](https://user-images.githubusercontent.com/8897486/46261684-4fd31580-c4f7-11e8-85fe-cc4a977cd427.jpg)

I first tried it in

[2018-10-02 07:03] alimuzzaman commented on #302
@ewsopp Yes.
@Smoot328 Is the problem solved?

[2018-10-02 07:07] alimuzzaman commented on #292
@ewsopp done.

[2018-10-02 07:10] alimuzzaman commented on #291
@ewsopp Yes, we do that. It's working for me.
Could be browser caching problem.
Check the browser console if there is any error.

[2018-10-02 07:12] alimuzzaman commented on #286
@ewsopp Yes.

[2018-10-04 03:00] #301 closed, assigned to nobody

[2018-10-04 05:30] yudiarnanda commented on #218
Hello @alimuzzaman

Sorry for late reply. I've tried it tomorrow, but I still get the error, "Files must be uploaded through the upload form". May I know what happens?

[2018-10-04 16:07] mjezegou opened #305 "Gzip"
I would like compress all image with GZIP (Content-Encoding:gzip - $args['contentEncoding'] ) on google storage.
Is it possible or i add another plugin for compression only images ?
Thank you for your reply

[2018-10-05 08:42] Hooace opened #306 "Corrupt and missing attachement metadata with Polylang"
When Polylang plugin's Media translation is enabled and user uploads an image to Media gallery, the _wp_attachment_metadata is corrupted for the image. Also no _wp_attachment_metadata is written for other than main language at all.
![screen shot 2018-10-05 at 11 34 38](https://user-images.githubusercontent.com/469061/46524829-b14a0a00-c892-11e8-9e77-938cbf5778fc.jpg)

Here is the corrupted meta:
!

[2018-10-07 22:50] buffdownunder commented on #302
Is there a timeframe for releasing the update?

[2018-10-08 16:05] alimuzzaman commented on #302
@buffdownunder
Can you help us to test if the problem is solved?
Here you can get the pre release version.
https://github.com/wpCloud/wp-stateless/releases/tag/2.1.8-RC4

[2018-10-08 18:19] oceandigital commented on #300
Hello, could you please also make this change for all the wp-property plugins as well?

/vendor/usabilitydynamics/lib-utility/lib/class-utility.php is in every plugin you make and they are all flagged as suspicious by Defender.  Is it possible to just comment out the code for each file until updates are made like this:

`// array_walk_recursive( $arr, create_function( '&$item, $key', 'if (is_strin

[2018-10-08 19:04] buffdownunder commented on #302
Sure. Will do today.

On Tue, 9 Oct 2018 at 2:05 am, Md. Alimuzzaman Alim <
notifications@github.com> wrote:

--
711 Ilkley Road, Tanawha Qld 4556
Mob: 0423 825 884

[2018-10-08 21:58] buffdownunder commented on #302
The pre release works! No conflicts with Woocommerce Import/Export or
Woocommerce Product Feed Pro.
Great.

On Tue, 9 Oct 2018 at 02:05, Md. Alimuzzaman Alim <notifications@github.com>
wrote:

--
711 Ilkley Road, Tanawha Qld 4556
Mob: 0423 825 884

[2018-10-10 13:46] mjezegou commented on #305
So i add wp-smushit in my project.
For now, the tests are satisfactory since version 2.1.7 and integration of compatibility.

[2018-10-10 14:52] mjezegou commented on #305
I work with docker and I build my containers. I am fully stateless.
I find that with wp-smushit that when an image is not used, it is stored locally and not in the cloud. It is then impossible to rework with (integration in the pages and compression Smush).

[2018-10-10 15:09] mjezegou commented on #305
I also note that images are not removed from the cloud, when we delete the image from the library

[2018-10-12 09:11] alimuzzaman opened #307 "sm_synced very large"
https://wordpress.org/support/topic/sm_synced-very-large/

Hello,
I’ve been looking in the WP_options (after seeing a decrease in load time on the site). The option “sm_synced”, is auto-loaded everywhere – and currently is almost 2MB (!!!), which is an impact on the system u don’t want.

I’ve found the code – relating to files that needs to be registered. Currently it’s only populated with Backup

[2018-10-13 04:29] benneynens opened #308 "Access same cloud storage bucket from two different sites?"
Is it possible (or are there any plans to implement in future) an ability to access the same bucket from more than one wordpress site?

In my case this would be useful as I have a couple of sites that use many of the same images.

Amazing plugin by the way!

[2018-10-15 02:42] dchenk commented on #287
I ran into this issue when trying to sync up existing SVG files. WordPress certainly supports SVG uploads—it just needs to be enabled. This is an important feature, so thank you for implementing it.

I'd like this fix in the main plugin trunk and published as soon as possible please. :) Thanks!

[2018-10-16 16:51] dchenk commented on #159
This doesn’t appear to be solved fully; here’s the issue I’m having. I’ve got my media in a storage bucket which sits behind GCP’s load balancer with a TLS certificate. Based on the URL path, requests for media files are routed by the load balancer to the bucket—the request being done with my custom domain and secured with TLS. In the plugin’s settings, I’m able to specify a custom domain, but the

[2018-10-16 16:57] dchenk commented on #159
Furthermore, when I insert media files into a post or page using the “Add Media” button above the editor, the selected image has “storage.googleapis.com/my-bucket-name” in the URL. This is highly undesirable for obvious reasons.

[2018-10-16 17:01] dchenk commented on #242
I did Sync-Regenerate on an image after setting the custom domain, but it still shows the storage.googleapis.com domain

[2018-10-16 17:11] dchenk commented on #308
@benneynens the way to do this is to specify different strings for the “Bucket Folder” setting. Each site should have its own “folder.”

[2018-10-17 14:29] Mashenka opened #309 "Make the process completed if there is nothing to do"
e.g I do not have non-media files and when trying to sync them just looks like this forever

![image](https://user-images.githubusercontent.com/5111163/47093548-1eb24f00-d232-11e8-8763-a5f59a9ad121.png)

[2018-10-17 16:59] larsha commented on #27
@Mashenka @ewsopp Is this still something that is being developed? Would be awesome to just sync and skip the whole regeneration procedure since I know we have every image in the bucket. We have over 50k original images and the option that is available now will take forever.

[2018-10-17 18:27] alimuzzaman commented on #309
@Mashenka how this sounds?
![image](https://user-images.githubusercontent.com/6744156/47108022-99985b80-d26c-11e8-8a32-af76e165ffc3.png)

[2018-10-17 18:45] Mashenka commented on #309
@alimuzzaman Not clear about what I need to enable and why. Wу could end up on Nothing to sync and without details. What do you think @ewsopp ?

[2018-10-17 18:48] alimuzzaman commented on #309
By default it's sync nothing. It's only work when some compatibility enabled.
That's why sometime user can get confused.

[2018-10-17 19:29] ewsopp commented on #309
Is this option for compatibilities only?

[2018-10-17 19:29] alimuzzaman commented on #309
@ewsopp Yes

[2018-10-17 19:49] alimuzzaman commented on #305
Are you sure that **Delete GCS File** setting is enabled?

[2018-10-17 19:58] ewsopp commented on #309
Can we display this option only when a relevant compatibility is enabled?

[2018-10-17 20:06] ewsopp commented on #309
Which compatibilities require a sync process?

[2018-10-18 10:35] alimuzzaman commented on #309
- Elementor
- GravityForm
- SO Widgets Bundle

[2018-10-18 10:37] alimuzzaman commented on #309
We can do that.

[2018-10-18 13:37] ewsopp commented on #309
SiteOrigin CSS doesn't require manual sync functionality?

[2018-10-18 13:39] alimuzzaman commented on #309
SO Widgets Bundle is so css

[2018-10-18 13:40] ewsopp commented on #309
They are two separate plugins, which should have separate compatibilities.

![image](https://user-images.githubusercontent.com/5578537/47158521-db9bbe80-d2b9-11e8-99f4-44758d8006b0.png)

[2018-10-18 15:51] alimuzzaman commented on #309
Sorry, yes they are separated.

No, it's not require manual sync.

[2018-10-19 17:24] alimuzzaman commented on #309
Done

[2018-10-21 12:14] leepeterson commented on #279
When might this fix fully roll out?

![screen shot 2018-10-21 at 7 55 44 am](https://user-images.githubusercontent.com/972141/47266675-e21f7580-d507-11e8-88f3-5bf8071d46ed.png)

1. Stateless Mode *is not* enabled
2. Constant `WP_STATELESS_MEDIA_CACHE_BUSTING` *is* set to `false`
3. `Cache-Busting` dropdown *is* set to `Disable`
4. Settings *have been* verified in database, yet this notification pe

[2018-10-21 18:32] alimuzzaman commented on #279
@leepeterson
Please use this version https://github.com/wpCloud/wp-stateless/releases/tag/2.1.8-rc6

Click the close button on the right side, that will hide the notice.
`WP_STATELESS_MEDIA_CACHE_BUSTING` don't hide the notice, should it?

[2018-10-22 15:04] alimuzzaman commented on #279
@ewsopp What do you think?

[2018-10-22 17:52] ewsopp commented on #309
Great. One last scenario then...

If these compatibilities are enabled and a process is ran that has no files to process, display this message:

[2018-10-23 14:26] ewsopp commented on #309
@alimuzzaman please assign to @Mashenka for review once the above comment is implemented.

[2018-10-23 15:50] Mashenka commented on #279
@alimuzzaman

didn't receive notice, only when tried to change to CDN mode and then check back Stateless that notice appeared

checked with 2.1.8-rc6

[2018-10-23 15:53] Mashenka commented on #265
@alimuzzaman can you answer Eric's question and provide steps how could I test that.

[2018-10-23 16:17] Mashenka commented on #276
@ewsopp that probably had to be you on this task

[2018-10-23 16:20] Mashenka commented on #291
working for me

[2018-10-23 16:20] #291 closed, assigned to Mashenka

[2018-10-23 16:26] #303 closed, assigned to nobody

[2018-10-23 16:36] ewsopp commented on #276
Alright, I removed it from the v2.1.8 milestone. I won't be able to get to it in time for the release this week.

[2018-10-23 16:54] Mashenka commented on #302
Everything looks correct

[2018-10-23 16:54] #302 closed, assigned to Mashenka

[2018-10-23 17:27] Mashenka commented on #292
issue resolved

[2018-10-23 17:27] #292 closed, assigned to Mashenka

[2018-10-23 17:48] alimuzzaman commented on #309
@Mashenka please review this.

[2018-10-23 17:55] alimuzzaman commented on #265
@ewsopp yes. Because we expanded to post meta it's time consuming.

We should exclude this from this milestone.
It is partially completed and there is more room for improvement.

[2018-10-23 17:57] alimuzzaman commented on #279
@Mashenka Yes, that's the expected outcome.

[2018-10-24 15:42] Mashenka commented on #279
ok, then good

[2018-10-24 15:42] #279 closed, assigned to Mashenka

[2018-10-24 16:46] ismailyenigul opened #310 "Unknown failure reason."
When I try to sync wp images into Google cloud bucket, I always get Unknown failure reason and sync stops.
Where can I see the logs?
It is just 451 images and I get failure around 60-80 th file.

[2018-10-24 19:41] Mashenka commented on #309
Checked

[2018-10-24 19:41] #309 closed, assigned to Mashenka, alimuzzaman

[2018-10-25 06:43] izzuddinrazi opened #311 "HTTPS with custom domain"
is it possible to use custom domain with https?

[2018-10-25 13:33] alimuzzaman commented on #310
@ismailyenigul do you see any errors in browser console?

[2018-10-29 18:49] dchenk opened #316 "Support .doc and .docx files"
The plugin should support syncing “.doc” and “.docx” files. Such files are permitted to upload even on wordpress.com. This is no different from PDF files.

This is a pressing need especially when activating WP-Stateless on an existing site that has such documents. If you can’t sync all images and files, it may not be possible to use the plugin at all (as it was for me).

I’m looking forward to thi

[2018-10-29 19:53] ewsopp commented on #316
Did you try adding these file extensions to the _Supported File Types_ field?

[2018-10-29 19:54] alimuzzaman commented on #316
@ewsopp `Supported File Types` don't sync the files.

[2018-10-29 23:22] dchenk commented on #316
Sorry, where can I find this setting anyway?

[2018-10-29 23:56] alimuzzaman commented on #316
Stateless Settings page.

[2018-10-30 00:06] alimuzzaman commented on #316
What problems are you facing actually?
Stateless can sync everything on your media library.
Is the doc files 📂 are being uploaded to the library?

[2018-10-30 00:09] dchenk commented on #316
The docs were previously there, uploaded to WP the normal way. When I
installed the plugin and clicked the Sync button, I got errors for all doc
and docx files.

On Mon, Oct 29, 2018, 5:06 PM Md. Alimuzzaman Alim <notifications@github.com
wrote:

[2018-10-30 15:42] jjtroberts opened #317 "Conflict between wp-stateless 2.1.8 and Onecodeshop RML AWS/S3 plugin"
We use wp-stateless to store client uploaded assets in GCS, while simultaneously using RML AWS/S3 to serve a curated library of images out of S3 and Cloudfront.

We did not experience the conflict below with wp-stateless 2.1.7, and reverting to that version resolved the issue.

| remote-medias-lite                  | active   | none      | 1.6.3   |
| remote-media-pro-amazons3           | active

[2018-10-30 15:43] jjtroberts commented on #317
For reference:

https://www.onecodeshop.com/downloads/wordpress-rml-for-amazon-s3-cloudfront-plugin/

[2018-10-31 18:02] alimuzzaman commented on #317
@gd-jroberts
I have added a fix, you can get it [from here](https://github.com/wpCloud/wp-stateless/tree/8bd0dde55bcef05768dd2e7350f4b3da437393a9):
It was related to this feature #286.

Seems like they called the filter with only one argument instead of two. Second parameter was added in WordPress 4.4.0 version.

[2018-10-31 19:18] alimuzzaman commented on #316
@dchenk
Are you sure you choose this option?

![image](https://user-images.githubusercontent.com/6744156/47812968-f10def80-dd73-11e8-9e36-3bee5bd8954c.png)

[2018-10-31 19:32] alimuzzaman commented on #316
@dchenk
Please [try this fix](https://github.com/wpCloud/wp-stateless/tree/1cff7bd2b2a846145af2856832e92b97f1313e9f) and let me know if this solves your problem.
https://github.com/wpCloud/wp-stateless/tree/1cff7bd2b2a846145af2856832e92b97f1313e9f

[2018-11-01 14:32] leepeterson commented on #316
Same problem since first using this plugin. The "Supported File Types" should take a cue from CDN Enabler and offer up an *exclusion list* rather than trying to guess what a client might upload.

Trying any of these:
`jpg jpeg png tif gif pdf svg json css js html txt m4v m4a mp3 mp4 webm ogg ogv md yml ttf woff woff2 otf doc docx xls xlsx ppt pptx csv rtf`
may only sync `jpg jpeg png gif pdf mp4`,

[2018-11-01 14:44] leepeterson opened #318 "Bucket Value No Longer Included as of v2.1.8"
WP-Stateless v2.1.8 has broken over a dozen websites we maintain within the past 48 hours.

Bucket name hasn't changed and continues to show within the field below "Bucket".

However, the URL displayed within the field below "Preview" as well as all front-end references to newly-uploaded media is 100% broken.

Example: https://storage.googleapis.com/bucket-name/bucket-folder/2018/11/filename.jpg i

[2018-11-01 15:07] ewsopp commented on #318
@leepeterson thanks for reporting, and good luck.

[2018-11-01 15:10] alimuzzaman commented on #318
@leepeterson Seems like you have set the `Domain` field to `storage.googleapis.com`, which should have been empty unless you use a custom domain.

[2018-11-01 15:22] leepeterson commented on #318
@alimuzzaman that is an incorrect assumption. That is also not the issue at hand.

[2018-11-01 15:22] #318 closed, assigned to alimuzzaman

[2018-11-01 15:37] alimuzzaman commented on #318
@leepeterson
Here is [a fix](https://github.com/wpCloud/wp-stateless/tree/13a5e1fca19f418d856aa9b9eb7c3bbaa3f97573) if you change your mind.
https://github.com/wpCloud/wp-stateless/tree/13a5e1fca19f418d856aa9b9eb7c3bbaa3f97573

[2018-11-02 07:38] dchenk opened #319 "Support bmp files"
The plugin does not appear to support .bmp files. The [BMP](https://en.wikipedia.org/wiki/BMP_file_format) image format can be common and is accepted as WP media.

[2018-11-06 10:09] mjezegou commented on #305
![image](https://user-images.githubusercontent.com/26108995/48057028-536f5180-e1b3-11e8-82e2-cf1eeef2fcd0.png)
![image](https://user-images.githubusercontent.com/26108995/48057234-cc6ea900-e1b3-11e8-8f76-825f960a381a.png)
Yes.
on the other hand, it is not defined in the wp-config in this form:
define ('WP_STATELESS_MEDIA_DELETE_REMOTE, true);

[2018-11-06 18:17] #317 closed, assigned to alimuzzaman

[2018-11-06 18:22] #316 closed, assigned to nobody

[2018-11-06 19:11] dchenk commented on #316
Thank you!

[2018-11-07 07:01] dchenk opened #320 "Don't show Service Account JSON contents when set by a constant"
I think an important security feature that should be added is to not display the Service Account JSON field value in the settings panel when the JSON key is set with a PHP constant. What's the point of showing the JSON anyway? The user can't edit it from wp-admin, and they don't need to see it for any reason. This is especially a security threat where I'm letting a client use a bucket that I'm pay

[2018-11-09 08:02] kLOsk commented on #267
Any news on this? It also seems that the bulk processing is not working. It always does one file at a time...

[2018-11-11 20:34] benneynens commented on #308
Apologies for my slow response.  I think your meaning is a little different to what I intend.

My objective is to have more than one website accessing the same bucket of images.  Ideally, the wordpress meta data for each image can also be synced.

I understand this is probably an ambitious objective but I thought it worth asking.

Definitely appreciate your feedback either way ;)

[2018-11-15 16:33] walle89 commented on #308
I'm not sure what's the use case is, but you maybe want to look at plugin like if you have a multisite installation: https://wordpress.org/plugins/network-shared-media/

Otherwise the main issue that's needs to be solved how to sync media libraries from two different databases, and I don't think it's easy to find a solution for. Why not then upload to a common third party media storage host (and i

[2018-11-19 00:53] kLOsk opened #321 "Serve Images from Google Cloud, but disable Cloud for new images"
Bit of a silly question maybe, but I would like to disable cloud upload for new images, but continue serving already uploaded images from cloud. This is a setting just for my local dev environment. Currently I have all images on cloud, and none locally, but when I disable Stateless, the urls are replace by local urls again and thus not available. Is it possible to keep urls with cloud for existing

[2018-11-19 06:50] alimuzzaman commented on #321
@kLOsk You have to do some hacking. Remove this filter and image will no longer be synced.
`add_filter( 'wp_update_attachment_metadata', array( 'wpCloud\StatelessMedia\Utility', 'add_media' ), 999, 2 );`

This is the main entry point for sync to start, though there are others.

[2018-11-19 07:05] alimuzzaman commented on #321
Some **Stateless Compatibility** could initiate the sync even you remove the above filter. In that case you should look in `lib/classes/compatibility` dir.

**File URL Replacement** setting could cause some issue if enabled.

Let us know if this works.

[2018-11-19 07:08] alimuzzaman commented on #311
Hi @izzuddinrazi,
Not by default, but you can do it by using CDN services like **Cloudflare** or **load balancer**.

[2018-11-19 09:28] kLOsk commented on #321
Thanks ali! I'll give it a shot!

[2018-11-19 15:02] walle89 commented on #311
As alimuzzaman said it's not possible out of the box(https://cloud.google.com/storage/docs/request-endpoints#cname). You need to setup a load balancer and use a front-proxy CDN service like Coludflare. It's maybe possible to use a regular CDN Service like Google CDN, I haven't tied it.

[2018-11-20 02:29] barrosohub commented on #321
In which file and on which line is this snippet of code?

add_filter ('wp_update_attachment_metadata', array ('wpCloud \ StatelessMedia \ Utility', 'add_media'), 999, 2);

[2018-11-20 23:48] kLOsk commented on #321
@barrsofilho wp-content/plugins/wp-stateless/lib/classes/class-bootstrap.php line 224
tho better than uncommneting is probably:
`remove_filter( 'wp_update_attachment_metadata', array( 'wpCloud\StatelessMedia\Utility', 'add_media' ), 999 );` (not tested yet)

[2018-11-21 00:05] barrosohub commented on #321
Not working :/

[2018-11-21 00:24] alimuzzaman commented on #321
Sorry forgot to mention another new filter added recently. Please checkout this issue #286.

[2018-11-26 00:32] benneynens commented on #308
Thanks for your thoughts on that.  I decided that the idea I was trying to implement was just introducing unnecessary complication.  Much appreciate your feedback though.

[2018-11-29 09:23] larsha commented on #211
@ewsopp Any progress on this or anyone has a good workaround? We have over 100gb of media files.

[2018-11-29 14:37] ewsopp commented on #211
Unfortunately, there has been no progress on this front. Most of our resources are focused on our company's client projects. Hopefully we will find more time for this feature in 2019!

[2018-11-29 15:22] Mashenka opened #322 "PHP Warnings and Notices"
[code]

https://wordpress.org/support/topic/invalid-argument-supplied-for-foreach-124/

[2018-11-29 15:44] larsha commented on #211
Thanks for fast reply @ewsopp!

[2018-12-04 01:31] alimuzzaman commented on #286
@ewsopp We need to wrap this feature into settings or a constant.
~~It's causing some conflict with other plugins.~~

[2018-12-04 01:43] #276 closed, assigned to nobody

[2018-12-04 01:43] #286 closed, assigned to ewsopp, alimuzzaman

[2018-12-04 21:48] DurinMusicspear commented on #304
This now seems to work now in 2.1.9

[2018-12-04 21:48] #304 closed, assigned to nobody

[2018-12-08 19:02] fujixmad opened #324 "WPBakery Page Builder compatibility"
Hi,

I have a theme that uses WPBakery Page Builder but it comes part of the theme so the location of the plugin is not in the standard location and thus, Stateless doesn't seem to see it as installed or activated...

Is there a file I can edit to change some sort of path to tell it to look in another location?

[2018-12-08 20:36] alimuzzaman commented on #324
@fujixmad in this line
https://github.com/wpCloud/wp-stateless/blob/v2.1/lib/classes/compatibility/wpbakery-page-builder.php#L19

[2018-12-08 20:55] fujixmad commented on #324
Thank you

[2018-12-11 15:28] davidcommarmond opened #325 "Fatal Error with WP Smush Pro Compatibility Enabled"
With WP Smush Pro installed, and WP Smush compatibility enabled, we're getting the following fatal error

[code]

Disabling compatibility mode resolved the error, however I'm not sure if the image gets smushed...

[2018-12-11 18:22] av3nger commented on #325
Proposed fix #323

[2018-12-11 18:24] TheOneWizard1 commented on #245
image minification was working for a short time but in a recent test it appears to be broken any ideas on how to fix?

[2018-12-11 18:44] TheOneWizard1 opened #326 "Issue With Imagify"
Image minification & sync was working for a short time but in a recent test, it appears to be broken any ideas on how to fix?

Server Detailed:

Server Environment |   |  -- | -- | --
Operating System: | Linux |  
Software: | nginx/1.14.1 |  
MySQL version: | (Ubuntu) v5.7.24 |  
PHP Version: | 7.2.13 |  
PHP Max Input Vars: | 1000 |  
PHP Max Post Size: | 512M |  
GD Installed: | Yes |  
ZIP Inst

[2018-12-12 04:30] dchenk commented on #320
@alimuzzaman or @ewsopp will we be seeing this feature in the next release? I'd really appreciate it.

[2018-12-12 14:13] alimuzzaman opened #327 "This two feature are causing problem."
1. File URL Replacement on post meta. (#265)
2. ~~The new upload full image first. (#286) Causing problem in stateless and image optimizer.~~

Possible Solution:
1. Need to rewrite the code for that function. ([suggested by](https://github.com/wpCloud/wp-stateless/issues/265#issuecomment-412843090) @antonkorotkov)
2. ~~maybe disable by default.~~

[2018-12-14 09:08] larsha opened #328 "Bug in wp_calculate_image_srcset"
Hi,

I think I have found a bug in https://github.com/wpCloud/wp-stateless/blob/v2.1/lib/classes/class-bootstrap.php#L253

The bug is that you are only checking against the width there. (https://github.com/wpCloud/wp-stateless/blob/v2.1/lib/classes/class-bootstrap.php#L265) That will result in wrong srcset output for certain images. Let's say we have two images registered in WP with the same width

[2018-12-14 12:38] Mashenka commented on #328
@alimuzzaman please check this

[2018-12-16 08:26] alimuzzaman commented on #326
@TheOneWizard1 can you please try [this hotfix](https://github.com/wpCloud/wp-stateless/archive/hotfix.zip) and let us know.
https://github.com/wpCloud/wp-stateless/tree/hotfix

[2018-12-16 10:58] scne opened #329 "Serve image from existing google cloud storage"
Hi there, I've my google storage bucket organized to match my inner policy:

[code]
This bucket is filled by a custom integration between google cloud storage and my products management software. On the other hand, another integration to push my products on woocommerce. I'm using woocommerce API to insert new products and update old ones. When I insert new product I need to pass a google storage c

[2018-12-17 20:27] dchenk opened #330 "Uncaught Error: Class 'GFForms' not found"
I'm getting this error when trying to run `wp-admin/upgrade.php` for the WP core update:
[code]

I have WP Stateless running as a mu-plugin.

A fix would be to check if `class_exists` of 'GFForms'.

[2018-12-21 23:59] #324 closed, assigned to alimuzzaman

[2018-12-22 00:00] #310 closed, assigned to nobody

[2018-12-24 11:18] alimuzzaman commented on #326
Also problem is reported in WP.org forum
https://wordpress.org/support/topic/imagify-and-wp-stateless/

[2018-12-24 15:12] alimuzzaman commented on #328
Hi @larsha,
PR requests are always welcome and it would be helpful.
Send a PR request to the `latest` branch.

[2018-12-24 15:14] alimuzzaman commented on #327
@ewsopp Please advice.

[2018-12-24 17:13] alimuzzaman commented on #326
~With this update the when adding image with `Add Image button` in post editor image will seems to be broke because the optimization and upload to GCS take some time.
In that case you have to enable `File URL Replacement` to replace your server URL to GCS URL on the fly.~

[2018-12-24 17:47] alimuzzaman commented on #320
@dchenk yes this will be on next release.

[2018-12-24 18:13] alimuzzaman commented on #320
@dchenk @ewsopp how does this look? Any suggestion?
Should I make the box empty or the message is good?
![image](https://user-images.githubusercontent.com/6744156/50405072-932cdf80-07d9-11e9-8678-4ce593c6e931.png)

[2018-12-24 19:30] dchenk commented on #320
That's really great. You can even have the textbox not show up but just display the message. Thank you :)

[2018-12-25 00:35] Jeradin opened #332 "Gravity forms single file upload issue"
Hello there,

Single file uploads do not seem to be working with your plugin, multiple files do seamlessly.

I have been var_dumping to track down the issue and not finding found to fix it, but I think it relates to unique_names. Your function gform_save_field_value on line 44 of gravity-forms.php filter seems to var dump the filename of the GF unique name, but the actual file with the unique name

[2018-12-27 10:41] TheOneWizard1 commented on #326
alimuzzaman, forgive me been away for just jumping in been away for the holidays.

Can confirm that all checks out with the Hotfix plugin.

Much appreciate your efforts here.

[2018-12-27 14:43] ewsopp commented on #320
Looks good, but adjust the text within the text box...

You missed the "a" before _constant_.

[2018-12-29 22:00] Jeradin commented on #332
I have tracked down the cause but did not track down the fix.

Its the plugins own setting of **Cache-Busting**, when I disable that the single file field works as it should

[2018-12-30 21:41] larsha commented on #328
@alimuzzaman I have created a PR now (#333). Let me know what you think of the approach.

[2019-01-01 17:12] alimuzzaman commented on #322
dcngibson (@dcngibson)
https://wordpress.org/support/topic/plugin-conflict-on-webapp/

1 month ago
Hello Dynamic,
Stateless is have conflict with this my super progressive webapps plugin.
See message hereunder:

Warning: Illegal string offset ‘file’ in /home/dcngibso/public_html/wp-content/plugins/wp-stateless/lib/classes/compatibility/wp-smush.php on line 118

Warning: Illegal string offset ‘gs_n

[2019-01-01 17:41] alimuzzaman commented on #307
I am thinking about creating a DB table

![image](https://user-images.githubusercontent.com/6744156/50789689-2c361d00-12e7-11e9-94b7-3c36b2e9d892.png)

[2019-01-05 21:03] tomlarkworthy opened #334 "Removing gif from Supported File Types doesn't stop it processing gifs"
I had problems with gif resizing so I removed it from the supported file types under File URL replacement, but my next uploaded gifs were still processed and served from GCS

[2019-01-05 21:08] tomlarkworthy opened #335 "GIF resizing changes GIF to a single static image"
The source gif is uploaded fine:-
https://storage.googleapis.com/stateless-corepoxblog-com/2019/01/Jan5_2019-1.gif

But stateless resizes it and loses the video aspect in the process.
https://storage.googleapis.com/stateless-corepoxblog-com/2019/01/Jan5_2019-1-320x348.gif

I tried to disable gif processing but https://github.com/wpCloud/wp-stateless/issues/334

[2019-01-06 21:34] alimuzzaman commented on #327
@ewsopp
Though feature #286 (upload full image first) not causing any problem we should add constant to disable it if needed.

How this sounds `WP_STATELESS_MEDIA_DISABLE_FULL_IMAGE_FIRST`?
Not available in `Settings` tab.

[2019-01-06 22:47] alimuzzaman commented on #306
Hello @Hooace
Wasn't able to replicate the issue with latest version of Polylang (2.5).
I used [development version](https://github.com/wpCloud/wp-stateless/tree/develop-alim) of the WP Stateless.

[2019-01-07 17:04] alimuzzaman commented on #334
Hi @tomlarkworthy,
That option isn't for uploads, that's only for the `File URL Replacement` option.
We will try to make it clear in future.

[2019-01-07 17:04] #334 closed, assigned to nobody

[2019-01-07 17:28] alimuzzaman commented on #335
Hello @tomlarkworthy,
The issue isn't on our side, that's how WordPress handle the GIF.

[2019-01-08 13:54] antonkorotkov commented on #307
@alimuzzaman Ok. Can you explain the idea of using `expire` field?

[2019-01-08 15:47] antonkorotkov commented on #265
@ewsopp

I spent some time investigating the issue. I have some ideas.

So, yes, this issue is related to the option called **File URL Replacement**.
The option description says `Scans post content and meta during presentation and replaces local media file urls with GCS urls.`

The issue is specifically related to the `meta` word in the description. There is no much trouble replacing post content

[2019-01-08 15:58] alimuzzaman commented on #307
@antonkorotkov Some plugin generated files isn't possible to track when it's get updated, we can resync after a period of time.
Skipping the `expire` field for now.

[2019-01-08 16:37] ewsopp opened #336 "extend "File URL Replacement" options"
![image](https://user-images.githubusercontent.com/5578537/50844737-6203f180-1339-11e9-835f-72eb02d60b86.png)

- [x] Change options to the following:

- Disable
- Enable Editor
- Enable Meta
- Enable Editor & Meta

- [x] Adjust the description from:

to:

- [ ] ensure that "File URL Replacement" option is disabled by default for new installations.

[2019-01-08 16:39] ewsopp commented on #265
Agreed.

I created a separate issue for implementing these suggestions at https://github.com/wpCloud/wp-stateless/issues/336

[2019-01-08 22:43] tomlarkworthy commented on #335
dang, thanks

[2019-01-08 22:43] #335 closed, assigned to nobody

[2019-01-09 14:22] Hooace commented on #306
Ok, thanks for the info. I'll try to replicate the issue with Polylang 2.5  and dev version.

[2019-01-09 21:00] alimuzzaman commented on #307
### status: this field have two options.

- queued
- synced

[2019-01-09 21:19] alimuzzaman commented on #336
@ewsopp
What if user had it enabled, then which one it should get migrated to?
`Enable Editor & Meta`?

[2019-01-09 21:33] alimuzzaman commented on #336
![image](https://user-images.githubusercontent.com/6744156/50929722-2fb4da00-1488-11e9-9395-855353f6bf17.png)

[2019-01-09 21:43] alimuzzaman commented on #327
Issue no 1 handled in #336.

[2019-01-09 23:06] ewsopp commented on #336
Correct, if they had it `Enable` previously we will migrate them to the new `Enable Editor & Meta` option.

[2019-01-09 23:21] alimuzzaman commented on #290
@ewsopp I have made changes to
https://github.com/wpCloud/wp-stateless/wiki/Constants

Added related `Settings name` for constant.

[2019-01-09 23:58] alimuzzaman commented on #320
@dchenk removing isn't good idea.

[2019-01-10 00:27] ewsopp commented on #336
We need to update the related constant. https://github.com/wpCloud/wp-stateless/wiki/Constants#wp_stateless_media_body_rewrite

- default value: `false`
- options: `editor`, `meta`, or `true`

True would enable both editor and meta scanning. The other options should explain themselves.

This would allow it work well for people who are already using this setting.

[2019-01-10 10:25] alimuzzaman commented on #336
@ewsopp Options updated.

I think we should add **When selecting `meta` or `true`** to be clear.

To

Scans post content and meta during presentation and replaces local media file urls with GCS urls. When selecting `meta` or `true` depending on the amount of meta, this could be significantly impact performance negatively. This setting does not modify your database.

[2019-01-10 11:05] antonkorotkov opened #337 "Typo in admin notices"
![image](https://user-images.githubusercontent.com/2276882/50964568-4be06780-14d8-11e9-9faa-40d0427fe32b.png)

[2019-01-10 12:26] antonkorotkov opened #338 "DB Table `wp_sm_sync` did not create after manual plugin update"
**I get errors in logs:**

`[10-Jan-2019 12:13:09 UTC] WordPress database error Table 'wordpress.wp_sm_sync' doesn't exist for query SELECT COUNT(*) FROM wp_sm_sync WHERE file = 'siteorigin-widgets/sow-image-default-bd5cd9da0588.css' AND status = 'synced';`

`[10-Jan-2019 12:13:09 UTC] WordPress database error Table 'wordpress.wp_sm_sync' doesn't exist for query SELECT COUNT(*) FROM wp_sm_sync WHE

[2019-01-10 12:33] antonkorotkov commented on #336
Makes sense

[2019-01-10 14:43] ewsopp commented on #336
Agreed

[2019-01-10 19:15] alimuzzaman commented on #320
@antonkorotkov do you have any idea about what to do with the `textarea` when not showing the JSON key?

Showing `Currently configured via a constant.` inside `textarea` is redundant because it's already exists bottom.

[2019-01-10 21:49] ewsopp commented on #320
It's fine, just leave it as is.

[2019-01-11 09:14] antonkorotkov commented on #336
@alimuzzaman I think this section should show up for each option from `enable` group. Right now it only shows up for `Editor & Meta`.

![image](https://user-images.githubusercontent.com/2276882/51024305-de910d00-1591-11e9-9617-bf4bfc4dfe10.png)

[2019-01-11 09:17] #337 closed, assigned to antonkorotkov

[2019-01-11 09:26] antonkorotkov commented on #330
@alimuzzaman can you confirm that this line in safe to be without existence condition?
https://github.com/wpCloud/wp-stateless/blob/2d16c407e09d53b7b7ccaa347bef33cdbfeb2ed3/lib/classes/compatibility/gravity-forms.php#L51

[2019-01-11 09:43] #328 closed, assigned to antonkorotkov

[2019-01-11 09:47] #326 closed, assigned to antonkorotkov

[2019-01-11 10:00] #322 closed, assigned to antonkorotkov

[2019-01-11 10:09] #320 closed, assigned to antonkorotkov

[2019-01-11 10:20] antonkorotkov commented on #338
@alimuzzaman It works now. But please fix comments to the functions:

https://github.com/wpCloud/wp-stateless/blob/0f91f6558164776f6ed5a28107e4ab53cd695fba/lib/classes/class-bootstrap.php#L1166-L1190

[2019-01-11 10:31] antonkorotkov commented on #307
It works. I see new table created after upgrade and files are being logged into it upon non-library sync.

[2019-01-11 10:31] #307 closed, assigned to antonkorotkov

[2019-01-11 10:56] #290 closed, assigned to antonkorotkov

[2019-01-11 12:09] antonkorotkov commented on #265
Will close this once https://github.com/wpCloud/wp-stateless/issues/336 is closed.

[2019-01-11 12:11] antonkorotkov commented on #327
Will close this issue once https://github.com/wpCloud/wp-stateless/issues/265 is closed.

[2019-01-11 12:17] antonkorotkov commented on #325
@alimuzzaman I want to test this one thoroughly. Do we have access to WP-Smush Pro plugin?

[2019-01-11 12:29] #300 closed, assigned to antonkorotkov

[2019-01-11 14:11] ewsopp commented on #336
Also - the options should be `Disable`, `Enable Editor`, `Enable Meta`, and `Enable Editor & Meta`.

In the screenshot above, it is missing the word "Enable".

[2019-01-11 14:47] ewsopp opened #339 "enable compatibility button in notice is not working"
![2019-01-11_09-46-13](https://user-images.githubusercontent.com/5578537/51040620-febacf00-1585-11e9-954f-a07b3bb77ed7.gif)

[2019-01-11 14:50] ewsopp commented on #339
Clicking the "Enable compatibility" button should enable the feature without having to navigate to the setting.

[2019-01-11 14:50] ewsopp commented on #339
Also - please capitalize the "C" in "Enable Compatibility"

[2019-01-13 21:48] alimuzzaman commented on #330
@antonkorotkov Yes it's safe. In that stage the plugin will be loaded. Previously the problem was we run the code without any hook/action.
But in this line is inside of a GForm hook.

[2019-01-13 21:54] alimuzzaman commented on #325
@antonkorotkov No we don't have.

[2019-01-13 22:22] alimuzzaman opened #340 "Uploads inserting local URL instead of GCS URL"
https://wordpress.org/support/topic/video-files-404-in-media-library/

We have Stateless mode. All files are uploading to the bucket correctly and getting deleted from our server correctly.

In the Media Library, all files pick up the googleapis link to the bucket correctly, example with an image file:

https://drive.google.com/file/d/1rVgW_zS9LB_OqHhPbGhyedogg0EypzHy/view?usp=sharing

Specificall

[2019-01-13 23:26] tamara-m commented on #340
Expected behavior:
https://drive.google.com/file/d/1rVgW_zS9LB_OqHhPbGhyedogg0EypzHy/view

What is happening when the file is a video file specifically:

https://drive.google.com/file/d/1Zi0tOoeRg5Dv75gamKFmCso27hWUZ-sv/view

Settings:

https://drive.google.com/file/d/1PdFq9J0N2U3IcaAUKJ9ySFFqopf7A91J/view
https://drive.google.com/file/d/1ulEXKieXmclWon84G5jLl8tdr4tUyTsC/view

[2019-01-14 08:29] #330 closed, assigned to antonkorotkov

[2019-01-14 08:44] antonkorotkov commented on #325
@alimuzzaman OK, how we developed this compatibility then?

[2019-01-14 08:46] alimuzzaman commented on #325
With free version then users tested it with pro version.

[2019-01-14 08:46] antonkorotkov commented on #336
@alimuzzaman this one done as well?

![image](https://user-images.githubusercontent.com/2276882/51102953-a2f08000-17e9-11e9-83ac-f17a01b29fe3.png)

[2019-01-14 08:48] antonkorotkov commented on #325
Ok. I see there only a change to possible plugin files. I'm going to close this.

[2019-01-14 08:48] #325 closed, assigned to antonkorotkov

[2019-01-14 09:03] alimuzzaman commented on #336
@antonkorotkov Sorry missed it.
Just made a commit.

[2019-01-14 09:12] antonkorotkov commented on #339
@alimuzzaman I tested it and I can confirm it, in fact, enables the option but for some reason it does not update the dropdown right away without page refresh. Can you check that?

[2019-01-14 09:13] #338 closed, assigned to antonkorotkov

[2019-01-14 09:13] alimuzzaman commented on #339
@antonkorotkov It's probably browser cache. It's working for me.

[2019-01-14 09:18] antonkorotkov commented on #339
Ok, let me test again

[2019-01-14 09:25] antonkorotkov commented on #339
Yeah, probably it was a cache.

[2019-01-14 09:25] #339 closed, assigned to antonkorotkov

[2019-01-14 09:26] antonkorotkov commented on #306
@ewsopp can we move this to the next milestone?

[2019-01-14 09:29] antonkorotkov commented on #265
Testing this: `ensure that "File URL Replacement" option is disabled by default for new installations.`

[2019-01-14 09:40] antonkorotkov commented on #265
Ok, so to fix performance problem need to use `Disable` or `Enable Editor` options for `File URL Replacement` setting.

[2019-01-14 09:41] #265 closed, assigned to antonkorotkov

[2019-01-14 10:05] antonkorotkov commented on #327
All points done here

[2019-01-14 10:05] #327 closed, assigned to antonkorotkov

[2019-01-15 22:50] tamara-m commented on #340
alimuzzaman I think I have found the issue and solution to our problem.

How can I share my change so that it gets included in the plugin and we can continue updating it?

What seems to fix the issue is replacing all instances of `$sm_cloud['fileLink']` with `$sm_cloud[0]['fileLink']` in the function `wp_get_attachment_url` from

/lib/classes/class-bootstrap.php

With the current `$sm_cloud['fileL

[2019-01-16 14:46] marratj commented on #168
Hi there, after a long time, I'm digging this out again :-)

I'm currently playing around with the option of signing URLs. When simply using the prototype code from @alimuzzaman signing only happens when I manually sync the files in the settings page.

As I have a bit a different use-case also (putting unregistered non-media files in the Storage bucket via `do_action('sm:sync::syncFile')`) I curre

[2019-01-18 16:23] alimuzzaman opened #342 "404 Error on Responsive Images"
reference https://wordpress.org/support/topic/404-error-on-responsive-images/

[2019-01-19 09:59] scne commented on #329
Is it possible using dynamic **Bucket Folder** into configuration?

[2019-01-21 19:13] tripledm commented on #265
hello, thanks for this thread super awesome! I have just one question if URL replacement set to Enable Editor, if it's run once on a post it's changed it and it won't need to change it again? Just to check sorry it might be an obvious question but it does state that it does not change the database and post content is stored there plus the permalink for a post so just checking. Thank you in advance

[2019-01-21 19:16] ewsopp commented on #265
No changes are made to the database.

If you want to make the change permanent, you can do a find/replace with other database related plugins or by working with the database directly (sequel pro, phpmyadmin, etc).

Hope that answers your question.

[2019-01-23 14:37] renduples commented on #336
You will have to re-open this issue
Upgrading from Version 2.1.9 to 2.2.1 - breaks everything
We have tried every setting for File URL Replacement but no joy.
It incorrectly sets the path in the srcset element

[2019-01-23 14:47] ewsopp commented on #336
@renduples what do you mean by "breaks everything." Can you be more specific?

[2019-01-23 14:49] ewsopp commented on #336
I think this may be related to https://github.com/wpCloud/wp-stateless/issues/342. Could you try using the latest version linked to within that issue please?

[2019-01-23 14:54] renduples commented on #336
Correct after upgrading to 2.2.1 srcset no longer reference Google Cloud but rather wp-uploads

[2019-01-23 22:25] jjtroberts opened #343 "Metadata Pathing bug when using ud_get_stateless_media()->add_media( false, id );"
I'm programmatically doing the following via Ansible as part of a site migration playbook but some of the images are being uploaded to the wrong GCS bucket folder.

[code]

Some of the assets were uploaded correctly, while a large portion were uploaded to the GCS bucket and placed in a folder named "./" which is inaccessible except by using `gsutil` commands. Somehow the pathing in the metadata is

[2019-01-23 22:28] jjtroberts commented on #343
I'm wondering if I shouldn't be passing in "false" for the $metadata parameter as it gets used to generate the fileLink here: https://github.com/wpCloud/wp-stateless/blob/88a38db18ae69d7b5d2ec3a57df4a3ea468d2029/lib/classes/class-utility.php#L236

No, that's not it. Perhaps $file is getting unexpected output because I'm running roots bedrock?
https://github.com/wpCloud/wp-stateless/blob/88a38db18a

[2019-01-23 23:06] jjtroberts commented on #343
$upload_dir[ 'basedir' ] gives this:
[code]
basedir is a symlink: `uploads -> /home/demo/obfuscation.com/uploads`

But when I execute this script in the environment, all seems as it should be:
`wp eval-file sm.php`
[code]

array(6) {
  ["path"]=>
  string(69) "/chroot/home/demo/blah/docroot/web/app/uploads"
  ["url"]=>
  string(47) "https://obfuscation.com/app/uploads"
  ["subdir"]=>
  string(0) "

[2019-01-24 04:11] jjtroberts commented on #343
I rolled back wp-stateless to 2.1.5 and have been unable to replicate this behavior.

I re-updated to 2.2.1 and was able to reproduce the creation of a "./" directory in GCS when using the UI to sync. I tried again from clean install with transients and cache reset, same results.

![image](https://user-images.githubusercontent.com/18486187/51654069-cccd4380-1f5b-11e9-8fd7-073bcc008629.png)

[2019-01-24 04:19] jjtroberts commented on #343
I was going to start updating plugin versions incrementally, but upon updating from 2.1.5 to 2.1.6 this behavior showed up again.

[2019-01-24 16:48] jjtroberts commented on #232
See: https://github.com/wpCloud/wp-stateless/issues/343

[2019-01-24 18:05] jjtroberts commented on #343
2.1.5 on the left, 2.1.6 on the right: https://github.com/wpCloud/wp-stateless/blob/2.1.5/lib/classes/class-utility.php#L241
![image](https://user-images.githubusercontent.com/18486187/51698537-1e171a80-1fd0-11e9-819a-446cf699e26c.png)

Running tests on these:

string(86) "/chroot/home/demo/obfuscation.com/docroot/web/app/uploads/the-carlisle.png"
string(16) "the-carlisle.png"

2.1.5: string(0) ""

[2019-01-24 22:43] jjtroberts commented on #343
I've tried this on a few other dev sites, some legacy, others running roots/bedrock. The problem only occurs on Bedrock-based sites and may have something to do with how it moves the uploads directory around. https://github.com/roots/bedrock

May not be a bedrock thing as it could simply be that the Wordpress option to stop storing files in year/month directories results in assets in uploads. And

[2019-01-28 16:05] alimuzzaman opened #344 "Exclude files starting with certain characters"
https://wordpress.org/support/topic/exclude-files-starting-with-certain-characters/

We walked into an issue using HTML to Canvas, where the Google Cloud bucket doesn’t allow us to take a screenshot of a certain image. It does work when we don’t use GC for these files, but host them on our normal server. Using CORS on the bucket isn’t an option, due to security reasons and running a multisite envi

[2019-01-28 16:10] alimuzzaman commented on #344
I am thinking about adding a short-circuit filter, so that users/other plugin can skip the **sync** if wants.

[2019-01-28 16:52] alimuzzaman commented on #340
@tamara-m

I am not sure how did you managed to get a 0 indexed sm_cloud, that isn't normal at all.
`Array
(
    [0] => Array
        (
            [id] => `

Expected is `Array
        (
            [id] => `

`$sm_cloud = get_post_meta( $post_id, 'sm_cloud', 1 );` should have returned single value as the third parameter is passed.
Can you check how the value is saved in database?

Using `$sm_clo

[2019-01-28 17:01] alimuzzaman commented on #340
What do you mean?

[2019-01-28 17:18] alimuzzaman opened #345 "WPML media translation support"
https://wordpress.org/support/topic/wpml-support-101/
https://wpml.org/forums/topic/incompatibility-between-wpml-and-wp-stateless-plugin/

There seems to be an incompatibility between wp-stateless and WPML
https://wpml.org/forums/topic/incompatibility-between-wpml-and-wp-stateless-plugin/#post-3065622

[2019-01-28 19:48] tamara-m commented on #340
This is how the plugin saved the data. We are using the plugin out of the box with 0 customization. So it is somehow the plugin core that has managed to get a 0 indexed sm_cloud.

Yes, this is an example:

`a:10:{s:2:"id";s:65:"stateless-peuniverse/2019/01/d0be3728-easter.pdf/1548516830948254";s:4:"name";s:27:"2019/01/d0be3728-easter.pdf";s:8:"fileLink";s:79:"https://storage.googleapis.com/statele

[2019-01-30 14:13] #342 closed, assigned to alimuzzaman

[2019-01-30 14:17] ewsopp commented on #336
@renduples the issue with srcset should be resolved with today's v2.2.2 release (see issue https://github.com/wpCloud/wp-stateless/issues/342).

Please upgrade and let us know if you have any more problems. Thank you

[2019-01-30 14:17] #336 closed, assigned to antonkorotkov

[2019-01-30 17:02] danielsalare opened #348 "Broken URL"
For some reason I get an empty space on the preview url, and all images load in the site with that empty space, how can I fix that?

<img width="110" alt="screen shot 2019-01-30 at 11 01 21 am" src="https://user-images.githubusercontent.com/364171/51998560-86f20d00-247e-11e9-832f-1a67de04efdf.png">

![screen shot 2019-01-30 at 11 01 57 am](https://user-images.githubusercontent.com/364171/51998627-

[2019-01-30 22:22] etchalon opened #349 "SVGs with Smush"
If you have both WP-Stateless enabled, and Smush enabled, with compatibility turned on, SVGs will upload to the Library, but are not transferred to GCS.

Replicated with Smush 3.0.2 and WP-Stateless 2.2.2

[2019-01-31 02:06] pappinvijak opened #350 "Error after update v2.2.2"
PHP message: PHP Warning:  substr_compare(): The start position cannot exceed initial string length in /path/cloudbooklet.com/wp-content/plugins/wp-stateless/lib/classes/class-bootstrap.php on line 303

Server Details:
WP-version: 5.0.3
PHP: 7.2
WP-Stateless: 2.2.2

[2019-01-31 08:31] antonkorotkov commented on #348
@danielsalare it looks like you Domain setting has an empty space as well. Check please and remove it and save settings. We will fix it on our end as well for future releases.

[2019-01-31 14:45] #236 closed, assigned to nobody

[2019-01-31 14:51] #239 closed, assigned to nobody

[2019-01-31 14:53] #232 closed, assigned to nobody

[2019-01-31 15:42] antonkorotkov commented on #222
Closing. This is working in version 2.2.2 https://wordpress.org/plugins/wp-stateless/ Reopen the issues if still have questions.

[2019-01-31 15:42] #222 closed, assigned to nobody

[2019-01-31 15:45] antonkorotkov commented on #225
Closing due to no responses.

[2019-01-31 15:45] #225 closed, assigned to nobody

[2019-01-31 16:04] antonkorotkov commented on #233
Closing for now due to inactivity. @9march, please feel free to reopen the issue if you still have problems.

[2019-01-31 16:04] #233 closed, assigned to nobody

[2019-01-31 16:06] antonkorotkov commented on #258
Closing due to no responses.

[2019-01-31 16:06] #258 closed, assigned to ewsopp

[2019-01-31 16:09] antonkorotkov commented on #306
@Hooace hey, do you still have any issues with Polylang?

[2019-01-31 16:10] antonkorotkov commented on #311
Closing. Reopen if still have questions.

[2019-01-31 16:10] #311 closed, assigned to nobody

[2019-01-31 16:13] antonkorotkov commented on #332
@alimuzzaman need to check if this could be fixed in term of Gravity Forms compatibility.

[2019-01-31 16:18] antonkorotkov commented on #270
Closing due to inactivity. Reopen if still have any questions.

[2019-01-31 16:18] #270 closed, assigned to nobody

[2019-01-31 16:22] antonkorotkov commented on #267
Separate sync solution is still underway. Not much progress, though. Follow this issue for details https://github.com/wpCloud/wp-stateless/issues/211 Closing this issue due to duplicating.

[2019-01-31 16:22] #267 closed, assigned to nobody

[2019-01-31 16:36] antonkorotkov commented on #329
Hey @scne. Is it still relevant? It looks like I do not completely understand your use case. Can you describe it in more details?

[2019-01-31 16:46] antonkorotkov commented on #305
@alimuzzaman is it related to WP Smush compatibility? Were you able to check what is wrong there?

[2019-01-31 17:03] danielsalare commented on #348
Thanks, but if I remove the domain, then save, and add it again, the issue persists, is there any other way to change this?

[2019-02-01 08:51] antonkorotkov commented on #348
@danielsalare I mean remove the unwanted space but not the entire domain. In any case, it is going to be fixed in the next release.

[2019-02-01 22:04] larsha commented on #350
Nice work @antonkorotkov, my bad missing this warning adding the new calculation for srcset.

[2019-02-02 01:40] danielsalare opened #351 "Divi Child Theme"
We have a Divi child theme but the Divi option is not enabled. What does this compability do?
Everything seems to be working fine, but the only issue is that IDP (product detail) is not using the google storage images.

<img width="696" alt="screen shot 2019-02-01 at 7 36 17 pm" src="https://user-images.githubusercontent.com/364171/52157968-2c60d880-2659-11e9-86fe-a3ece2bb3517.png">
<img width="14

[2019-02-02 21:07] surrealwebs opened #352 "get_post_metadata filter breaks multi-dimensional arrays when retrieved with $single = true"
I'm running into an issue where I'm getting the wrong data when I call get_post_meta( $post_id, 'my_meta_field', true);

My data is in a multidimensional array:

`$data = array( array( 'foo' => 'bar', 'boo' => 'far' ), array( 'far' => 'boo', 'bar' => 'foo' ) );`

This is how I save the data:

`update_post_meta( $post_id, 'my_meta_field', $data );`

Because of how postmeta works in WordPress, what

[2019-02-04 12:29] antonkorotkov commented on #352
@surrealwebs hey. Thanks for sharing. We were able to replicate the issue. It actually appears when meta value has URLs to the attachments. It will be fixed in the next plugin release.

[2019-02-04 14:58] antonkorotkov commented on #340
I could not replicate the issue. MP4 file has been successfully uploaded:

![image](https://user-images.githubusercontent.com/2276882/52216024-05471880-289e-11e9-81cf-6c6e5d7fd5ee.png)

[2019-02-04 16:36] tamara-m commented on #340
The problem was never the upload, that always worked OK.

The issue was on function `wp_get_attachment_url` in `wp-stateless/lib/classes/class-bootstrap.php`

Updating the plugin to version 2.2.2 **seems to have solved the issue**!

[2019-02-05 09:41] antonkorotkov commented on #340
Ah, glad to know! Please open a new issue if you still have any questions.

Thanks. Closing.

[2019-02-05 09:41] #340 closed, assigned to antonkorotkov

[2019-02-05 15:18] danielsalare opened #353 "Woocommerce IDP images"
For some reason product images are not changing the url to the cloud storage url. Is there any other special configuration to accomplish this?

[2019-02-07 10:59] martin-dmtrv commented on #350
In `wp-stateless/lib/classes/class-bootstrap.php`
On line 305 you can change the if/else block to:

[code]

I am not sure this is the best way to fix it but it fixed it for me. I had this problem on a production news website and had to act quickly.

If someone else has the problem - you can try this quick fix.

[2019-02-07 11:01] antonkorotkov commented on #350
@martin-dmtrv this is the fix we already did but not released yet: https://github.com/wpCloud/wp-stateless/commit/4a2213ff36aae5ece8445f6a8c824209e56f4d04

[2019-02-07 15:42] martin-dmtrv commented on #350
@antonkorotkov I just tested that fix. It appears ok. But the official plugin update is currently broken. I saw many other websites display the same error at the moment.

[2019-02-07 15:50] antonkorotkov commented on #350
@martin-dmtrv we will try to make a release ASAP.

[2019-02-07 22:20] danielsalare commented on #353
Hi, any ideas on why images are not working from the CDN on woocommerce ? Thanks

[2019-02-08 09:40] antonkorotkov commented on #353
Hello, can you describe how to replicate this in details?

[2019-02-08 15:11] danielsalare commented on #353
If we activate the plugin, everything seems to work fine, but for some reason on a woocommerce product detail page, the images of the product are not displayed using statless cdn url are we missing any configuration or why these images don't load with the cdn ?

[2019-02-08 23:30] draped12 commented on #353
I get the same issue! Product images do not load on product page and I am not able to upload featured images for products.

[2019-02-11 18:06] danielsalare commented on #353
Have you managed to make it work?

[2019-02-11 23:02] draped12 commented on #353
Only reverting back to the storage.googleapis.com domain.

Using a custom subdomain with https creates issues with the product image not showing and feature images not uploading. Disabling https to http prevents images from loading site wide.

[2019-02-12 02:52] dchenk opened #354 "A public API of the plugin"
First, this is a great plugin, so thanks for all your work whoever develops it.

I have a situation where I need to upload files (e.g., photos cropped using another plugin) to my GCS bucket just the way WP-Stateless does it. However, I don't want to add another version of the large Google client library for PHP to access the GCS service. Since WP-Stateless already has the client set up with the pa

[2019-02-12 13:07] alimuzzaman commented on #354
Hi @dchenk
### For media library attachments:
you can use `wp_update_attachment_metadata` filter. It's defined in `wpCloud\StatelessMedia\Utility` class. [lib/classes/class-utility.php](https://github.com/wpCloud/wp-stateless/blob/v2.2/lib/classes/class-utility.php#L168)
You can also look into this file [lib/classes/class-bootstrap.php](https://github.com/wpCloud/wp-stateless/blob/v2.2/lib/classes

[2019-02-14 09:44] alimuzzaman commented on #349
@etchalon
SVG isn't supported by default in WordPress.
What plugin are you using to allow the SVG Upload?

[2019-02-14 12:09] #352 closed, assigned to antonkorotkov

[2019-02-14 12:09] #350 closed, assigned to antonkorotkov

[2019-02-14 12:09] #348 closed, assigned to antonkorotkov

[2019-02-14 12:10] #343 closed, assigned to antonkorotkov

[2019-02-14 12:42] antonkorotkov commented on #306
Ok, assuming there are no issues anymore. Please create a new issue if you still have any problems.

[2019-02-14 12:42] #306 closed, assigned to antonkorotkov

[2019-02-14 13:15] alimuzzaman commented on #351
@danielsalare
The compatibility is for `Divi Builder Export`. You can check issue #224 for details.
For now you can use constant `WP_STATELESS_COMPATIBILITY_DIVI` to enable it.

Can you please clarify IDP (product detail)?

[2019-02-14 15:51] danielsalare commented on #351
The IDP issue is detailed on issue #353

Regards

[2019-02-15 08:50] stefanomaxis opened #356 "filter uploads and upload folder"
Hi, is it possible to filter by content-type (pdf, docx, …)?
I’d like to use it only to store uploaded documents and not for the website.
And it’s possible to change the upload folder from year/month to post_id? It could be easier to find files on cloud storage.

Thanks
Stefano

[2019-02-16 22:51] afonseca08 opened #357 "Feature request: Support for webp files (LiteSpeed Cache)"
Although not yet a native WordPress format, several image conversion plugins support webp as well as caching plugins. Webp support is growing around the web and supported by modern browsers today. Those looking to optimize loading times are leveraging this new format as well as CDN technology so adding support for webp in wp-stateless would be beneficial.

[2019-02-17 13:29] alimuzzaman commented on #353
@danielsalare
Can you test with the latest version of the plugin again?

Can you explain the term `IDP`? I am not familiar with it.

In my test feature image and gallery images seems to be working fine.

I have used
- WP-Stateless: 2.2.3
- WooCommerce: 3.5.4
- Divi: 3.19.7

[2019-02-18 18:10] danielsalare commented on #353
Hi,

Thanks...

IDP is the Item detail page or product page, for some reason images on product pages are not working with stateless url.

We have:
WP-Stateless: 2.2.3
Woocommerce: 3.5.3
Divi: 3.19.1

[2019-02-21 12:48] antonkorotkov commented on #354
@dchenk do you still have questions?

[2019-02-21 12:49] antonkorotkov commented on #356
@alimuzzaman we will need to investigate if this is possible later.

[2019-02-21 12:51] antonkorotkov commented on #353
@alimuzzaman were you able to replicate the issue on our end?

[2019-02-21 13:40] alimuzzaman commented on #353
@antonkorotkov No, it was working fine.

[2019-02-21 13:42] alimuzzaman commented on #356
@stefanomaxis @antonkorotkov I suggested a possible solution in [wp.org forum](https://wordpress.org/support/topic/filter-uploads-and-upload-folder/#post-11212723).

[2019-02-21 13:59] antonkorotkov commented on #356
Ah, yeah, sorry.

@stefanomaxis do you still have questions?

[2019-02-21 15:09] danielsalare commented on #353
Is there a way I can contact you privately to show you the site and configuration so we can debug this?

[2019-02-21 15:39] alimuzzaman commented on #332
@Jeradin it's working fine for me.
@antonkorotkov I can't replicate the issue.

[2019-02-21 16:14] antonkorotkov commented on #332
@alimuzzaman you checked with Cache-Busting enabled/disabled, right?

[2019-02-21 16:19] alimuzzaman commented on #353
@danielsalare
Here is my email address alim.alimuzzaman@usabilitydynamics.com

[2019-02-21 16:26] dchenk commented on #354
Oh sorry I should've replied. That answered my question. Thanks a lot!

[2019-02-21 16:27] #354 closed, assigned to nobody

[2019-02-21 17:13] alimuzzaman commented on #349
@etchalon
I have tested with [SVG Support](https://wordpress.org/plugins/svg-support/) plugin. It's working fine.

I am not sure how that happened in your case but I wasn't able to replicate the issue.

[2019-02-21 17:17] alimuzzaman commented on #332
@antonkorotkov Yes, I tested with both enabled and disabled.
I have used `File Upload` field without any modification.

[2019-02-21 17:30] Jeradin commented on #332
@alimuzzaman Single field upload, not multi upload? I will update the plugin and test again.

[2019-02-21 17:46] alimuzzaman commented on #332
@Jeradin Yes, I used single file field, didn't select the `Enable Multi-File Upload` checkbox.

[2019-02-23 16:06] alimuzzaman opened #358 "Issue with non SSL custom domain."
`->get_gs_host()` function wasn't returning the correct URL.

[2019-02-25 07:59] antonkorotkov commented on #332
Hey @Jeradin

Did you have a chance to test with the latest plugin version?

[2019-02-25 08:00] antonkorotkov commented on #349
Hey @etchalon

Can you please try if it works with the latest plugin version that is 2.2.3? The issue also may be related to the plugin that enables SVG upload.

Thanks.

[2019-02-25 16:46] Jeradin commented on #332
@antonkorotkov I did and right now having GF Stateless extension being active breaks my upload fields completely after the latest update. I am going to assume its something on the WP multisite install since its working for you all.

I will create a fresh local site this weekend and run more tests.

Thank you for your time.

[2019-02-25 16:46] #332 closed, assigned to alimuzzaman

[2019-02-26 15:10] antonkorotkov commented on #349
Ok, moving this issue over the next milestone.

[2019-02-26 15:16] antonkorotkov commented on #351
@alimuzzaman are we good to close this issue? For me it looks like a duplicate of #353

[2019-02-26 15:19] antonkorotkov commented on #356
Closing the issue assuming it is resolved. Please reopen/create new one if you think it is not.

[2019-02-26 15:19] #356 closed, assigned to alimuzzaman

[2019-02-26 15:20] alimuzzaman commented on #351
@antonKorotkov
Yes you can close it after reviewing the commit.

[2019-02-26 15:20] antonkorotkov commented on #358
@alimuzzaman Is it something users reported or you found that?

[2019-02-26 15:22] #351 closed, assigned to alimuzzaman

[2019-02-26 15:24] alimuzzaman commented on #358
@antonkorotkov I found it.

[2019-02-26 15:40] antonkorotkov commented on #358
@alimuzzaman Not sure if that is ok but can you check?

When I type some domain name it does not reflect it in the preview and it does not use it on front-end.

![image](https://user-images.githubusercontent.com/2276882/53425276-6077b100-39ed-11e9-8ba6-85d91928e218.png)

But it does when I add `https://` (`http://` is not working as well)

![image](https://user-images.githubusercontent.com/2276882

[2019-02-26 15:44] antonkorotkov commented on #353
Moving this issue over the next milestone.

[2019-02-27 20:09] alimuzzaman commented on #358
@antonkorotkov

This is why it wasn't working for you.

It's true only when using non SSL domain with [google CNAME](https://cloud.google.com/storage/docs/xml-api/reference-uris#cname).

But when using CDN/load balancer it's not required.

[2019-02-27 20:52] alimuzzaman opened #359 "Update compatibility with new filter when #344 completes."
**Imagify** and **Smush** compatibility need to be updated with the new filter `(wp_stateless_skip_add_media)` added in #344.

[2019-02-27 21:00] alimuzzaman commented on #344
I have added `wp_stateless_skip_add_media` as filter.
With this filter user can skip the sync if they want.

[code]

[2019-02-28 10:14] antonkorotkov commented on #358
Ok, got it. Closing the issue then.

[2019-02-28 10:14] #358 closed, assigned to alimuzzaman

[2019-02-28 10:17] antonkorotkov commented on #344
Looks good. Is it done? Could be closed?

[2019-02-28 10:18] antonkorotkov commented on #359
Is it something you would do in 2.2.4 milestone?

[2019-02-28 11:57] alimuzzaman commented on #359
Yes, simple changes.

[2019-02-28 12:09] alimuzzaman commented on #344
@antonkorotkov yes.

[2019-02-28 12:32] #344 closed, assigned to antonkorotkov

[2019-02-28 18:54] alimuzzaman commented on #359
@antonkorotkov you can review now.

[2019-03-01 08:06] antonkorotkov commented on #359
@alimuzzaman just to clarify - before you added this new filter you were using `remove_filter` in order to disable sync in different conditions. And now you did the same but using the newly created filter, right?

[2019-03-01 08:13] alimuzzaman commented on #359
@antonkorotkov
Yes, disabled sync when the attachment is supported for optimization.

[2019-03-01 08:29] #359 closed, assigned to alimuzzaman

[2019-03-04 17:38] alimuzzaman opened #360 "Start manual sync from a specific point/attachment."
https://wordpress.org/support/topic/continue-didnt-work/

[2019-03-04 18:13] alimuzzaman commented on #319
Hi @dchenk ,
It's just WordPress not allowing you to upload BMP files.

If you can make it to the media library then **Stateless** will sync the image.
WP Stateless will sync anything if it can make to the media library.

On my test Stateless was successfully able to sync the image to GCS on upload.

[2019-03-04 18:28] alimuzzaman commented on #357
Hi @afonseca08,
So far I have found that **ShortPixel Image Optimizer** can generate webp when it optimize image.

I think it's not something we can find generic solution, we have add support plugin by plugin.

So we will try to include support for webp generated by ShortPixel inside of the existing compatibility for ShortPixel.

[2019-03-04 19:11] afonseca08 commented on #357
Hi @alimuzzaman, thank you for following-up. I am already using the LiteSpeed Cache for WP plugin:
 [https://wordpress.org/plugins/litespeed-cache/](url) which also supports webp. Something like ShortPixel would duplicate functionality and is an additional cost so not an option for me.

Would you be able to look into LiteSpeed Cache plugin compatibility?

[2019-03-04 19:35] alimuzzaman commented on #357
@afonseca08
Yes will take a look.

[2019-03-05 13:05] alimuzzaman commented on #357
Hi @afonseca08 to test LiteSpeed do I have to install LiteSpeed server?

[2019-03-05 16:30] alimuzzaman commented on #357
Hi @afonseca08
Would you like to help me setting up the LiteSpeed, I don't experience with LiteSpeed.
Please contact me so that I can send you login details. alim@udx.io

[2019-03-05 20:06] afonseca08 commented on #357
@alimuzzaman Sure, I just sent you an e-mail. You don't need LiteSpeed server to use the plugin.

[2019-03-07 19:22] alimuzzaman opened #361 "Change default value for CACHE BUSTING"
- [x] Change the default value for CACHE BUSTING from `TRUE` to `FALSE`.

- [x] Update the dafault value in wiki.

[2019-03-07 20:27] alimuzzaman commented on #360
Sync process start from new to old attachment.

We will add a input field to so that user can manually enter the id from which he wants to process the image.

I am not sure where should I add the field.

[2019-03-09 18:51] alimuzzaman commented on #360
@ewsopp here is the UI I have come up with.

![image](https://user-images.githubusercontent.com/6744156/54075861-7ed38b80-42ce-11e9-8f88-f69d2e149698.png)

[2019-03-09 20:23] alimuzzaman opened #362 "GCS URL isn't being set until image optimized"
https://wordpress.org/support/topic/new-media-items-not-updating-with-correct-url/

Affected compatibility: Imagify and Smush.

The sync is being done after Imagify complete the optimization.  So we don't get GCS URL until the optimization is completed.

We previously solved it by syncing the full size image first then sync all sizes again when optimization completes.
But the issue in 2.2.4 arrive

[2019-03-11 08:13] antonkorotkov commented on #360
@alimuzzaman @ewsopp UI looks dirty on my end. What if we re-design these warnings somehow? Probably locate them under the option? Also, I think Attachment ID should be hidden unless `Continue the last process` is checked.

![image](https://user-images.githubusercontent.com/2276882/54108935-e29ca800-43e5-11e9-990a-9f82c760f74a.png)

[2019-03-11 08:42] antonkorotkov commented on #319
@dchenk Hey. So as you can see WordPress (at least 5.0) does not support BMP image format by default:

![image](https://user-images.githubusercontent.com/2276882/54109447-5e4b2480-43e7-11e9-9f16-f21d310e895f.png)

Check this out https://wpsmackdown.com/add-remove-filetypes-wordpress-media-library/ on how to control allowed types.

WP-Stateless will be able to process it once type is allowed.

[2019-03-11 08:42] #319 closed, assigned to alimuzzaman

[2019-03-11 08:43] antonkorotkov commented on #349
Closing due to no response. Feel free to re-open if still have questions.

[2019-03-11 08:43] #349 closed, assigned to alimuzzaman

[2019-03-11 08:45] antonkorotkov commented on #353
@alimuzzaman Can you let me know what is the status of this issue?

[2019-03-11 08:45] antonkorotkov commented on #357
@alimuzzaman Can you let me know what is the status of this issue?

[2019-03-11 13:57] ewsopp commented on #360
I agree. Can we style the descriptions to look similar to the settings tab?

[2019-03-14 18:12] alimuzzaman commented on #353
@antonkorotkov
According to Marcus the user have resolved the issue.
And the issue was on there side.

[2019-03-14 18:19] alimuzzaman commented on #357
@antonkorotkov
Contacted with LiteSpeed support team, they added some new hook.

Here is the response:

[2019-03-15 11:52] alimuzzaman commented on #360
@antonkorotkov is this look good?
![image](https://user-images.githubusercontent.com/6744156/54429410-a4d3b280-474a-11e9-87df-84eb696a6b37.png)

[2019-03-15 12:00] antonkorotkov commented on #360
Looks better now. Need input from @ewsopp

[2019-03-15 12:02] ewsopp commented on #360
I think it's good enough. At some point we will need to redesign it, but not now.

As long as it works good! :)

[2019-03-15 22:04] amankapoor opened #363 "How are the images optimised in this plugin?"
Hi,

I got to know about this plugin a couple of weeks back and finally decided to try it. Love it.

I am trying to understand how the plugin optimizes the images. I am using Elementor and it's hello theme, and this plugin is generating three sizes. The images are somewhat optimized when I look at the sizes and compare them with what my current image optimization service provides.

I am not very m

[2019-03-16 04:50] alimuzzaman commented on #363
Hi @amankapoor,

1.  Sorry our plugin **don't optimize image**, it just upload the existing image and all of it's sizes to GCS.

2. No that  isn't responsible for generating different sizes. This is responsible for uploading the image [lib/classes/class-bootstrap.php](https://github.com/wpCloud/wp-stateless/blob/v2.2/lib/classes/class-bootstrap.php#L227).

3. When manually uploading the image (fro

[2019-03-16 06:27] alimuzzaman commented on #357
@afonseca08
Can you please test?
To test you have to enable compatibility from Media >> Stateless Settings >> Compatibility tab.

https://github.com/wpCloud/wp-stateless/tree/5751b06f2d38a9ffa3a973d0f1d51c7995086f17

[2019-03-16 12:41] amankapoor commented on #363
Hi @alimuzzaman,

Thank you for writing back and providing the references.

I was using imageboss.me service on top of this. They have many features but there are some compatibility issues between these two plugins which don't let me use those features.

I have mentioned about it here [https://github.com/imageboss/imageboss-wordpress/issues/1](https://github.com/imageboss/imageboss-wordpress/issue

[2019-03-16 13:41] alimuzzaman commented on #363
Hi @amankapoor,
Can you please add more details to the issue? For example add screenshot, error message if any.

[2019-03-16 13:51] alimuzzaman opened #364 "ShortPixel image optimization"
- [x] Support for webp files

- [x] Backup sync

- [x] Improve sync

[2019-03-16 13:53] alimuzzaman commented on #357
Compatibility for ShortPixel Image Optimizer will be handle in separate issue #364.

[2019-03-16 14:32] alimuzzaman commented on #362
It also prevents the manual sync.

[2019-03-16 15:01] alimuzzaman commented on #362
@ewsopp
Now GCS url will be used but preview won't be available until the image optimization is done.

So we have two option:

1. We don't skip the sync on upload. We will have to sync twice, once on upload, another on when optimization done.
2. We add a constant to choose whether to upload twice or performance. We can try to add a loading animation on the edit post page until the image is optimiz

[2019-03-18 09:04] #353 closed, assigned to alimuzzaman

[2019-03-18 09:14] antonkorotkov commented on #360
Works for me.

[2019-03-18 09:14] #360 closed, assigned to ewsopp, alimuzzaman

[2019-03-18 09:31] antonkorotkov commented on #362
I think this issue should be moved to the next milestone. @alimuzzaman Can you make sure your commits to this issue do not break anything or just revert them so that we can do a release safely. We need to do it today/tomorrow.

[2019-03-18 10:03] antonkorotkov commented on #329
Closing due to no response. Please feel free to re-open.

[2019-03-18 10:03] #329 closed, assigned to nobody

[2019-03-18 10:04] antonkorotkov commented on #321
Looks resolved. Closing.

[2019-03-18 10:04] #321 closed, assigned to alimuzzaman

[2019-03-18 10:06] #308 closed, assigned to nobody

[2019-03-18 10:10] antonkorotkov commented on #111
@alimuzzaman does this old issue looks like there something we can do? Does it still make sense?

[2019-03-19 10:05] antonkorotkov commented on #357
@alimuzzaman Can you explain how to test `LiteSpeed Cache` with `WP-Stateless`? When/Where the webp appears or should it be uploaded manually? I tried but WP does not allow it so I assume this is not what I should do.

[2019-03-20 09:33] alimuzzaman commented on #357
@antonkorotkov
You have to enable the `Optimize WebP Versions` setting in `LiteSpeed Cache Settings` >> `Media` tab

[2019-03-20 14:09] alimuzzaman commented on #362
@antonkorotkov
No it will not break anything.

[2019-03-20 14:10] antonkorotkov commented on #362
Ok, thanks

[2019-03-20 15:15] antonkorotkov commented on #357
Ok, it works for me. I see webp files on GCS

![image](https://user-images.githubusercontent.com/2276882/54696030-b8f52680-4b33-11e9-81f6-fe579280253c.png)

[2019-03-20 15:15] #357 closed, assigned to antonkorotkov

[2019-03-21 05:01] alimuzzaman opened #365 "LiteSpeed Cache Image Optimization compatibility"
https://wordpress.org/support/topic/litespeed-cache-image-optimization-2/
Ok, so I have just swithed to Litespeed hosting, configured Lightspeed cache properly, and I wanted to optimize the images on the website using Litespeed.

Prior to this, I have configured WP Stateless plugin to stateless mode, meaning that all my images are served from GCS, and none of them are on my server.

I hit “Send op

[2019-03-21 15:06] alimuzzaman opened #366 "Check compatibility with WP Smush"
https://wordpress.org/support/topic/after-synchronize-the-images-still-in-media-library/#post-11337831

Related #362

[2019-03-21 19:41] ram-nadella opened #367 "Fatal error leading to 500 error page across site when activated"
When I activated this plugin and proceeded to set the values in Stateless Settings (went the manual route) and set to Stateless mode, I started seeing all my Wordpress admin pages return 500 (haven't checked the user facing pages).

Found this in the apache error log:

[code]

Looks like the install step needs a composer install? Or is the vendor directory out of date?

Running `composer install`

[2019-03-22 08:06] antonkorotkov commented on #367
@ram-nadella

Do you use Git or SVN on your deployment? If so check what it's ignoring, probably there is a `log` entry which could cause the following issue.

[2019-03-23 06:46] alimuzzaman opened #368 "Some compatibility having issue if root dir is set."
https://wordpress.org/support/topic/css-not-working-through-siteorigin-css/

In some compatibility  root dir isn't included in the returning URL.

We need to apply `wp_stateless_bucket_link` filter.

[2019-03-23 12:36] alimuzzaman opened #369 "Add notice for JS error."
From Eric:

From Andy:

![image](https://user-images.githubusercontent.com/6744156/54866094-23a79b80-4d9a-11e9-8b1f-e2c7f4c26282.png)

[2019-03-25 07:52] antonkorotkov commented on #368
@alimuzzaman do you need me to work on this? I see you do commits.

[2019-03-25 08:02] antonkorotkov commented on #369
I don't see any JS errors. I think that the required JS or CSS file is not simply included on the network. Working on it.

[2019-03-25 09:33] antonkorotkov commented on #369
@alimuzzaman I've fixed assets inclusion but there still something incorrect as for me.

![image](https://user-images.githubusercontent.com/2276882/54908900-9b3c0e80-4ef1-11e9-80f5-c168c0340d23.png)

Not sure what means false in these fields. These are default values after the network setup by setup assistant. Can you check that? Merge my branch into yours to get the fix.

[2019-03-25 09:34] alimuzzaman commented on #369
@antonkorotkov
OK will check that.

[2019-03-27 08:31] antonkorotkov opened #370 "Multisite network tables not removed together with site"
https://wordpress.org/support/topic/multisite-network-tables-not-removed-together-with-site/

[2019-03-27 09:53] plenge opened #371 "Support for EWWW Image Optimizer"
Are there any plans to support EWWW Image optimizer?
https://ewww.io/

[2019-03-29 17:47] ram-nadella commented on #367
@antonkorotkov thanks for the quick reply.

We are using git + capistrano and it turned out to be what you guessed, `log` was in the `.gitignore` file in the parent directory.

Closing this since it's not an issue with the plugin.

[2019-03-29 17:47] #367 closed, assigned to antonkorotkov

[2019-03-31 22:03] alimuzzaman commented on #362
@antonkorotkov Need help.

[2019-04-01 07:41] antonkorotkov commented on #362
what exactly?

[2019-04-01 07:56] alimuzzaman commented on #362
Syncing in Stateless mode with image optimizer is a mess.

The normal process for sync in Stateless mode with image optimizer:

1. Image get synced and deleted from the server.
2. The image gets downloaded from GCS to the server for optimization.
3. Again optimized image gets synced and deleted from the server.

With the use of `wp_stateless_skip_add_media` filter and sync full image first feature

[2019-04-01 07:58] antonkorotkov commented on #362
Does this problem exist in Stateless mode only?

[2019-04-01 08:03] alimuzzaman commented on #362
Didn't test in other modes, should be there also.

It ensures that GCS URL gets inserted in the post.

[2019-04-01 08:11] antonkorotkov commented on #362
I don't understand this part: `So when we insert a new image in edit post page image gets broken, because no other image size is available on GCS.`

Why we insert a new image?

[2019-04-01 08:12] alimuzzaman commented on #362
Sorry not we the user.

[2019-04-01 08:17] antonkorotkov commented on #362
Ok, what can we really do with this?

[2019-04-01 08:23] alimuzzaman commented on #362
I think if you take a look you might have some idea.

[2019-04-01 08:30] antonkorotkov commented on #362
Ok, will try to look into it this week. Please, give me the instructions on how to setup optimization plugin and steps to reproduce the issue.

[2019-04-03 13:31] alimuzzaman commented on #111
@antonkorotkov
All of the suggested feature has been implemented already.

- [x] Stateless mode
- [x] Error notice when can't connect to GCS.
- [x] Using local URL when GCS is down.

[2019-04-03 14:11] alimuzzaman commented on #362
Check with both released and develop-alim branch.
1. Stateless Mode.
2. Enable Smush plugin.
3. Upload a new image from new/edit post page.
4. Change Image Size from right side metabox.

![image](https://user-images.githubusercontent.com/6744156/55485500-61cf7580-564c-11e9-8e21-4dcbdd3fd5d3.png)

[2019-04-03 14:37] #111 closed, assigned to alimuzzaman

[2019-04-04 14:23] antonkorotkov commented on #362
I don't have enough time to look into it. Moving to the next milestone.

[2019-04-04 17:34] alimuzzaman commented on #368
@antonkorotkov no.

[2019-04-08 08:41] antonkorotkov commented on #369
As I understand this is done.

I see no `false` values now:

![image](https://user-images.githubusercontent.com/2276882/55710381-30133180-59f3-11e9-8f89-4415d37ce400.png)

[2019-04-08 08:42] #369 closed, assigned to antonkorotkov

[2019-04-09 09:27] antonkorotkov commented on #368
@alimuzzaman can you confirm the order of these lines is correct?

https://github.com/wpCloud/wp-stateless/blob/a294525d400aa276352e2aec61c897608610d01a/lib/classes/compatibility/gravity-forms.php#L67-L69

The `$name` is being redeclared in line 67 and 69 and used in between of them. That is correct and intentional?

[2019-04-09 10:03] alimuzzaman commented on #368
@antonkorotkov yes it's intentional. `wp_stateless_file_name` filter add root dir. Which should not be in local path.

[2019-04-09 11:11] #368 closed, assigned to antonkorotkov, alimuzzaman

[2019-04-12 13:38] tpoindessous opened #372 "[Doc][Wiki] Restrict scope of ServiceAccount"

[2019-04-12 13:39] tpoindessous commented on #372
Hi

I just made a change on https://github.com/wpCloud/wp-stateless/wiki/Manual-Setup

This change will restrict scope of the serviceAccount to the current bucket instead of the whole project.

Thanks !

[2019-04-14 18:15] alimuzzaman opened #373 "Cache-Busting constant have issue when stateless mode is selected."

[2019-04-15 09:18] Steffi3rd opened #374 "Is it possible to use the plugin with permissions?"
Hi, I tried this plugin but I doesn't work as I excepted.

In my case, I would like each Wordpress user can upload their photos but others Wordpress Users can see OR access to these files. Even Wordpress administrators cannot access to the files. (That's why I don't want them is the "Wordpress Media Library")

Is there a way to do that with this plugin please?

[2019-04-15 10:09] alimuzzaman commented on #374
@Steffi3rd Sorry there is no way to do that.

WP-Stateless doesn't support private files yet.
You can keep your eye on issue #168.
Though private file isn't supported out of the box, it would be possible to develop custom solution.

[2019-04-15 14:25] Steffi3rd commented on #374
@alimuzzaman okay, thanks.

And at this time, do you we know which user uploaded the file on GCP?

That way, later, we could change permissions, no?

[2019-04-15 14:42] alimuzzaman commented on #374
No user id isn't saved in media meta in GCP.

Ye, it could be possible.

[2019-04-15 19:05] Steffi3rd commented on #374
The alternative to the user ID could be organiser by folder.

I know we can define a ´bucket folder´

but is there a way with WP-Stateless to upload inside dynamic folder?

Example :
- User 1 uploads to ‘folder 1´
- User 2 uploads to ´folder 2’
- User 3 uploads to ´folder 3’ if not exists, create it

Etc.

[2019-04-17 18:24] jjtroberts opened #375 "Feature Request: Beaver Builder Support"
My agency is looking at selecting Beaver Builder as our page builder and I was wondering if there are any plans to add support for it similar to Divi, Elementor, and WPBakery Page Builder.

How can we help/contribute to that work?

[2019-04-18 10:04] alimuzzaman commented on #375
Hi @gd-jroberts,

What kind compatibility issue you have?

If you want to create a new compatibility take a look at https://github.com/wpCloud/wp-stateless/tree/v2.2/lib/classes/compatibility

https://github.com/wpCloud/wp-stateless/blob/v2.2/lib/classes/class-compatibility.php#L108

[2019-04-18 12:48] jjtroberts commented on #375
My agency acquired another that uses Beaver Builder. When I migrated two of their sites from Flywheel to GKE, wp-stateless would not perform the expected url replacement when the image urls were part of the theme builder. I'll checkout the compatibility as I'm sure it will shed light on how to start looking at the issue. I'm sure there's a some research required on my part to figure out if it is a

[2019-04-18 19:43] alimuzzaman commented on #364
### How to test:

Install WP-Stateless from here: https://github.com/wpCloud/wp-stateless/tree/shortpixel
Insatall ShortPixel from here: https://github.com/wp-stateless/shortpixel-image-optimiser/tree/wp-stateless

Go to **Settings >> ShortPixel**,  then enable `Image backup` from **General** tab and
enable `WebP Images`  > `Using the <PICTURE> tag syntax` > `Only via Wordpress hooks (like the_con

[2019-04-21 19:25] gustavotero7 opened #376 "Error on multi-site"
Hi, I got this error after installing and activate the plugin

![Screenshot_2019-04-21 WordPress › Error](https://user-images.githubusercontent.com/8619784/56474527-b93d5600-6440-11e9-80a3-7addc0154d95.png)

It only appears on /wp-admin, the public site seems to work fine

Here is a list of my active plugins (I removed wp-stateless)
![Screenshot_2019-04-21 Plugins ‹ Administrador de la red ultraCl

[2019-04-24 09:04] antonkorotkov opened #377 "Cache Busting does not work due to Supported File Types setting"
When (1) is not Disabled then (2) appears.

For some reason `Utility::randomize_filename()` function considers option (2) while generating new file name if Cache Busting is enabled.

[code]

In other words, Cache Busting only works if the file extension is listed in `Supported File Types` setting which appears only if `File URL Replacement` setting is enabled.

`Supported File Types` setting was s

[2019-04-26 08:32] Hooace opened #378 "Metadata for attachment missing with Polylang Pro"
When Polylang Pro plugin's Media translation is enabled and user uploads an image to Media gallery, the _wp_attachment_metadata does not include image sizes for the image for other than the default language.

![image](https://user-images.githubusercontent.com/469061/46524829-b14a0a00-c892-11e8-9e77-938cbf5778fc.jpg)

Here is screenshot from database for uploaded image that has correct metadata (im

[2019-04-30 10:48] antonkorotkov commented on #364
I did review the PR but I think we will have to move this issue to some of the next milestones because we have to wait for the approval from the ShortPixel team. Otherwise, the feature will not work.

[2019-04-30 10:51] #373 closed, assigned to antonkorotkov

[2019-04-30 11:17] antonkorotkov opened #379 "Revise doc links"
We want all visitors to go through the github.io page because we have our google analytics and other tracking codes on there.

[2019-05-02 07:20] antonkorotkov commented on #379
@andypotanin wp-stateless.github.io is outdated. I will work on updating it before we release any fixed links.

[2019-05-02 08:57] antonkorotkov commented on #379
The subscribe form is missing:

![image](https://user-images.githubusercontent.com/2276882/57065159-41d5b500-6cd1-11e9-9e1a-7dfcb3c6082d.png)

The following code is there:

[code]

I assume the form was deleted on HubSpot. Investigating that with @Mashenka .

[2019-05-02 09:10] antonkorotkov opened #380 "Check the ability to add WP Retina 2x plugin compatibility"
https://wordpress.org/plugins/wp-retina-2x/
https://wordpress.org/support/topic/syncing-retina-image/

Thanks for this plugin.
Recently I added the WP Retina 2x plugin. This plugin generates retina images for image sizes defined in the plugin settings.
I have set up the CDN mode for this plugin. The 2x images that are generated by the WP Retina 2x plugin are not synced with the Google Storage Buck

[2019-05-02 13:12] antonkorotkov commented on #379
The form has been restored. The task is done. Fixed links will be rolled out with the nearest release.

[2019-05-02 13:12] #379 closed, assigned to antonkorotkov

[2019-05-02 14:16] andypotanin commented on #379
@antonkorotkov Excellent, thank you.

[2019-05-03 16:40] alimuzzaman commented on #362
I have disabled the lazy sync (skip_add_media).

So the workflow should be now:

1. On upload sync to gcs.
2. Before optimization download from GCS to server if image not exists.
3. Sync again, with backup image.

So there won't be any problem because all image sizes will sync on upload and after optimization (twice).
Previously we skipped the step 1 for performance, what caused some problem.

[2019-05-06 09:24] antonkorotkov commented on #370
It works.

[2019-05-06 09:24] #370 closed, assigned to antonkorotkov

[2019-05-06 09:57] antonkorotkov commented on #366
@alimuzzaman so, both #362 and #366 are fixed?

[2019-05-06 11:41] alimuzzaman commented on #366
@antonkorotkov  yes

[2019-05-06 11:43] antonkorotkov commented on #366
Ok, I tested. Seems to be working for me.

[2019-05-06 11:43] #366 closed, assigned to alimuzzaman

[2019-05-06 11:43] #362 closed, assigned to antonkorotkov, alimuzzaman

[2019-05-06 11:49] alimuzzaman commented on #371
@antonkorotkov Lets keep this open, and move to next milestone.
Only works in CDN mode now.

[2019-05-12 14:50] tripledm commented on #364
First a HUGE thank you for getting this setup.

I've set a large busy website to CDN only to
"StatelessStore and serve media files with Google Cloud Storage only. Media files are not stored locally."
So with the updated version of the plugin;
- will this be included with the next wp-stateless update?
- will it now upload wepb images to GCS as well?
- will there be support for serving wepb via .hta

[2019-05-13 08:17] alimuzzaman commented on #364
1. This update will be release after ShortPixel add our suggested hooks and do release. Hopefully they will add them in next release.
2. Yes, it will upload webp to GCS.
3. Not at the moment.
4. ShortPixel generates webp images when you (re)optimize the image. So if you (re)optimize your image webp image will be generated and WP Stateless will upload them to GCS.

[2019-05-15 15:32] Gameolus opened #381 "Madara Core custom image directory issue"
Madara - WordPress Theme for Manga has a built in plugin called "Madara-core" it handles all image related issues that relate to post besides cover photos and etc. When you upload a comic using this theme it creates a custom directory like the following

basesite.com>wp-content>uploads>wp-manga>data>ch-001>image.jpg

When i've tried to run wp-stateless and grab these images and upload them to goog

[2019-05-16 20:55] alimuzzaman opened #382 "Clean the Utility::add_media() function"
Update the function so that it can easily handle Retina and WebP sizes.

Also added new function `Utility::get_path_and_url()`. It's return **gs_name** and **absolute path** for all image size including full size.
It would be useful to use in compatibility, where we now have to write once instead of twice. Once for full size image and once for thumbnails.
`Utility::add_media()` also utilize this f

[2019-05-17 07:55] alimuzzaman commented on #381
Hello @Gameolus,

Would you please like to replicate the issue on our development server?
Please contact at alim.alimuzzaman@usabilitydynamics.com, so we can provide necessary information to our server.

Thanks

[2019-05-17 10:21] alimuzzaman opened #383 "Optimize and minimize sm_cloud meta"
We only using one meta for attachment: sm_cloud
Sm_cloud take a lot of space in database, most of the data is unnecessary.
We never use most of the fields.

I have marked what we are using now.
### What other fields we need to make it future proof.
For example we might need to use `mediaLink ` field to download private file.

https://drive.google.com/file/d/1sjpd2yK1B8NdI0WeJD-brZaLBx8BfmUk/view?u

[2019-05-17 10:41] Gameolus commented on #381
Sure i'll send an email

[2019-05-20 14:25] alimuzzaman commented on #365
https://github.com/litespeedtech/lscache_wp/issues/143
https://store.litespeedtech.com/store/viewticket.php?tid=751737&c=hYcv6VlM

[2019-05-20 15:04] ewsopp opened #384 "New endpoint for the Google Cloud Storage JSON API"
This announcement was sent to all GCS users. What does it mean for WP-Stateless?

![image](https://user-images.githubusercontent.com/5578537/58031702-eee06800-7aee-11e9-8a08-3b8ee80f452a.png)

[2019-05-21 06:35] ghost opened #385 "Can't show 'stateless setup' menu again after first-setting."
After first-setting, 'stateless setup' menu will be deleted, and never show up.
I removed plugin and installed again, but it doesn't work.

I need to change project, but is there any way to solve?

[2019-05-21 17:36] hi-hai commented on #365
https://github.com/litespeedtech/lscache_wp/commit/3ff72fd135f36b521e806592181b3ea291922c2b
https://github.com/litespeedtech/lscache_wp/commit/14fb30a21527af68b8473273819b64b0d920c3e5

[2019-05-21 22:37] alimuzzaman commented on #377
@ewsopp
we are ignoring `Cache-Busting` for any file except those in supported file types.

- Should we keep using `Supported File Types` with fallback default if the field is empty?
- Or should we introduce **new field** Exclude file types for `Cache-Busting`?

[2019-05-21 22:42] ewsopp commented on #377
The "Cache-Busting" and "File URL Replacement" are separate features. They have no relationship with each other.

[2019-05-21 22:45] alimuzzaman commented on #377
@ewsopp then should I remove this code and handle in compatibility?
If removed we have to test with Woocommerce export feature #302.

[2019-05-21 22:46] ewsopp commented on #377
Remove what code?

Again, these features are different and should not affect each other. Read the descriptions of the settings three times, or more, to fully understand.

[2019-05-21 22:53] alimuzzaman commented on #377
@ewsopp

At the top in issue description.

That code make sure that `Cache-Busting` feature don't randomize the file names that are not in the `Supported File Types` filed.
I had wrote that for issue #302.

That's why you could export gravity form when you enabled `File URL Replacement`.

[2019-05-30 08:47] mlmunited opened #386 "Field to enable billing"
Hi, during set up I got this error
“Field to enable billing”

This is my second installation, previous was ok.

How can I fix it?
![Wp-Stateless error](https://user-images.githubusercontent.com/51192887/58621137-fc54d980-82c8-11e9-8697-bb279a851f64.jpg)

[2019-05-31 18:01] drandolph opened #387 "Test/dev site & live site"
I'm testing this on a clone of a live site that has about 3100 images. Other than running into gateway timeouts, which I think are from the host limiting scripts, it worked well. Can I install the plug-in on the live site & point it to the  images in the cloud bucket I created with the test site or do I have to go through the upload/synch process again?

The test site is not a staging site so I ca

[2019-06-01 16:11] 4lenz1 commented on #385
same problem here,

the only way is manual setup for now I thought.

[2019-06-03 04:37] alimuzzaman commented on #385
@ryuta69 @4lenz1
You have to remove JSON key from the setting page.